openapi: 3.0.1
info:
  title: Работа с товарами
  version: products
  description: |
    <div class="api-block">

    С помощью методов этого раздела вы можете:
      - [создавать](/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov) и [редактировать](/openapi/work-with-products#tag/Kartochki-tovarov) карточки товаров
      - получать [категории, предметы, характеристики и бренды товаров](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki)
      - загружать [медиафайлы](/openapi/work-with-products#tag/Mediafajly) в карточки товаров
      - настраивать [ярлыки](/openapi/work-with-products#tag/Yarlyki) для поиска товаров
      - устанавливать [цены и скидки](/openapi/work-with-products#tag/Ceny-i-skidki)
      - управлять [остатками товаров](/openapi/work-with-products#tag/Ostatki-na-skladah-prodavca) и [складами](/openapi/work-with-products#tag/Sklady-prodavca), если вы работаете по модели продаж со склада продавца

    </div>

    <div class="description_ref">
      Узнать, как использовать методы в бизнес-кейсах, можно в <a href="https://dev.wildberries.ru/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami">инструкции</a> по <strong>работе с товарами</strong>
    </div>
  x-file-name: products
security:
  - HeaderApiKey: []
tags:
  - name: Категории, предметы и характеристики
    description: ''
  - name: Создание карточек товаров
    description: ''
  - name: Карточки товаров
    description: ''
  - name: Медиафайлы
    description: ''
  - name: Ярлыки
    description: ''
  - name: Цены и скидки
    description: ''
  - name: Склады продавца
    description: ''
  - name: Остатки на складах продавца
    description: ''
paths:
  /content/v2/object/parent/all:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Родительские категории товаров
      description: |
        Метод возвращает названия и ID всех родительских категорий для [создания карточек товаров](/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov): например, `Электроника`, `Бытовая химия`, `Рукоделие`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">переноса карточек товаров в корзину</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post">восстановления карточек товаров из корзины</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsList">получения списка рекомендаций в карточках товаров</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsSet">установки рекомендаций для товаров</a></li>
        </ul>
        </div>
      tags:
        - Категории, предметы и характеристики
      parameters:
        - name: locale
          in: query
          description: "Язык поля ответа `name`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_песочнице\n"
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      type: object
                      properties:
                        name:
                          description: Название категории
                          type: string
                          example: Электроника
                        id:
                          description: ID родительской категории
                          type: integer
                          example: 479
                        isVisible:
                          description: Виден на сайте
                          type: boolean
                          example: true
                  error:
                    description: Флаг наличия ошибки
                    type: boolean
                    example: false
                  errorText:
                    description: Описание ошибки
                    type: string
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: string
                    example: ''
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/object/all:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Список предметов
      description: |
        Метод возвращает список названий [родительских категорий предметов](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1parent~1all/get) и их предметов с ID. Например, у категории `Игрушки` будут предметы `Калейдоскопы`, `Куклы`, `Мячики`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">переноса карточек товаров в корзину</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post">восстановления карточек товаров из корзины</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsList">получения списка рекомендаций в карточках товаров</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsSet">установки рекомендаций для товаров</a></li>
        </ul>
        </div>
      tags:
        - Категории, предметы и характеристики
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            example: en
          description: "Язык полей ответа:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_песочнице\n"
        - name: name
          in: query
          schema:
            type: string
            example: Носки
          description: Поиск по названию предмета (Носки), поиск работает по подстроке, искать можно на любом из поддерживаемых языков
        - name: limit
          in: query
          schema:
            type: integer
            example: 1000
            default: 30
          description: Количество предметов, максимум 1000
        - name: offset
          in: query
          schema:
            type: integer
            example: 5000
            default: 0
          description: Сколько элементов пропустить. Например, для значения `10` ответ начнется с 11 элемента
        - name: parentID
          in: query
          schema:
            type: integer
            example: 1000
          description: ID родительской категории предмета
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Предметы
                    items:
                      type: object
                      properties:
                        subjectID:
                          type: integer
                          description: ID предмета
                        parentID:
                          type: integer
                          description: ID родительской категории
                        subjectName:
                          type: string
                          description: Название предмета
                        parentName:
                          type: string
                          description: Название родительской категории
                  error:
                    type: boolean
                    description: Флаг наличия ошибки
                  errorText:
                    type: string
                    description: Текст ошибки
                  additionalErrors:
                    nullable: true
                    description: Дополнительные ошибки
                    type: string
              example:
                data:
                  - subjectID: 2560
                    parentID: 479
                    subjectName: 3D очки
                    parentName: Электроника
                  - subjectID: 1152
                    parentID: 858
                    subjectName: 3D-принтеры
                    parentName: Оргтехника
                error: false
                errorText: ''
                additionalErrors: null
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/object/charcs/{subjectId}:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Характеристики предмета
      description: |
        Метод возвращает параметры характеристик предмета: названия, типы данных, единицы измерения и так далее. В запросе необходимо указать ID [предмета](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1all/get).

        <div class="description_important">
          Для получения значений характеристик <a href="/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1directory~1colors/get">Цвет</a>, <a href="/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1directory~1kinds/get">Пол</a>, <a href="/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1directory~1countries/get">Страна производства</a>, <a href="/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1directory~1seasons/get">Сезон</a>, <a href="/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1directory~1vat/get">Ставка НДС</a> и <a href="/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1directory~1tnved/get">ТНВЭД-код</a> используйте отдельные методы
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">переноса карточек товаров в корзину</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post">восстановления карточек товаров из корзины</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsList">получения списка рекомендаций в карточках товаров</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsSet">установки рекомендаций для товаров</a></li>
        </ul>
        </div>
      tags:
        - Категории, предметы и характеристики
      parameters:
        - name: subjectId
          in: path
          required: true
          description: ID предмета
          schema:
            type: integer
            example: 105
        - name: locale
          in: query
          description: "Язык полей ответа `subjectName` и `name`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_песочнице\n"
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Данные
                    items:
                      type: object
                      properties:
                        charcID:
                          type: integer
                          description: ID характеристики
                        subjectName:
                          type: string
                          description: Название предмета
                        subjectID:
                          type: integer
                          description: ID предмета
                        name:
                          type: string
                          description: Название характеристики
                        required:
                          type: boolean
                          description: |
                            - `true` — характеристику необходимо обязательно указать в карточке товара
                            - `false` — характеристику необязательно указывать
                        unitName:
                          type: string
                          description: Единица измерения
                        maxCount:
                          type: integer
                          description: |
                            Максимальное количество значений, которое можно присвоить характеристике при [создании](./work-with-products#tag/Sozdanie-kartochek-tovarov) или [редактировании](./work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post) карточек товаров.
                            <br>
                            Используется только для характеристик с `"charcType":1` — массив строк.
                            <br>
                            Характеристикам с `"charcType":4` — число, можно присвоить только одно значение.
                            <br><br>
                            Если `"maxCount":0`, количество значений не ограничено
                        popular:
                          description: Характеристика популярна у пользователей (true - да, false - нет)
                          type: boolean
                        charcType:
                          type: integer
                          description: |
                            Тип данных характеристики, который необходимо использовать при [создании](./work-with-products#tag/Sozdanie-kartochek-tovarov) или [редактировании](./work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post) карточек товаров:
                              -  `1` — массив строк
                              -  `4` — число (целое либо с десятичной дробью)
                              -  `0` — характеристика не используется
                        hasFilter:
                          type: boolean
                          description: |
                            Ключевая характеристика. Является ли характеристика значимой для покупателей:
                              - `true` — да
                              - `false` — нет
                        isVariable:
                          type: boolean
                          description: |
                            Признак [меняющейся характеристики](https://dev.wildberries.ru/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami#obuedinenie-i-razuedinenie-kartochek-tovarov). Значение размечает характеристики, по которым варианты отличаются друг от друга:
                              -  `true` — варианты товара отличаются по этой характеристике
                              -  `false` — варианты товара не отличаются по этой характеристике
                        existNamedField:
                          type: boolean
                          description: "Как передать характеристику в запросах на\_[cоздание](./work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post),\_[создание с присоединением](./work-with-products/#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post)\_и\_[редактирование](./work-with-products/#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post) карточек товара:\n  -  `true` — в соответствующем параметре запроса\n  -  `false` — внутри массива `characteristics`\n"
                  error:
                    type: boolean
                    description: Флаг наличия ошибки
                  errorText:
                    type: string
                    description: Текст ошибки
                  additionalErrors:
                    type: string
                    description: Дополнительные ошибки
                    nullable: true
                example:
                  data:
                    - charcID: 54337
                      subjectName: Кроссовки
                      subjectID: 105
                      name: Размер
                      required: false
                      unitName: см
                      maxCount: 0
                      popular: false
                      charcType: 4
                      hasFilter: true
                      isVariable: true
                      existNamedField: true
                  error: false
                  errorText: ''
                  additionalErrors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/colors:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Цвет
      description: |
        Метод возвращает возможные значения [характеристики](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get) предмета `Цвет`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">переноса карточек товаров в корзину</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post">восстановления карточек товаров из корзины</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsList">получения списка рекомендаций в карточках товаров</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsSet">установки рекомендаций для товаров</a></li>
        </ul>
        </div>
      tags:
        - Категории, предметы и характеристики
      parameters:
        - name: locale
          in: query
          description: "Язык полей ответа `subjectName` и `name`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_песочнице\n"
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      type: object
                      properties:
                        name:
                          description: Наименование цвета
                          type: string
                          example: персиковый мелок
                        parentName:
                          description: Наименование родительского цвета
                          type: string
                          example: оранжевый
                  error:
                    description: Флаг ошибки
                    type: boolean
                    example: false
                  errorText:
                    description: Описание ошибки
                    type: string
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: string
                    example: ''
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/kinds:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Пол
      description: |
        Метод возвращает возможные значения [характеристики](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get) предмета `Пол`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">переноса карточек товаров в корзину</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post">восстановления карточек товаров из корзины</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsList">получения списка рекомендаций в карточках товаров</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsSet">установки рекомендаций для товаров</a></li>
        </ul>
        </div>
      tags:
        - Категории, предметы и характеристики
      parameters:
        - name: locale
          in: query
          description: "Язык полей ответа `subjectName` и `name`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_песочнице\n"
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Массив значений для хар-ки Пол
                    type: array
                    items:
                      type: string
                      example: Мужской
                  error:
                    description: Флаг ошибки
                    type: boolean
                    example: false
                  errorText:
                    description: Описание ошибки
                    type: string
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: string
                    example: ''
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/countries:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Страна производства
      description: |
        Метод возвращает возможные значения [характеристики](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get) предмета `Страна производства`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">переноса карточек товаров в корзину</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post">восстановления карточек товаров из корзины</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsList">получения списка рекомендаций в карточках товаров</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsSet">установки рекомендаций для товаров</a></li>
        </ul>
        </div>
      tags:
        - Категории, предметы и характеристики
      parameters:
        - name: locale
          in: query
          description: "Язык полей ответа `subjectName` и `name`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_песочнице\n"
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      type: object
                      properties:
                        id:
                          description: ID страны
                          type: integer
                          example: 15000170
                        name:
                          description: Значение характеристики Страны
                          type: string
                          example: Китай
                        fullName:
                          description: Полное название страны
                          type: string
                          example: Китайская Народная Республика
                  error:
                    description: Флаг ошибки
                    type: boolean
                    example: false
                  errorText:
                    description: Описание ошибки
                    type: string
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: string
                    example: ''
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/seasons:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Сезон
      description: |
        Метод возвращает возможные значения [характеристики](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get) предмета `Сезон`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">переноса карточек товаров в корзину</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post">восстановления карточек товаров из корзины</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsList">получения списка рекомендаций в карточках товаров</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsSet">установки рекомендаций для товаров</a></li>
        </ul>
        </div>
      tags:
        - Категории, предметы и характеристики
      parameters:
        - name: locale
          in: query
          description: "Язык полей ответа `subjectName` и `name`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_песочнице\n"
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Массив значений для хар-ки Сезон
                    type: array
                    items:
                      type: string
                      example: демисезон
                  error:
                    description: Флаг ошибки
                    type: boolean
                    example: false
                  errorText:
                    description: Описание ошибки
                    type: string
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: string
                    example: ''
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/vat:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Ставка НДС
      description: |
        Метод возвращает возможные значения [характеристики](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get) предмета `Ставка НДС`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">переноса карточек товаров в корзину</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post">восстановления карточек товаров из корзины</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsList">получения списка рекомендаций в карточках товаров</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsSet">установки рекомендаций для товаров</a></li>
        </ul>
        </div>
      tags:
        - Категории, предметы и характеристики
      parameters:
        - name: locale
          in: query
          description: "Язык полей ответа `subjectName` и `name`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_песочнице\n"
          schema:
            type: string
            example: ru
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: string
                  error:
                    type: boolean
                    description: Флаг наличия ошибки
                  errorText:
                    type: string
                    description: Текст ошибки
                  additionalErrors:
                    nullable: true
                    type: string
                    description: Дополнительные ошибки
              example:
                data:
                  - '0'
                  - '10'
                  - '20'
                  - Без НДС
                  - '13'
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/tnved:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: ТНВЭД-код
      description: |
        Метод возвращает список ТНВЭД-кодов по ID [предмета](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1all/get) и фрагменту ТНВЭД-кода.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">переноса карточек товаров в корзину</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post">восстановления карточек товаров из корзины</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsList">получения списка рекомендаций в карточках товаров</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsSet">установки рекомендаций для товаров</a></li>
        </ul>
        </div>
      tags:
        - Категории, предметы и характеристики
      parameters:
        - name: subjectID
          in: query
          required: true
          description: ID предмета
          schema:
            type: integer
            example: 105
        - name: search
          in: query
          description: Поиск по ТНВЭД-коду. Работает только в паре с `subjectID`
          schema:
            type: integer
            example: 6106903000
        - name: locale
          in: query
          description: "Язык полей ответа:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_песочнице\n"
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Данные
                    type: array
                    items:
                      type: object
                      properties:
                        tnved:
                          type: string
                          description: ТНВЭД-код
                        isKiz:
                          type: boolean
                          description: |
                            - `true` — код маркировки [Честного знака](https://честныйзнак.рф/) требуется
                            - `false` — код маркировки [Честного знака](https://честныйзнак.рф/) не требуется
                  error:
                    type: boolean
                    description: Флаг наличия ошибки
                    example: false
                  errorText:
                    type: string
                    description: Текст ошибки
                  additionalErrors:
                    nullable: true
                    type: string
                    description: Дополнительные ошибки
              example:
                data:
                  - tnved: '6106903000'
                    isKiz: true
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /api/content/v1/brands:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Бренды
      description: |
        Метод возвращает список брендов по ID предмета.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Сервисный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый с секретом | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      tags:
        - Категории, предметы и характеристики
      parameters:
        - name: subjectId
          in: query
          schema:
            type: integer
            example: 1234
          description: ID предмета
          required: true
        - name: next
          in: query
          schema:
            type: integer
            example: 1234
          description: Параметр пагинации. Используйте значение `next` из ответа, чтобы получить следующий пакет данных
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandsResponse'
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BrandsResponseError'
              examples:
                BrandsResponseBadRequest1:
                  $ref: '#/components/examples/BrandsResponseBadRequest1'
                BrandsResponseBadRequest2:
                  $ref: '#/components/examples/BrandsResponseBadRequest2'
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Не найдено
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BrandsResponseError'
              examples:
                BrandsResponseNotFound:
                  $ref: '#/components/examples/BrandsResponseNotFound'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/tags:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Список ярлыков
      description: |
        Метод возвращает список и характеристики всех ярлыков продавца для группировки и фильтрации товаров.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">переноса карточек товаров в корзину</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post">восстановления карточек товаров из корзины</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsList">получения списка рекомендаций в карточках товаров</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsSet">установки рекомендаций для товаров</a></li>
        </ul>
        </div>
      tags:
        - Ярлыки
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    properties:
                      id:
                        description: Числовой ID ярлыка
                        type: integer
                      color:
                        description: Цвет ярлыка
                        type: string
                      name:
                        description: Имя ярлыка
                        type: string
                  error:
                    description: Флаг ошибки
                    type: boolean
                    example: false
                  errorText:
                    description: Описание ошибки
                    type: string
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: string
                    example: ''
              example:
                data:
                  - id: 1
                    color: D1CFD7
                    name: Sale
                error: false
                errorText: ''
                additionalErrors: ''
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/tag:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Создание ярлыка
      description: |
        Метод добавляет один ярлык продавца. Можно создать максимум 15 ярлыков для одного продавца. Максимальная длина ярлыка — 15 символов.
        <br>Созданный ярлык можно получить в общем [списке](/openapi/work-with-products#tag/Yarlyki/paths/~1content~1v2~1tags/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">переноса карточек товаров в корзину</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post">восстановления карточек товаров из корзины</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsList">получения списка рекомендаций в карточках товаров</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsSet">установки рекомендаций для товаров</a></li>
        </ul>
        </div>
      tags:
        - Ярлыки
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                color:
                  description: |
                    Цвет ярлыка.

                    Доступные цвета:
                      - `D1CFD7` — серый
                      - `FEE0E0` — красный
                      - `ECDAFF` — фиолетовый
                      - `E4EAFF` — синий
                      - `DEF1DD` — зеленый
                      - `FFECC7` — желтый
                  type: string
                  example: D1CFD7
                name:
                  description: Имя ярлыка
                  type: string
                  example: Sale
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBody400LenName:
                  $ref: '#/components/examples/responseBody400LenName'
                responseBodyLimitTag:
                  $ref: '#/components/examples/responseBodyLimitTag'
                responseBodyNameNotExist:
                  $ref: '#/components/examples/responseBodyNameNotExist'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/tag/{id}:
    servers:
      - url: https://content-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Изменение ярлыка
      description: |
        Метод заменяет данные ярлыка: имя и цвет.
        <br>Новые данные можно получить в общем [списке](/openapi/work-with-products#tag/Yarlyki/paths/~1content~1v2~1tags/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">переноса карточек товаров в корзину</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post">восстановления карточек товаров из корзины</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsList">получения списка рекомендаций в карточках товаров</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsSet">установки рекомендаций для товаров</a></li>
        </ul>
        </div>
      tags:
        - Ярлыки
      parameters:
        - name: id
          in: path
          schema:
            type: integer
            example: 1
          description: Числовой ID ярлыка
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                color:
                  description: Цвет ярлыка
                  type: string
                  example: D1CFD7
                name:
                  description: Имя ярлыка
                  type: string
                  example: Sale
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
              examples:
                responseNotFound200:
                  $ref: '#/components/examples/responseNotFound200'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/responseBodyContentError400'
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBody400LenName:
                  $ref: '#/components/examples/responseBody400LenName'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
    delete:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Удаление ярлыка
      description: |
        Метод удаляет ярлык из [списка ярлыков](/openapi/work-with-products#tag/Yarlyki/paths/~1content~1v2~1tags/get) продавца.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">переноса карточек товаров в корзину</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post">восстановления карточек товаров из корзины</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsList">получения списка рекомендаций в карточках товаров</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsSet">установки рекомендаций для товаров</a></li>
        </ul>
        </div>
      tags:
        - Ярлыки
      parameters:
        - name: id
          in: path
          schema:
            type: integer
            example: 1
          description: Числовой ID ярлыка
          required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
              examples:
                responseNotFound200Del:
                  $ref: '#/components/examples/responseNotFound200Del'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBodyTagNotExist:
                  $ref: '#/components/examples/responseBodyTagNotExist'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/tag/nomenclature/link:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Управление ярлыками в карточке товара
      description: |
        Метод добавляет или снимает ярлык с карточки товара. К карточке можно добавить максимум 15 ярлыков.<br>
        При удалении ярлыка из карточки товара он не удаляется из [списка ярлыков](/openapi/work-with-products#tag/Yarlyki/paths/~1content~1v2~1tags/get) продавца.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">переноса карточек товаров в корзину</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post">восстановления карточек товаров из корзины</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsList">получения списка рекомендаций в карточках товаров</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsSet">установки рекомендаций для товаров</a></li>
        </ul>
        </div>
      tags:
        - Ярлыки
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nmID:
                  description: Артикул WB
                  type: integer
                tagsIDs:
                  description: |
                    Массив числовых ID ярлыков.<br>
                    Что бы снять ярлыки с карточки товара, необходимо передать пустой массив.<br>
                    Чтобы добавить ярлыки к уже имеющимся в карточке товара, необходимо в запросе передать новые ярлыки и ярлыки, которые уже есть в карточке товара.
                  type: array
                  items:
                    type: integer
                    description: Числовой ID ярлыка.
            example:
              nmID: 179891389
              tagsIDs:
                - 123456
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
              examples:
                IncorrectRequestNm:
                  $ref: '#/components/examples/IncorrectRequestNm'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/get/cards/list:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      tags:
        - Карточки товаров
      summary: Список карточек товаров
      description: |
        <div class="description_auth">
          Метод доступен по <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-personalnyj-bazovyj-ili-testovyj-token">токену</a> с категорией <strong>Контент</strong> или <strong>Продвижение</strong>
        </div>

        Метод возвращает список созданных карточек товаров.

        <div class="description_important">
          В ответе метода не будет карточек, находящихся в корзине. Получить такие карточки можно через <a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1trash/post">отдельный метод</a>
        </div>

        Чтобы получить **больше 100** карточек товаров, используйте пагинацию:
          1. Сделайте первый запрос: <br>
              <pre style="background-color: rgb(38 50 56 / 5%); color: #e53935">
                {
                  "settings": {
                    "sort": {
                      "ascending": true
                    },
                    "cursor": {
                      "limit": 100
                    },
                    "filter": {
                      "withPhoto": -1
                    }
                  }
                }</pre>
             Чтобы после выгрузки получать только новые или обновлённые карточки товаров, используйте сортировку по возрастанию: `"sort":{"ascending":true}`.
          2. Скопируйте `"updatedAt":"***","nmID":"***"` из `cursor` ответа и вставьте в `cursor` запроса.
          3. Повторите запрос.
          4. Повторяйте пункты 2 и 3, пока значение `total` в ответе не станет меньше, чем значение `limit` в запросе. Это будет означать, что вы получили все карточки.

        Чтобы получать только карточки товаров, которые были созданы или обновлены после предыдущей выгрузки данных:
          1. Сохраните поля `"cursor":{"updatedAt":"***","nmID":"***"}` из последнего ответа предыдущей выгрузки. При выгрузке используйте сортировку по возрастанию: `"sort":{"ascending":true}`.
          2. Укажите в первом запросе сохранённые поля `"cursor":{"updatedAt":"***","nmID":"***"}`. Продолжайте использовать сортировку по возрастанию.
          3. Сохраните поля `"cursor":{"updatedAt":"***","nmID":"***"}` из последнего ответа текущей выгрузки.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">переноса карточек товаров в корзину</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post">восстановления карточек товаров из корзины</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsList">получения списка рекомендаций в карточках товаров</a></li>
            <li><a href="/openapi/promotion#tag/Rekomendacii/operation/postV1RecommendationsSet">установки рекомендаций для товаров</a></li>
        </ul>
        </div>
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            example: ru
          description: "Язык полей ответа `name`, `value` и `object`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_песочнице\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: object
                  description: Настройки
                  properties:
                    sort:
                      description: Параметр сортировки
                      type: object
                      properties:
                        ascending:
                          type: boolean
                          default: false
                          description: |
                            Сортировать по полю `updatedAt`:
                              - `false` — по убыванию
                              -  `true` — по возрастанию
                    filter:
                      description: Параметры фильтрации
                      type: object
                      properties:
                        withPhoto:
                          type: integer
                          enum:
                            - -1
                            - 0
                            - 1
                            - 2
                          description: "Фильтр по\_фото:\n  * `-1`\_— любые карточки товаров\n  * `0`\_— только карточки без фото. С [16 июня](https://dev.wildberries.ru/release-notes?id=531) — любые карточки товаров\n  * `1`\_— только карточки с\_фото\n  * `2` — только карточки без фото. С [16 июня](https://dev.wildberries.ru/release-notes?id=531)\n"
                          default: 0
                        textSearch:
                          type: string
                          description: Поиск по артикулу продавца, артикулу WB, баркоду
                        tagIDs:
                          type: array
                          description: Поиск по ID ярлыков
                          items:
                            type: integer
                        allowedCategoriesOnly:
                          description: "Фильтр по категории:\n  - `true` — только разрешённые\n  - `false` — все\n\n  Не\_используется в\_песочнице\n"
                          type: boolean
                        objectIDs:
                          type: array
                          description: Поиск по id предметов
                          items:
                            type: integer
                        brands:
                          type: array
                          description: Поиск по брендам
                          items:
                            type: string
                        imtID:
                          description: Поиск по [ID для объединённых карточек товаров](https://dev.wildberries.ru/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami#obuedinenie-i-razuedinenie-kartochek-tovarov)
                          type: integer
                    cursor:
                      description: |
                        Курсор
                      type: object
                      properties:
                        limit:
                          type: integer
                          maximum: 100
                          default: 10
                          description: Сколько карточек товаров выдать в ответе
                        updatedAt:
                          type: string
                          nullable: true
                          description: Дата и время изменения
                        nmID:
                          type: integer
                          description: Артикул WB, с которого надо запрашивать следующий список карточек товаров
            example:
              settings:
                sort:
                  ascending: false
                filter:
                  textSearch: '4603743187500888'
                  allowedCategoriesOnly: true
                  tagIDs:
                    - 345
                    - 415
                  objectIDs:
                    - 235
                    - 67
                  brands:
                    - уллу
                    - EkkE
                  imtID: 328632
                  withPhoto: 0
                cursor:
                  updatedAt: '2023-12-06T11:17:00.96577Z'
                  nmID: 370870300
                  limit: 11
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  cards:
                    type: array
                    description: Список карточек товаров
                    items:
                      type: object
                      properties:
                        nmID:
                          type: integer
                          description: Артикул WB
                        imtID:
                          type: integer
                          description: ID для [объединённых](https://dev.wildberries.ru/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami#obuedinenie-i-razuedinenie-kartochek-tovarov) карточек товаров.<br>Един для всех артикулов WB группы объединённых карточек.<br>У каждой карточки товара есть `imtID`, даже если она не объединена с другими карточками<br>
                        nmUUID:
                          type: string
                          format: UUID
                          description: Внутренний технический ID карточки товара
                        subjectID:
                          type: integer
                          description: ID предмета
                        subjectName:
                          type: string
                          description: Название предмета
                        vendorCode:
                          type: string
                          description: Артикул продавца
                        brand:
                          type: string
                          description: Бренд
                        title:
                          type: string
                          description: Наименование товара
                        description:
                          type: string
                          description: Описание товара
                        needKiz:
                          description: |
                            Требуется ли код маркировки [Честного знака](https://честныйзнак.рф/) для этого товара:
                              - `false` — не требуется
                              - `true` — требуется
                          type: boolean
                        kizMarked:
                          type: boolean
                          default: false
                          nullable: false
                          description: |
                            Есть ли подтверждение от продавца, что обязательный код маркировки [Честного знака](https://честныйзнак.рф/) нанесён на товар:
                              - `true` — да
                              - `false` — нет

                            Является ли код маркировки [Честного знака](https://честныйзнак.рф/) обязательным, указано в поле `needKiz`
                        photos:
                          type: array
                          description: Массив фото
                          items:
                            type: object
                            properties:
                              big:
                                description: URL фото `900x1200`
                                type: string
                              c246x328:
                                description: URL фото `248x328`
                                type: string
                              c516x688:
                                description: URL фото `516x688`
                                type: string
                              square:
                                description: URL фото `600x600`
                                type: string
                              tm:
                                description: URL фото `75x100`
                                type: string
                        video:
                          type: string
                          description: URL видео
                        wholesale:
                          type: object
                          description: Оптовая продажа
                          properties:
                            enabled:
                              type: boolean
                              description: Предназначена ли карточка товара для оптовой продажи
                            quantum:
                              type: number
                              format: uint64
                              description: Количество единиц товара в упаковке
                        dimensions:
                          description: Габариты и вес товара c упаковкой, см и кг
                          type: object
                          properties:
                            length:
                              type: integer
                              description: Длина, см
                            width:
                              type: integer
                              description: Ширина, см
                            height:
                              type: integer
                              description: Высота, см
                            weightBrutto:
                              type: number
                              description: Вес, кг<br>Количество знаков после запятой <=3
                            isValid:
                              type: boolean
                              description: |
                                Потенциальная некорректность габаритов товара:

                                - `true` — не выявлена. `"isValid":true` не гарантирует, что размеры указаны корректно. В отдельных случаях (например, при создании новой категории товаров) `"isValid":true` будет возвращаться при любых значениях, кроме нулевых.

                                - `false` — указанные габариты значительно отличаются от средних по категории (предмету). Рекомендуется перепроверить, правильно ли указаны размеры товара в упаковке в `сантиметрах`. Функциональность карточки товара, в том числе начисление логистики и хранения, при этом ограничена не будет. Логистика и хранение продолжают начисляться — по текущим габаритам. Также `"isValid":false` возвращается при отсутствии значений или нулевом значении любой стороны.
                        characteristics:
                          type: array
                          description: Характеристики
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: ID характеристики
                              name:
                                type: string
                                description: Название характеристики
                              value:
                                description: Значение характеристики. Тип значения зависит от типа характеристики
                        sizes:
                          type: array
                          description: Размеры товара
                          items:
                            type: object
                            properties:
                              chrtID:
                                type: integer
                                description: Числовой ID размера для данного артикула WB
                              techSize:
                                type: string
                                description: Размер товара (А, XXL, 57 и др.)
                              wbSize:
                                type: string
                                description: Российский размер товара
                              skus:
                                type: array
                                description: Баркод товара
                                items:
                                  type: string
                                  example: 12345Ejf5
                        tags:
                          description: Ярлыки
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: ID ярлыка
                              name:
                                type: string
                                description: Название ярлыка
                              color:
                                type: string
                                description: |
                                  Цвет ярлыка. <br>
                                  Доступные цвета:
                                  - `D1CFD7` — серый
                                  - `FEE0E0` — красный
                                  - `ECDAFF` — фиолетовый
                                  - `E4EAFF` — синий
                                  - `DEF1DD` — зеленый
                                  - `FFECC7` — желтый
                        createdAt:
                          type: string
                          description: Дата и время создания
                        updatedAt:
                          type: string
                          description: Дата и время изменения
                  cursor:
                    type: object
                    description: Пагинатор
                    properties:
                      updatedAt:
                        type: string
                        description: Дата и время, с которых надо запрашивать следующий список карточек товаров
                      nmID:
                        type: integer
                        description: Артикул WB, с которого надо запрашивать следующий список карточек товаров
                      total:
                        type: integer
                        description: Количество возвращённых карточек товаров
              example:
                cards:
                  - nmID: 12345678
                    imtID: 123654789
                    nmUUID: 01bda0b1-5c0b-736c-b2be-d0a6543e9be
                    subjectID: 7771
                    subjectName: AKF системы
                    vendorCode: wb7f6mumjr1
                    kizMarked: true
                    brand: Тест
                    title: Тест-система
                    description: Тестовое описание
                    needKiz: false
                    photos:
                      - big: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/big/1.webp
                        c246x328: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c246x328/1.webp
                        c516x688: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c516x688/1.webp
                        square: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/square/1.webp
                        tm: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/tm/1.webp
                    video: https://videonme-basket-12.wbbasket.ru/vol137/part22557/225577433/hls/1440p/index.m3u8
                    wholesale:
                      enabled: true
                      quantum: 112
                    dimensions:
                      length: 55
                      width: 40
                      height: 15
                      weightBrutto: 6.24
                      isValid: false
                    characteristics:
                      - id: 14177449
                        name: Цвет
                        value:
                          - красно-сиреневый
                    sizes:
                      - chrtID: 316399238
                        techSize: '0'
                        skus:
                          - '987456321654'
                    tags:
                      - id: 592569
                        name: Популярный
                        color: D1CFD7
                    createdAt: '2023-12-06T11:17:00.96577Z'
                    updatedAt: '2023-12-06T11:17:00.96577Z'
                cursor:
                  updatedAt: '2023-12-06T11:17:00.96577Z'
                  nmID: 123654123
                  total: 1
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
            plain/text:
              example: Request body can not be decoded
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/cards/error/list:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Список несозданных карточек товаров с ошибками
      description: |
        Метод возвращает список карточек товаров ([черновиков](https://seller.wildberries.ru/new-goods/error-cards)), при создании или редактировании которых произошли ошибки, с описанием этих ошибок.
        <br><br>
        Данные в ответе возвращаются пакетами `batch`. Один пакет содержит:
          - все ошибки по одному массиву `variants` одного запроса при [создании](/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post) карточек товаров
          - все ошибки одного запроса при [создании с присоединением](/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post) или [редактировании](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post) карточек товаров
        <br><br>
        Чтобы получить более 100 пакетов, используйте пагинацию:
          1. Сделайте первый запрос: <br>
              <pre style="background-color: rgb(38 50 56 / 5%); color: #e53935">
                {
                  "cursor": {
                    "limit": 100
                  },
                  "order": {
                    "ascending": true
                  }
                }</pre>
          2. Скопируйте `"updatedAt":"***","batchUUID":"***" `из `cursor` ответа и вставьте в `cursor` запроса.
          3. Повторите запрос.
          4. Повторяйте пункты 2 и 3, пока не получите в ответе `"next":false`. Это будет означать, что вы получили все пакеты.

        <div class="description_important">
          Чтобы удалить карточку товара из списка, сделайте ещё один запрос на создание, создание с присоединением или редактирование карточки товара с исправленными ошибками
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 10 запросов | 6 сек | 5 запросов |
        </div>
      tags:
        - Карточки товаров
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            example: en
          description: |
            Язык названий предметов:
              - `ru` — русский
              - `en` — английский
              - `zh` — китайский
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestPublicViewerPublicErrorsTableListV2'
            example:
              cursor:
                limit: 31
                updatedAt: '2025-08-05T17:54:40+08:00'
                batchUUID: bca3744c-1c8b-4588-b345-62af3b2899ae
              order:
                ascending: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsePublicViewerPublicErrorsTableListV2'
              example:
                data:
                  items:
                    - batchUUID: b15fecaf-57fd-4b63-ab6f-18d630b8793e
                      subjects:
                        wb15j2kjk9:
                          id: 8827
                          name: Автомобили с пробегом
                        wb3g6advyh:
                          id: 8827
                          name: Автомобили с пробегом
                        wb3g7xx8g9:
                          id: 8827
                          name: Автомобили с пробегом
                        wb4uphjn61:
                          id: 8827
                          name: Автомобили с пробегом
                        wb64nayozt:
                          id: 8827
                          name: Автомобили с пробегом
                      brands: {}
                      vendorCodes:
                        - wb64nayozt
                        - wb15j2kjk9
                        - wb3g7xx8g9
                        - wb3g6advyh
                        - wb4uphjn61
                      errors:
                        wb15j2kjk9:
                          - 'Поле Наименование не должно содержать запрещенные символы: 😈 😊 🤨'
                        wb3g6advyh:
                          - 'Поле Наименование не должно содержать запрещенные символы: 😊 🤨 😈'
                        wb3g7xx8g9:
                          - 'Поле Наименование не должно содержать запрещенные символы: 🤯'
                        wb4uphjn61:
                          - 'Поле Наименование не должно содержать запрещенные символы: 😊 🤨 😈'
                        wb64nayozt:
                          - 'Поле Наименование не должно содержать запрещенные символы: 😈 😊 🤨'
                      updatedAt: '2025-12-19T23:59:59Z'
                    - batchUUID: 30aa42ec-fb49-45ec-86d5-ddf9911e7e3f
                      subjects:
                        test_pasha1:
                          id: 184
                          name: Рубашки
                      brands: {}
                      vendorCodes:
                        - test_pasha1
                      errors:
                        test_pasha1:
                          - Запрещено использовать E-Mail в поле Наименование
                          - Запрещено использовать E-Mail в поле Описание
                      updatedAt: '2025-12-20T23:59:59Z'
                  cursor:
                    next: true
                    updatedAt: '2025-12-20T23:59:59Z'
                    batchUUID: 1cd79751-de1f-46c8-a444-a941d35dde56
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/cards/update:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: content
      tags:
        - Карточки товаров
      summary: Редактирование карточек товаров
      description: |
        Метод обновляет данные карточек товаров. Также используйте его, чтобы добавлять новые размеры.

        <div class="description_important">
          Карточка товара перезаписывается при обновлении. Поэтому в запросе нужно передать в том числе те параметры карточки, которые вы не собираетесь обновлять. Их значения можно получить в <a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1list/post">списке карточек товаров</a> и <a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1trash/post">списке карточек товаров в корзине</a>.
        </div>

        С помощью этого метода нельзя обновлять или удалять:
          - баркоды размеров товара. Можно только добавить дополнительные баркоды
          - параметры `photos`, `video` и `tags`
          - цены товаров. Цену можно задать, только если вы добавляете новые размеры

        При добавлении нового размера укажите его цену через параметр `price`. Если в запросе не указан `price`, цена размера будет `0` — в этом случае изменить её можно будет с помощью методов:
          - [Установить цены и скидки](/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1upload~1task/post), если у [товара](/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1list~1goods~1filter/get) `"editablePriceSize":false`
          - [Установить цены для размеров](/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1upload~1task~1size/post), если у [товара](/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1list~1goods~1filter/get) `"editablePriceSize":true`

        Габариты товаров можно указать только в `сантиметрах`, вес товара с упаковкой — в `килограммах`.
        <br><br>
        Одним запросом можно отредактировать максимум 3000 карточек товаров (`nmID`). Максимальный размер запроса 10 Мб.<br>
        Если ответ `Успешно` (`200`), но какие-то карточки не обновились, проверьте [список несозданных карточек товаров](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post).<br>
        Синхронизация данных с сервисами может занимать до 30 минут. В течение этого времени невозможно добавить остатки на склады и настроить цены. <br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 10 запросов | 6 сек | 5 запросов |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                  - nmID
                  - vendorCode
                  - sizes
                minimum: 1
                maximum: 3000
                properties:
                  nmID:
                    type: integer
                    description: Артикул WB
                  vendorCode:
                    type: string
[...]
