openapi: 3.0.1
info:
  title: Заказы DBW
  version: ordersdbw
  description: |
    <div class="api-block">

    С помощью методов Заказы DBW (Доставка курьером WB) вы можете:
      - получать информацию о [сборочных заданиях](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW), управлять статусами и отменять сборочные задания
      - получать, добавлять, редактировать и удалять [метаданные](/openapi/orders-dbw#tag/dbw-label-identifiers) сборочных заданий

    </div>

    <div class="description_ref">
      Узнать, как использовать методы в бизнес-кейсах, можно в <a href="https://dev.wildberries.ru/knowledge-base/articles/019d49a4-036a-7721-98e8-bed5f1a4f72d/zakazy-dbw">инструкции</a> по работе с <strong>заказами DBW</strong>
    </div>
  x-file-name: orders-dbw
security:
  - HeaderApiKey: []
tags:
  - name: Сборочные задания DBW
    description: ''
  - name: Идентификаторы маркировки DBW
    x-displayName: Идентификаторы маркировки DBW
    description: ''
paths:
  /api/v3/dbw/orders/new:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBW
      summary: Получить список новых сборочных заданий
      description: |
        Метод возвращает список всех новых [сборочных заданий](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW), которые есть у продавца на момент запроса.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:
        <ul>
            <li>получение и обновление списка контактов</li>
            <li>получение и удаление идентификаторов маркировки</li>
            <li>методы сборочных заданий</li>
        </ul> 

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                nullable: false
                properties:
                  orders:
                    type: array
                    nullable: false
                    description: Список новых сборочных заданий
                    items:
                      $ref: '#/components/schemas/OrderNewDBW'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbw/orders:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBW
      summary: Получить информацию о завершенных сборочных заданиях
      description: |
        Метод возвращает информацию о завершенных [сборочных заданиях](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW).
        <br><br>
        Можно получить данные за заданный период, максимум 30 календарных дней одним запросом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:
        <ul>
            <li>получение и обновление списка контактов</li>
            <li>получение и удаление идентификаторов маркировки</li>
            <li>методы сборочных заданий</li>
        </ul> 

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Next'
        - name: dateFrom
          in: query
          required: true
          schema:
            type: integer
          description: |
            Дата начала периода в формате Unix timestamp
        - name: dateTo
          in: query
          required: true
          schema:
            type: integer
          description: Дата конца периода в формате Unix timestamp
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                nullable: false
                properties:
                  next:
                    $ref: '#/components/schemas/Next'
                  orders:
                    type: array
                    nullable: false
                    items:
                      $ref: '#/components/schemas/Order'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbw/orders/delivery-date:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      summary: Получить дату и время доставки
      tags:
        - Сборочные задания DBW
      description: |
        Метод возвращает информацию о выбранных покупателем дате и времени доставки сборочных заданий.
        <br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:
        <ul>
            <li>получение и обновление списка контактов</li>
            <li>получение и удаление идентификаторов маркировки</li>
            <li>методы сборочных заданий</li>
        </ul> 

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryDatesRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryDatesInfoResp'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest1'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbw/orders/client:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      summary: Информация о покупателе
      tags:
        - Сборочные задания DBW
      description: |
        Метод возвращает информацию о покупателях по ID сборочных заданий.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:
        <ul>
            <li>получение и обновление списка контактов</li>
            <li>получение и удаление идентификаторов маркировки</li>
            <li>методы сборочных заданий</li>
        </ul> 

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersRequestAPI'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInfoResp'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest1'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbw/orders/status:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBW
      summary: Получить статусы сборочных заданий
      description: |
        Метод возвращает статусы сборочных заданий по их ID.
        <br><br>
        `supplierStatus` — статус сборочного задания.
        Триггер его изменения — действие самого продавца.

        Возможные значения `supplierStatus`:
        | Статус   | Описание            | Как перевести сборочное задание в данный статус |
        | -------  | ---------           | --------------------------------------|
        | `new`      | **Новое сборочное задание** | |
        | `confirm`  | **На сборке**      |  [Перевести сборочное задание на сборку](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1{orderId}~1confirm/patch)
        | `complete` | **В доставке**  | [Перевести сборочное задание в доставку](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1marketplace~1v3~1dbw~1orders~1status~1assemble/post) |
        | `receive`  | **Получено покупателем**|  Переводится курьером
        | `reject`   | **Отказ покупателя при получении**| Переводится курьером
        | `cancel`   | **Отменено продавцом**   |  [Отменить сборочное задание](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1{orderId}~1cancel/patch)
        | `cancel_missed_call` | **Отмена по причине недозвона**<br> | Статус меняется автоматически |

        <br><br>
        `wbStatus` — статус системы Wildberries.

        Возможные значения `wbStatus`:
        - `waiting` — сборочное задание в работе
        - `sold` — заказ получен покупателем
        - `canceled` — отмена сборочного задания
        - `canceled_by_client` — покупатель отменил заказ при получении
        - `declined_by_client` — покупатель отменил заказ в первый чаc
        <br>
        Отмена доступна покупателю в первый час с момента заказа, если заказ не переведен на сборку
        - `defect` — отмена заказа по причине брака
        - `canceled_by_missed_call` — отмена заказа по причине недозвона
        - `postponed_delivery` — курьерская доставка отложена

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:
        <ul>
            <li>получение и обновление списка контактов</li>
            <li>получение и удаление идентификаторов маркировки</li>
            <li>методы сборочных заданий</li>
        </ul> 

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - orders
              properties:
                orders:
                  type: array
                  minItems: 1
                  maxItems: 1000
                  description: Список ID сборочных заданий
                  items:
                    type: integer
                    format: int64
                    example: 5632423
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    nullable: false
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          nullable: false
                          description: ID сборочного задания
                          example: 5632423
                        supplierStatus:
                          type: string
                          nullable: false
                          description: Статус сборочного задания, установленный продавцом
                          example: new
                        wbStatus:
                          type: string
                          nullable: false
                          description: Статус сборочного задания в системе Wildberries
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbw/orders/{orderId}/confirm:
    servers:
      - url: https://marketplace-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBW
      summary: Перевести на сборку
      description: |
        Метод переводит [сборочное задание](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW) в [статус](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1status/post) `confirm` — на сборке.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:
        <ul>
            <li>получение и обновление списка контактов</li>
            <li>получение и удаление идентификаторов маркировки</li>
            <li>методы сборочных заданий</li>
        </ul> 

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: '#/components/parameters/Order'
      responses:
        '204':
          description: Подтверждено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка обновления статуса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbw/orders/stickers:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBW
      summary: Получить стикеры сборочных заданий
      description: |
        Метод возвращает список стикеров для [сборочных заданий](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1new/get) в [статусах](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1status/post):
          - `confirm` — на сборке
          - `complete` — в доставке

        За один запрос можно получить максимум 100 стикеров.<br>

        Доступные форматы стикеров:
          - SVG
          - ZPLV (вертикальный)
          - ZPLH (горизонтальный)
          - PNG

        Доступны размеры:
          - 580x400 px при `width=58&height=40` в запросе
          - 400x300 px при `width=40&height=30` в запросе

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:
        <ul>
            <li>получение и обновление списка контактов</li>
            <li>получение и удаление идентификаторов маркировки</li>
            <li>методы сборочных заданий</li>
        </ul> 

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      parameters:
        - name: type
          in: query
          required: true
          description: Тип стикера
          schema:
            type: string
            enum:
              - svg
              - zplv
              - zplh
              - png
        - name: width
          in: query
          required: true
          description: Ширина стикера
          schema:
            type: integer
            enum:
              - 58
              - 40
        - name: height
          in: query
          required: true
          description: Высота стикера
          schema:
            type: integer
            enum:
              - 40
              - 30
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orders:
                  type: array
                  minItems: 1
                  maxItems: 100
                  description: Список ID сборочных заданий
                  items:
                    type: integer
                    format: int64
                    example: 5346346
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  stickers:
                    type: array
                    nullable: false
                    items:
                      type: object
                      properties:
                        orderId:
                          type: integer
                          format: int64
                          nullable: false
                          description: ID сборочного задания
                          example: 5346346
                        partA:
                          type: string
                          nullable: false
                          description: Первая часть ID стикера для печати подписи
                          example: '231648'
                        partB:
                          type: string
                          nullable: false
                          description: Вторая часть ID стикера для печати подписи
                          example: '97523'
                        barcode:
                          type: string
                          nullable: false
                          description: Закодированное значение стикера
                          example: '!uKEtQZVx'
                        file:
                          type: string
                          nullable: false
                          description: Полное представление стикера в заданном формате (кодировка base64)
                          example: PD94bWwgdmVyc2lvbj0iMS4wIj8+CjwhLS0gR2VuZXJhdGVkIGJ5IFNWR28gLS0+Cjxzdmcgd2lkdGg9IjQwMCIgaGVpZ2h0PSIzMDAiCiAgICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICAgIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjQwMCIgaGVpZQiIGhlaWdodD0iMTcwIiBzdHlsZT0iZmlsbDpibGFjayIgLz4KPHJlY3QgeD0iMzE4IiB5PSIyMCIgd2lkdGg9IjYiIGhlaWdodD0iMTcwIiBzdHlsZT0iZmlsbDpibGFjayIgLz4KPHJlY3QgeD0iMzI2IiB5PSIyMCIgd2lkdGg9IjIiIGhlaWdodD0iMTcwIiBzdHlsZT0iZmlsbDpibGFjayIgLz4KPHJlY3QgeD0iMzMwIiB5PSIyMCIgd2lkdGg9IjQiIGhlaWdodD0iMTcwIiBzdHlsZT0iZmlsbDpibGFjayIgLz4KPHJlY3QgeD0iMjAiIHk9IjIwMCIgd2lkdGg9IjM1MCIgaGVpZ2h0PSI5MCIgc3R5bGU9ImZpbGw6YmxhY2siIC8+Cjx0ZXh0IHg9IjMwIiB5PSIyNDAiIHN0eWxlPSJmaWxsOndoaXRlO2ZvbnQtc2l6ZTozMHB0O3RleHQtYW5jaG9yOnN0YXJ0IiA+MjMxNjQ4PC90ZXh0Pgo8dGV4dCB4PSIzNTAiIHk9IjI3MCIgc3R5bGU9ImZpbGw6d2hpdGU7Zm9udC1zaXplOjUwcHQ7dGV4dC1hbmNob3I6ZW5kIiA+OTc1MzwvdGV4dD4KPC9zdmc+Cg==
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbw/orders/status/deliver:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Сборочные задания DBW
      summary: Перевести сборочные задания в доставку
      description: |
        Метод переводит [сборочные задания](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders/get) из [статуса](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1status/post) `confirm` в статус `complete` — в доставке.

        <div class="description_important">
        Проверяйте ответ метода. Сборочные задания, переведённые в доставку, вернутся с признаком `"isError":false`. Для остальных сборочных заданий смотрите причину ошибки в массиве `errors`
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:
        <ul>
            <li>получение и обновление списка контактов</li>
            <li>получение и удаление идентификаторов маркировки</li>
            <li>методы сборочных заданий</li>
        </ul> 

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
              example:
                requestId: 03615778-eb9e-4f55-b4Of-fd3ac0fad2сc
                results:
                  - orderId: 42131238
                    isError: true
                    errors:
                      - code: 409
                        detail: MetaValidationFail
                        metaDetails:
                          - key: sgtin
                            value: '1234567890123'
                            decision: sgtinInvalidFormat
                  - orderId: 4279781545
                    isError: false
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbw/orders/courier:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания DBW
      summary: Информация о курьере
      description: |
        Метод возвращает контактные данные и номер автомобиля курьера по ID сборочного задания. <br> Для сборочных заданий в статусах `confirm`, `complete`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:
        <ul>
            <li>получение и обновление списка контактов</li>
            <li>получение и удаление идентификаторов маркировки</li>
            <li>методы сборочных заданий</li>
        </ul> 

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersRequestAPI'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCourierInfoResp'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbw/orders/{orderId}/cancel:
    servers:
      - url: https://marketplace-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBW
      summary: Отменить сборочное задание
      description: |
        Метод отменяет [сборочное задание](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW) и переводит в [статус](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1status/post) `cancel` — отменено продавцом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов DBW:
        <ul>
            <li>получение и обновление списка контактов</li>
            <li>получение и удаление идентификаторов маркировки</li>
            <li>управление сборочными заданиями</li>
        </ul> 


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 300 запросов | 200 мс | 20 запросов |
        | Сервисный | 1 мин | 300 запросов | 200 мс | 20 запросов |
        | Базовый с секретом | 1 мин | 300 запросов | 200 мс | 20 запросов |
        | Базовый | 1 ч | 10 запросов | 6 мин | 1 запрос |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: '#/components/parameters/Order'
      responses:
        '204':
          description: Отменено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка обновления статуса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbw/orders/{orderId}/assemble:
    servers:
      - url: https://marketplace-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBW
      summary: Перевести в доставку
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [5 июня](https://dev.wildberries.ru/release-notes?id=517)
      parameters:
        - $ref: '#/components/parameters/Order'
      responses:
        '204':
          description: Подтверждено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка обновления статуса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbw/orders/meta/details:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Идентификаторы маркировки DBW
      summary: Получить идентификаторы маркировки сборочных заданий
      description: |
        Метод возвращает идентификаторы маркировки [сборочных заданий](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders/get) и статусы их валидации.
        <br><br>
        Перечень идентификаторов маркировки, доступных для сборочного задания, можно получить в [списке новых сборочных заданий](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1new/get), поле `requiredMeta`.
        <br><br>
        Возможные идентификаторы маркировки:
          - `imei` — [IMEI](/openapi/orders-dbw#tag/dbw-label-identifiers/paths/~1api~1v3~1dbw~1orders~1%7BorderId%7D~1meta~1imei/put)
          - `uin` — [УИН](/openapi/orders-dbw#tag/dbw-label-identifiers/paths/~1api~1v3~1dbw~1orders~1%7BorderId%7D~1meta~1uin/put)
          - `gtin` — [GTIN](/openapi/orders-dbw#tag/dbw-label-identifiers/paths/~1api~1v3~1dbw~1orders~1%7BorderId%7D~1meta~1gtin/put)
          - `sgtin` — [код маркировки Честного знака](/openapi/orders-dbw#tag/dbw-label-identifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1sgtin/post)

          <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:
        <ul>
            <li>получение и обновление списка контактов</li>
            <li>получение и удаление идентификаторов маркировки</li>
            <li>методы сборочных заданий</li>
        </ul> 

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrdersMetaDetailsResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbw/orders/meta/delete:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Идентификаторы маркировки DBW
      summary: Удалить идентификаторы маркировки сборочных заданий
      description: |
        Метод удаляет значение указанных [идентификаторов маркировки сборочного задания](/openapi/orders-dbw#tag/dbw-label-identifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1details/post) для переданного ключа.
        <br><br>
        В одном запросе можно удалить идентификаторы маркировки только одного типа. Укажите тип идентификаторов маркировки в запросе:
          - `imei` — [IMEI](/openapi/orders-dbw#tag/dbw-label-identifiers/paths/~1api~1v3~1dbw~1orders~1%7BorderId%7D~1meta~1imei/put)
          - `uin` — [УИН](/openapi/orders-dbw#tag/dbw-label-identifiers/paths/~1api~1v3~1dbw~1orders~1%7BorderId%7D~1meta~1uin/put)
          - `gtin` — [GTIN](/openapi/orders-dbw#tag/dbw-label-identifiers/paths/~1api~1v3~1dbw~1orders~1%7BorderId%7D~1meta~1imei/put)
          - `sgtin` — [код маркировки](/openapi/orders-dbw#tag/dbw-label-identifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1sgtin/post)

        Можно передать только один ключ.

          <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:
        <ul>
            <li>получение и обновление списка контактов</li>
            <li>получение и удаление идентификаторов маркировки</li>
            <li>методы сборочных заданий</li>
        </ul> 

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersMetaDleteRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MetaDeleteResponses'
                example:
                  requestId: 03615778-eb9e-4f55-b4Of-fd3ac0fad2сc
                  results:
                    - orderId: 42131238
                      isError: true
                      errors:
                        - code: 409
                          detail: FailedToUpdateMeta
                    - orderId: 4279781545
                      isError: false
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbw/orders/{orderId}/meta:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Идентификаторы маркировки DBW
      summary: Получить идентификаторы маркировки сборочного задания
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [27 июля](https://dev.wildberries.ru/release-notes?id=508)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:
        <ul>
            <li>получение и обновление списка контактов</li>
            <li>получение и удаление идентификаторов маркировки</li>
            <li>методы сборочных заданий</li>
        </ul> 

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: '#/components/parameters/Order'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                nullable: false
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/429'
    delete:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Идентификаторы маркировки DBW
      deprecated: true
      summary: Удалить идентификаторы маркировки сборочного задания
      description: |
        Данный метод устарел. Он будет удалён [5 июня](https://dev.wildberries.ru/release-notes?id=517)
      parameters:
        - $ref: '#/components/parameters/Order'
        - name: key
          in: query
          schema:
            type: string
          description: Название идентификатора маркировки для удаления (`imei`, `uin`, `gtin`, `sgtin`). Передаётся только одно значение
      responses:
        '204':
          description: Удалено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '409':
          description: Ошибка удаления идентификаторов маркировки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbw/orders/meta/sgtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Идентификаторы маркировки DBW
      summary: Закрепить коды маркировки Честного знака за сборочными заданиями
      description: |
        Метод обновляет код маркировки [Честного знака](https://честныйзнак.рф/) в [идентификаторах маркировки](/openapi/orders-dbw#tag/dbw-label-identifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1details/post) нескольких сборочных заданий.<br>
        Закрепить код маркировки можно, только если в [идентификаторах маркировки сборочного задания](/openapi/orders-dbw#tag/dbw-label-identifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1details/post) есть поле `sgtin`, а сборочное задание находится в [статусе](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1status/post) `confirm` — на сборке.
        <br><br>
        Получить загруженные маркировки можно в [идентификаторах маркировки сборочного задания](/openapi/orders-dbw#tag/dbw-label-identifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1details/post).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:
        <ul>
            <li>получение и обновление списка контактов</li>
            <li>получение и удаление идентификаторов маркировки</li>
            <li>методы сборочных заданий</li>
        </ul> 

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersSGTINsSetRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
              example:
                requestId: 03615778-eb9e-4f55-b4Of-fd3ac0fad2сc
                results:
                  - orderId: 42131238
                    isError: true
                    errors:
                      - code: 409
                        detail: FailedToUpdateMeta
                  - orderId: 4279781545
                    isError: false
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbw/orders/{orderId}/meta/sgtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Идентификаторы маркировки DBW
      deprecated: true
      summary: Закрепить за сборочным заданием код маркировки товара
      description: |
        Данный метод устарел. Он будет удалён [5 июня](https://dev.wildberries.ru/release-notes?id=517)
      parameters:
        - $ref: '#/components/parameters/Order'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sgtins:
                  type: array
                  description: Массив кодов маркировки Честного знака. Допускается от 16 до 135 символов для кода одной маркировки
                  minItems: 1
                  maxItems: 24
                  items:
                    type: string
                    description: Код маркировки на упаковке. От 16 до 135 символов
                    example: '1234567890123456'
      responses:
        '204':
          description: Отправлено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка добавления идентификаторов маркировки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbw/orders/{orderId}/meta/uin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Идентификаторы маркировки DBW
      summary: Закрепить за сборочным заданием УИН (уникальный идентификационный номер)
      description: |
        Метод обновляет УИН в [идентификаторах маркировки сборочного задания](/openapi/orders-dbw#tag/dbw-label-identifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1details/post) — уникальный идентификационный номер.
        <br><br>
        У одного сборочного задания может быть только один УИН.

        Добавлять маркировку можно только для заказов, которые находятся в [статусе](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1status/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки DBW</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1000 запросов | 60 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: '#/components/parameters/Order'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                uin:
                  type: string
                  minLength: 16
                  maxLength: 16
                  description: УИН
                  example: '1234567890123456'
              required:
                - uin
      responses:
        '204':
          description: Обновлено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка добавления идентификаторов маркировки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbw/orders/{orderId}/meta/imei:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Идентификаторы маркировки DBW
      summary: Закрепить за сборочным заданием IMEI
      description: |
        Метод обновляет IMEI в [идентификаторах маркировки сборочного задания](/openapi/orders-dbw#tag/dbw-label-identifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1details/post).
        <br><br>
        У одного сборочного задания может быть только один IMEI.

        Добавлять маркировку можно только для заказов, которые находятся в [статусе](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1status/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки DBW</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1000 запросов | 60 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: '#/components/parameters/Order'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                imei:
                  type: string
                  minLength: 15
                  maxLength: 15
                  description: IMEI
                  example: '123456789012345'
              required:
                - imei
      responses:
        '204':
          description: Обновлено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка добавления идентификаторов маркировки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbw/orders/{orderId}/meta/gtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Идентификаторы маркировки DBW
      summary: Закрепить за сборочным заданием GTIN
      description: |
        Метод обновляет GTIN в [идентификаторах маркировки сборочного задания](/openapi/orders-dbw#tag/dbw-label-identifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1details/post) — уникальный ID товара в Беларуси.
        <br><br>
        У одного сборочного задания может быть только один GTIN.

        Добавлять маркировку можно только для заказов, которые находятся в [статусе](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1status/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки DBW</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1000 запросов | 60 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: '#/components/parameters/Order'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                gtin:
                  type: string
                  minLength: 13
                  maxLength: 13
                  description: GTIN
                  example: '1234567890123'
              required:
                - gtin
      responses:
        '204':
          description: Обновлено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка добавления идентификаторов маркировки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
components:
  securitySchemes:
    HeaderApiKey:
      type: apiKey
      name: Authorization
      in: header
  parameters:
    Order:
      name: orderId
      in: path
      required: true
      description: ID сборочного задания
      schema:
        type: integer
        format: int64
        example: 5632423
    Next:
      name: next
      in: query
      required: true
      schema:
        type: integer
        format: int64
      description: Параметр пагинации. Устанавливает значение, с которого надо получить следующий пакет данных. Для получения полного списка данных должен быть равен `0` в первом запросе. Для следующих запросов необходимо брать значения из одноименного поля в ответе
    Limit:
      name: limit
      in: query
      required: true
      schema:
        type: integer
        minimum: 1
        maximum: 1000
      description: Параметр пагинации. Устанавливает предельное количество возвращаемых данных
  examples:
    IncorrectRequestBody:
      description: Некорректное тело запроса
      value:
        code: IncorrectRequestBody
        message: ''
    IncorrectRequest:
      value:
        code: IncorrectRequest
        message: ''
    IncorrectRequest1:
      description: Некорректный запрос
      value:
        code: IncorrectRequest
        message: ''
    IncorrectParameter:
      value:
        code: IncorrectParameter
        message: ''
    FailedToUpdateMeta:
      value:
        code: FailedToUpdateMeta
        message: ''
    StatusMismatch:
      value:
        data: {}
        code: StatusMismatch
        message: ''
  responses:
    '401':
      description: Не авторизован
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: Уникальный ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          example:
            title: unauthorized
            detail: 'token problem; token is malformed: could not base64 decode signature: illegal base64 data at input byte 84'
            code: 07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: s2s-api-auth-catalog
            status: 401
            statusText: Unauthorized
            timestamp: '2024-09-30T06:52:38Z'
    '402':
      description: Требуется платёж
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки. Ошибка возвращается только сервисам из [Каталога решений для бизнеса](https://dev.wildberries.ru/business-solutions)
          example:
            title: payment required
            detail: wb solution for business has insufficient funds on its balance. please top up the balance in the company's personal account https://dev.wildberries.ru/company
    '429':
      description: Слишком много запросов
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: Уникальный ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: 07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: s2s-api-auth-catalog
            status: 429
            statusText: Too Many Requests
            timestamp: '2024-09-30T06:52:38Z'
    NotFound:
      description: Не найдено
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: NotFound
            message: ''
    AccessDenied:
      description: Доступ запрещён
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: AccessDenied
            message: ''
  schemas:
    api.OrdersSGTINsSetRequest:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/api.SGTINs'
    api.SGTINs:
      type: object
      properties:
        orderId:
          description: ID сборочного задания
          type: integer
          example: 123456
        sgtins:
          type: array
          minItems: 1
          maxItems: 24
          description: Массив кодов маркировки. Допускается от 16 до 135 символов для кода одной маркировки
          example:
            - '123456789012345678'
            - '1234567890123456'
          items:
            type: string
    api.StatusSetResponses:
      type: object
      required:
        - results
      example:
        requestId: 03615778-eb9e-4f55-b4Of-fd3ac0fad2сc
        results:
          - orderId: 4299281547
            isError: true
            errors:
              - code: 404
                detail: NotFound
          - orderId: 4279781545
            isError: false
      properties:
        requestId:
          type: string
          description: Уникальный ID запроса, содержащего ошибки.
        results:
          type: array
          items:
            $ref: '#/components/schemas/api.StatusSetResponse'
    api.StatusSetResponse:
      type: object
      required:
        - isError
        - orderId
      properties:
        errors:
          items:
            $ref: '#/components/schemas/api.BatchErrorResponse'
          type: array
          description: Детали ошибки
        isError:
          type: boolean
          description: Есть ли ошибки
          example: true
        orderId:
          type: integer
          description: ID сборочного задания с успешно обновлёнными данными
          example: 123456
    api.BatchErrorResponse:
      required:
        - code
        - detail
      properties:
        code:
          type: integer
          description: |
            Код ошибки:
              - `404`
              - `409`
          example: 404
        detail:
          type: string
          description: |
            - `NotFound` — сборочное задание не найдено
            - `StatusMismatch` — операция невозможна для этого статуса сборочного задания
            - `ImeiIsNotFilled` — не заполнен IMEI
            - `MetaValidationFail` — ошибки валидации идентификаторов маркировки
          example: NotFound
        metaDetails:
          type: array
          description: Детали ошибки валидации идентификаторов маркировки
          items:
            type: object
            required:
              - decision
              - key
            properties:
              key:
                type: string
                description: Идентификатор маркировки
                example: sgtin
              value:
                type: string
                nullable: true
                description: Значение идентификатора маркировки
                example: '1234567890'
              decision:
                type: string
                description: |
                  Статус проверки:
                  - `sgtin`
                    - `sgtinInvalidFormat` — Неверный формат маркировки
                    - `sgtinNotFound` — Маркировка не найдена в [Честном знаке](https://chestnyznak.ru)
                    - `sgtinEmitted` —  Маркировка эмитирована
                    - `sgtinApplied` — Не пройдена процедура Ввод в оборот
                    - `sgtinWrittenOff` — Списан
                    - `sgtinRetired` — Выбыл
                    - `sgtinWithdrawn` — Выбыл
                    - `sgtinDisaggregation` — Расформирован
                    - `sgtinDisaggregated` — Расформирован
                    - `sgtinAppliedNotPaid` — Не оплачен
                    - `pending` — Маркировка на проверке
                example: sgtinEmitted
      type: object
    api.MetaDeleteResponses:
      type: object
      required:
        - results
      properties:
        requestId:
          type: string
          description: Уникальный ID запроса. Отображается для ответов с ошибками
        results:
          type: array
          items:
            type: object
            required:
              - isError
              - orderId
            properties:
              errors:
                items:
                  type: object
                  required:
                    - code
                    - detail
                  properties:
                    code:
                      type: integer
                      description: |
                        Код ошибки:
                          - `404`
                          - `409`
                    detail:
                      type: string
                      description: |
                        - `NotFound` — сборочное задание не найдено
                        - `StatusMismatch` — операция невозможна для этого статуса сборочного задания
                        - `ImeiIsNotFilled` — не заполнен IMEI
                type: array
                description: Детали ошибки
              isError:
                type: boolean
                description: Есть ли ошибки
              orderId:
                type: integer
                description: ID сборочного задания с успешно обновлёнными данными
    api.OrdersRequestV2:
      type: object
      properties:
        ordersIds:
          type: array
          maxItems: 1000
          example:
            - 1234678898
          items:
            type: integer
          description: Список ID сборочных заданий
    api.OrdersMetaDleteRequestV2:
      type: object
      properties:
        key:
          type: string
          enum:
            - imei
            - uin
            - gtin
            - sgtin
          description: Название идентификатора маркировки для удаления. Передаётся только одно значение
          example: sgtin
        ordersIds:
          type: array
          maxItems: 1000
          items:
            type: integer
          description: Список ID сборочных заданий
          example:
            - 123456789
    ClientInfo:
      properties:
        replacementPhone:
          type: string
          description: |
            Подменный номер для связи с покупателем. <br>
            Пустое значение `""` указывает, что номер ещё не назначен
          example: '79871234567'
          nullable: false
        phone:
          type: string
          description: |
            Номер телефона для связи с покупателем:
              - если в поле `phoneCode` не указан добавочный код, вы можете позвонить покупателю по указанному номеру. Дополнительные номера телефонов для связи без кодов указаны в поле `additionalPhones`
              - если в поле `phoneCode` указан добавочный код, используйте его, чтобы связаться с покупателем по указанному номеру и добавочному коду
          example: '+79871234567'
          nullable: false
        firstName:
          type: string
          description: Имя покупателя
          example: Иван
          nullable: false
        fullName:
          type: string
          description: Полное имя покупателя, используется для оформления документов
          example: Иванов Иван Иванович
          nullable: false
        additionalPhones:
          nullable: false
          type: array
          items:
            type: string
          description: |
            Дополнительные номера телефонов для связи с покупателем. <br>
            Используйте, чтобы позвонить покупателю, если недоступен основной номер из `phone`. <br>
            Пустое значение означает, что номер не указан
          example:
            - '1234554321'
        additionalPhoneCodes:
          nullable: false
          type: array
          items:
            type: integer
          description: |
            Дополнительные добавочные коды. <br>
            Используйте, если не получилось дозвониться по добавочному коду из `phoneCode`.<br>
            Пустое значение указывает, коды ещё не назначены
          example:
            - 12345
        orderId:
          type: integer
          description: ID сборочного задания
          example: 1345678910
        phoneCode:
          type: integer
          description: |
            Добавочный код. <br>
            Используйте, чтобы связаться с покупателем по номеру из `phone`.<br>
            Если код не указан, вы можете связаться с покупателем без кода
          example: 0
          nullable: false
      type: object
    ClientInfoResp:
      properties:
        orders:
          description: Информация о покупателях
          items:
            $ref: '#/components/schemas/ClientInfo'
          type: array
      type: object
    OrderCourierInfo:
      type: object
      properties:
        courierInfo:
          type: object
          description: Информация о курьере
          allOf:
            - $ref: '#/components/schemas/CourierInfo'
        orderID:
          type: integer
          description: ID сборочного задания
          example: 2876979713
    OrderCourierInfoResp:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/OrderCourierInfo'
    CourierContactsResponse:
      type: object
      properties:
        carNumber:
          type: string
          description: Номер автомобиля
          example: х111хх11
        fullName:
          type: string
          description: ФИО курьера
          example: Иванов Иван Иванович
        phone:
          type: string
          description: Номер телефона
          example: '71230971931'
        pTimeFrom:
          type: string
          format: date-time
          description: Дата и время, с которого прибудет курьер
          nullable: true
          example: '2025-09-06T08:00:00Z'
        pTimeTo:
          type: string
          format: date-time
          description: Дата и время, до которого прибудет курьер
          nullable: true
          example: '2025-09-06T11:00:00Z'
    CourierInfo:
      type: object
      properties:
        contacts:
          type: object
          nullable: true
          description: Контактные данные курьера
          allOf:
            - $ref: '#/components/schemas/CourierContactsResponse'
        mustBeAssigned:
          type: boolean
          description: |
            Должен ли быть назначен курьер к текущему моменту:
              - `false` — нет
              - `true` — да

              Если `"mustBeAssigned":true`, а `"contacts":null`, необходимо запросить контакты в [поддержке](https://seller.wildberries.ru/service-desk-v2)
        updatedAt:
          type: string
          format: date-time
          description: Дата и время обновления информации о курьере. <br> Если `null`, информация не обновлялась
          nullable: true
          example: '2025-09-06T11:33:10+03:00'
    api.OrdersMetaDetailsResponse:
      type: object
      required:
        - requestId
      properties:
        requestId:
          type: string
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
        orders:
          type: array
          description: Идентификаторы маркировки сборочных заданий и статусы их валидации
          items:
            type: object
            required:
              - isError
            properties:
              orderId:
                type: integer
                example: 123456
                description: ID сборочного задания
              isError:
                type: boolean
                description: Есть ли ошибки
                example: false
              errors:
                type: array
                example: []
                description: Информация об ошибке
                items:
                  type: object
                  properties:
                    code:
                      type: integer
                      description: Код ошибки
                      example: 404
                    detail:
                      type: string
                      example: NotFound
                      description: Дополнительная информация об ошибке
              metaDetails:
                type: array
                description: Идентификаторы маркировки и статусы их валидации
                items:
                  type: object
                  properties:
                    key:
                      type: string
                      example: sgtin
                      description: Идентификатор маркировки
                    value:
                      type: string
                      nullable: true
                      description: Значение идентификатора маркировки
                      example: '123456789012345'
                    decision:
                      type: string
                      example: sgtinIntroduced
                      description: |
                        Статус проверки:
                        - `imei`
                          - `pending` — Маркировка на проверке
                          - `optional` — Маркировка не обязательна
                          - `filled` — Валидация пройдена
                          - `deadlineExceeded` — Валидация пройдена
                          - `imeiMaySell` — Товар допущен к продаже. Валидация пройдена
                          - `imeiSoldB2B` — Товар продан покупателю B2B, допущен к продаже повторно. Валидация пройдена
                          - `required` — Обязательная маркировка не заполнена. Валидация не пройдена
                          - `imeiInvalidFormat` — Неверный формат маркировки. Валидация не пройдена
                          - `imeiAlreadySold` — Товар с этим IMEI уже продан. Валидация не пройдена
                        - `uin`
                          - `optional` — Маркировка не обязательна
                          - `filled` — Валидация пройдена
                        - `sgtin`
                          - `pending` — Маркировка на проверке
                          - `optional` — Маркировка не обязательна
                          - `filled` — Валидация пройдена
                          - `deadlineExceeded` — Валидация пройдена
                          - `sgtinIntroduced` — Товар допущен к продаже. Валидация пройдена
                          - `sgtinSoldB2B` — Товар продан покупателю B2B, допущен к продаже повторно. Валидация пройдена
                          - `required` — Обязательная маркировка не заполнена. Валидация не пройдена
                          - `sgtinInvalidFormat` — Неверный формат маркировки. Валидация не пройдена
                          - `sgtinNotFound` — Маркировка не найдена в [Честном Знаке](https://chestnyznak.ru). Валидация не пройдена
                          - `sgtinEmitted` —  Маркировка эмитирована. Валидация не пройдена
                          - `sgtinApplied` — Не пройдена процедура Ввод в оборот. Валидация не пройдена
                          - `sgtinWrittenOff` — Списан. Валидация не пройдена
                          - `sgtinRetired` — Выбыл. Валидация не пройдена
                          - `sgtinWithdrawn` — Выбыл. Валидация не пройдена
                          - `sgtinDisaggregation` — Расформирован. Валидация не пройдена
                          - `sgtinDisaggregated` — Расформирован. Валидация не пройдена
                          - `sgtinAppliedNotPaid` — Не оплачен. Валидация не пройдена
                        - `gtin`
                          - `optional` — Маркировка не обязательна
                          - `filled` — Валидация пройдена
                        - `customsDeclaration`
                          - `optional` — Маркировка не обязательна
                          - `filled` — Валидация пройдена
    api.BatchError:
      properties:
        detail:
          type: object
          description: Детали ошибки
          example: {}
        origin:
          type: string
          description: ID внутреннего сервиса WB
          example: dbs-public-api
        requestId:
          type: string
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
        title:
          type: string
          description: Заголовок ошибки
          example: IncorrectRequest
      type: object
    Error:
      type: object
      nullable: false
      properties:
        code:
          type: string
          description: Код ошибки
          nullable: false
        message:
          type: string
          description: Описание ошибки
          nullable: false
        data:
          type: object
          description: Дополнительные данные ошибки
          nullable: true
    OrdersRequestAPI:
      properties:
        orders:
          description: Список ID сборочных заданий
          items:
            type: integer
          type: array
      type: object
      example:
        orders:
          - 987654321
          - 123456789
    DeliveryDatesRequest:
      properties:
        orders:
          description: Список ID сборочных заданий
          items:
            type: integer
            minItems: 1
            maxItems: 1000
          type: array
      type: object
      example:
        orders:
          - 1234567890
    Next:
      type: integer
      format: int64
      nullable: false
      description: Параметр пагинации. Содержит значение, которое необходимо указать в запросе для получения следующего пакета данных
      example: 13833711
    OrderNewDBW:
      type: object
      properties:
        address:
          type: object
          nullable: true
          description: Адрес покупателя для доставки
          properties:
            fullAddress:
              description: Адрес доставки
              type: string
              example: Челябинская область, г. Челябинск, 51-я улица Арабкира, д. 10А, кв. 42
            longitude:
              type: number
              format: float64
              nullable: false
              description: Долгота
              example: 44.519068
            latitude:
              type: number
              format: float64
              nullable: false
              description: Широта
              example: 40.20192
        salePrice:
          description: |
            Цена в валюте продажи с учетом скидки продавца, без учета скидки WB Клуба, умноженная на 100. Предоставляется в информационных целях
          type: integer
          nullable: true
          example: 504658
        requiredMeta:
          description: Список идентификаторов маркировки, доступных для сборочного задания. [Указывать IMEI](./orders-dbw#tag/dbw-label-identifiers/paths/~1api~1v3~1dbw~1orders~1%7BorderId%7D~1meta~1imei/put) обязательно для [предмета](./work-with-products/#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1all/get) `Смартфоны`, `"subjectId":515`
          type: array
          nullable: true
          items:
            type: string
          example:
            - uin
        comment:
          type: string
          nullable: false
          description: Комментарий покупателя
          maxLength: 300
          example: Упакуйте в пленку, пожалуйста
        options:
          type: object
          description: Опции заказа
          properties:
            isB2b:
              type: boolean
              description: |
                Признак B2B-продажи:
                  - `false` — не B2B-продажа
                  - `true` — B2B-продажа
        orderUid:
          type: string
          description: ID транзакции для группировки сборочных заданий. Сборочные задания в одной корзине покупателя будут иметь одинаковый `orderUid`
          example: 165918930_629fbc924b984618a44354475ca58675
        groupId:
          description: ID группы сборочных заданий. <br> Объединяет сборочные задания, поступившие на один склад (`warehouseId`) в рамках одной транзакции покупателя (`orderUid`)
          type: string
          format: UUID
          example: 7a2c8810-1db2-4011-9682-5c7fa33afd83
        article:
          type: string
          nullable: false
          description: Артикул продавца
          example: one-ring-7548
        colorCode:
          description: Код цвета (только для колеруемых товаров)
          type: string
          nullable: false
          example: RAL 3017
        rid:
          type: string
          nullable: false
          description: |
            Уникальный ID заказа. <br>
            Примечание: `rid` — это `srid` в ответах методов:
              - [Заявки покупателей на возврат](./user-communication#tag/Vozvraty-pokupatelyami/paths/~1api~1v1~1claims/get)
              - [Заказы](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1orders/get)
              - [Продажи](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1sales/get)
              - [Отчёт о возвратах и перемещении товаров](./reports#tag/Otchyot-o-vozvratah-i-peremeshenii-tovarov)
              - [Детализации к отчётам реализации по ID отчётов](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1SalesReportsDetailedReportId)
              - [Детализации к отчётам реализации за период](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1SalesReportsDetailed)
              - [Детализации к отчётам об издержках на приём платежей по ID отчётов](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1AcquiringDetailedReportId)
              - [Детализации к отчётам об издержках на приём платежей за период](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1AcquiringDetailed)
          example: f884001e44e511edb8780242ac120002
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: Дата создания сборочного задания
          example: '2022-05-04T07:56:29Z'
        skus:
          type: array
          nullable: false
          description: Массив баркодов товара
          items:
            type: string
            example: '6665956397512'
        id:
          type: integer
          format: int64
          nullable: false
          description: ID сборочного задания
          example: 13833711
        warehouseId:
          type: integer
          nullable: false
          description: ID склада продавца, на который поступило сборочное задание
          example: 658434
        nmId:
          type: integer
          nullable: false
          description: Артикул WB
          example: 123456789
        chrtId:
          type: integer
          nullable: false
          description: ID размера товара в системе WB
          example: 987654321
        price:
          type: integer
          nullable: false
          description: Цена в валюте продажи с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          example: 1014
        convertedPrice:
          type: integer
          nullable: false
          description: Цена в валюте страны продавца с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Предоставляется в информационных целях
          example: 1014
        currencyCode:
          type: integer
          nullable: false
          format: ISO 4217
          description: Код валюты продажи
          example: 933
        convertedCurrencyCode:
          type: integer
          nullable: false
          format: ISO 4217
          description: Код валюты страны продавца
          example: 643
        cargoType:
          type: integer
          nullable: false
          description: |
            Тип товара:
              - `1` — малогабаритный товар (МГТ)
              - `2` — сверхгабаритный товар (СГТ)
              - `3` — крупногабаритный товар (КГТ+)
          enum:
            - 1
            - 2
            - 3
        isZeroOrder:
          type: boolean
          description: |
            Признак заказа товара с нулевым остатком:
              - `false` — заказ сделан на товар с ненулевым остатком
              - `true` — заказ сделан на товар с нулевым остатком. Такой заказ можно отменить без штрафа за отмену
          example: false
    Order:
      type: object
      properties:
        address:
          type: object
          nullable: true
          description: Адрес покупателя для доставки
          properties:
            fullAddress:
              description: Адрес доставки
              type: string
              example: Челябинская область, г. Челябинск, 51-я улица Арабкира, д. 10А, кв. 42
            longitude:
              type: number
              format: float64
              nullable: false
              description: Долгота
              example: 44.519068
            latitude:
              type: number
              format: float64
              nullable: false
              description: Широта
              example: 40.20192
        options:
          type: object
          description: Опции заказа
          properties:
            isB2b:
              type: boolean
              description: |
                Признак B2B-продажи:
                  - `false` — не B2B-продажа
                  - `true` — B2B-продажа
        orderUid:
          type: string
          description: ID транзакции для группировки сборочных заданий. Сборочные задания в одной корзине покупателя будут иметь одинаковый `orderUid`
          example: 165918930_629fbc924b984618a44354475ca58675
        groupId:
          description: ID группы сборочных заданий. <br> Объединяет сборочные задания, поступившие на один склад (`warehouseId`) в рамках одной транзакции покупателя (`orderUid`)
          type: string
          format: UUID
          example: 7a2c8810-1db2-4011-9682-5c7fa33afd83
        article:
          type: string
          nullable: false
          description: Артикул продавца
          example: one-ring-7548
        colorCode:
          type: string
          nullable: false
          description: Код цвета (только для колеруемых товаров)
          example: RAL 3017
        rid:
          type: string
          nullable: false
          description: |
            Уникальный ID заказа. <br>
            Примечание: `rid` — это `srid` в ответах методов:
              - [Заявки покупателей на возврат](./user-communication#tag/Vozvraty-pokupatelyami/paths/~1api~1v1~1claims/get)
              - [Заказы](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1orders/get)
              - [Продажи](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1sales/get)
              - [Отчёт о возвратах и перемещении товаров](./reports#tag/Otchyot-o-vozvratah-i-peremeshenii-tovarov)
              - [Детализации к отчётам реализации по ID отчётов](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1SalesReportsDetailedReportId)
              - [Детализации к отчётам реализации за период](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1SalesReportsDetailed)
              - [Детализации к отчётам об издержках на приём платежей по ID отчётов](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1AcquiringDetailedReportId)
              - [Детализации к отчётам об издержках на приём платежей за период](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1AcquiringDetailed)
          example: f884001e44e511edb8780242ac120002
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: Дата создания сборочного задания
          example: '2022-05-04T07:56:29Z'
        skus:
          type: array
          nullable: false
          description: Массив баркодов товара
          items:
            type: string
            example: '6665956397512'
        id:
          type: integer
          format: int64
          nullable: false
          description: ID сборочного задания
          example: 13833711
        warehouseId:
          type: integer
          nullable: false
          description: ID склада продавца, на который поступило сборочное задание
          example: 658434
        nmId:
          type: integer
          nullable: false
          description: Артикул WB
          example: 123456789
        chrtId:
          type: integer
          nullable: false
          description: ID размера товара в системе WB
          example: 987654321
        price:
          type: integer
          nullable: false
          description: Цена в валюте продажи с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          example: 1014
        convertedPrice:
          type: integer
          nullable: false
          description: Цена в валюте страны продавца с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Предоставляется в информационных целях
          example: 1014
        currencyCode:
          type: integer
          nullable: false
          format: ISO 4217
          description: Код валюты продажи
          example: 933
        convertedCurrencyCode:
          type: integer
          nullable: false
          format: ISO 4217
          description: Код валюты страны продавца
          example: 643
        cargoType:
          type: integer
          nullable: false
          description: |
            Тип товара:
              - `1` — малогабаритный товар (МГТ)
              - `2` — сверхгабаритный товар (СГТ)
              - `3` — крупногабаритный товар (КГТ+)
          enum:
            - 1
            - 2
            - 3
        comment:
          type: string
          nullable: false
          description: Комментарий покупателя
          maxLength: 300
          example: Упакуйте в пленку, пожалуйста
        isZeroOrder:
          type: boolean
          description: |
            Признак заказа товара с нулевым остатком:
              - `false` — заказ сделан на товар с ненулевым остатком
              - `true` — заказ сделан на товар с нулевым остатком. Такой заказ можно отменить без штрафа за отмену
          example: false
    DeliveryDatesInfoResp:
      type: object
      properties:
        orders:
          type: array
          items:
            type: object
            properties:
              dTimeFrom:
                type: string
                nullable: true
                description: Актуальное время доставки "с"
                example: '11:11'
              dTimeTo:
                type: string
                nullable: true
                description: Актуальное время доставки "по"
                example: '22:22'
              dTimeFromOld:
                type: string
                nullable: true
                description: Прежнее время доставки "с". Доступно первые сутки после изменения
                example: '12:30'
              dTimeToOld:
                type: string
                nullable: true
                description: Прежнее время доставки "по". Доступно первые сутки после изменения
                example: '22:30'
              dDateOld:
                type: string
                nullable: true
                description: Прежняя дата доставки. Доступна первые сутки после изменения
                example: '2025-01-28'
              dDate:
                type: string
                nullable: false
                description: Актуальная дата доставки
                example: '2025-02-20'
              id:
                type: integer
                description: ID сборочного задания
                example: 1234567890
    Meta:
      type: object
      description: Идентификаторы маркировки сборочного задания
      nullable: true
      properties:
        imei:
          type: object
          properties:
            value:
              nullable: true
              type: string
              example: '123456789012345'
          description: IMEI
        uin:
          type: object
          properties:
            value:
              nullable: true
              type: string
              example: '123456789012345'
          description: УИН
        gtin:
          type: object
          properties:
            value:
              nullable: true
              type: string
              example: '123456789012345'
          description: GTIN
        sgtin:
          type: object
          properties:
            value:
              type: array
              items:
                type: string
              example:
                - '123456789012345'
              nullable: true
          description: Код маркировки Честного знака
