openapi: 3.0.1
info:
  title: Заказы DBS
  version: order
  description: |
    <div class="description_important">
      Узнать больше о заказах DBS можно в <a href="https://seller.wildberries.ru/instructions/category/6572e024-7428-4db1-86a8-a4c7dbebbfcf?goBackOption=prevRoute&categoryId=5a8e1202-0865-45b7-acae-5d0afc7add56">справочном центре</a>
    </div>

    <div class="api-block">

    Управление [сборочными заданиями](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) и [идентификаторами маркировки](/openapi/orders-dbs#tag/dbs-label-identifiers) заказов DBS (Delivery by Seller).

    </div>
  x-file-name: orders-dbs
security:
  - HeaderApiKey: []
tags:
  - name: Сборочные задания DBS
    description: ''
  - name: Идентификаторы маркировки DBS
    x-displayName: Идентификаторы маркировки DBS
    description: ''
paths:
  /api/v3/dbs/orders/new:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Получить список новых сборочных заданий
      description: |
        Метод возвращает список всех новых [сборочных заданий](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS), которые есть у продавца на момент запроса.

        <div class="description_limit">
        <a href='https://dev.wildberries.ru/docs/openapi/api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                nullable: false
                properties:
                  orders:
                    type: array
                    nullable: false
                    description: Список новых сборочных заданий
                    items:
                      $ref: '#/components/schemas/OrderNewDBS'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Получить информацию о завершенных сборочных заданиях
      description: |
        Метод возвращает информацию о завершенных [сборочных заданиях](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) после продажи или отмены заказа.
        <br><br>
        Можно получить данные за заданный период, максимум 30 календарных дней одним запросом.

        <div class="description_limit">
        <a href='https://dev.wildberries.ru/docs/openapi/api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Next'
        - name: dateFrom
          in: query
          required: true
          schema:
            type: integer
          description: |
            Дата начала периода в формате Unix timestamp
        - name: dateTo
          in: query
          required: true
          schema:
            type: integer
          description: Дата конца периода в формате Unix timestamp
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                nullable: false
                properties:
                  next:
                    $ref: '#/components/schemas/Next'
                  orders:
                    type: array
                    nullable: false
                    items:
                      $ref: '#/components/schemas/OrderDBS'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/groups/info:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      description: |
        Метод возвращает информацию о платной доставке сборочных заданий, которые поступили на один склад (`warehouseId`) в рамках одной транзакции покупателя (`orderUid`).

        <div class="description_limit">
        <a href='https://dev.wildberries.ru/docs/openapi/api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      tags:
        - Сборочные задания DBS
      summary: Получить информацию о платной доставке
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrderGroupsRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrderGroup'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/client:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      summary: Информация о покупателе
      description: |
        Метод возвращает информацию о покупателе по ID сборочных заданий.

        <div class="description_limit">
        <a href='https://dev.wildberries.ru/docs/openapi/api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      tags:
        - Сборочные задания DBS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersRequestAPI'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbsOnlyClientInfoResp'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/b2b/info:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Информация о покупателе B2B
      description: |
        Метод возвращает данные B2B-покупателей по ID сборочных заданий:
          - ИНН
          - КПП
          - Наименование организации

        <div class="description_limit">
        <a href='https://dev.wildberries.ru/docs/openapi/api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.B2bClientInfoResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/delivery-date:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      summary: Получить дату и время доставки
      description: |
        Метод возвращает информацию о выбранных покупателем дате и времени доставки сборочных заданий.
        <br>

        <div class="description_limit">
        <a href='https://dev.wildberries.ru/docs/openapi/api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      tags:
        - Сборочные задания DBS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryDatesRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryDatesInfoResp'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest1'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/info:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Получить статусы сборочных заданий
      description: |
        Метод возвращает статусы [сборочных заданий](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) по их ID.
        <br><br>
        `supplierStatus` — статус сборочного задания. Триггер его изменения — действие самого продавца.

        Возможные значения `supplierStatus`:
        | Статус   | Описание            | Как перевести сборочное задание в данный статус |
        | -------  | ---------           | --------------------------------------|
        | `new`      | **Новое сборочное задание** | |
        | `confirm`  | **На сборке**      |  [Перевести сборочное задание на сборку](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1confirm/post)
        | `deliver`  | **В доставке**    | [Перевести сборочное задание в доставку](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1deliver/post)
        | `receive`  | **Получено покупателем**       | [Сообщить, что заказ принят покупателем](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1receive/post) <br>
        | `reject`   | **Отказ покупателя при получении**           |  [Сообщить, что покупатель отказался от заказа](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1reject/post)
        | `cancel`   | **Отменено продавцом**   |  [Отменить сборочное задание](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1cancel/post)
        | `cancel_missed_call` | **Отмена по причине недозвона** | Статус меняется автоматически |

        <br><br>
        `wbStatus` — статус системы Wildberries.

        Возможные значения `wbStatus`:
        - `waiting` — сборочное задание в работе
        - `sold` — заказ получен покупателем
        - `canceled` — отмена сборочного задания
        - `canceled_by_client` — покупатель отменил заказ при получении
        - `declined_by_client` — покупатель отменил заказ в первый чаc
        <br> Отмена доступна покупателю в первый час с момента заказа, если заказ не переведен на сборку
        - `defect` — отмена заказа по причине брака
        - `ready_for_pickup` — заказ прибыл на ПВЗ
        - `canceled_by_missed_call` — отмена по причине недозвона

        <div class="description_limit">
        <a href='https://dev.wildberries.ru/docs/openapi/api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrderStatusesV2'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/cancel:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Отменить сборочные задания
      description: |
        Метод переводит [сборочные задания](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) из [статусов](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `new` и `confirm` в статус `cancel` — отменено продавцом.
        Отменить сборочные задания в статусе `deliver` невозможно.

        <div class="description_limit">
        <a href='https://dev.wildberries.ru/docs/openapi/api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/confirm:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Перевести сборочные задания на сборку
      description: |
        Метод переводит [сборочные задания](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) из [статуса](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `new` в статус `confirm` — на сборке.

        <div class="description_limit">
        <a href='https://dev.wildberries.ru/docs/openapi/api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/stickers:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      x-token-types:
        - personal
        - service
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Получить стикеры для сборочных заданий с доставкой в ПВЗ
      description: |
        <div class="description_token">Метод доступен по <a href="/openapi/api-information#tag/Avtorizaciya/Pravila-ispolzovaniya-tokenov-dostupa-k-API">токенам</a>:<strong> Персональный</strong>,<strong> Сервисный</strong> 
            </div>

        Метод возвращает стикеры для сборочных заданий с доставкой в ПВЗ в [статусах](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post):
          - `confirm` — на сборке
          - `deliver` — в доставке

        Получить стикеры можно только в размере 580x400 px в формате PDF.

        <div class="description_limit">
        <a href='https://dev.wildberries.ru/docs/openapi/api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      parameters:
        - name: type
          in: query
          required: true
          description: Формат стикера
          schema:
            type: string
            enum:
              - pdf
        - name: width
          in: query
          required: true
          description: Ширина стикера
          schema:
            type: integer
            enum:
              - 58
        - name: height
          in: query
          required: true
          description: Высота стикера
          schema:
            type: integer
            enum:
              - 40
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - orders
              properties:
                orders:
                  type: array
                  minItems: 1
                  maxItems: 100
                  description: Список ID сборочных заданий
                  items:
                    type: integer
                    format: int64
                    example: 5346346
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  stickers:
                    type: array
                    nullable: false
                    description: Стикеры
                    items:
                      type: object
                      required:
                        - barcode
                        - file
                        - orderId
                        - partA
                        - partB
                      properties:
                        orderId:
                          type: integer
                          format: int64
                          nullable: false
                          description: ID сборочного задания
                          example: 5346346
                        partA:
                          type: string
                          nullable: false
                          description: Первая часть ID стикера
                          example: '231648'
                        partB:
                          type: string
                          nullable: false
                          description: Вторая часть ID стикера
                          example: '9753'
                        barcode:
                          type: string
                          nullable: false
                          description: Закодированное значение стикера
                          example: '!uKEtQZVx'
                        file:
                          type: string
                          nullable: false
                          description: Полное представление стикера, кодировка base64
                          example: JVBER...ZWYKMTM5MQolJUVPRg==
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/deliver:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Перевести сборочные задания в доставку
      description: |
        Метод переводит [сборочные задания](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) из [статуса](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `confirm` в статус `deliver` — в доставке.

        <div class="description_limit">
        <a href='https://dev.wildberries.ru/docs/openapi/api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetDeliverResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/receive:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Сообщить о получении заказов
      description: |
        Метод переводит [сборочные задания](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) из [статуса](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `deliver` в статус `receive` — получено покупателем.

        <div class="description_limit">
        <a href='https://dev.wildberries.ru/docs/openapi/api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersCodeRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                example:
                  requestId: 03615778-eb9e-4f55-b4Of-fd3ac0fad2сc
                  results:
                    - orderId: 4299281547
                      isError: true
                      errors:
                        - code: 404
                          detail: NotFound
                    - orderId: 4279781545
                      isError: false
                properties:
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                    example: f1787bd2d1fdс35d6f537316514у4a05
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        errors:
                          items:
                            type: object
                            properties:
                              code:
                                type: integer
                                description: Код ошибки
                                example: 404
                              detail:
                                type: string
                                description: |
                                  - `NotFound` — сборочное задание не найдено
                                  - `StatusMismatch` — операция невозможна для этого статуса сборочного задания
                                  - `SGTINIsNotFilled` — обязательный [код маркировки](./orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post) не указан
                                example: NotFound
                          type: array
                          description: Детали ошибки
                        isError:
                          type: boolean
                          description: Есть ли ошибки
                          example: true
                        orderId:
                          type: integer
                          description: ID сборочного задания с успешно обновлёнными данными
                          example: 123456
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/reject:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Сообщить об отказе от заказов
      description: |
        Метод переводит [сборочные задания](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) из [статуса](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `deliver` в статус `reject` — отказ покупателя при получении.

        <div class="description_limit">
        <a href='https://dev.wildberries.ru/docs/openapi/api-information#tag/Vvedenie/Limity-zaprosov'>Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersCodeRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/details:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Идентификаторы маркировки DBS
      summary: Получить идентификаторы маркировки сборочных заданий
      description: |
        Метод возвращает идентификаторы маркировки [сборочных заданий](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) и статусы их валидации. <br>
        Перечень идентификаторов маркировки, доступных для сборочного задания, можно получить в [списке новых сборочных заданий](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1new/get), поле `requiredMeta`.<br>
        Возможные идентификаторы маркировки:
          - `imei` — [IMEI](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1imei/post)
          - `uin` — [УИН](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1uin/post)
          - `gtin` — [GTIN](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1gtin/post)
          - `sgtin` — [код маркировки](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post)
          - `customsDeclaration` — [номер ДТ](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1meta~1customs-declaration/post)

        Если ответ вернулся с пустой структурой `meta`, значит у сборочного задания нет идентификаторов маркировки и добавить их нельзя.<br>
        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления идентификаторов маркировки DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrdersMetaDetailsResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/info:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Идентификаторы маркировки DBS
      summary: Получить идентификаторы маркировки сборочных заданий
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [27 июля](https://dev.wildberries.ru/release-notes?id=508)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления идентификаторов маркировки DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 150 запросов | 400 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrdersMetaResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/delete:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Идентификаторы маркировки DBS
      summary: Удалить идентификаторы маркировки сборочных заданий
      description: |
        Метод удаляет значение указанных [идентификаторов маркировки](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post) для нескольких сборочных заданий.
        <br><br>
        В одном запросе можно удалить идентификаторы маркировки только одного типа. Укажите тип идентификаторов маркировки в запросе:
          - `imei` — [IMEI](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1imei/post)
          - `uin` — [УИН](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1uin/post)
          - `gtin` — [GTIN](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1gtin/post)
          - `sgtin` — [код маркировки](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post)
          - `customsDeclaration` — [номер ДТ](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1meta~1customs-declaration/post)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления идентификаторов маркировки DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 150 запросов | 400 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersMetaDeleteRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '409':
          description: Ошибка удаления идентификаторов маркировки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/sgtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Идентификаторы маркировки DBS
      summary: Закрепить коды маркировки Честного знака за сборочными заданиями
      description: |
        Метод обновляет код маркировки [Честного знака](https://честныйзнак.рф/) в [идентификаторах маркировки](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post) нескольких сборочных заданий.<br>
        Закрепить код маркировки Честного знака можно, только если в [идентификаторах маркировки сборочного задания](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post) есть поле `sgtin`, а сборочное задание находится в [статусе](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `confirm` — на сборке.
        <br><br>
        Получить загруженные маркировки можно в [идентификаторах маркировки сборочного задания](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки DBS</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 500 запросов | 120 мс | 20 запросов |
        | Сервисный | 1 мин | 500 запросов | 120 мс | 20 запросов |
        | Базовый с секретом | 1 мин | 500 запросов | 120 мс | 20 запросов |
        | Базовый | 1 ч | 10 запросов | 6 мин | 1 запрос |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersSGTINsSetRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/uin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Идентификаторы маркировки DBS
      summary: Закрепить УИН за сборочными заданиями
      description: |
        Метод обновляет УИН, уникальный идентификационный номер, в [идентификаторах маркировки сборочных заданий](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post).<br>
        У одного сборочного задания может быть только один УИН.
        Добавлять УИН можно только для сборочных заданий, которые доставляются WB и находятся в [статусе](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 500 запросов | 120 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersUINSetRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '409':
          description: Ошибка обновления идентификаторов маркировки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/imei:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Идентификаторы маркировки DBS
      summary: Закрепить IMEI за сборочными заданиями
      description: |
        Метод обновляет IMEI в [идентификаторых маркировки](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post) нескольких сборочных заданий.<br>
        У одного сборочного задания может быть только один IMEI.
        Добавлять IMEI можно только для сборочных заданий, которые доставляются WB и находятся в [статусе](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `confirm`.<br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 500 запросов | 120 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersIMEISetRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '409':
          description: Ошибка обновления идентификаторов маркировки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/gtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Идентификаторы маркировки DBS
      summary: Закрепить GTIN за сборочными заданиями
      description: |
        Метод обновляет GTIN, уникальный ID товара в Беларуси, в [идентификаторах маркировки](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post) нескольких сборочных заданий.<br>
        У одного сборочного задания может быть только один GTIN.
        Добавлять GTIN можно только для сборочных заданий, которые доставляются WB и находятся в [статусе](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `confirm`.<br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 500 запросов | 120 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersGTINSetRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '409':
          description: Ошибка обновления идентификаторов маркировки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/customs-declaration:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Идентификаторы маркировки DBS
      summary: Закрепить за сборочными заданиями номер ДТ
      description: |
        Метод обновляет номер ДТ — декларации на товары — в [идентификаторах маркировки сборочных заданий](/openapi/orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post).
        <br><br>
        У одного сборочного задания может быть только один ДТ.

        Добавлять номер ДТ можно только для сборочных заданий, которые находятся в [статусе](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1status/post) `deliver`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 500 запросов | 120 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orders:
                  type: array
                  maxItems: 1000
                  items:
                    type: object
                    properties:
                      customsDeclaration:
                        type: string
                        minLength: 17
                        maxLength: 29
                        description: Номер ДТ
                        example: 10704010/010624/0000302
                      orderId:
                        type: integer
                        description: ID сборочного задания
                    required:
                      - customsDeclaration
                      - orderId
      responses:
        '204':
          description: Обновлено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка добавления маркировки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
components:
  securitySchemes:
    HeaderApiKey:
      type: apiKey
      name: Authorization
      in: header
  parameters:
    Next:
      name: next
      in: query
      required: true
      schema:
        type: integer
        format: int64
      description: Параметр пагинации. Устанавливает значение, с которого надо получить следующий пакет данных. Для получения полного списка данных должен быть равен `0` в первом запросе. Для следующих запросов необходимо брать значения из одноименного поля в ответе.
    Limit:
      name: limit
      in: query
      required: true
      schema:
        type: integer
        minimum: 1
        maximum: 1000
      description: Параметр пагинации. Устанавливает предельное количество возвращаемых данных.
  examples:
    IncorrectRequestBody:
      description: Некорректное тело запроса
      value:
        code: IncorrectRequestBody
        message: Некорректное тело запроса
    IncorrectRequest:
      value:
        code: IncorrectRequest
        message: Переданы некорректные данные
    IncorrectRequest1:
      description: Некорректный запрос
      value:
        code: IncorrectRequest
        message: ''
    IncorrectParameter:
      value:
        code: IncorrectParameter
        message: Передан некорректный параметр
    FailedToUpdateMeta:
      value:
        code: FailedToUpdateMeta
        message: Не удалось обновить идентификаторы маркировки сборочного задания. Убедитесь, что сборочное задание удовлетворяет всем необходимым требованиям (сборочное задание существует, находится в статусе "На сборке", сборочному заданию доступны идентификаторы маркировки см. описание метода **Получить идентификаторы маркировки сборочного задания**)
    StatusMismatch:
      value:
        code: StatusMismatch
        message: Несоответствие статусов, проверьте их правильность
  responses:
    '401':
      description: Не авторизован
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: Уникальный ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          example:
            title: unauthorized
            detail: 'token problem; token is malformed: could not base64 decode signature: illegal base64 data at input byte 84'
            code: 07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: s2s-api-auth-catalog
            status: 401
            statusText: Unauthorized
            timestamp: '2024-09-30T06:52:38Z'
    '402':
      description: Требуется платёж
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки. Ошибка возвращается только сервисам из [Каталога решений для бизнеса](https://dev.wildberries.ru/business-solutions)
          example:
            title: payment required
            detail: wb solution for business has insufficient funds on its balance. please top up the balance in the company's personal account https://dev.wildberries.ru/company
    '429':
      description: Слишком много запросов
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: Уникальный ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: 07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: s2s-api-auth-catalog
            status: 429
            statusText: Too Many Requests
            timestamp: '2024-09-30T06:52:38Z'
    NotFound:
      description: Не найдено
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: NotFound
            message: ''
    AccessDenied:
      description: Доступ запрещён
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: AccessDenied
            message: ''
  schemas:
    api.OrderGroupsRequest:
      type: object
      properties:
        groups:
          type: array
          maxItems: 1000
          description: Список значений `groupId`. Можно получить из [новых](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1new/get) и [завершенных](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders/get) сборочных заданий
          items:
            type: string
      example:
        groups:
          - 7a2c8810-1db2-4011-9682-5c7fa33afd83
          - 5a8f4523-4cf2-5691-9682-5a7fd33afd73
    Error:
      type: object
      nullable: false
      properties:
        code:
          type: string
          description: Код ошибки
          nullable: false
        message:
          type: string
          description: Описание ошибки
          nullable: false
        data:
          type: object
          description: Дополнительные данные ошибки
          nullable: true
    OrdersRequestAPI:
      properties:
        orders:
          description: Список ID сборочных заданий
          items:
            type: integer
          type: array
      type: object
      example:
        orders:
          - 987654321
          - 123456789
    api.OrderGroup:
      type: array
      nullable: true
      items:
        type: object
        properties:
          groupID:
            description: ID группы сборочных заданий
            type: string
            format: UUID
            example: 0596a30a-d11c-4210-a231-ee1c39d61fe4
          deliveryCost:
            description: Стоимость платной доставки в валюте продажи, умноженная на 100
            type: integer
            example: 1108
          convertedDeliveryCost:
            description: Стоимость платной доставки в валюте страны продавца, умноженная на 100. Предоставляется в информационных целях.
            type: integer
            example: 29803
          currencyCode:
            description: Код валюты продажи
            format: ISO 4217
            type: integer
            example: 933
          convertedCurrencyCode:
            description: Код валюты страны продавца
            type: integer
            example: 643
    DeliveryDatesRequest:
      properties:
        orders:
          description: Список ID сборочных заданий
          items:
            type: integer
            minItems: 1
            maxItems: 1000
          type: array
      type: object
      example:
        orders:
          - 1234567890
    Next:
      type: integer
      format: int64
      nullable: false
      description: Параметр пагинации. Содержит значение, которое необходимо указать в запросе для получения следующего пакета данных
      example: 13833711
    OrderNewDBS:
      type: object
      properties:
        salePrice:
          description: |
            Цена в валюте продажи с учетом скидки продавца, без учета скидки WB Клуба, умноженная на 100. Предоставляется в информационных целях
          type: integer
          nullable: true
          example: 504658
        requiredMeta:
          description: Список идентификаторов маркировки, доступных для сборочного задания. [Указывать IMEI](./orders-dbs#tag/dbs-label-identifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1imei/post) обязательно для [предмета](./work-with-products/#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1all/get) `Смартфоны`, `"subjectId":515`
          type: array
          nullable: true
          items:
            type: string
          example:
            - uin
        comment:
          type: string
          nullable: false
          description: Комментарий покупателя
          maxLength: 300
          example: Упакуйте в пленку, пожалуйста
        options:
          type: object
          description: Опции заказа
          properties:
            isB2b:
              type: boolean
              description: |
                Признак B2B-продажи:
                  - `false` — не B2B-продажа
                  - `true` — B2B-продажа
        address:
          type: object
          nullable: false
          description: |
            Адрес покупателя для доставки. При доставке заказов в ПВЗ указан адрес ПВЗ
          properties:
            fullAddress:
              description: Адрес доставки
              type: string
              example: Челябинская область, г. Челябинск, 51-я улица Арабкира, д. 10А, кв. 42
            longitude:
              type: number
              format: float64
              nullable: false
              description: Долгота
              example: 44.519068
            latitude:
              type: number
              format: float64
              nullable: false
              description: Широта
              example: 40.20192
        orderUid:
          type: string
          description: ID транзакции для группировки сборочных заданий. Сборочные задания в одной корзине покупателя будут иметь одинаковый `orderUID`
          example: 165918930_629fbc924b984618a44354475ca58675
        groupId:
          description: ID группы сборочных заданий. <br> Объединяет сборочные задания, поступившие на один склад (`warehouseId`) в рамках одной транзакции покупателя (`orderUid`)
          type: string
          format: UUID
          example: 7a2c8810-1db2-4011-9682-5c7fa33afd83
        article:
          type: string
          nullable: false
          description: Артикул продавца
          example: one-ring-7548
        colorCode:
          description: Код цвета (только для колеруемых товаров)
          type: string
          nullable: false
          example: RAL 3017
        rid:
          description: |
            Уникальный ID заказа. <br>
            Примечание: `rid` — это `srid` в ответах методов:
              - [Заявки покупателей на возврат](./user-communication#tag/Vozvraty-pokupatelyami/paths/~1api~1v1~1claims/get)
              - [Заказы](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1orders/get)
              - [Продажи](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1sales/get)
              - [Отчёт о возвратах и перемещении товаров](./reports#tag/Otchyot-o-vozvratah-i-peremeshenii-tovarov)
              - [Детализации к отчётам реализации по ID отчётов](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1SalesReportsDetailedReportId)
              - [Детализации к отчётам реализации за период](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1SalesReportsDetailed)
              - [Детализации к отчётам об издержках на приём платежей по ID отчётов](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1AcquiringDetailedReportId)
              - [Детализации к отчётам об издержках на приём платежей за период](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1AcquiringDetailed)
          example: f884001e44e511edb8780242ac120002
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: Дата создания сборочного задания
          example: '2022-05-04T07:56:29Z'
        deliveryType:
          type: string
          nullable: false
          description: |
            Тип доставки:
              - `dbs` — доставка силами продавца
              - `dbsPickupPoint` — доставка силами продавца в ПВЗ
              - `edbs` — экспресс-доставка силами продавца
          enum:
            - dbs
            - edbs
            - dbsPickupPoint
        skus:
          type: array
          nullable: false
          description: Массив баркодов товара
          items:
            type: string
            example: '6665956397512'
        id:
          type: integer
          format: int64
          nullable: false
          description: ID сборочного задания
          example: 13833711
        warehouseId:
          type: integer
          nullable: false
          description: ID склада продавца, на который поступило сборочное задание
          example: 658434
        nmId:
          type: integer
          nullable: false
          description: Артикул WB
          example: 123456789
        chrtId:
          type: integer
          nullable: false
          description: ID размера товара в системе WB
          example: 987654321
        price:
          type: integer
          nullable: false
          description: Цена в валюте продажи с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          example: 1014
        finalPrice:
          description: Сумма к оплате покупателем в валюте продажи с учетом всех скидок, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          type: integer
          example: 1014
        convertedFinalPrice:
          description: Сумма к оплате покупателем в валюте страны продавца с учетом всех скидок, умноженная на 100. Предоставляется в информационных целях
          type: integer
          example: 1014
        convertedPrice:
          type: integer
          nullable: false
          description: Цена в валюте страны продавца с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Предоставляется в информационных целях
          example: 1014
        currencyCode:
          type: integer
          nullable: false
          format: ISO 4217
          description: Код валюты продажи
          example: 643
        convertedCurrencyCode:
          type: integer
          nullable: false
          format: ISO 4217
          description: Код валюты страны продавца
          example: 643
        cargoType:
          type: integer
          nullable: false
          description: |
            Тип товара:
              - `1` — малогабаритный товар (МГТ)
              - `2` — сверхгабаритный товар (СГТ)
              - `3` — крупногабаритный товар (КГТ+)
          enum:
            - 1
            - 2
            - 3
        isZeroOrder:
          type: boolean
          description: |
            Признак заказа товара с нулевым остатком:
              - `false` — заказ сделан на товар с ненулевым остатком
              - `true` — заказ сделан на товар с нулевым остатком. Такой заказ можно отменить без штрафа за отмену
          example: false
        wbStickerId:
          type: integer
          description: ID стикера. Отображается только для заказов в ПВЗ
          nullable: false
          example: 123456
    OrderDBS:
      type: object
      properties:
        address:
          type: object
          nullable: true
          description: Адрес покупателя для доставки. При доставке заказов в ПВЗ указан адрес ПВЗ
          properties:
            fullAddress:
              description: Адрес доставки
              type: string
              example: Челябинская область, г. Челябинск, 51-я улица Арабкира, д. 10А, кв. 42
            longitude:
              type: number
              format: float64
              nullable: false
              description: Долгота
              example: 44.519068
            latitude:
              type: number
              format: float64
              nullable: false
              description: Широта
              example: 40.20192
        deliveryType:
          type: string
          nullable: false
          description: |
            Тип доставки:
              - `dbs` — доставка силами продавца
              - `dbsPickupPoint` — доставка силами продавца в ПВЗ
              - `edbs` — экспресс-доставка силами продавца
        options:
          type: object
          description: Опции заказа
          properties:
            isB2b:
              type: boolean
              description: |
                Признак B2B-продажи:
                  - `false` — не B2B-продажа
                  - `true` — B2B-продажа
        orderUid:
          type: string
          description: ID транзакции для группировки сборочных заданий. Сборочные задания в одной корзине покупателя будут иметь одинаковый `orderUID`
          example: 165918930_629fbc924b984618a44354475ca58675
        groupId:
          description: ID группы сборочных заданий. <br> Объединяет сборочные задания, поступившие на один склад (`warehouseId`) в рамках одной транзакции покупателя (`orderUid`)
          type: string
          format: UUID
          example: 7a2c8810-1db2-4011-9682-5c7fa33afd83
        article:
          type: string
          nullable: false
          description: Артикул продавца
          example: one-ring-7548
        colorCode:
          type: string
          nullable: false
          description: Код цвета (только для колеруемых товаров)
          example: RAL 3017
        rid:
          description: |
            Уникальный ID заказа. <br>
            Примечание: `rid` — это `srid` в ответах методов:
              - [Заявки покупателей на возврат](./user-communication#tag/Vozvraty-pokupatelyami/paths/~1api~1v1~1claims/get)
              - [Заказы](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1orders/get)
              - [Продажи](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1sales/get)
              - [Отчёт о возвратах и перемещении товаров](./reports#tag/Otchyot-o-vozvratah-i-peremeshenii-tovarov)
              - [Детализации к отчётам реализации по ID отчётов](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1SalesReportsDetailedReportId)
              - [Детализации к отчётам реализации за период](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1SalesReportsDetailed)
              - [Детализации к отчётам об издержках на приём платежей по ID отчётов](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1AcquiringDetailedReportId)
              - [Детализации к отчётам об издержках на приём платежей за период](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1AcquiringDetailed)
          example: f884001e44e511edb8780242ac120002
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: Дата создания сборочного задания
          example: '2022-05-04T07:56:29Z'
        skus:
          type: array
          nullable: false
          description: Массив баркодов товара
          items:
            type: string
            example: '6665956397512'
        id:
          type: integer
          format: int64
          nullable: false
          description: ID сборочного задания
          example: 13833711
        warehouseId:
          type: integer
          nullable: false
          description: ID склада продавца, на который поступило сборочное задание
          example: 658434
        nmId:
          type: integer
          nullable: false
          description: Артикул WB
          example: 12345678
        chrtId:
          type: integer
          nullable: false
          description: ID размера товара в системе WB
          example: 987654321
        scanPrice:
          type: integer
          nullable: true
          description: Цена приёмки заказов в ПВЗ, в копейках. Отображается только для заказов в ПВЗ
          example: 50
        price:
          type: integer
          nullable: false
          description: Цена в валюте продажи с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          example: 1014
        convertedPrice:
          type: integer
          nullable: false
          description: Цена в валюте страны продавца с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Предоставляется в информационных целях
          example: 1014
        currencyCode:
          type: integer
          nullable: false
          format: ISO 4217
          description: Код валюты продажи
          example: 643
        convertedCurrencyCode:
          type: integer
          nullable: false
          format: ISO 4217
          description: Код валюты страны продавца
          example: 643
        convertedFinalPrice:
          description: Сумма к оплате покупателем в валюте страны продавца с учетом всех скидок, умноженная на 100. Предоставляется в информационных целях
          type: integer
          example: 1014
        finalPrice:
          description: Сумма к оплате покупателем в валюте продажи с учетом всех скидок, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          type: integer
          example: 1014
        cargoType:
          type: integer
          nullable: false
          description: |
            Тип товара:
              - `1` — малогабаритный товар (МГТ)
              - `2` — сверхгабаритный товар (СГТ)
              - `3` — крупногабаритный товар (КГТ+)
          enum:
            - 1
            - 2
            - 3
        comment:
          type: string
          nullable: false
          description: Комментарий покупателя
          maxLength: 300
          example: Упакуйте в пленку, пожалуйста
        isZeroOrder:
          type: boolean
          description: |
            Признак заказа товара с нулевым остатком:
              - `false` — заказ сделан на товар с ненулевым остатком
              - `true` — заказ сделан на товар с нулевым остатком. Такой заказ можно отменить без штрафа за отмену
          example: false
        wbStickerId:
          type: integer
          description: ID стикера. Отображается только для заказов в ПВЗ
          nullable: false
          example: 123456
    DbsOnlyClientInfo:
      properties:
        replacementPhone:
          type: string
          description: |
            Подменный номер для связи с покупателем. <br>
            Пустое значение `""` указывает, что номер еще не назначен <br>
          example: '79871234567'
          nullable: false
        firstName:
          type: string
          description: Имя покупателя
          nullable: false
        fullName:
          type: string
          description: Полное имя, используется для оформления документов. Например, документы на автомобиль
          example: Иван Иван Иванович
          nullable: false
        orderID:
          type: integer
          description: ID сборочного задания
          example: 134567
        phone:
          type: string
          description: |
            Резервный подменный номер телефона для связи с покупателем. <br>
            Используйте, если недоступен основной номер из `replacementPhone`.
            Чтобы позвонить покупателю, наберите этот номер и добавочный код из `phoneCode`. <br>
            Пустое значение `""` указывает, что номер ещё не назначен
          example: '+79871234567'
          nullable: false
        phoneCode:
          type: integer
          description: |
            Добавочный код. <br>
            Пустое значение `""` указывает, что код ещё не назначен
          example: 1234567
          nullable: false
        additionalPhoneCodes:
          nullable: false
          type: array
          items:
            type: string
          description: |
            Дополнительные добавочные коды. <br>
            Используйте, если не получилось дозвониться по добавочному коду из `phoneCode`.<br>
            Пустое значение `""` указывает, что код ещё не назначен
          example:
            - '12345'
            - '65498'
      type: object
    DbsOnlyClientInfoResp:
      properties:
        orders:
          nullable: true
          description: Информация о покупателе
          items:
            $ref: '#/components/schemas/DbsOnlyClientInfo'
          type: array
      type: object
    DeliveryDatesInfoResp:
      type: object
      properties:
        orders:
          type: array
          items:
            type: object
            properties:
              dTimeFrom:
                type: string
                nullable: true
                description: Актуальное время доставки "с"
                example: '11:11'
              dTimeTo:
                type: string
                nullable: true
                description: Актуальное время доставки "по"
                example: '22:22'
              dTimeFromOld:
                type: string
                nullable: true
                description: Прежнее время доставки "с". Доступно первые сутки после изменения
                example: '12:30'
              dTimeToOld:
                type: string
                nullable: true
                description: Прежнее время доставки "по". Доступно первые сутки после изменения
                example: '22:30'
              dDateOld:
                type: string
                nullable: true
                description: Прежняя дата доставки. Доступна первые сутки после изменения
                example: '2025-01-28'
              dDate:
                type: string
                nullable: false
                description: Актуальная дата доставки
                example: '2025-02-20'
              id:
                type: integer
                description: ID сборочного задания
                example: 1234567890
    api.OrdersMetaDeleteRequest:
      type: object
      required:
        - key
        - orderIds
      properties:
        key:
          type: string
          enum:
            - imei
            - uin
            - gtin
            - sgtin
            - customsDeclaration
          example: imei
          description: Название идентификатора маркировки для удаления. Передаётся только одно значение
        orderIds:
          type: array
          description: Список ID сборочных заданий
          maxItems: 1000
          example:
            - 123456
            - 234567
          items:
            type: integer
    api.OrdersGTINSetRequest:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/api.GTIN'
    api.GTIN:
      type: object
      properties:
        gtin:
          description: GTIN
          minLength: 13
          maxLength: 13
          type: string
          example: '1234567890123'
        orderId:
          description: ID сборочного задания
          type: integer
          example: 123456
    api.OrdersIMEISetRequest:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/api.IMEI'
    api.IMEI:
      type: object
      properties:
        orderId:
          description: ID сборочного задания
          type: integer
          example: 123456
        imei:
          type: string
          minLength: 15
          maxLength: 15
          description: IMEI
          example: '654321741987258'
    api.OrdersSGTINsSetRequest:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/api.SGTINs'
    api.SGTINs:
      type: object
      properties:
        orderId:
          description: ID сборочного задания
          type: integer
          example: 123456
        sgtins:
          type: array
          minItems: 1
          maxItems: 24
          description: Массив кодов маркировки Честного знака. Допускается от 16 до 135 символов для кода одной маркировки
          example:
            - '123456789012345678'
            - '1234567890123456'
          items:
            type: string
    api.OrdersUINSetRequest:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/api.UIN'
    api.UIN:
      type: object
      properties:
        orderId:
          description: ID сборочного задания
          type: integer
          example: 123456
        uin:
          type: string
          minLength: 16
          maxLength: 16
          description: УИН
          example: '1234568909091232'
    api.OrdersRequestV2:
      type: object
      properties:
        ordersIds:
          description: Список ID сборочных заданий
          example:
            - 123456
            - 234567
          maxItems: 1000
          type: array
          items:
            type: integer
    api.StatusSetResponses:
      type: object
      example:
        requestId: 03615778-eb9e-4f55-b4Of-fd3ac0fad2сc
        results:
          - orderId: 4299281547
            isError: true
            errors:
              - code: 404
                detail: NotFound
          - orderId: 4279781545
            isError: false
      properties:
        requestId:
          type: string
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
        results:
          type: array
          items:
            $ref: '#/components/schemas/api.StatusSetResponse'
    api.StatusSetResponse:
      type: object
      properties:
        errors:
          items:
            $ref: '#/components/schemas/api.BatchErrorResponse'
          type: array
          description: Детали ошибки
        isError:
          type: boolean
          description: Есть ли ошибки
          example: true
        orderId:
          type: integer
          description: ID сборочного задания с успешно обновлёнными данными
          example: 123456
    api.StatusSetDeliverResponses:
      type: object
      example:
        requestId: 03615778-eb9e-4f55-b4Of-fd3ac0fad2сc
        results:
          - orderId: 4299281547
            isError: true
            errors:
              - code: 404
                detail: NotFound
          - orderId: 1234567890
            isError: true
            errors:
              - code: 409
                detail: MetaValidationFail
                metaDetails:
                  - key: sgtin
                    value: 0102900304495480215KE
                    decision: sgtinInvalidFormat
          - orderId: 4279781545
            isError: false
      properties:
        requestId:
          type: string
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
        results:
          type: array
          items:
            $ref: '#/components/schemas/api.StatusSetDeliverResponse'
    api.StatusSetDeliverResponse:
      type: object
      properties:
        errors:
          items:
            $ref: '#/components/schemas/api.BatchErrorDeliverResponse'
          type: array
          description: Детали ошибки
        isError:
          type: boolean
          description: Есть ли ошибки
          example: true
        orderId:
          type: integer
          description: ID сборочного задания с успешно обновлёнными данными
          example: 123456
    api.OrdersMetaDetailsResponse:
      type: object
      required:
        - requestId
      properties:
        requestId:
          type: string
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
        orders:
          type: array
          description: Идентификаторы маркировки сборочных заданий и статусы их валидации
          items:
            type: object
            required:
              - isError
            properties:
              orderId:
                type: integer
                example: 123456
                description: ID сборочного задания
              isError:
                type: boolean
                description: Есть ли ошибки
                example: false
              errors:
                type: array
                example: []
                description: Информация об ошибке
                items:
                  type: object
                  properties:
                    code:
                      type: integer
                      description: Код ошибки
                      example: 404
                    detail:
                      type: string
                      example: NotFound
                      description: Дополнительная информация об ошибке
              metaDetails:
                type: array
                description: Идентификаторы маркировки и статусы их валидации
                items:
                  type: object
                  properties:
                    key:
                      type: string
                      example: sgtin
                      description: Идентификатор маркировки
                    value:
                      type: string
                      nullable: true
                      description: Значение идентификатора маркировки
                      example: '123456789012345'
                    decision:
                      type: string
                      example: sgtinIntroduced
                      description: |
                        Статус проверки:
                        - `imei`
                          - `pending` — Маркировка на проверке
                          - `optional` — Маркировка не обязательна
                          - `filled` — Валидация пройдена
                          - `deadlineExceeded` — Валидация пройдена
                          - `imeiMaySell` — Товар допущен к продаже. Валидация пройдена
                          - `imeiSoldB2B` — Товар продан покупателю B2B, допущен к продаже повторно. Валидация пройдена
                          - `required` — Обязательная маркировка не заполнена. Валидация не пройдена
                          - `imeiInvalidFormat` — Неверный формат маркировки. Валидация не пройдена
                          - `imeiAlreadySold` — Товар с этим IMEI уже продан. Валидация не пройдена
                        - `uin`
                          - `optional` — Маркировка не обязательна
                          - `filled` — Валидация пройдена
                        - `sgtin`
                          - `pending` — Маркировка на проверке
                          - `optional` — Маркировка не обязательна
                          - `filled` — Валидация пройдена
                          - `deadlineExceeded` — Валидация пройдена
                          - `sgtinIntroduced` — Товар допущен к продаже. Валидация пройдена
                          - `sgtinSoldB2B` — Товар продан покупателю B2B, допущен к продаже повторно. Валидация пройдена
                          - `required` — Обязательная маркировка не заполнена. Валидация не пройдена
                          - `sgtinInvalidFormat` — Неверный формат маркировки. Валидация не пройдена
                          - `sgtinNotFound` — Маркировка не найдена в [Честном Знаке](https://chestnyznak.ru). Валидация не пройдена
                          - `sgtinEmitted` —  Маркировка эмитирована. Валидация не пройдена
                          - `sgtinApplied` — Не пройдена процедура Ввод в оборот. Валидация не пройдена
                          - `sgtinWrittenOff` — Списан. Валидация не пройдена
                          - `sgtinRetired` — Выбыл. Валидация не пройдена
                          - `sgtinWithdrawn` — Выбыл. Валидация не пройдена
                          - `sgtinDisaggregation` — Расформирован. Валидация не пройдена
                          - `sgtinDisaggregated` — Расформирован. Валидация не пройдена
                          - `sgtinAppliedNotPaid` — Не оплачен. Валидация не пройдена
                        - `gtin`
                          - `optional` — Маркировка не обязательна
                          - `filled` — Валидация пройдена
                        - `customsDeclaration`
                          - `optional` — Маркировка не обязательна
                          - `filled` — Валидация пройдена
    api.OrdersMetaResponse:
      type: object
      properties:
        meta:
          type: array
          description: Идентификаторы маркировки сборочных заданий
          items:
            $ref: '#/components/schemas/api.OrderMetaV2'
    api.OrderMetaV2:
      type: object
      properties:
        error:
          type: string
          description: |
            Сообщение об ошибке. <br>
            Если `error: not found`, сборочное задание не найдено
          example: ''
        gtin:
          type: string
          description: GTIN
          example: '123456789012345'
        imei:
          type: string
          description: IMEI
          example: '123456789012345'
        orderId:
          type: integer
          description: ID сборочного задания
          example: 654321
        sgtin:
          type: array
          description: Код маркировки Честного знака
          items:
            type: string
            example: '123456789012345'
        uin:
          type: string
          description: УИН
          example: '123456789012345'
        customsDeclaration:
          type: object
          properties:
            value:
              type: string
              example: 10704010/010624/0000302
              nullable: true
          description: Номер грузовой таможенной декларации
    api.OrderStatusesV2:
      type: object
      example:
        orders:
          - supplierStatus: confirm
            wbStatus: waiting
            errors: []
            orderId: 123456
          - supplierStatus: ''
            wbStatus: ''
            errors:
              - code: 404
                detail: NotFound
            orderId: 789012
      properties:
        orders:
          type: array
[...]
