openapi: 3.0.1
info:
  title: Заказы Самовывоз
  x-file-name: in-store-pickup
  description: |
    <div class="api-block">

    Управление [сборочными заданиями](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) и [идентификаторами маркировки](/openapi/in-store-pickup#tag/in-store-pickup-label-identifiers) заказов модели Самовывоз.

    </div>
  version: instorepickup
servers:
  - url: https://marketplace-api.wildberries.ru
security:
  - HeaderApiKey: []
tags:
  - name: Сборочные задания Самовывоз
    description: ''
  - name: Идентификаторы маркировки Самовывоз
    x-displayName: Идентификаторы маркировки Самовывоз
    description: ''
paths:
  /api/v3/click-collect/orders/new:
    get:
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Получить список новых сборочных заданий
      description: |
        Метод возвращает список всех новых [сборочных заданий](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz), которые есть у продавца на момент запроса.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.NewOrders'
              examples:
                NewOrderClick:
                  $ref: '#/components/examples/NewOrderClick'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/status/confirm:
    post:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Перевести сборочные задания на сборку
      description: |
        Метод переводит [сборочные задания](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) из [статуса](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) `new` — новый — в статус `confirm` — на сборке.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | <no value> | <no value> | <no value> | <no value> |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDeniedBatch'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/status/prepare:
    post:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Сообщить, что сборочные задания готовы к выдаче
      description: |
        Метод переводит [сборочные задания](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) из [статуса](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) `confirm` — на сборке — в статус `prepare` — готово к выдаче.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | <no value> | <no value> | <no value> | <no value> |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDeniedBatch'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/click-collect/orders/client:
    post:
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Информация о покупателе
      description: |
        Метод возвращает информацию о покупателе по ID сборочного задания.
        <br><br>
        Доступно только для сборочных заданий в статусах:
          - `confirm` — на сборке
          - `prepare` — готов к выдаче

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequest'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrderClientInfoResp'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/click-collect/orders/client/identity:
    post:
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Проверить, что заказ принадлежит покупателю
      description: |
        Метод сообщает, принадлежит ли проверяемый заказ покупателю или нет по переданному коду.
        <br><br>
        Доступно, если хотя бы одно сборочное задание из заказа находится в статусе prepare - готов к выдаче.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 30 запросов | 2 сек | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.CheckIdentityRequest'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.CheckedIdentity'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
              examples:
                OrderNotFound:
                  $ref: '#/components/examples/OrderNotFound'
        '409':
          description: Введён неверный проверочный код
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
              examples:
                InvalidPasscode:
                  $ref: '#/components/examples/InvalidPasscode'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/status/receive:
    post:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Сообщить, что заказы приняты покупателями
      description: |
        Метод переводит [сборочные задания](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) из [статуса](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) `prepare` — готово к выдаче — в статус `receive` — получено покупателем.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | <no value> | <no value> | <no value> | <no value> |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDeniedBatch'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/status/reject:
    post:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Сообщить об отказе от заказов
      description: |
        Метод переводит [сборочные задания](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) из [статуса](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) `prepare` — готово к выдаче — в статус `reject` — отказ при получении.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | <no value> | <no value> | <no value> | <no value> |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDeniedBatch'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/status/info:
    post:
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Получить статусы сборочных заданий
      description: "Метод возвращает статусы [сборочных заданий](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) по их ID.\n<br><br>\n`supplierStatus` — статус сборочного задания. Триггер его изменения - действие самого продавца.\n\nВозможные значения `supplierStatus`:\n| Статус   | Описание            | Как перевести сборочное задание в данный статус |\n| -------  | ---------           | --------------------------------------|\n| `new`      | **Новое сборочное задание** |\n| `confirm`  | **На сборке**  | \t[Перевести сборочное задание на сборку](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1confirm/post)\n| `prepare`  | **Готов к выдаче** | \t[Сообщить, что сборочное задание готово к выдаче](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1prepare/post)\n| `receive`  | **Получено покупателем**   | [Сообщить, что заказ принят покупателем](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1receive/post)\n| `reject`  | **Отказ покупателя при получении**    |  \t[Сообщить, что покупатель отказался от заказа](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1reject/post)\n| `cancel`   | **Отменено продавцом**    |  \t[Отменить сборочное задание](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1cancel/post)\n| `cancel_shelf_life` | **Отмена по истечении срока хранения**    |  \tПереводится автоматически по возникновению события\n\n<br><br>\n`wbStatus` — статус системы Wildberries.\n\nВозможные значения `wbStatus`:\n- `waiting` - сборочное задание в работе\n- `sold` - заказ получен покупателем\n- `canceled` - отмена сборочного задания\n- `canceled_by_client` - покупатель отменил заказ при получении\n- `declined_by_client` - покупатель отменил заказ в первый чаc\n<br> Отмена доступна покупателю в первый час с момента заказа, если заказ не переведён на сборку\n- `defect` - отмена заказа по причине брака\n- `ready_for_pickup` - заказ готов к выдаче\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Vvedenie/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| <no value> | <no value> | <no value> | <no value> |\n\nОдин запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов\n</div>\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrderStatusesV2'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDeniedBatch'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/click-collect/orders:
    get:
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Получить информацию о завершённых сборочных заданиях
      description: |
        Метод возвращает информацию о завершённых сборочных заданиях после продажи или отмены заказа.

        Можно получить данные за заданный период, максимум 30 календарных дней одним запросом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      parameters:
        - name: limit
          in: query
          description: |
            Параметр пагинации. Устанавливает предельное количество возвращаемых
            данных.
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: next
          in: query
          description: |
            Параметр пагинации. Устанавливает значение, с которого необходимо получить
            следующий пакет данных. Для получения полного списка данных должен
            быть равен `0` в первом запросе. Для следующих запросов необходимо
            брать значения из одноимённого поля в ответе
          required: true
          schema:
            type: integer
        - name: dateFrom
          in: query
          description: Дата начала периода в формате Unix timestamp
          required: true
          schema:
            type: integer
        - name: dateTo
          in: query
          description: Дата конца периода в формате Unix timestamp
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Orders'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/status/cancel:
    post:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Отменить сборочные задания
      description: |
        Переводит [сборочные задания](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) из [статусов](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) `new`, `confirm`, `prepare` в статус `cancel` — отменено продавцом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | <no value> | <no value> | <no value> | <no value> |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDeniedBatch'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/meta/info:
    post:
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Идентификаторы маркировки Самовывоз
      summary: Получить идентификаторы маркировки сборочных заданий
      description: |
        Метод возвращает идентификаторы маркировки [сборочных заданий](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz).
        <br><br>
        Перечень идентификаторов маркировки, доступных для сборочного задания, можно получить в [списке новых сборочных заданий](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1v3~1click-collect~1orders~1new/get), поле `requiredMeta`.
        <br><br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 150 запросов | 400 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrdersMetaResponse'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDeniedBatch'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/meta/delete:
    post:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Идентификаторы маркировки Самовывоз
      summary: Удалить идентификаторы маркировки сборочных заданий
      description: |
        Метод удаляет значения указанных [идентификаторов маркировки](/openapi/in-store-pickup#tag/in-store-pickup-label-identifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1info/post) для нескольких сборочных заданий.
        <br><br>
        Одним запросом можно удалить идентификаторы маркировки только одного типа: `imei`, `uin`, `gtin` или `sgtin`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 150 запросов | 400 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersMetaDeleteRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrdersResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/meta/sgtin:
    post:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Идентификаторы маркировки Самовывоз
      summary: Закрепить коды маркировки Честного знака за сборочными заданиями
      description: |
        Метод обновляет код маркировки [Честного знака](https://честныйзнак.рф/) в [идентификаторах маркировки](/openapi/in-store-pickup#tag/in-store-pickup-label-identifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1info/post) нескольких сборочных заданий.<br>
        Закрепить код маркировки Честного знака можно, только если в [идентификаторах маркировки сборочного задания](/openapi/in-store-pickup#tag/in-store-pickup-label-identifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1info/post) есть поле `sgtin`, а сборочное задание находится в [статусе](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) `confirm`.
        <br><br>
        Получить загруженные маркировки можно в [идентификаторах маркировки сборочного задания](/openapi/in-store-pickup#tag/in-store-pickup-label-identifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1info/post).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 20 запросов | 3 сек | 500 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersSGTINsSetRequest'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MetaSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/meta/uin:
    post:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Идентификаторы маркировки Самовывоз
      summary: Закрепить УИН за сборочными заданиями
      description: |
        Метод обновляет УИН, уникальные идентификационные номера, в [идентификаторах маркировки сборочных заданий](/openapi/in-store-pickup#tag/in-store-pickup-label-identifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1info/post). У одного сборочного задания может быть
        только один УИН. Добавлять УИН можно только для сборочных заданий в [статусе](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post)
        `confirm` и доставка которых осуществляется силами WB.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 20 запросов | 3 сек | 500 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersUINSetRequest'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MetaSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/meta/imei:
    post:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Идентификаторы маркировки Самовывоз
      summary: Закрепить IMEI за сборочными заданиями
      description: |
        Метод обновляет IMEI в [идентификаторах маркировки сборочных заданий](/openapi/in-store-pickup#tag/in-store-pickup-label-identifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1info/post). У одного сборочного задания может
        быть только один IMEI. Добавлять IMEI можно только для сборочных заданий в
        [статусе](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) `confirm`, если их доставка осуществляется силами WB.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 20 запросов | 3 сек | 500 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersIMEISetRequest'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MetaSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/meta/gtin:
    post:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Идентификаторы маркировки Самовывоз
      summary: Закрепить GTIN за сборочными заданиями
      description: |
        Метод обновляет GTIN, уникальный ID товара в Беларуси, в [идентификаторах маркировки](/openapi/in-store-pickup#tag/in-store-pickup-label-identifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1info/post) нескольких сборочных
        заданий. У одного сборочного задания может быть только один GTIN.
        Добавлять GTIN можно только для сборочных заданий в [статусе](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) `confirm` и
        доставка которых осуществляется силами WB.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 20 запросов | 3 сек | 500 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersGTINSetRequest'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MetaSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
components:
  securitySchemes:
    HeaderApiKey:
      type: apiKey
      name: Authorization
      in: header
  examples:
    NewOrderClick:
      value:
        orders:
          - ddate: 29.10.2024
            salePrice: 14000
            requiredMeta:
              - sgtin
            article: wb1702fyjh
            rid: 1234567673554519872.0.0
            createdAt: '2024-10-29T10:19:30Z'
            warehouseAddress: Москва, район Якиманка, Софийская набережная, 4 с1
            orderCode: 23457822-6667
            payMode: prepaid
            skus:
              - '2041546265353'
            id: 1234567890
            warehouseId: 1234567
            nmId: 123456789
            chrtId: 987654321
            price: 14000
            finalPrice: 14000
            convertedPrice: 14000
            convertedFinalPrice: 14000
            currencyCode: 643
            convertedCurrencyCode: 643
            cargoType: 1
            isZeroOrder: false
    IncorrectRequestBody:
      value:
        code: IncorrectRequestBody
        message: Некорректное тело запроса
    InvalidPasscode:
      description: Введён неправильный проверочный код
      value:
        code: InvalidPasscode
    OrderNotFound:
      description: Заказ не найден
      value:
        code: NotFound
    IncorrectParameter:
      value:
        code: IncorrectParameter
        message: Передан некорректный параметр
  schemas:
    api.CheckedIdentity:
      type: object
      properties:
        ok:
          type: boolean
          description: |
            Принадлежит ли заказ покупателю:
              - `true` — принадлежит
              - `false` — значение не применяется. Если заказ не принадлежит покупателю, вы получите ответ со статус-кодом `409`
    Error:
      type: object
      nullable: false
      properties:
        code:
          type: string
          description: Код ошибки
          nullable: false
        message:
          type: string
          description: Описание ошибки
          nullable: false
        data:
          type: object
          description: Дополнительные данные, обогащающие ошибку
          nullable: true
    api.CheckIdentityRequest:
      type: object
      properties:
        orderCode:
          type: string
          description: Уникальный ID заказа покупателя
        passcode:
          type: string
          description: Код подтверждения
      example:
        orderCode: 170046918-0011
        passcode: '4567'
    api.Error:
      type: object
      properties:
        code:
          type: string
        data:
          type: object
        message:
          type: string
    api.NewOrder:
      type: object
      properties:
        ddate:
          type: string
          description: Планируемая дата доставки
        salePrice:
          description: |
            Цена продавца в валюте продажи с учётом скидки продавца, без учёта скидки WB Клуба, умноженная на 100. Предоставляется в информационных целях
          type: integer
          nullable: true
          example: 504600
        requiredMeta:
          type: array
          nullable: true
          description: |
            Список идентификаторов маркировки, доступных для сборочного задания
          items:
            type: string
        article:
          type: string
          description: Артикул продавца
        rid:
          type: string
          description: |
            Уникальный ID заказа. <br>
            Примечание: `rid` — это `srid` в ответах методов:
              - [Заявки покупателей на возврат](./user-communication#tag/Vozvraty-pokupatelyami/paths/~1api~1v1~1claims/get)
              - [Заказы](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1orders/get)
              - [Продажи](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1sales/get)
              - [Отчет о возвратах и перемещении товаров](./reports#tag/Otchyot-o-vozvratah-i-peremeshenii-tovarov)
              - [Детализации к отчётам реализации по ID отчётов](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1SalesReportsDetailedReportId)
              - [Детализации к отчётам реализации за период](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1SalesReportsDetailed)
              - [Детализации к отчётам об издержках на приём платежей по ID отчётов](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1AcquiringDetailedReportId)
              - [Детализации к отчётам об издержках на приём платежей за период](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1AcquiringDetailed)
        createdAt:
          type: string
          description: Дата и время создания сборочного задания
          format: date-time
        warehouseAddress:
          type: string
          description: |
            Адрес магазина (склада продавца), на который поступило сборочное
            задание
        orderCode:
          type: string
          description: |
            Уникальный ID заказа покупателя
        payMode:
          description: |
            Режим оплаты:
              - `prepaid` — предоплатный
              - `postpaid` — постоплатный
              - `unknown` — неизвестный
          type: string
          example: prepaid
        skus:
          type: array
          description: Массив баркодов товара
          items:
            type: string
        id:
          type: integer
          description: ID сборочного задания
        warehouseId:
          type: integer
          description: |
            ID склада продавца, на который поступило сборочное
            задание
        nmId:
          type: integer
          description: Артикул WB
        chrtId:
          type: integer
          description: ID размера товара в системе WB
        price:
          type: integer
          description: |
            Цена в валюте продажи с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100.
            Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
        finalPrice:
          description: Сумма к оплате покупателем в валюте продажи с учетом всех скидок, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          type: integer
          example: 5000
        convertedPrice:
          description: Цена в валюте страны продавца с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          type: integer
          example: 5000
        convertedFinalPrice:
          description: Сумма к оплате покупателем в валюте страны продавца с учетом всех скидок, умноженная на 100. Предоставляется в информационных целях
          type: integer
          example: 5000
        currencyCode:
          type: integer
          description: Код валюты продажи
          example: 643
          format: ISO 4217
        convertedCurrencyCode:
          description: Код валюты страны продавца
          format: ISO 4217
          type: integer
          example: 643
        cargoType:
          type: integer
          nullable: false
          description: |
            Тип товара:
              - `1` — малогабаритный товар (МГТ)
              - `2` — сверхгабаритный товар (СГТ)
              - `3` — крупногабаритный товар (КГТ+)
          enum:
            - 1
            - 2
            - 3
        isZeroOrder:
          type: boolean
          description: |
            Признак заказа товара с нулевым остатком:
              - `false` — заказ сделан на товар с ненулевым остатком
              - `true` — заказ сделан на товар с нулевым остатком. Такой заказ можно отменить без штрафа за отмену
    api.NewOrders:
      type: object
      properties:
        orders:
          type: array
          description: Список сборочных заданий
          items:
            $ref: '#/components/schemas/api.NewOrder'
    api.Order:
      type: object
      properties:
        article:
          type: string
          description: Артикул продавца
          example: wb6scpbwvp
        cargoType:
          type: integer
          nullable: false
          description: |
            Тип товара:
              - `1` — малогабаритный товар (МГТ)
              - `2` — сверхгабаритный товар (СГТ)
              - `3` — крупногабаритный товар (КГТ+)
          enum:
            - 1
            - 2
            - 3
          example: 1
        chrtId:
          type: integer
          description: ID размера товара в системе WB
          example: 12345676
        createdAt:
          type: string
          description: Дата и время создания сборочного задания
          format: date-time
          example: '2025-03-21T09:53:31Z'
        price:
          type: integer
          description: |
            Цена в валюте продажи с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100.
            Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          example: 5000
        finalPrice:
          description: Сумма к оплате покупателем в валюте продажи с учетом всех скидок, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          type: integer
          example: 5000
        convertedPrice:
          description: Цена в валюте страны продавца с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          type: integer
          example: 5000
        convertedFinalPrice:
          description: Сумма к оплате покупателем в валюте страны продавца с учетом всех скидок, умноженная на 100. Предоставляется в информационных целях
          type: integer
          example: 5000
        currencyCode:
          type: integer
          description: Код валюты продажи
          format: ISO 4217
          example: 643
        convertedCurrencyCode:
          description: Код валюты страны продавца
          format: ISO 4217
          type: integer
          example: 643
        id:
          type: integer
          description: ID сборочного задания
          example: 123456789
        isZeroOrder:
          type: boolean
          description: |
            Признак заказа товара с нулевым остатком:
              - `false` — заказ сделан на товар с ненулевым остатком
              - `true` — заказ сделан на товар с нулевым остатком. Такой заказ можно отменить без штрафа за отмену
          example: false
        nmId:
          type: integer
          description: Артикул WB
          example: 1234567898765
        orderCode:
          type: string
          description: |
            Уникальный ID заказа покупателя
          example: 21117866-0006
        payMode:
          description: |
            Режим оплаты:
              - `prepaid` — предоплатный
              - `postpaid` — постоплатный
              - `unknown` — неизвестный
          type: string
          example: prepaid
        rid:
          type: string
          description: |
            Уникальный ID заказа. <br>
            Примечание: `rid` — это `srid` в ответах методов:
              - [Заявки покупателей на возврат](./user-communication#tag/Vozvraty-pokupatelyami/paths/~1api~1v1~1claims/get)
              - [Заказы](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1orders/get)
              - [Продажи](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1sales/get)
              - [Отчет о возвратах и перемещении товаров](./reports#tag/Otchyot-o-vozvratah-i-peremeshenii-tovarov)
              - [Детализации к отчётам реализации по ID отчётов](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1SalesReportsDetailedReportId)
              - [Детализации к отчётам реализации за период](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1SalesReportsDetailed)
              - [Детализации к отчётам об издержках на приём платежей по ID отчётов](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1AcquiringDetailedReportId)
              - [Детализации к отчётам об издержках на приём платежей за период](./financial-reports-and-accounting#tag/Finansovye-otchyoty/operation/postV1AcquiringDetailed)
          example: 5044304527347733263.0.0
        skus:
          type: array
          description: Массив баркодов товара
          items:
            type: string
          example:
            - '2043227963145'
        warehouseAddress:
          type: string
          description: Адрес магазина (склада продавца), на который поступило сборочное задание
          example: Москва, район Якиманка, Софийская набережная, 4 с1
        warehouseId:
          type: integer
          description: ID склада продавца, на который поступило сборочное задание
          example: 1162157
    api.OrderClientInfo:
      type: object
      properties:
        phone:
          type: string
          description: |
            Телефон для связи с покупателем. Чтобы связаться с покупателем наберите
            этот номер и введите добавочный код. Данный номер не является прямым
            номером покупателя.
        firstName:
          type: string
          description: Имя покупателя
        orderID:
          type: integer
          description: ID сборочного задания
        phoneCode:
          type: integer
          description: Добавочный код
      example:
        phone: '+71111111111'
        firstName: Иван
        orderID: 1234567
        phoneCode: 1234567
    api.OrderClientInfoResp:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/api.OrderClientInfo'
        supplierStatus:
          type: string
          description: Статус сборочного задания, установленный продавцом
        wbStatus:
          type: string
          description: Статус сборочного задания в системе WB
      example:
        supplierStatus: confirm
        wbStatus: waiting
    api.Orders:
      type: object
      properties:
        next:
          type: integer
          description: |
            Параметр пагинации. Содержит значение, которое необходимо указать в
            запросе для получения следующего пакета данных
          example: 12345566
        orders:
          type: array
          description: Список сборочных заданий
          items:
            $ref: '#/components/schemas/api.Order'
    api.OrdersRequest:
      type: object
      properties:
        orders:
          type: array
          description: Список ID сборочных заданий
          items:
            type: integer
      example:
        orders:
          - 1234567
    api.OrdersSGTINsSetRequest:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/api.SGTINs'
    api.SGTINs:
      type: object
      required:
        - orderId
        - sgtins
      properties:
        orderId:
          description: ID сборочного задания
          type: integer
          example: 123456
        sgtins:
          type: array
          minItems: 1
          maxItems: 24
          description: Массив кодов маркировки. Допускается от 16 до 135 символов для кода одной маркировки
          example:
            - '123456789012345678'
            - '1234567890123456'
          items:
            type: string
    api.OrdersUINSetRequest:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/api.UIN'
    api.UIN:
      type: object
      required:
        - orderId
        - uin
      properties:
        orderId:
          description: ID сборочного задания
          type: integer
          example: 123456
        uin:
          type: string
          minLength: 16
          maxLength: 16
          description: УИН
          example: '1234568909091232'
    api.OrdersIMEISetRequest:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/api.IMEI'
    api.IMEI:
      type: object
      required:
        - orderId
        - imei
      properties:
        orderId:
          description: ID сборочного задания
          type: integer
          example: 123456
        imei:
          type: string
          minLength: 15
          maxLength: 15
          description: IMEI
          example: '654321741987258'
    api.OrdersGTINSetRequest:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/api.GTIN'
    api.GTIN:
      type: object
      required:
        - gtin
        - orderId
      properties:
        gtin:
          description: GTIN
          minLength: 13
          maxLength: 13
          type: string
          example: '1234567890123'
        orderId:
          description: ID сборочного задания
          type: integer
          example: 123456
    api.BatchError:
      type: object
      required:
        - origin
        - requestId
        - title
      properties:
        detail:
          type: object
          nullable: true
          description: Детали ошибки
          example: {}
        origin:
          type: string
          description: ID внутреннего сервиса WB
          example: market-public-api
        requestId:
          type: string
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
        title:
          type: string
          description: Заголовок ошибки
          example: IncorrectRequest
    api.BatchErrorResponse:
      required:
        - code
        - detail
      properties:
        code:
          type: integer
          description: Код ошибки
          example: 404
        detail:
          type: string
          description: |
            - `NotFound` — сборочное задание не найдено
            - `StatusMismatch` — операция невозможна для этого статуса сборочного задания
          example: NotFound
      type: object
    api.MetaErrorResponse:
      required:
        - code
        - detail
      properties:
        code:
          type: integer
          description: Код ошибки
          example: 404
        detail:
          type: string
          description: |
            - `NotFound` — сборочное задание не найдено
            - `IncorrectRequestBody` — неправильный запрос
            - `IncorrectRequest` — передан некорректный параметр
          example: NotFound
      type: object
    api.OrdersErrorResponse:
      required:
        - code
        - detail
      properties:
        code:
          type: integer
          description: Код ошибки
          example: 404
        detail:
          type: string
          description: |
            - `NotFound` — сборочное задание не найдено
          example: NotFound
      type: object
    api.OrdersRequestV2:
      properties:
        ordersIds:
          description: Список ID сборочных заданий
          example:
            - 123456
            - 234567
          maxItems: 1000
          type: array
          items:
            type: integer
      type: object
    api.StatusSetResponses:
      example:
        requestId: 03615778-eb9e-4f55-b4O4-fd3ac0fad2сc
        results:
          - orderId: 123456
            isError: true
            errors:
              - code: 404
                detail: NotFound
          - orderId: 234567
            isError: false
      properties:
        requestId:
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
        results:
          items:
            $ref: '#/components/schemas/api.StatusSetResponse'
          type: array
      type: object
      required:
        - requestId
        - results
    api.StatusSetResponse:
      type: object
      required:
        - orderId
        - isError
      properties:
        orderId:
          type: integer
          description: ID сборочного задания
          example: 123456
        isError:
          type: boolean
          description: Есть ли ошибки
          example: true
        errors:
          items:
            $ref: '#/components/schemas/api.BatchErrorResponse'
          type: array
          description: Детали ошибки
    api.OrdersResponses:
      example:
        requestId: 03615778-eb9e-4f55-b4O4-fd3ac0fad2сc
        results:
          - orderId: 123456
            isError: true
            errors:
              - code: 404
                detail: NotFound
          - orderId: 234567
            isError: false
      properties:
        requestId:
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
        results:
          items:
            $ref: '#/components/schemas/api.OrdersResponse'
          type: array
      type: object
      required:
        - requestId
        - results
    api.OrdersResponse:
      type: object
      required:
        - orderId
        - isError
      properties:
        orderId:
          type: integer
          description: ID сборочного задания
          example: 123456
        isError:
          type: boolean
          description: Есть ли ошибки
          example: true
        errors:
          items:
            $ref: '#/components/schemas/api.OrdersErrorResponse'
          type: array
          description: Детали ошибки
    api.MetaSetResponses:
      example:
        requestId: 03615778-eb9e-4f55-b4O4-fd3ac0fad2сc
        results:
          - orderId: 123456
            isError: true
            errors:
              - code: 404
                detail: NotFound
          - orderId: 234567
            isError: false
      properties:
        requestId:
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
        results:
          items:
            $ref: '#/components/schemas/api.MetaSetResponse'
          type: array
      type: object
      required:
        - requestId
        - results
    api.MetaSetResponse:
      type: object
      required:
        - orderId
        - isError
      properties:
        orderId:
          type: integer
          description: ID сборочного задания
          example: 123456
        isError:
          type: boolean
          description: Есть ли ошибки
          example: true
        errors:
          items:
            $ref: '#/components/schemas/api.MetaErrorResponse'
          type: array
          description: Детали ошибки
    api.OrderStatusesV2:
      type: object
      example:
        orders:
          - supplierStatus: confirm
            wbStatus: waiting
            errors: []
            orderId: 123456
          - supplierStatus: ''
            wbStatus: ''
            errors:
              - code: 404
                detail: NotFound
            orderId: 789012
      properties:
        orders:
          type: array
          description: Информация о статусах
          items:
            $ref: '#/components/schemas/api.OrderStatusV2'
    api.OrderStatusV2:
      type: object
      required:
        - orderId
      properties:
        errors:
          description: Информация об ошибке
          items:
            $ref: '#/components/schemas/api.OrdersErrorResponse'
          type: array
        orderId:
          type: integer
          description: ID сборочного задания
        supplierStatus:
          type: string
          description: Статус сборочного задания, установленный продавцом
        wbStatus:
          type: string
          description: Статус сборочного задания в системе Wildberries
    api.OrdersMetaResponse:
      type: object
      required:
        - meta
      properties:
        meta:
          type: array
          description: Идентификаторы маркировки сборочных заданий
          items:
            $ref: '#/components/schemas/api.OrderMetaV2'
    api.OrderMetaV2:
      type: object
      required:
        - error
        - orderId
      properties:
        error:
          type: string
          description: |
            Сообщение об ошибке. <br>
            - `""` — нет ошибок
            - `NotFound` — сборочное задание не найдено
          example: ''
        gtin:
          type: string
          nullable: true
          description: GTIN
          example: '123456789012345'
        imei:
          type: string
          nullable: true
          description: IMEI
          example: '123456789012345'
        orderId:
          type: integer
          description: ID сборочного задания
          example: 654321
        sgtin:
          type: array
          nullable: true
          description: Код маркировки [Честного знака](https://честныйзнак.рф/)
          items:
            type: string
            example: '123456789012345'
        uin:
          type: string
          nullable: true
          description: УИН
          example: '123456789012345'
    api.OrdersMetaDeleteRequest:
      type: object
      required:
        - key
        - ordersIds
      properties:
        key:
          type: string
          enum:
            - imei
            - uin
            - gtin
            - sgtin
          example: imei
          description: Тип идентификаторов маркировки для удаления. Передаётся только одно значение
        ordersIds:
          type: array
          description: Список ID сборочных заданий
          maxItems: 1000
          example:
            - 123456
            - 234567
          items:
            type: integer
  responses:
    '401':
      description: Не авторизован
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: Уникальный ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          example:
            title: unauthorized
            detail: 'token problem; token is malformed: could not base64 decode signature: illegal base64 data at input byte 84'
            code: 07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: s2s-api-auth-catalog
            status: 401
            statusText: Unauthorized
            timestamp: '2024-09-30T06:52:38Z'
    '402':
      description: Требуется платёж
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки. Ошибка возвращается только сервисам из [Каталога решений для бизнеса](https://dev.wildberries.ru/business-solutions)
          example:
            title: payment required
            detail: wb solution for business has insufficient funds on its balance. please top up the balance in the company's personal account https://dev.wildberries.ru/company
    '429':
      description: Слишком много запросов
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: Уникальный ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: 07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: s2s-api-auth-catalog
            status: 429
            statusText: Too Many Requests
            timestamp: '2024-09-30T06:52:38Z'
    AccessDenied:
      description: Доступ запрещён
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: AccessDenied
            message: Доступ запрещён
    IncorrectRequest:
      description: Неправильный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/api.BatchError'
          example:
            detail: {}
            origin: market-public-api
            requestId: f1787bd2d1fdс35d6f537316514у4a05
            title: IncorrectRequest
    AccessDeniedBatch:
      description: Доступ запрещён
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/api.BatchError'
          example:
            detail: {}
            origin: market-public-api
            requestId: f1787bd2d1fdс35d6f537316514у4a05
            title: AccessDenied
