openapi: 3.0.1
info:
  title: Маркетинг и продвижение
  version: promotion
  description: |
    <div class="description_important">
      Узнать больше о маркетинге и продвижении можно в <a href="https://seller.wildberries.ru/instructions/category/59d92bd3-6ea0-40f2-b762-ca8835d7d42e?goBackOption=prevRoute&categoryId=479385c6-de01-4b4d-ad4e-ed941e65582e">справочном центре</a>
    </div>

    <div class="api-block">

    Методы маркетинга и продвижения позволяют:
      1. Получать информацию о кампаниях [продвижения](/openapi/promotion#tag/Kampanii) и [медиакампаниях](/openapi/promotion#tag/Media)
      2. [Создавать](/openapi/promotion#tag/Sozdanie-kampanij) и [управлять](/openapi/promotion#tag/Upravlenie-kampaniyami) кампаниями
      3. Управлять [финансами](/openapi/promotion#tag/Finansy) кампаний
      4. Выгружать [статистику](/openapi/promotion#tag/Statistika) кампаний продвижения и медиакампаний
      5. Работать с [календарём акций](/openapi/promotion#tag/Kalendar-akcij)
      6. Устанавливать [рекомендации](/openapi/promotion#tag/recommendations) для товаров

    Данные синхронизируются с базой раз в 3 минуты. Статусы кампаний меняются раз в минуту. Ставки кампаний меняются раз в 30 секунд.

    </div>
  x-file-name: promotion
security:
  - HeaderApiKey: []
tags:
  - name: Кампании
    description: ''
  - name: Создание кампаний
    description: ''
  - name: Управление кампаниями
    description: ''
  - name: Поисковые кластеры
    description: ''
  - name: Финансы
    description: ''
  - name: Медиа
    description: ''
  - name: Статистика
    description: ''
  - name: Календарь акций
    description: ''
  - name: Рекомендации
    x-displayName: Рекомендации
    description: ''
paths:
  /adv/v1/promotion/count:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Списки кампаний
      description: |
        Метод возвращает списки всех [рекламных кампаний](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) продавца с их ID. Кампании сгруппированы по типу и статусу, у каждой указана дата последнего изменения.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый | 1 ч | 4 запроса | 15 мин | 1 запрос |
        </div>
      tags:
        - Кампании
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  adverts:
                    type: array
                    nullable: true
                    description: Данные по кампаниям
                    items:
                      type: object
                      properties:
                        type:
                          description: |
                            Тип кампании:
                              - `8` — кампания с единой ставкой (**устаревший тип**)
                              - `9` — кампания с единой или ручной ставкой. Тип ставки вы можете получить с помощью метода [Информация о кампаниях](./promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get), поле `bid_type`
                          type: integer
                        status:
                          description: Статус кампании
                          type: integer
                        count:
                          description: Количество кампаний
                          type: integer
                        advert_list:
                          description: Список кампаний
                          type: array
                          items:
                            type: object
                            properties:
                              advertId:
                                description: ID кампании
                                type: integer
                              changeTime:
                                description: Дата и время последнего изменения кампании
                                type: string
                                format: date-time
                  all:
                    description: Общее количество кампаний всех статусов и типов
                    type: integer
              example:
                adverts:
                  - type: 9
                    status: 8
                    count: 3
                    advert_list:
                      - advertId: 6485174
                        changeTime: '2023-05-10T12:12:52.676254+03:00'
                      - advertId: 6500443
                        changeTime: '2023-05-10T17:08:46.370656+03:00'
                      - advertId: 7936341
                        changeTime: '2023-07-12T15:51:08.367478+03:00'
                all: 3
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/advert/v2/adverts:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Информация о кампаниях
      description: |
        Метод возвращает информацию о рекламных кампаниях с единой или ручной ставкой по их статусам, типам оплаты и ID.

         <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      tags:
        - Кампании
      parameters:
        - name: ids
          in: query
          description: ID кампаний, максимум 50
          schema:
            type: string
            example: 12345,23456,34567,45678,56789
        - name: statuses
          in: query
          description: |
            Статусы кампаний:
            - `-1` — удалена, процесс удаления будет завершён в течение 10 минут
            - `4` — готова к запуску
            - `7` — завершена
            - `8` — отменена
            - `9` — активна
            - `11` — на паузе
          schema:
            type: string
            example: '-1,4,8'
        - name: payment_type
          in: query
          description: |
            Тип оплаты:
            - `cpm` — за показы
            - `cpc` — за клик
          schema:
            type: string
            enum:
              - cpm
              - cpc
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAdverts'
              example:
                adverts:
                  - bid_type: manual
                    id: 567456457
                    nm_settings:
                      - bids_kopecks:
                          recommendations: 0
                          search: 0
                        nm_id: 123456789
                        subject:
                          id: 52
                          name: кошельки
                      - bids_kopecks:
                          recommendations: 11200
                          search: 11200
                        nm_id: 987654321
                        subject:
                          id: 54
                          name: ювелирные кольца
                    settings:
                      name: Кампания от 01.02.2024
                      payment_type: cpm
                      placements:
                        recommendations: false
                        search: true
                    status: 7
                    timestamps:
                      created: '2024-02-01T09:57:38.500606+03:00'
                      deleted: '2024-02-05T14:29:32.633968+03:00'
                      started: '2024-02-05T12:38:10.212086+03:00'
                      updated: '2024-02-05T14:29:32.633968+03:00'
                  - bid_type: manual
                    id: 28150154
                    nm_settings:
                      - bids_kopecks:
                          recommendations: 0
                          search: 1100
                        nm_id: 5764746785
                        subject:
                          id: 69
                          name: платья
                    settings:
                      name: 'Кампания от 28.08.2025 '
                      payment_type: cpc
                      placements:
                        recommendations: false
                        search: true
                    status: 11
                    timestamps:
                      created: '2025-08-28T09:50:57.611559+03:00'
                      deleted: '2100-01-01T00:00:00+03:00'
                      started: null
                      updated: '2025-09-10T10:14:58.475499+03:00'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/advert/v1/bids/min:
    servers:
      - url: https://advert-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: advert
      tags:
        - Создание кампаний
      summary: Минимальные ставки для карточек товаров
      description: |
        Метод возвращает минимальные ставки для карточек товаров в копейках по типу оплаты и местам размещения.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 20 запросов | 3 сек | 5 запросов |
        | Сервисный | 1 мин | 20 запросов | 3 сек | 5 запросов |
        | Базовый с секретом | 1 мин | 20 запросов | 3 сек | 5 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - advert_id
                - nm_ids
                - payment_type
                - placement_types
              properties:
                advert_id:
                  type: integer
                  format: int64
                  description: ID кампании
                nm_ids:
                  type: array
                  minLength: 1
                  maxLength: 100
                  items:
                    type: integer
                    format: int64
                  description: Список артикулов WB
                payment_type:
                  type: string
                  enum:
                    - cpm
                    - cpc
                  description: |
                    Тип оплаты:
                          - `cpm` — за показы
                          - `cpc` — за клик
                placement_types:
                  description: |
                    Места размещения:
                      - `search` — поиск
                      - `recommendation` — рекомендации
                      - `combined` — поиск и рекомендации
                  type: array
                  items:
                    type: string
                    enum:
                      - combined
                      - search
                      - recommendation
            example:
              advert_id: 98765432
              nm_ids:
                - 12345678
                - 87654321
              payment_type: cpm
              placement_types:
                - combined
                - search
                - recommendation
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                required:
                  - bids
                properties:
                  bids:
                    type: array
                    description: Список карточек товаров со ставками
                    items:
                      type: object
                      required:
                        - nm_id
                        - bids
                      properties:
                        bids:
                          type: array
                          description: Список ставок по местам размещения
                          items:
                            type: object
                            required:
                              - type
                              - value
                            properties:
                              type:
                                $ref: '#/components/schemas/PlacementType'
                              value:
                                type: integer
                                description: Минимальная ставка, копейки
                        nm_id:
                          type: integer
                          format: int64
                          description: Артикул WB
              example:
                bids:
                  - bids:
                      - type: combined
                        value: 155
                      - type: search
                        value: 250
                      - type: recommendation
                        value: 250
                    nm_id: 12345678
                  - bids:
                      - type: combined
                        value: 155
                      - type: search
                        value: 250
                      - type: recommendation
                        value: 250
                    nm_id: 87654321
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardizedBatchError'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v2/seacat/save-ad:
    servers:
      - url: https://advert-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Создать кампанию
      description: |
        Метод создаёт кампанию:
          - с ручной ставкой для продвижения товаров в поиске и/или рекомендациях
          - с единой ставкой для продвижения товаров одновременно в поиске и рекомендациях

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Сервисный | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Базовый с секретом | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Создание кампаний
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  description: Название кампании
                  type: string
                nms:
                  type: array
                  description: |
                    Карточки товаров для кампании. Доступные карточки товаров можно получить с помощью метода [Карточки товаров для кампаний](./promotion#tag/Sozdanie-kampanij/paths/~1adv~1v2~1supplier~1nms/post). Максимум 50 товаров (`nm`)
                  items:
                    type: integer
                    description: Артикул WB (`nmId`)
                bid_type:
                  type: string
                  default: manual
                  enum:
                    - manual
                    - unified
                  description: |
                    Тип ставки:
                      - `manual` — ручная
                      - `unified` — единая
                payment_type:
                  type: string
                  default: cpm
                  enum:
                    - cpm
                    - cpc
                  description: |
                    Тип оплаты:
                    - `cpm` — за показы
                    - `cpc` — за клик. При создании с этим типом оплаты в кампании автоматически устанавливается минимальная ставка
                placement_types:
                  type: array
                  default:
                    - search
                  description: |
                    Места размещения:
                      - `search` — в поиске
                      - `recommendations` — в рекомендациях

                    Укажите только для кампании с ручной ставкой
                  items:
                    type: string
                    enum:
                      - search
                      - recommendations
            example:
              name: Телефоны
              nms:
                - 146168367
                - 200425104
              bid_type: manual
              placement_types:
                - search
                - recommendations
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: integer
                description: ID кампании
                example: 1234567
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: string
              example: Нет доступных категорий для рк. Создайте новую кампанию для попадания в текущие категории
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/supplier/subjects:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Предметы для кампаний
      description: |
        Метод возвращает список [предметов](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1all/get), которые можно добавить в рекламную [кампанию](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 12 сек | 1 запрос | 12 сек | 5 запросов |
        | Сервисный | 12 сек | 1 запрос | 12 сек | 5 запросов |
        | Базовый с секретом | 12 сек | 1 запрос | 12 сек | 5 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      parameters:
        - name: payment_type
          in: query
          description: |
            Тип оплаты:
            - `cpm` — за показы
            - `cpc` — за клик
          schema:
            type: string
            default: cpm
          required: false
      tags:
        - Создание кампаний
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                nullable: true
                x-nullable: true
                items:
                  type: object
                  properties:
                    id:
                      description: ID предмета
                      type: integer
                    name:
                      description: Предмет
                      type: string
                    count:
                      description: Количество Артикулов WB (`nmId`) с таким предметом.
                      type: integer
              examples:
                Array:
                  value:
                    - name: 3D очки
                      id: 2560
                      count: 1899
                'null':
                  value: null
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Не найдено
        '429':
          $ref: '#/components/responses/429'
  /adv/v2/supplier/nms:
    servers:
      - url: https://advert-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Карточки товаров для кампаний
      description: |
        Метод возвращает список [карточек товаров](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1list/post), которые можно добавить в рекламную [кампанию](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get). Для получения карточек необходимы ID [предметов](/openapi/promotion#tag/Sozdanie-kampanij/paths/~1adv~1v1~1supplier~1subjects/get), также доступных для добавления в кампанию.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Сервисный | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Базовый с секретом | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      tags:
        - Создание кампаний
      requestBody:
        description: ID предметов, для которых нужно получить карточки товаров
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
            example:
              - 123
              - 456
              - 765
              - 321
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                nullable: true
                description: Карточки товаров для кампаний
                items:
                  type: object
                  properties:
                    title:
                      type: string
                      description: Название товара
                      example: Плед
                    nm:
                      type: integer
                      description: Артикул WB
                      example: 146168367
                    subjectId:
                      type: integer
                      description: ID предмета
                      example: 765
        '400':
          description: Неправильный запрос
          content:
            text/plain:
              schema:
                type: string
              example: Ошибка обработки тела запроса
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/delete:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Удаление кампании
      description: |
        Метод удаляет [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) в статусе `4` — готова к запуску.<br><br>

        После удаления кампания некоторое время будет находиться в статусе `-1` — кампания в процессе удаления. Полное удаление кампании занимает от 3 до 10 минут.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Управление кампаниями
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Успешно
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseAdvError1'
              examples:
                ResponseInvalidCampaignID:
                  $ref: '#/components/examples/ResponseInvalidCampaignID'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/rename:
    servers:
      - url: https://advert-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Переименование кампании
      description: |
        Метод меняет название [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get). Это можно сделать в любой момент существования кампании.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      tags:
        - Управление кампаниями
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - advertId
                - name
              properties:
                advertId:
                  type: integer
                  description: ID кампании, в которой меняется название
                name:
                  type: string
                  description: Новое название (максимум 100 символов)
            example:
              advertId: 2233344
              name: newname
      responses:
        '200':
          description: Успешно
        '400':
          description: Неправильный запрос
          content:
            text/plain:
              schema:
                type: string
              examples:
                InvalidRcIdAdv:
                  $ref: '#/components/examples/InvalidRcIdAdv'
                IncorrectName:
                  $ref: '#/components/examples/IncorrectName'
                IncorrectSupplierIdAdv:
                  $ref: '#/components/examples/IncorrectSupplierIdAdv'
        '401':
          $ref: '#/components/responses/401'
        '422':
          description: Ошибка обработки параметров запроса
          content:
            text/plain:
              schema:
                type: string
              examples:
                RequestBodyProcessErrorAdv:
                  $ref: '#/components/examples/RequestBodyProcessErrorAdv'
                CompanyNameChangeErr:
                  $ref: '#/components/examples/CompanyNameChangeErr'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/start:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Запуск кампании
      description: |
        Метод запускает [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) в статусах `4` — готово к запуску — или `11` — пауза.
        Чтобы запустить кампанию, проверьте ее бюджет. Если бюджета недостаточно, [пополните его](/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1budget~1deposit/post).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Управление кампаниями
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
            example: 1234
          required: true
      responses:
        '200':
          description: Успешно
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Response'
              examples:
                IncorrectId:
                  $ref: '#/components/examples/IncorrectId'
                AdvertNotFound:
                  $ref: '#/components/examples/AdvertNotFound'
                LowBudget:
                  $ref: '#/components/examples/LowBudget'
        '401':
          $ref: '#/components/responses/401'
        '422':
          description: Статус не изменен
          content:
            text/plain:
              schema:
                type: string
              examples:
                StatusNoChangeAdv:
                  $ref: '#/components/examples/StatusNoChangeAdv'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/pause:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Пауза кампании
      description: |
        Метод ставит [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) в статусе `9` — активна — на паузу.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Управление кампаниями
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
            example: 1234
          required: true
      responses:
        '200':
          description: Успешно
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Response'
              examples:
                IncorrectId:
                  $ref: '#/components/examples/IncorrectId'
                AdvertNotFound:
                  $ref: '#/components/examples/AdvertNotFound'
        '401':
          $ref: '#/components/responses/401'
        '422':
          description: Статус не изменен
          content:
            text/plain:
              schema:
                type: string
              examples:
                StatusNoChangeAdv:
                  $ref: '#/components/examples/StatusNoChangeAdv'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/stop:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Завершение кампании
      description: |
        Метод завершает [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) в статусах:
          - `4` — готово к запуску
          - `9` — активна
          - `11` — пауза

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Управление кампаниями
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
            example: 1234
          required: true
      responses:
        '200':
          description: Успешно
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Response'
              examples:
                IncorrectId:
                  $ref: '#/components/examples/IncorrectId'
                AdvertNotFound:
                  $ref: '#/components/examples/AdvertNotFound'
        '401':
          $ref: '#/components/responses/401'
        '422':
          description: Статус не изменен
          content:
            text/plain:
              schema:
                type: string
              examples:
                StatusNoChangeAdv:
                  $ref: '#/components/examples/StatusNoChangeAdv'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/auction/placements:
    servers:
      - url: https://advert-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Изменение мест размещения в кампаниях с ручной ставкой
      description: |
        Метод меняет места размещения в кампаниях с ручной ставкой и моделью оплаты за показы — `cpm`.
        <br><br>
        Для кампаний в статусах `4`, `9` и `11`.

         <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 1 запрос | 1 сек | 1 запрос |
        | Сервисный | 1 сек | 1 запрос | 1 сек | 1 запрос |
        | Базовый с секретом | 1 сек | 1 запрос | 1 сек | 1 запрос |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      tags:
        - Управление кампаниями
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - placements
              properties:
                placements:
                  description: Места размещения в кампаниях
                  type: array
                  maxItems: 50
                  items:
                    type: object
                    required:
                      - advert_id
                      - placements
                    properties:
                      advert_id:
                        description: ID кампании
                        type: integer
                        format: int64
                      placements:
                        description: Места размещения
                        type: object
                        required:
                          - search
                          - recommendations
                        properties:
                          search:
                            type: boolean
                            description: |
                              Размещение в поиске:
                                - `false` — отключено
                                - `true` — включено
                          recommendations:
                            description: |
                              Размещение в рекомендациях:
                                - `false` — отключено
                                - `true` — включено
                            type: boolean
            example:
              placements:
                - advert_id: 12345
                  placements:
                    search: true
                    recommendations: true
      responses:
        '204':
          description: Успешно
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              examples:
                BadRequest:
                  value:
                    detail: can not deserialize response body
                    origin: camp-api-public-cache
                    request_id: 9a929a81ea9dc1601fcc4be81f32c1cb
                    status: 400
                    title: invalid payload
                BadAdvertPaymentType:
                  value:
                    detail: advert 12345 has payment type cpc, placements cannot be changed
                    origin: camp-api-public-cache
                    request_id: e53addfabe9274d5b8f77272ca085ac4
                    status: 400
                    title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/advert/v1/bids:
    servers:
      - url: https://advert-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Изменение ставок в кампаниях
      description: |
        Метод меняет ставки карточек товаров по артикулам WB в кампаниях:
          - с единой ставкой
          - с ручной ставкой
          - с моделью оплаты `cpc` — за клики

        Для кампаний в статусах `4`, `9` и `11`.
        <br><br>
        В запросе укажите место размещения в параметре `placement`:
          - `combined` — в поиске и рекомендациях для кампаний с единой ставкой
          - `search `или `recommendations` — в поиске или рекомендациях для кампаний с ручной ставкой

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      tags:
        - Управление кампаниями
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - bids
              properties:
                bids:
                  description: Ставки в кампаниях
                  type: array
                  maxItems: 50
                  items:
                    type: object
                    required:
                      - advert_id
                      - nm_bids
                    properties:
                      advert_id:
                        description: ID кампании
                        type: integer
                        format: int64
                      nm_bids:
                        description: Ставки, копейки
                        type: array
                        maxItems: 50
                        items:
                          type: object
                          required:
                            - nm_id
                            - bid_kopecks
                            - placement
                          properties:
                            nm_id:
                              type: integer
                              format: int64
                              description: Артикул WB
                            bid_kopecks:
                              type: integer
                              format: int64
                              description: Ставка, копейки
                            placement:
                              type: string
                              enum:
                                - search
                                - recommendations
                                - combined
                              description: |
                                Место размещения:
                                  - `search` — в поиске (для кампаний с ручной ставкой)
                                  - `recommendations`— в рекомендациях (для кампаний с ручной ставкой)
                                  - `combined` — в поиске и рекомендациях (для кампаний с единой ставкой)
            example:
              bids:
                - advert_id: 12345
                  nm_bids:
                    - nm_id: 13335157
                      bid_kopecks: 250
                      placement: recommendations
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                required:
                  - bids
                properties:
                  bids:
                    description: Результат отработки запроса
                    type: array
                    items:
                      type: object
                      required:
                        - advert_id
                        - nm_bids
                      properties:
                        advert_id:
                          description: ID кампании
                          type: integer
                          format: int64
                        nm_bids:
                          description: Ставки
                          type: array
                          items:
                            type: object
                            required:
                              - nm_id
                              - bid_kopecks
                              - placement
                            properties:
                              nm_id:
                                type: integer
                                format: int64
                                description: Артикул WB
                              bid_kopecks:
                                type: integer
                                format: int64
                                description: Ставка
                              placement:
                                type: string
                                description: |
                                  Место размещения:
                                    - `search` — в поиске
                                    - `recommendations`— в рекомендациях
              example:
                bids:
                  - advert_id: 12345
                    nm_bids:
                      - nm_id: 13335157
                        bid_kopecks: 250
                        placement: recommendations
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: 'wrong bid value: 3; min: 150'
                origin: camp-api-public-cache
                request_id: 9a929a81ea9dc1601fcc4be81f32c1cb
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/balance:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Баланс
      description: |
        Метод возвращает информацию о:
          - счёте кабинета Продвижения WB. Его пополняет продавец.
          - балансе — максимальной сумме для оплаты кампании по взаиморасчету: удержании средств из будущих продаж. Баланс пополнить нельзя, он рассчитывается автоматически на основе отчётов по продвижению.
          - бонусных начислениях WB.

        Информацию о бюджете кампаний можно получить в [отдельном методе](/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1budget/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Сервисный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый с секретом | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      tags:
        - Финансы
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    description: Счёт, ₽
                    type: integer
                  net:
                    description: Баланс, ₽
                    type: integer
                  bonus:
                    description: Бонусы, ₽
                    type: integer
                  cashbacks:
                    description: Промо-бонусы
                    type: array
                    items:
                      type: object
                      properties:
                        sum:
                          type: integer
                          description: Промо-бонусы, ₽
                        percent:
                          type: integer
                          description: Процент от суммы пополнения бюджета кампании, который можно оплатить промо-бонусами за один раз
                        expiration_date:
                          type: string
                          format: ISO 8601
                          description: Дата окончания действия промо-бонусов
              example:
                balance: 11083
                net: 0
                bonus: 15187
                cashbacks:
                  - sum: 10672
                    percent: 50
                    expiration_date: '2026-04-17T10:46:02.176174Z'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: string
              examples:
                IncorrectSupplierIdAdv:
                  $ref: '#/components/examples/IncorrectSupplierIdAdv'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/budget:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Бюджет кампании
      description: |
        Метод возвращает информацию о бюджете [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) — максимальной сумме затрат на кампанию. Бюджет кампании можно [пополнить](/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1budget~1deposit/post).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 4 запроса | 250 мс | 4 запроса |
        | Сервисный | 1 сек | 4 запроса | 250 мс | 4 запроса |
        | Базовый с секретом | 1 сек | 4 запроса | 250 мс | 4 запроса |
        | Базовый | 1 ч | 4 запроса | 15 мин | 1 запрос |
        </div>
      tags:
        - Финансы
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
            example: 1
          required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  cash:
                    description: Поле не используется. Значение всегда 0.
                    type: integer
                  netting:
                    description: Поле не используется. Значение всегда 0.
                    type: integer
                  total:
                    description: Бюджет кампании, ₽
                    type: integer
              example:
                cash: 0
                netting: 0
                total: 500
        '400':
          description: Неправильный запрос
          content:
            text/plain:
              schema:
                type: string
              examples:
                CampaignNotBelongSeller:
                  $ref: '#/components/examples/CampaignNotBelongSeller'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/budget/deposit:
    servers:
      - url: https://advert-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Пополнение бюджета кампании
      description: |
        Метод пополняет [бюджет](/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1budget/get) кампании. <br>
        Чтобы запустить кампанию после пополнения бюджета, используйте метод [Запуск кампании](/openapi/promotion#tag/Upravlenie-kampaniyami/paths/~1adv~1v0~1start/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Сервисный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый с секретом | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Финансы
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
            example: 1234567
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sum:
                  description: Общая сумма пополнения бюджета
                  type: integer
                  example: 5000
                cashback_sum:
                  description: |
                    Сумма пополнения бюджета промо-бонусами.
                    <br>
                    Пополнить можно только определённый процент от общей суммы, указанный в поле `percent` ответа метода получения [баланса](./promotion#tag/Finansy/paths/~1adv~1v1~1balance/get).
                    <br>
                    Оставшаяся часть общей суммы спишется с указанного источника пополнения.
                    Пополнить можно только определённый процент от общей суммы, указанный в поле `percent` ответа метода получения [баланса](./promotion#tag/Finansy/paths/~1adv~1v1~1balance/get).
                    <br>
                    Оставшаяся часть общей суммы спишется с указанного источника пополнения.
                    <br>
                    Списать промо-бонусы можно только для источников пополнения:
                      - `0` — счёт
                      - `1` — баланс
                  type: integer
                  nullable: true
                  example: 1000
                cashback_percent:
                  description: |
                    Процент от суммы пополнения, который можно пополнить промо-бонусами. Нужно указать значение поля percent из ответа метода получения [баланса](./promotion#tag/Finansy/paths/~1adv~1v1~1balance/get)
                    <br>
                    Если вы указали `cashback_sum`, параметр `cashback_percent` становится обязательным
                  example: 50
                  type: integer
                  nullable: true
                type:
                  description: |
                    Тип источника пополнения:
                    - `0` — Счёт
                    - `1` — Баланс
                    - `3` — Бонусы
                  type: integer
                  example: 1
                return:
                  type: boolean
                  description: Флаг возврата ответа (`true` — в ответе вернется обновлённый размер бюджета кампании, `false` или не указать параметр вообще — не вернётся.)
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ResponseWithReturn'
              examples:
                ResponseWithReturn:
                  $ref: '#/components/examples/ResponseWithReturn'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                DepositAmountMultiple50:
                  description: Сумма пополнения должна быть кратна 50 руб
                  value:
                    error: Сумма пополнения должна быть кратна 50 руб
                MinimumDepositAmountIs500:
                  description: Минимальная сумма пополнения 1000 рублей
                  value:
                    error: Минимальная сумма пополнения 1000 рублей
                IncorrectType:
                  description: Неверный тип источника списания для пополнения промо-бонусами
                  value:
                    error: 'Invalid Params: cashback can not be used with such type'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/upd:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Получение истории затрат
      description: |
        Метод формирует список фактических затрат на рекламные кампании за заданный период.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Сервисный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый с секретом | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      tags:
        - Финансы
      parameters:
        - name: from
          in: query
          description: Начало интервала
          schema:
            type: string
            format: date
            example: '2023-07-31'
          required: true
        - name: to
          in: query
          description: |
            Конец интервала. <br>
            (Минимальный интервал 1 день, максимальный 31)
          schema:
            type: string
            format: date
            example: '2023-08-02'
          required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    updNum:
                      description: Номер выставленного документа
                      type: integer
                    updTime:
                      nullable: true
                      description: Время списания
                      type: string
                      format: time-date
                    updSum:
                      description: Выставленная сумма
                      type: integer
                    advertId:
                      description: ID кампании
                      type: integer
                    campName:
                      description: Название кампании
                      type: string
                    advertType:
                      description: Тип кампании
                      type: integer
                    paymentType:
                      description: |
                        Источник списания:
                         - `Баланс`
                         - `Бонусы`
                         - `Счёт`
                         - `Кэшбэк`
                      type: string
                    advertStatus:
                      description: |
                        Статус кампании:
                        - `-1` — удалена, процесс удаления будет завершён в течение 10 минут
                        - `4` — готова к запуску
                        - `7` — завершена
                        - `8` — отменена
                        - `9` — активна
                        - `11` — на паузе
                      type: integer
              example:
                - updNum: 0
                  updTime: '2023-07-31T12:12:54.060536+03:00'
                  updSum: 24
                  advertId: 3355881
                  campName: лук лучок
                  advertType: 6
                  paymentType: Баланс
                  advertStatus: 9
                - updNum: 0
                  updTime: null
                  updSum: 107
                  advertId: 3366882
                  campName: золотая луковица
                  advertType: 8
                  paymentType: Счет
                  advertStatus: 11
        '400':
          description: Неправильный запрос
          content:
            text/plain:
              schema:
                type: string
              examples:
                IncorrectSupplierIdAdv:
                  $ref: '#/components/examples/IncorrectSupplierIdAdv'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/payments:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Получение истории пополнений счёта
      description: |
        Метод возвращает историю пополнений счёта **WB Продвижение** за заданный период.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Сервисный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый с секретом | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      tags:
        - Финансы
      parameters:
        - name: from
          in: query
          description: Начало интервала
          schema:
            type: string
            format: date
            example: '2023-07-31'
        - name: to
          in: query
          description: |
            Конец интервала. <br>
            (Минимальный интервал 1 день, максимальный 31)
          schema:
            type: string
            format: date
            example: '2023-08-02'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: ID платежа
                      type: integer
                    date:
                      description: Дата платежа
                      type: string
                      format: time-date
                    sum:
                      description: Сумма платежа
                      type: integer
                    type:
                      description: |
                        Тип источника списания:
                        - `0` — Счёт
                        - `1` — Баланс
                        - `3` — Картой
                      type: integer
                    statusId:
                      description: |
                        Статус:
                        - `0` — ошибка
                        - `1` — обработано
                      type: integer
                    cardStatus:
                      description: |
                        Статус операции(при оплате картой):
                        - `success` — успех
                        - `fail` — неуспех
                        - `pending` — в ожидании ответа
                        - `unknown` — неизвестно
                      type: string
              example:
                - id: 1036666
                  date: '2022-02-04T09:06:47.985843Z'
                  sum: 600
                  type: 0
                  statusId: 1
                  cardStatus: ''
                - id: 55261296
                  date: '2023-04-13T10:07:42'
                  sum: 1500
                  type: 3
                  statusId: 1
                  cardStatus: succeeded
        '204':
          description: История пополнений счета не найдена
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: string
              examples:
                IncorrectSupplierIdAdv:
                  $ref: '#/components/examples/IncorrectSupplierIdAdv'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/auction/nms:
    servers:
      - url: https://advert-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Изменение списка карточек товаров в кампаниях
      description: |
        Метод добавляет и удаляет карточки товаров в кампаниях.
        <br><br>
        Для кампаний в статусах `4`, `9` и `11`.
        <br><br>
        Для добавляемых товаров устанавливается текущая минимальная ставка.

         <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 1 запрос | 1 сек | 1 запрос |
        | Сервисный | 1 сек | 1 запрос | 1 сек | 1 запрос |
        | Базовый с секретом | 1 сек | 1 запрос | 1 сек | 1 запрос |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      tags:
        - Управление кампаниями
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - nms
              properties:
                nms:
                  description: Карточки товаров в кампаниях
                  type: array
                  maxItems: 20
                  items:
                    type: object
                    required:
                      - advert_id
                      - nms
                    properties:
                      advert_id:
                        description: ID кампании
                        type: integer
                        format: int64
                      nms:
                        description: Карточки товаров. Максимум 50 товаров для одной кампании
                        type: object
                        properties:
                          add:
                            description: Карточки товаров, которые необходимо добавить
                            items:
                              type: integer
                          delete:
                            description: Карточки товаров, которые необходимо удалить
                            type: array
                            items:
                              type: integer
            example:
              nms:
                - advert_id: 12345
                  nms:
                    add:
                      - 11111111
                      - 44444444
                    delete:
                      - 55555555
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                required:
                  - nms
                properties:
                  nms:
                    description: Результат отработки запроса
                    type: array
                    items:
                      type: object
                      required:
                        - advert_id
                        - nms
                      properties:
                        advert_id:
                          description: ID кампании
                          type: integer
                          format: int64
                        nms:
                          description: Карточки товаров
                          type: object
                          required:
                            - added
                            - deleted
                          properties:
                            added:
                              description: Добавленные карточки товаров
                              type: array
                              items:
                                type: integer
                            deleted:
                              description: Удалённые карточки товаров
                              type: array
                              items:
                                type: integer
              example:
                nms:
                  - advert_id: 12345
                    nms:
                      added:
                        - 11111111
                        - 44444444
                      deleted:
                        - 55555555
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: nomenclature 13335157 cannot be both added and deleted for advert 27247695
                origin: camp-api-public-cache
                request_id: 6023d2950af564838f9b44a279d2140c
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/advert/v0/bids/recommendations:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      tags:
        - Управление кампаниями
      summary: Рекомендуемые ставки для карточек товаров и поисковых кластеров
      description: |
        Метод возвращает рекомендуемые ставки для карточек товаров и поисковых кластеров кампании.
        Только для кампаний с типом оплаты `cpm` — за показы.

         <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Сервисный | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Базовый с секретом | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Базовый | 1 ч | 20 запросов | 3 мин | 1 запрос |
        </div>
      parameters:
        - name: nmId
          in: query
          required: true
          description: Артикул WB
          example: 123456789
          schema:
            type: integer
            format: int64
        - name: advertId
          in: query
          required: true
          description: ID кампании
          example: 987654321
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V0BidsRecommendationsResponse'
              example:
                advertId: 987654321
                base:
                  competitiveBid:
                    bidKopecks: 39500
                  leadersBid:
                    bidKopecks: 66900
                  top2:
                    bidKopecks: 0
                nmId: 123456789
                normQueries:
                  - normQuery: футболка
                    reachMax:
                      bidKopecks: 50500
                      bidKopecksMin: 49500
                    reachMedium:
                      bidKopecks: 32000
                    reachMin:
                      bidKopecks: 32000
        '400':
          description: Неправильный запрос
          content:
            text/plain:
              schema:
                type: string
              examples:
                IncorrectTypeAdv:
                  $ref: '#/components/examples/IncorrectTypeAdv'
                IncorrectSupplierIdAdv:
                  $ref: '#/components/examples/IncorrectSupplierIdAdv'
                IncorrectUsingMethods:
                  $ref: '#/components/examples/IncorrectUsingMethods'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/normquery/stats:
    post:
      x-readonly-method: true
      servers:
        - url: https://advert-api.wildberries.ru
      x-category: advert
      tags:
        - Статистика
      summary: Статистика поисковых кластеров
      description: |
        Метод формирует статистику по поисковым кластерам за указанный период.<br>
        Можно использовать для кампаний с моделями оплаты `cpm` — за показы и `cpc` — за клики.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 10 запросов | 6 сек | 20 запросов |
        | Сервисный | 1 мин | 10 запросов | 6 сек | 20 запросов |
        | Базовый с секретом | 1 мин | 10 запросов | 6 сек | 20 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V0GetNormQueryStatsRequest'
            example:
              from: '2025-10-07'
              to: '2025-10-08'
              items:
                - advert_id: 1825035
                  nm_id: 983512347
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V0GetNormQueryStatsResponse'
              example:
                stats:
                  - advert_id: 1825035
                    nm_id: 983512347
                    stats:
                      - atbs: 68
                        avg_pos: 3.6
                        clicks: 2090
                        cpc: 471
                        cpm: 813
                        ctr: 107.23
                        norm_query: Фраза 1
                        orders: 19
                        views: 1949
                      - atbs: 68
                        avg_pos: 3.6
                        clicks: 2090
                        cpc: 471
                        cpm: 813
                        ctr: 107.23
                        norm_query: Фраза 2
                        orders: 19
                        views: 1949
                      - atbs: 68
                        avg_pos: 3.6
                        clicks: 2090
                        cpc: 471
                        cpm: 813
                        ctr: 107.23
                        norm_query: Фраза 3
                        orders: 19
                        views: 1949
                      - atbs: 36
                        avg_pos: 3.9
                        clicks: 1847
                        cpc: 278
                        cpm: 445
                        ctr: 96.4
                        norm_query: Фраза 4
                        orders: 28
                        views: 1916
                      - atbs: 36
                        avg_pos: 3.9
                        clicks: 1847
                        cpc: 278
                        cpm: 445
                        ctr: 96.4
                        norm_query: Фраза 5
                        orders: 28
                        views: 1916
                      - atbs: 79
                        avg_pos: 2.2
                        clicks: 2468
                        cpc: 106
                        cpm: 819
                        ctr: 145.01
                        norm_query: Фраза 6
                        orders: 14
                        views: 1702
                      - atbs: 79
                        avg_pos: 2.2
                        clicks: 2468
                        cpc: 106
                        cpm: 819
                        ctr: 145.01
                        norm_query: Фраза 7
                        orders: 14
                        views: 1702
                      - atbs: 67
                        avg_pos: 9.9
                        clicks: 1166
                        cpc: 250
                        cpm: 837
                        ctr: 70.33
                        norm_query: Фраза 8
                        orders: 26
                        views: 1658
                      - atbs: 67
                        avg_pos: 9.9
                        clicks: 1166
                        cpc: 250
                        cpm: 837
                        ctr: 70.33
                        norm_query: Фраза 9
                        orders: 26
                        views: 1658
                      - atbs: 46
                        avg_pos: 2
                        clicks: 2927
                        cpc: 122
                        cpm: 468
                        ctr: 186.43
                        norm_query: Фраза 10
                        orders: 23
                        views: 1570
                      - atbs: 46
                        avg_pos: 2
                        clicks: 2927
                        cpc: 122
                        cpm: 468
                        ctr: 186.43
                        norm_query: Фраза 11
                        orders: 23
                        views: 1570
                      - atbs: 79
                        avg_pos: 7.1
                        clicks: 2447
                        cpc: 67
                        cpm: 426
                        ctr: 163.9
                        norm_query: Фраза 12
                        orders: 13
                        views: 1493
                      - atbs: 79
                        avg_pos: 7.1
                        clicks: 2447
                        cpc: 67
                        cpm: 426
                        ctr: 163.9
                        norm_query: Фраза 13
                        orders: 13
                        views: 1493
                      - atbs: 61
                        avg_pos: 6
                        clicks: 1391
                        cpc: 370
                        cpm: 980
                        ctr: 99.29
                        norm_query: Фраза 14
                        orders: 27
                        views: 1401
                      - atbs: 61
                        avg_pos: 6
                        clicks: 1391
                        cpc: 370
                        cpm: 980
                        ctr: 99.29
                        norm_query: Фраза 15
                        orders: 27
                        views: 1401
                      - atbs: 26
                        avg_pos: 6.9
                        clicks: 1029
                        cpc: 88
                        cpm: 459
                        ctr: 77.43
                        norm_query: Фраза 16
                        orders: 3
                        views: 1329
                      - atbs: 26
                        avg_pos: 6.9
                        clicks: 1029
                        cpc: 88
                        cpm: 459
                        ctr: 77.43
                        norm_query: Фраза 17
                        orders: 3
                        views: 1329
                      - atbs: 67
                        avg_pos: 3.8
                        clicks: 1371
                        cpc: 448
                        cpm: 534
                        ctr: 104.18
                        norm_query: Фраза 18
                        orders: 3
                        views: 1316
                      - atbs: 67
                        avg_pos: 3.8
                        clicks: 1371
                        cpc: 448
                        cpm: 534
                        ctr: 104.18
                        norm_query: Фраза 19
                        orders: 3
                        views: 1316
                      - atbs: 18
                        avg_pos: 10
                        clicks: 2944
                        cpc: 472
                        cpm: 839
                        ctr: 256
                        norm_query: Фраза 20
                        orders: 4
                        views: 1150
                      - atbs: 18
                        avg_pos: 10
                        clicks: 2944
                        cpc: 472
                        cpm: 839
                        ctr: 256
                        norm_query: Фраза 21
                        orders: 4
                        views: 1150
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/normquery/get-bids:
    post:
      x-readonly-method: true
      x-category: advert
      servers:
        - url: https://advert-api.wildberries.ru
      tags:
        - Поисковые кластеры
      summary: Список ставок поисковых кластеров
      description: |
        Метод возвращает список поисковых кластеров со ставками по:
          - ID кампаний
          - артикулам WB

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V0GetNormQueryBidsRequest'
            example:
              items:
                - advert_id: 1825035
                  nm_id: 983512347
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V0GetNormQueryBidsResponse'
              example:
                bids:
                  - advert_id: 1825035
                    bid: 700
                    nm_id: 983512347
                    norm_query: Фраза 1
                  - advert_id: 1825035
                    bid: 9000
                    nm_id: 983512347
                    norm_query: Фраза 2
                  - advert_id: 1825035
                    bid: 9999
                    nm_id: 983512347
                    norm_query: Фраза 3
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/normquery/bids:
    post:
      x-readonly-method: false
      x-category: advert
      servers:
        - url: https://advert-api.wildberries.ru
      tags:
        - Поисковые кластеры
      summary: Установить ставки для поисковых кластеров
      description: |
        Метод устанавливает ставки на поисковые кластеры.<br>
        Можно использовать только для кампаний с:
          - ручной ставкой
          - моделью оплаты `cpm` — за показы


        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 2 запроса | 500 мс | 4 запроса |
        | Сервисный | 1 сек | 2 запроса | 500 мс | 4 запроса |
        | Базовый с секретом | 1 сек | 2 запроса | 500 мс | 4 запроса |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V0SetNormQueryBidsRequest'
            example:
              bids:
                - advert_id: 1825035
                  nm_id: 983512347
                  norm_query: Фраза 1
                  bid: 1000
      responses:
        '200':
          description: Успешно
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
    delete:
      x-readonly-method: false
      x-category: advert
      servers:
        - url: https://advert-api.wildberries.ru
      tags:
        - Поисковые кластеры
      summary: Удалить ставки поисковых кластеров
      description: |
        Метод удаляет ставки с поисковых кластеров.<br>
        Можно использовать только для кампаний с:
          - ручной ставкой
          - моделью оплаты `cpm` — за показы


        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V0SetNormQueryBidsRequest'
            example:
              bids:
                - advert_id: 1825035
                  nm_id: 983512347
                  norm_query: Фраза 1
                  bid: 1000
      responses:
        '200':
          description: Успешно
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/normquery/get-minus:
    post:
      x-readonly-method: true
      x-category: advert
      servers:
        - url: https://advert-api.wildberries.ru
      tags:
        - Поисковые кластеры
      summary: Список минус-фраз кампаний
      description: |
        Метод возвращает список минус-фраз по:
          - ID кампаний
          - артикулам WB


        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V0GetNormQueryMinusRequest'
            example:
              items:
                - advert_id: 1825035
                  nm_id: 983512347
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V0GetNormQueryMinusResponse'
              example:
                items:
                  - advert_id: 1825035
                    nm_id: 983512347
                    norm_queries:
                      - Фраза 1
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/normquery/set-minus:
    post:
      x-readonly-method: false
      x-category: advert
      servers:
        - url: https://advert-api.wildberries.ru
      tags:
        - Поисковые кластеры
      summary: Установка и удаление минус-фраз
      description: |
        Метод устанавливает и удаляет минус-фразы в кампаниях c единой и ручной ставкой.

        <div class="description_important">
          Отправка пустого массива удаляет все минус-фразы
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V0SetMinusNormQueryRequest'
            example:
              advert_id: 1825035
              nm_id: 983512347
              norm_queries:
                - Фраза 1
      responses:
        '200':
          description: Успешно
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/count:
    servers:
      - url: https://advert-media-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Количество медиакампаний
      description: |
        Метод возвращает количество [медиакампаний](/openapi/promotion#tag/Media/paths/~1adv~1v1~1advert/get) продавца с группировкой по статусам.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 10 запросов | 100 мс | 10 запросов |
        | Сервисный | 1 сек | 10 запросов | 100 мс | 10 запросов |
        | Базовый с секретом | 1 сек | 10 запросов | 100 мс | 10 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      tags:
        - Медиа
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  all:
                    description: Общее количество медиакампаний всех статусов и типов
                    type: integer
                  adverts:
                    type: object
                    nullable: true
                    properties:
                      type:
                        description: |
                          Тип медиакампании:
                          - `1` — размещение по дням
                          - `2` — размещение по просмотрам
                        type: integer
                      status:
                        description: |
                          Статус медиакампании:
                            - `1` — черновик
                            - `2` — модерация
                            - `3` — отклонена (с возможностью вернуть на модерацию)
                            - `4` — готова к запуску
                            - `5` — запланирована
                            - `6` — на показах
                            - `7` — завершена
                            - `8` — отменена
                            - `9` — приостановлена продавцом
                            - `10` — пауза по дневному лимиту
                            - `11` — пауза
                        type: integer
                      count:
                        description: Количество медиакампаний
                        type: integer
              example:
                all: 6
                adverts:
                  type: 2
                  status: 7
                  count: 2
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/adverts:
    servers:
      - url: https://advert-media-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Список медиакампаний
      description: |
        Метод возвращает список всех [медиакампаний](/openapi/promotion#tag/Media/paths/~1adv~1v1~1advert/get) продавца по их типам и статусам.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 10 запросов | 100 мс | 10 запросов |
        | Сервисный | 1 сек | 10 запросов | 100 мс | 10 запросов |
        | Базовый с секретом | 1 сек | 10 запросов | 100 мс | 10 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      tags:
        - Медиа
      parameters:
        - name: status
          in: query
          description: |
            Статус медиакампании:
              - `1` — черновик
              - `2` — модерация
              - `3` — отклонена (с возможностью вернуть на модерацию)
              - `4` — готова к запуску
              - `5` — запланирована
              - `6` — на показах
              - `7` — завершена
              - `8` — отменена
              - `9` — приостановлена продавцом
              - `10` — пауза по дневному лимиту
              - `11` — пауза
          schema:
            type: integer
            example: 1
        - name: type
          in: query
          description: |
            Тип медиакампании:
            - `1` — размещение по дням
            - `2` — размещение по просмотрам
          schema:
            type: integer
            example: 1
        - name: limit
          in: query
          description: Количество кампаний в ответе
          schema:
            type: integer
            example: 1
        - name: offset
          in: query
          description: Смещение относительно первой медиакампании
          schema:
            type: integer
            example: 1
        - name: order
          in: query
          description: |
            Порядок вывода ответа:
            - `create` — по времени создания медиакампании
            - `id` — по ID медиакампании
          schema:
            type: string
            example: id
        - name: direction
          in: query
          description: |
            Порядок сортировки:
            - `desc` — от большего к меньшему
            - `asc` — от меньшего к большему
          schema:
            type: string
            example: desc
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    advertId:
                      description: ID медиакампании
                      type: integer
                    name:
                      description: Название медиакампании
                      type: string
                    brand:
                      description: Название бренда
                      type: string
                    type:
                      description: |
                        Тип медиакампании:
                        - `1` — размещение по дням
                        - `2` — размещение по просмотрам
                      type: integer
                    status:
                      description: |
                        Статус медиакампании:
                          - `1` — черновик
                          - `2` — модерация
                          - `3` — отклонена (с возможностью вернуть на модерацию)
                          - `4` — готова к запуску
                          - `5` — запланирована
                          - `6` — на показах
                          - `7` — завершена
                          - `8` — отменена
                          - `9` — приостановлена продавцом
                          - `10` — пауза по дневному лимиту
                          - `11` — пауза
                      type: integer
                    createTime:
                      description: Время создания медиакампании
                      type: string
                      format: date-time
                    endTime:
                      description: Время завершения медиакампании
                      type: string
                      format: date-time
              example:
                - advertId: 123456
                  name: тост
                  brand: brand
                  type: 2
                  status: 8
                  createTime: '2023-03-25T20:35:57.116943+03:00'
                - advertId: 54321
                  name: тест
                  brand: brandname
                  type: 1
                  status: 7
                  createTime: '2023-07-24T16:48:20.935599+03:00'
                  endTime: '2023-07-25T20:35:50.104978Z'
        '204':
          description: Медиакампании не найдены
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/advert:
    servers:
      - url: https://advert-media-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Информация о медиакампании
      description: |
        Метод возвращает информацию о кампании [WB Медиа](https://cmp.wildberries.ru/cmpf/list). Вместо карточек товаров в медиакампаниях продвигаются рекламные баннеры продавца на сайте и в приложении WB.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 10 запросов | 100 мс | 10 запросов |
        | Сервисный | 1 сек | 10 запросов | 100 мс | 10 запросов |
[...]
