openapi: 3.0.1
info:
  title: Общение с покупателями
  version: communication
  description: |
    <div class="description_important">
      Узнать больше об общении с покупателями можно в <a href="https://seller.wildberries.ru/instructions/category/f7f6c465-dd12-422d-80a0-a6d9562115d5?goBackOption=prevRoute&categoryId=30817062-14cc-4a82-bc78-3600c2b0685b">справочном центре</a>
    </div>

    <div class="api-block">

    С помощью методов общения с покупателями вы можете работать с:
      1. [Вопросами](/openapi/user-communication#tag/Voprosy) и [отзывами](/openapi/user-communication#tag/Otzyvy) покупателей
      2. [Закреплёнными отзывами](/openapi/user-communication#tag/Zakreplyonnye-otzyvy)
      3. [Чатами с покупателями](/openapi/user-communication#tag/Chat-s-pokupatelyami)
      4. [Заявками покупателей на возврат](/openapi/user-communication#tag/Vozvraty-pokupatelyami)

    </div>

    <div class="description_ref">
      Узнать, как использовать методы в бизнес-кейсах, можно в <a href="https://dev.wildberries.ru/knowledge-base/articles/019d49a4-0b26-7620-8d0b-e3050b7cd01d/obshchenie-s-pokupateliami">инструкции</a> по работе с разделом <strong>Общение с покупателями</strong>
    </div>
  x-file-name: communications
security:
  - HeaderApiKey: []
tags:
  - name: Вопросы
    description: ''
  - name: Отзывы
    description: ''
  - name: Закреплённые отзывы
    description: ''
  - name: Чат с покупателями
    description: ''
  - name: Возвраты покупателями
    description: ''
paths:
  /api/v1/new-feedbacks-questions:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Непросмотренные отзывы и вопросы
      description: |
        Метод проверяет наличие непросмотренных [вопросов](/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1questions/get) и [отзывов](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get) от покупателей. Если у продавца есть непросмотренные вопросы или отзывы, возвращает `true`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Вопросы
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      hasNewQuestions:
                        type: boolean
                        description: |
                          Есть ли непросмотренные вопросы:
                             - `true` — да
                             - `false` — нет
                        example: true
                      hasNewFeedbacks:
                        type: boolean
                        description: |
                          Есть ли непросмотренные отзывы:
                           - `true` — да
                           - `false` — нет
                        example: false
                  error:
                    type: boolean
                    description: Есть ли ошибка
                    example: false
                  errorText:
                    type: string
                    description: Описание ошибки
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/questions/count-unanswered:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Неотвеченные вопросы
      description: |
        Метод возвращает общее количество неотвеченных [вопросов](/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1questions/get) и количество неотвеченных вопросов за сегодня.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Вопросы
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      countUnanswered:
                        type: integer
                        description: Количество неотвеченных вопросов
                        example: 24
                      countUnansweredToday:
                        type: integer
                        description: Количество неотвеченных вопросов за сегодня
                        example: 0
                  error:
                    type: boolean
                    description: Есть ли ошибка
                    example: false
                  errorText:
                    type: string
                    description: Описание ошибки
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/questions/count:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Количество вопросов
      description: |
        Метод возвращает количество отвеченных или неотвеченных [вопросов](/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1questions/get) за заданный период.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Вопросы
      parameters:
        - name: dateFrom
          in: query
          description: Дата начала периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
        - name: dateTo
          in: query
          description: Дата конца периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
        - name: isAnswered
          in: query
          description: |
            Есть ли ответ на вопрос:
              - `true` — да
              - `false` — нет
          schema:
            type: boolean
            default: true
            example: false
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: integer
                    description: Количество вопросов
                    example: 77
                  error:
                    type: boolean
                    description: Есть ли ошибка
                    example: false
                  errorText:
                    type: string
                    description: Описание ошибки
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                IsAnsweredErr400:
                  $ref: '#/components/examples/IsAnsweredErr400'
                DateFromErr400:
                  $ref: '#/components/examples/DateFromErr400'
                DateToErr400:
                  $ref: '#/components/examples/DateToErr400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/questions:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Список вопросов
      description: |
        Метод возвращает список вопросов по заданным фильтрам. Вы можете:
          - получить данные отвеченных и неотвеченных вопросов
          - сортировать вопросы по дате
          - настроить пагинацию и количество вопросов в ответе

        <div class="description_important">
          Можно получить максимум 10 000 вопросов в одном ответе
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Вопросы
      parameters:
        - name: isAnswered
          in: query
          description: |
            Есть ли ответ на вопрос:
              - `true` — да
              - `false` — нет
          schema:
            type: boolean
          required: true
        - name: nmId
          in: query
          description: Артикул WB
          schema:
            type: integer
        - name: take
          in: query
          description: |
            Количество запрашиваемых вопросов (максимально допустимое значение для параметра - 10 000,
            при этом сумма значений параметров `take` и `skip` не должна превышать 10 000)
          schema:
            type: integer
          required: true
        - name: skip
          in: query
          description: |
            Количество вопросов для пропуска (максимально допустимое значение для параметра - 10 000,
            при этом сумма значений параметров `take` и `skip` не должна превышать 10 000)
          schema:
            type: integer
          required: true
        - name: order
          in: query
          description: Сортировка вопросов по дате (`dateAsc`/`dateDesc`)
          schema:
            type: string
        - name: dateFrom
          allowEmptyValue: true
          in: query
          description: Дата начала периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
        - name: dateTo
          in: query
          description: Дата конца периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      countUnanswered:
                        type: integer
                        description: Количество неотвеченных вопросов
                      countArchive:
                        type: integer
                        description: Количество отвеченных вопросов
                      questions:
                        description: Вопросы
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: id вопроса
                            text:
                              type: string
                              description: Текст вопроса
                            createdDate:
                              type: string
                              format: date-time
                              description: Дата и время создания вопроса
                            state:
                              type: string
                              description: |
                                Статус вопроса:
                                  - `none` — вопрос отклонён продавцом (такой вопрос не отображается на портале покупателей)
                                  - `wbRu` — ответ предоставлен, вопрос отображается на сайте покупателей
                                  - `suppliersPortalSynch` - новый вопрос
                            answer:
                              description: Структура ответа
                              nullable: true
                              type: object
                              properties:
                                text:
                                  type: string
                                  description: Текст ответа
                                editable:
                                  type: boolean
                                  description: Можно ли отредактировать ответ (`false` - нельзя, `true` - можно)
                                createDate:
                                  type: string
                                  format: date-time
                                  description: Дата и время создания ответа
                            productDetails:
                              type: object
                              description: Информация о товаре
                              properties:
                                nmId:
                                  type: integer
                                  description: Артикул WB
                                imtId:
                                  type: integer
                                  description: ID для [объединённых](https://dev.wildberries.ru/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami#obuedinenie-i-razuedinenie-kartochek-tovarov) карточек товаров
                                productName:
                                  type: string
                                  description: Название товара
                                supplierArticle:
                                  type: string
                                  description: Артикул продавца
                                supplierName:
                                  type: string
                                  description: Имя продавца
                                brandName:
                                  type: string
                                  description: Название бренда
                            wasViewed:
                              type: boolean
                              description: Просмотрен ли вопрос
                            isWarned:
                              type: boolean
                              description: |
                                Признак подозрительного вопроса.<br>
                                Если `true`, то вопрос опубликован, но на портале продавцов вы увидите баннер **Сообщение подозрительное**
                  error:
                    type: boolean
                    description: Есть ли ошибка
                    example: false
                  errorText:
                    type: string
                    description: Описание ошибки
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  countUnanswered: 24
                  countArchive: 508
                  questions:
                    - id: 2ncBtX4B9I0UHoornoqG
                      text: Question text
                      createdDate: '2022-02-01T11:18:08.769513469Z'
                      state: suppliersPortalSynch
                      answer: null
                      productDetails:
                        imtId: 11157265
                        nmId: 14917842
                        productName: Coffee
                        supplierArticle: '123401'
                        supplierName: ' ГП Реклама и услуги'
                        brandName: Nescafe
                      wasViewed: false
                      isWarned: false
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/FeedbackErr400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
    patch:
      x-readonly-method: false
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Работа с вопросами
      description: |
        В зависимости от тела запроса, метод позволяет:
          - отметить [вопрос](/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1questions/get) как просмотренный
          - отклонить вопрос
          - ответить на вопрос или отредактировать ответ

        <div class="description_important">
          Отредактировать ответ на вопрос можно 1 раз в течение 60 дней после отправки ответа
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Вопросы
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required:
                    - id
                    - wasViewed
                  properties:
                    id:
                      description: Id вопроса
                      type: string
                      example: n5um6IUBQOOSTxXoo0gV
                    wasViewed:
                      description: Просмотрен ли вопрос
                      type: boolean
                      example: true
                - type: object
                  required:
                    - id
                    - answer
                    - state
                  properties:
                    id:
                      type: string
                      description: Id вопроса
                      example: n5um6IUBQOOSTxXoo0gV
                    answer:
                      type: object
                      required:
                        - text
                      properties:
                        text:
                          type: string
                          description: Текст ответа
                          example: текст ответа
                    state:
                      type: string
                      description: |
                        Статус вопроса:
                          - `none` - вопрос отклонён продавцом (такой вопрос не отображается на портале покупателей)
                          - `wbRu` - ответ предоставлен, вопрос отображается на сайте покупателей.
            examples:
              ViewQuestion:
                description: Просмотреть вопрос
                value:
                  id: n5um6IUBQOOSTxXoo0gV
                  wasViewed: true
              RejectQuestion:
                description: Отклонить вопрос
                value:
                  id: n5um6IUBQOOSTxXoo0gV
                  answer:
                    text: текст ответа
                  state: none
              AnswerQuestionOrEditAnswer:
                description: Ответить на вопрос или отредактировать ответ
                value:
                  id: n5um6IUBQOOSTxXoo0gV
                  answer:
                    text: текст ответа
                  state: wbRu
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                  error:
                    type: boolean
                    description: Есть ли ошибка
                  errorText:
                    type: string
                    description: Описание ошибки
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data: null
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/FeedbackErr400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                FeedbackErr404:
                  $ref: '#/components/examples/FeedbackErr404'
        '422':
          description: Ошибка обработки параметров запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                ResponsePatchQuestion:
                  $ref: '#/components/examples/ResponsePatchQuestion'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/question:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Получить вопрос по ID
      description: |
        Метод возвращает данные [вопроса](/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1questions/get) по его ID. Далее вы можете [работать с этим вопросом](/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1questions/patch).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Вопросы
      parameters:
        - name: id
          in: query
          required: true
          description: ID вопроса
          schema:
            type: string
            example: ljAVapEBL38RyMdRln61
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ID вопроса
                      text:
                        type: string
                        description: Текст вопроса
                      createdDate:
                        type: string
                        format: date-time
                        description: Дата и время создания вопроса
                      state:
                        type: string
                        description: |
                          Статус вопроса:
                            - `none` - вопрос отклонён продавцом (такой вопрос не отображается на портале покупателей)
                            - `wbRu` - ответ предоставлен, вопрос отображается на сайте покупателей
                            - `suppliersPortalSynch` - новый вопрос
                      answer:
                        description: Ответ
                        type: object
                        nullable: true
                        properties:
                          text:
                            type: string
                            description: Текст ответа
                          editable:
                            type: boolean
                            description: Можно ли отредактировать ответ (`false` - нельзя, `true` - можно)
                          createDate:
                            type: string
                            format: date-time
                            description: Дата и время создания ответа
                      productDetails:
                        type: object
                        description: Product information
                        properties:
                          nmId:
                            type: integer
                            description: Артикул WB
                          imtId:
                            type: integer
                            description: ID для [объединённых](https://dev.wildberries.ru/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami#obuedinenie-i-razuedinenie-kartochek-tovarov) карточек товаров
                          productName:
                            type: string
                            description: Название товара
                          supplierArticle:
                            type: string
                            description: Артикул продавца
                          supplierName:
                            type: string
                            description: Имя продавца
                          brandName:
                            type: string
                            description: Название бренда
                      wasViewed:
                        type: boolean
                        description: Просмотрен ли вопрос
                      isWarned:
                        type: boolean
                        description: |
                          Признак подозрительного вопроса.<br>
                          Если `true`, то вопрос опубликован, но на портале продавцов вы увидите баннер **Сообщение подозрительное**
                  error:
                    type: boolean
                    description: Есть ли ошибка
                    example: false
                  errorText:
                    type: string
                    description: Описание ошибки
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
              example:
                data:
                  id: TfWOp5QBfEYrrd0AMJau
                  text: Хороший карандаш? Когда еще поставите?
                  createdDate: '2025-01-27T11:38:21.202143857Z'
                  state: wbRu
                  answer:
                    text: На следующей неделе
                    editable: true
                    createDate: '2025-07-28T08:24:37.187113704Z'
                  productDetails:
                    imtId: 202306781
                    nmId: 224747484
                    productName: Карандаш с ластиком
                    supplierArticle: 12113156uw
                    supplierName: ''
                    brandName: Brand
                  wasViewed: true
                  isWarned: false
                error: false
                errorText: ''
                additionalErrors: null
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '422':
          description: Ошибка обработки параметров запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                responseGetQuestionByIdErrEx:
                  $ref: '#/components/examples/ResponseGetQuestionByIdErrEx'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/count-unanswered:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Необработанные отзывы
      description: |
        Метод возвращает:
          - количество необработанных [отзывов](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get) за сегодня и за всё время

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Отзывы
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      countUnanswered:
                        type: integer
                        description: Количество необработанных отзывов
                        example: 1
                      countUnansweredToday:
                        type: integer
                        description: Количество необработанных отзывов за сегодня
                        example: 0
                  error:
                    type: boolean
                    description: Есть ли ошибка
                    example: false
                  errorText:
                    type: string
                    description: Описание ошибки
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/count:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Количество отзывов
      description: |
        Метод возвращает количество обработанных или необработанных [отзывов](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get) за заданный период.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Отзывы
      parameters:
        - name: dateFrom
          in: query
          description: Дата начала периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
        - name: dateTo
          in: query
          description: Дата конца периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
        - name: isAnswered
          in: query
          description: |
            Обработан ли отзыв:
              - `true` — да
              - `false` — нет
          schema:
            type: boolean
            default: true
            example: false
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: integer
                    description: Количество отзывов
                    example: 724583
                  error:
                    type: boolean
                    description: Есть ли ошибка
                    example: false
                  errorText:
                    type: string
                    description: Описание ошибки
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                IsAnsweredErr400:
                  $ref: '#/components/examples/IsAnsweredErr400'
                DateFromErr400:
                  $ref: '#/components/examples/DateFromErr400'
                DateToErr400:
                  $ref: '#/components/examples/DateToErr400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Список отзывов
      description: |
        Метод возвращает список отзывов по заданным фильтрам. Вы можете:
          - получить данные обработанных и необработанных отзывов
          - сортировать отзывы по дате
          - настроить пагинацию и количество отзывов в ответе

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Отзывы
      parameters:
        - name: isAnswered
          in: query
          required: true
          description: |
            Обработан ли отзыв:
              - `true` — да
              - `false` — нет
          schema:
            type: boolean
            example: false
        - name: nmId
          in: query
          description: Артикул WB
          schema:
            type: integer
            example: 5870243
        - name: take
          in: query
          required: true
          description: Количество отзывов (max. 5 000)
          schema:
            type: integer
            example: 1
        - name: skip
          in: query
          required: true
          description: Количество отзывов для пропуска (max. 199990)
          schema:
            type: integer
            example: 0
        - name: order
          in: query
          description: Сортировка отзывов по дате (dateAsc/dateDesc)
          schema:
            type: string
            enum:
              - dateAsc
              - dateDesc
        - name: dateFrom
          in: query
          description: Дата начала периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
        - name: dateTo
          in: query
          description: Дата конца периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      countUnanswered:
                        type: integer
                        description: Количество необработанных отзывов
                      countArchive:
                        type: integer
                        description: Количество обработанных отзывов
                      feedbacks:
                        $ref: '#/components/schemas/responseFeedback'
                  error:
                    type: boolean
                    description: Есть ли ошибка
                  errorText:
                    type: string
                    description: Описание ошибки
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  countUnanswered: 52
                  countArchive: 1000
                  feedbacks:
                    - id: YX52RZEBhH9mrcYdEJuD
                      text: Спасибо, всё подошло
                      pros: Удобный
                      cons: Нет
                      productValuation: 5
                      createdDate: '2024-09-26T10:20:48+03:00'
                      answer:
                        text: Пожалуйста. Ждём вас снова!
                        state: wbRu
                        editable: false
                      state: wbRu
                      productDetails:
                        imtId: 123456789
                        nmId: 987654321
                        productName: ВАЗ
                        supplierArticle: DP02/черный
                        supplierName: ГП Реклама и услуги
                        brandName: Бест Трикотаж
                        size: '0'
                      video:
                        previewImage: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/preview.webp
                        link: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/index.m3u8
                        durationSec: 10
                      wasViewed: true
                      photoLinks:
                        - fullSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/fs.webp
                          miniSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/ms.webp
                        - fullSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/fs.webp
                          miniSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/ms.webp
                        - fullSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/fs.webp
                          miniSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/ms.webp
                      userName: Николай
                      orderStatus: buyout
                      matchingSize: ok
                      isAbleSupplierFeedbackValuation: false
                      supplierFeedbackValuation: 1
                      isAbleSupplierProductValuation: false
                      supplierProductValuation: 2
                      isAbleReturnProductOrders: false
                      returnProductOrdersDate: '2024-08-20T16:39:49Z'
                      bables:
                        - цена
                      lastOrderShkId: 123456789
                      lastOrderCreatedAt: '2024-08-12T10:20:48+03:00'
                      color: colorless
                      subjectId: 219
                      subjectName: Футболки-поло
                      parentFeedbackId: null
                      childFeedbackId: bIjTCZDvJni7NGnLbUlf
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/FeedbackErr400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/answer:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: questionsandfeedback
      tags:
        - Отзывы
      security:
        - HeaderApiKey: []
      summary: Ответить на отзыв
      description: |
        Метод позволяет ответить на [отзыв](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get) покупателя.

        <div class="description_important">
          ID отзыва не валидируется. Если в запросе вы передали некорректный ID, вы не получите ошибку.
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - text
              properties:
                id:
                  type: string
                  description: ID отзыва
                  example: J2FMRjUj6hwvwCElqssz
                text:
                  type: string
                  description: Текст ответа
                  example: Спасибо за Ваш отзыв!
                  minimum: 2
                  maximum: 5000
      responses:
        '204':
          description: Успешно
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardizedFQError'
              examples:
                contentTypeHeaderNotSpecified:
                  $ref: '#/components/examples/contentTypeHeaderNotSpecified'
                incorrectContentTypeHeader:
                  $ref: '#/components/examples/incorrectContentTypeHeader'
                incorrectContentType:
                  $ref: '#/components/examples/incorrectContentType'
                invalidJsonSyntax:
                  $ref: '#/components/examples/invalidJsonSyntax'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
    patch:
      x-readonly-method: false
      x-category: questionsandfeedback
      tags:
        - Отзывы
      security:
        - HeaderApiKey: []
      summary: Отредактировать ответ на отзыв
      description: |
        Метод позволяет отредактировать уже отправленный [ответ на отзыв](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks~1answer/post) покупателя.
        <br><br>
        Отредактировать ответ можно только один раз в течение 60 дней c момента отправки.

        <div class="description_important">
          ID отзыва не валидируется. Если в запросе вы передали некорректный ID, вы не получите ошибку.
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - text
              properties:
                id:
                  type: string
                  description: ID отзыва
                  example: J2FMRjUj6hwvwCElqssz
                text:
                  type: string
                  description: Текст ответа
                  example: Спасибо за Ваш отзыв, он очень важен для нас!
                  minimum: 2
                  maximum: 5000
      responses:
        '204':
          description: Успешно
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/order/return:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Возврат товара по ID отзыва
      description: |
        Метод запрашивает возврат товара, по которому оставлен [отзыв](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get).
        <br><br>
        Возврат доступен для отзывов с полем `"isAbleReturnProductOrders": true`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Отзывы
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                feedbackId:
                  type: string
                  description: ID отзыва
            example:
              feedbackId: absdfgerrrfff1234
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                  error:
                    type: boolean
                    description: Есть ли ошибка
                  errorText:
                    type: string
                    description: Описание ошибки
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/ResponseDoNotGetFeedback400'
                RequestBodyErr400:
                  $ref: '#/components/examples/RequestBodyErr400'
                RequestIDErr400:
                  $ref: '#/components/examples/RequestIDErr400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '422':
          description: Ошибка обработки параметров запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                responseInaccessibleBackGoodError422:
                  $ref: '#/components/examples/responseInaccessibleBackGoodError422'
                responseUnsuccessfullyBackGoodError422:
                  $ref: '#/components/examples/responseUnsuccessfullyBackGoodError422'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedback:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Получить отзыв по ID
      description: |
        Метод возвращает данные [отзыва](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get) по его ID.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Отзывы
      parameters:
        - name: id
          in: query
          required: true
          description: ID отзыва
          schema:
            type: string
            example: G7Y9Y1kBAtKOitoBT_lV
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ID отзыва
                      text:
                        type: string
                        description: Текст отзыва
                      pros:
                        type: string
                        description: Достоинства товара
                        nullable: false
                      cons:
                        type: string
                        description: Недостатки товара
                        nullable: false
                      matchingSize:
                        type: string
                        description: |
                          Соответствие заявленного размера реальному.
                          <br>Возможные значения:
                          - ` ` - для безразмерных товаров
                          - `ок` - соответствует размеру
                          - `smaller` - маломерит
                          - `bigger` - большемерит
                      productValuation:
                        type: integer
                        description: Оценка товара
                      createdDate:
                        type: string
                        format: date-time
                        description: Дата и время создания отзыва
                      answer:
                        nullable: true
                        type: object
                        description: Структура ответа
                        properties:
                          text:
                            type: string
                            description: Текст ответа
                          state:
                            type: string
                            description: |
                              Статус:
                                - `none` — новый
                                - `wbRu`— отображается на сайте
                                - `reviewRequired` — ответ проходит проверку
                                - `rejected` — ответ отклонён
                          editable:
                            type: boolean
                            description: |
                              Можно ли отредактировать ответ:
                                - `false` — нет
                                - `true` — да
                      state:
                        type: string
                        description: |
                          Статус отзыва:
                            - `none` - не обработан (новый)
                            - `wbRu` - обработан
                      productDetails:
                        description: Product information
                        type: object
                        properties:
                          nmId:
                            type: integer
                            description: Артикул WB
                          imtId:
                            type: integer
                            description: ID для [объединённых](https://dev.wildberries.ru/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami#obuedinenie-i-razuedinenie-kartochek-tovarov) карточек товаров
                          productName:
                            type: string
                            description: Название товара
                          supplierArticle:
                            type: string
                            nullable: true
                            description: Артикул продавца
                          supplierName:
                            type: string
                            nullable: true
                            description: Имя продавца
                          brandName:
                            type: string
                            nullable: true
                            description: Бренд товара
                          size:
                            type: string
                            description: Размер товара (`techSize` в КТ)
                      photoLinks:
                        nullable: true
                        description: Массив структур фотографий
                        type: array
                        items:
                          type: object
                          properties:
                            fullSize:
                              type: string
                              description: Адрес фотографии полного размера
                            miniSize:
                              type: string
                              description: Адрес фотографии маленького размера
                      userName:
                        type: string
                        description: Имя автора отзыва
                        nullable: false
                      orderStatus:
                        type: string
                        description: |
                          Статус заказа.
                          <br>Возможные значения:
                          - `buyout` — выкуплен
                          - `rejected` — отказались
                          - `returned` — возврат
                          - `notSpecified` — статус не присвоен
                      video:
                        nullable: true
                        description: Структура видео
                        type: object
                        properties:
                          previewImage:
                            type: string
                            description: Ссылка на обложку видео
                          link:
                            type: string
                            description: Ссылка на файл плейлиста видео (доступно по протоколу hls)
                          durationSec:
                            type: integer
                            description: Общая продолжительность видео
                      wasViewed:
                        type: boolean
                        description: Просмотрен ли отзыв
                      isAbleSupplierFeedbackValuation:
                        description: |
                          Доступна ли продавцу возможность оставить жалобу на отзыв:
                            - `true`— да
                            - `false` — нет
                        type: boolean
                      supplierFeedbackValuation:
                        description: |
                          Ключ причины жалобы на отзыв
                        type: integer
                      isAbleSupplierProductValuation:
                        description: Доступна ли продавцу возможность сообщить о проблеме с товаром  (`true` - доступна, `false` - не доступна)
                        type: boolean
                      supplierProductValuation:
                        description: |
                          Ключ проблемы с товаром
                        type: integer
                      isAbleReturnProductOrders:
                        description: |
                          Опция возврата товара:
                            - `true` — доступна
                            - `false` — недоступна
                        type: boolean
                      returnProductOrdersDate:
                        nullable: true
                        description: Дата и время, когда на запрос возврата был получен ответ со статус-кодом 200.
                        type: string
                      bables:
                        nullable: true
                        description: Список тегов покупателя
                        type: array
                        items:
                          type: string
                      lastOrderShkId:
                        type: integer
                        description: Штрихкод единицы товара
                      lastOrderCreatedAt:
                        type: string
                        description: Дата покупки
                      color:
                        type: string
                        description: Цвет товара
                      subjectId:
                        type: integer
                        description: ID предмета
                      subjectName:
                        type: string
                        description: Название предмета
                      parentFeedbackId:
                        type: string
                        description: ID начального отзыва (`null`, если этот отзыв начальный)
                        nullable: true
                      childFeedbackId:
                        type: string
                        nullable: true
                        description: ID дополненного отзыва (`null`, если этот отзыв дополненный)
                  error:
                    type: boolean
                    description: Есть ли ошибка
                  errorText:
                    type: string
                    description: Описание ошибки
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  id: YX52RZEBhH9mrcYdEJuD
                  text: Спасибо, всё подошло
                  pros: Удобный
                  cons: Нет
                  productValuation: 5
                  createdDate: '2024-09-26T10:20:48+03:00'
                  answer:
                    text: Пожалуйста. Ждём вас снова!
                    state: wbRu
                    editable: false
                  state: wbRu
                  productDetails:
                    imtId: 123456789
                    nmId: 987654321
                    productName: ВАЗ
                    supplierArticle: DP02/черный
                    supplierName: ГП Реклама и услуги
                    brandName: Бест Трикотаж
                    size: '0'
                  video:
                    previewImage: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/preview.webp
                    link: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/index.m3u8
                    durationSec: 10
                  wasViewed: true
                  photoLinks:
                    - fullSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/fs.webp
                      miniSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/ms.webp
                    - fullSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/fs.webp
                      miniSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/ms.webp
                    - fullSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/fs.webp
                      miniSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/ms.webp
                  userName: Николай
                  orderStatus: returned
                  matchingSize: ok
                  isAbleSupplierFeedbackValuation: false
                  supplierFeedbackValuation: 1
                  isAbleSupplierProductValuation: false
                  supplierProductValuation: 2
                  isAbleReturnProductOrders: false
                  returnProductOrdersDate: '2024-08-20T16:39:49Z'
                  bables:
                    - цена
                  lastOrderShkId: 123456789
                  lastOrderCreatedAt: '2024-08-12T10:20:48+03:00'
                  color: colorless
                  subjectId: 219
                  subjectName: Футболки-поло
                  parentFeedbackId: null
                  childFeedbackId: bIjTCZDvJni7NGnLbUlf
                error: false
                errorText: ''
                additionalErrors: null
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '422':
          description: Ошибка обработки параметров запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                ResponseGetFeedbackByIdErrEx:
                  $ref: '#/components/examples/ResponseGetFeedbackByIdErrEx'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/archive:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Список архивных отзывов
      description: |
        Метод возвращает список архивных [отзывов](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get).
        <br><br>
        Отзыв становится архивным, если:
          - на отзыв получен ответ
          - на отзыв не получен ответ в течение 30 дней
          - в отзыве нет текста и фото

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Отзывы
      parameters:
        - name: nmId
          in: query
          description: Артикул WB
          schema:
            type: integer
            example: 14917842
        - name: take
          in: query
          required: true
          description: Количество отзывов (max. 5 000)
          schema:
            type: integer
            example: 1
        - name: skip
          in: query
          required: true
          description: Количество отзывов для пропуска
          schema:
            type: integer
            example: 0
        - name: order
          in: query
          description: Сортировка отзывов по дате (dateAsc/dateDesc)
          schema:
            type: string
            enum:
              - dateAsc
              - dateDesc
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      feedbacks:
                        $ref: '#/components/schemas/responseFeedback'
                  error:
                    type: boolean
                    description: Есть ли ошибка
                  errorText:
                    type: string
                    description: Описание ошибки
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  feedbacks:
                    - id: YX52RZEBhH9mrcYdEJuD
                      text: Спасибо, всё подошло
                      pros: Удобный
                      cons: Нет
                      productValuation: 5
                      createdDate: '2024-09-26T10:20:48+03:00'
                      answer:
                        text: Пожалуйста. Ждём вас снова!
                        state: wbRu
                        editable: false
                      state: wbRu
                      productDetails:
                        imtId: 123456789
                        nmId: 987654321
                        productName: ВАЗ
                        supplierArticle: DP02/черный
                        supplierName: ГП Реклама и услуги
                        brandName: Бест Трикотаж
                        size: '0'
                      video:
                        previewImage: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/preview.webp
                        link: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/index.m3u8
                        durationSec: 10
                      wasViewed: true
                      photoLinks:
                        - fullSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/fs.webp
                          miniSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/ms.webp
                        - fullSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/fs.webp
                          miniSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/ms.webp
                        - fullSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/fs.webp
                          miniSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/ms.webp
                      userName: Николай
                      orderStatus: returned
                      matchingSize: ok
                      isAbleSupplierFeedbackValuation: false
                      supplierFeedbackValuation: 1
                      isAbleSupplierProductValuation: false
                      supplierProductValuation: 2
                      isAbleReturnProductOrders: false
                      returnProductOrdersDate: '2024-08-20T16:39:49Z'
                      bables:
                        - цена
                      lastOrderShkId: 123456789
                      lastOrderCreatedAt: '2024-08-12T10:20:48+03:00'
                      color: colorless
                      subjectId: 219
                      subjectName: Футболки-поло
                      parentFeedbackId: null
                      childFeedbackId: bIjTCZDvJni7NGnLbUlf
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/FeedbackErr400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '422':
          description: Ошибка обработки параметров запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeedbackQuestionErr'
              examples:
                ResponseGetFeedbackArchive:
                  $ref: '#/components/examples/ResponseGetFeedbackArchive'
        '429':
          $ref: '#/components/responses/429'
  /api/feedbacks/v1/pins:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Список закреплённых и откреплённых отзывов
      description: |
        Метод предоставляет список закреплённых и откреплённых отзывов.
        <br>
        Откреплёнными считаются только отзывы, которые были откреплены автоматически по причинам, указанным в ответе в поле `unpinnedCause`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Закреплённые отзывы
      parameters:
        - name: state
          in: query
          description: |
            Закреплён ли отзыв:
              - `pinned` — да
              - `unpinned` — нет
          schema:
            type: string
            enum:
              - pinned
              - unpinned
            example: pinned
        - name: pinOn
          in: query
          description: |
            Место закрепления отзыва:
              - `nm` — карточка товара
              - `imt` — группа [объединённых](https://dev.wildberries.ru/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami#obuedinenie-i-razuedinenie-kartochek-tovarov) карточек товаров
          schema:
            type: string
            enum:
              - nm
              - imt
            example: nm
        - name: imtId
          in: query
          description: |
            ID для [объединённых](https://dev.wildberries.ru/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami#obuedinenie-i-razuedinenie-kartochek-tovarov) карточек товаров.<br>Един для всех артикулов WB группы объединённых карточек.<br>У каждой карточки товара есть `imtId`, даже если она не объединена с другими карточками<br>
          schema:
            type: integer
            example: 256972151
        - name: nmId
          in: query
          description: Артикул WB
          schema:
            type: integer
            example: 177974151
        - name: feedbackId
          in: query
          description: ID отзыва
          schema:
            type: integer
            example: 789
        - name: dateFrom
          in: query
          description: Дата закрепления первого отзыва в списке
          schema:
            type: string
            format: date-time
            example: '2020-01-01T15:04:05Z'
        - name: dateTo
          in: query
          description: Дата закрепления последнего отзыва в списке
          schema:
            type: string
            format: date-time
            example: '2020-02-01T15:04:05Z'
        - name: next
          in: query
          description: ID последней операции закрепления (пагинатор)
          schema:
            type: integer
            example: 741
        - name: limit
          in: query
          description: Количество отзывов на одной странице (пагинация)
          schema:
            type: integer
            default: 500
            example: 100
            maximum: 500
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/respond.SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/openapi.PinnedReviewItemResult'
                      next:
                        type: integer
                        description: Параметр пагинации. Укажите это значение в запросе, чтобы получить следующий пакет данных. Если поле отсутствует, вы получили все данные
                        example: 200
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/respond.ResultErr'
              example:
                status: 400
                title: Bad Request
                detail: state must be one of the values 'pinned', 'unpinned'
                requestId: 7b64у8ffc3523450d613723fwу61873e
                origin: pin-open-api
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
    post:
      x-readonly-method: false
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Закрепить отзывы
      description: |
        Метод позволяет закрепить отзывы в карточке товара или в группе [объединённых](https://dev.wildberries.ru/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami#obuedinenie-i-razuedinenie-kartochek-tovarov) карточек. <br>
        Чтобы получить ID отзывов, используйте метод [Список закреплённых и откреплённых отзывов](/openapi/user-communication#tag/Zakreplyonnye-otzyvy/paths/~1api~1feedbacks~1v1~1pins/get).<br>
        <br>
        Метод доступен по [подписке Джем](https://seller.wildberries.ru/monetization/jam) или c [тарифной опцией](https://seller.wildberries.ru/tariff-constructor) **Закрепление отзыва**.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Закреплённые отзывы
      requestBody:
        content:
          application/json:
            schema:
              type: array
              example:
                - pinMethod: subscription
                  pinOn: imt
                  feedbackId: VlbkVVl7mtw37wуWkJZz
                - pinMethod: tariff
                  pinOn: imt
                  feedbackId: DibuRAImknLyiqgzvGcU
              maxItems: 500
              items:
                $ref: '#/components/schemas/openapi.PinReviewItem'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/respond.SuccessResponse'
                  - $ref: '#/components/schemas/openapi.PinReviewItemResult'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/respond.ResultErr'
              example:
                detail: invalid request body
                origin: pin-open-api
                requestId: 7b64у8ffc3523450d613723fwу61873e
                status: 400
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/respond.ResultErr'
              example:
                origin: pin-open-api
                requestId: 7b64у8ffc3523450d613723fwу61873e
                status: 403
                title: no active subscription or tariff
                detail: this feature requires active subscription or active tariff
        '429':
          $ref: '#/components/responses/429'
    delete:
      x-readonly-method: false
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Открепить отзывы
      description: |
        Метод позволяет открепить отзывы в карточке товара или в группе [объединённых](https://dev.wildberries.ru/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami#obuedinenie-i-razuedinenie-kartochek-tovarov) карточек.<br>
        Чтобы получить `pinId` — ID операций закрепления, используйте метод [Список закреплённых и откреплённых отзывов](/openapi/user-communication#tag/Zakreplyonnye-otzyvy/paths/~1api~1feedbacks~1v1~1pins/get).<br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Закреплённые отзывы
      requestBody:
        description: Список `pinId` — ID операций закрепления отзывов
        content:
          application/json:
            schema:
              type: array
              maxItems: 500
              items:
                type: integer
              example:
                - 123456
                - 234567
                - 345678
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/respond.SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        description: Список `pinId` — ID операций закрепления отзывов, которые были успешно откреплены
                        example:
                          - 123456
                          - 234567
                          - 345678
                        items:
                          type: integer
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/respond.ResultErr'
              example:
                detail: invalid request body
                origin: pin-open-api
                requestId: 7b64у8ffc3523450d613723fwу61873e
                status: 400
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/feedbacks/v1/pins/count:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Количество закреплённых и откреплённых отзывов
      description: |
        Метод возвращает количество закреплённых и откреплённых отзывов за заданный период.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Закреплённые отзывы
      parameters:
        - name: state
          in: query
          description: |
            Закреплён ли отзыв:
              - `pinned` — да
              - `unpinned` — нет
          schema:
            type: string
            enum:
              - pinned
              - unpinned
            example: pinned
        - name: pinOn
          in: query
          description: |
            Место закрепления отзыва:
              - `nm` — карточка товара
              - `imt` — группа [объединённых](https://dev.wildberries.ru/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami#obuedinenie-i-razuedinenie-kartochek-tovarov) карточек товаров
          schema:
            type: string
            enum:
              - nm
              - imt
            example: nm
        - name: imtId
          in: query
          description: |
            ID для [объединённых](https://dev.wildberries.ru/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami#obuedinenie-i-razuedinenie-kartochek-tovarov) карточек товаров.<br>Един для всех артикулов WB группы объединённых карточек.<br>У каждой карточки товара есть `imtId`, даже если она не объединена с другими карточками<br>
          schema:
            type: integer
            example: 256971531
        - name: nmId
          in: query
          description: Артикул WB
          schema:
            type: integer
            example: 177974151
        - name: feedbackId
          in: query
          description: ID отзыва
          schema:
            type: integer
            example: 789
        - name: dateFrom
          in: query
          description: Дата закрепления первого отзыва в списке
          schema:
            type: string
            format: date-time
            example: '2020-01-01T15:04:05Z'
        - name: dateTo
          in: query
          description: Дата закрепления последнего отзыва в списке
          schema:
            type: string
            format: date-time
            example: '2020-02-01T15:04:05Z'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/respond.SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: integer
                        description: Количество отзывов
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/respond.ResultErr'
              example:
                status: 400
                title: Bad Request
                detail: state must be one of the values 'pinned', 'unpinned'
                requestId: 7b64у8ffc3523450d613723fwу61873e
                origin: pin-open-api
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/feedbacks/v1/pins/limits:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Лимиты закреплённых отзывов
      description: |
        Метод возвращает лимиты закреплённых отзывов по тарифу и подписке.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Сервисный | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый с секретом | 1 сек | 3 запроса | 333 мс | 6 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      tags:
        - Закреплённые отзывы
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/respond.SuccessResponse'
                  - $ref: '#/components/schemas/openapi.SellerLimitsResponse'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/seller/chats:
    get:
      x-readonly-method: true
      x-category: buyerchat
      servers:
        - url: https://buyer-chat-api.wildberries.ru
      security:
        - HeaderApiKey: []
      summary: Список чатов
      description: |
        Метод возвращает список всех чатов продавца. По этим данным можно получить [события чатов](/openapi/user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1events/get) или [отправить сообщение покупателю](/openapi/user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1message/post).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 10 сек | 10 запросов | 1 сек | 10 запросов |
        | Сервисный | 10 сек | 10 запросов | 1 сек | 10 запросов |
        | Базовый с секретом | 10 сек | 10 запросов | 1 сек | 10 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      tags:
        - Чат с покупателями
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatsResponse'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/seller/events:
    get:
      x-readonly-method: true
      x-category: buyerchat
      servers:
        - url: https://buyer-chat-api.wildberries.ru
      security:
        - HeaderApiKey: []
      summary: События чатов
      description: |
        Метод возвращает список событий всех [чатов с покупателями](/openapi/user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1chats/get).

        Чтобы получить все события:
          1. Сделайте первый запрос без параметра `next`.
          2. Повторяйте запрос со значением параметра `next` из ответа на предыдущий запрос, пока `totalEvents` не станет равным `0`. Это будет означать, что вы получили все события.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 10 сек | 10 запросов | 1 сек | 10 запросов |
        | Сервисный | 10 сек | 10 запросов | 1 сек | 10 запросов |
        | Базовый с секретом | 10 сек | 10 запросов | 1 сек | 10 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      tags:
        - Чат с покупателями
      parameters:
        - name: next
          in: query
          description: |
            Пагинатор. С какого момента получить следующий пакет данных.<br>Формат Unix timestamp **с миллисекундами**
          schema:
            type: integer
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsResponse'
              example:
                result:
                  next: 1698045576000
                  newestEventTime: '2023-10-23T07:19:36Z'
                  oldestEventTime: '2023-10-23T05:02:20Z'
                  totalEvents: 4
                  events:
                    - chatID: 1:1e265a58-a120-b178-008c-60af2460207c
                      eventID: 55adee45-11f0-33b6-a847-6ccc7c78b2ec
                      eventType: message
                      isNewChat: true
                      message:
                        attachments:
                          goodCard:
                            date: '2023-10-18T11:46:01.528526Z'
                            nmID: 12345678
                            price: 500
                            priceCurrency: RUB
                            rid: 2fb52cd9e25e52538a5f05994e688ae5
                            size: '0'
                          files:
                            - contentType: application/pdf
                              date: '2023-10-23T08:02:19.594Z'
                              downloadID: ecaeb056-a4ee-45b4-ae45-666811755d38
                              name: Чек.pdf
                              url: https://chat-basket-01.wbbasket.ru/vol0/part3265/fb25c9e9-cae8-52db-b68e-736c1896a3f5/pdf/0380e781-281e-41b5-8ae1-ce281f15a4a7.pdf
                              size: 1046143
                          images:
                            - date: '2023-10-23T08:02:20.717Z'
                              downloadID: fd6be4e3-5447-41d7-a1e6-b2d3e06c3b05
                              url: https://chat-basket-01.wbbasket.ru/vol0/part2345/fb89c9e9-cae8-52db-b68e-736c1466a3f5/jpg/0823ff24-821e-40e9-8cdf-0a2b5fd86a32.jpg
                        text: Здравствуйте! У меня вопрос по товару "Альбом, бренд Эконом, артикул 13480414, товар получен 18.10.2023"
                      source: rusite
                      addTimestamp: 1698037340000
                      addTime: '2023-10-23T05:02:20Z'
                      replySign: 1:1e265a58-a120-b178-008c-60af2460207c:66f136e919a8207e136757754f253189bfb9ae1ad9da9170c9d5c478626663908888c370216525bef51c0ca8d77952e05c9c17f9b63ab00374c5555b42efc07d
                      sender: client
                      clientName: Алёна
                    - chatID: 1:1e265a58-a120-b178-008c-60af2460207c
                      eventID: cef95d3c-0345-4dc9-b6df-4c8c57a176a9
                      eventType: message
                      message:
                        text: Здравствуйте! Пришёл не тот цвет. Можно вернуть и заказать другой товар?
                      source: rusite
                      addTimestamp: 1698037387000
                      addTime: '2023-10-23T05:03:07Z'
                      sender: client
                      clientName: Алёна
                    - chatID: 1:1e265a58-a120-b178-008c-60af2460207c
                      eventID: fd22e5bf-64fd-43f7-b3a0-ad29uu027f97
                      eventType: message
                      message:
                        text: Здравствуйте. Да, сейчас оформим возврат.
                      source: seller-public-api
                      addTimestamp: 1698038124000
                      addTime: '2023-10-23T05:15:24Z'
                      sender: seller
                    - chatID: 1:1e265a58-a120-b178-008c-60af2460207c
                      eventID: cef95d3c-0345-4dc9-b6df-4c8c75a176a7
                      eventType: message
                      addTimestamp: 1698045576000
                      addTime: '2023-10-23T07:19:36Z'
                      sender: seller
                errors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP статус-код
                  title:
                    type: string
[...]
