openapi: 3.0.1
info:
  title: Аналитика и данные
  version: analytics
  description: |
    <div class="description_important">
      Узнать больше об аналитике и данных можно в <a href="https://seller.wildberries.ru/instructions/ru/ru/subcategory/seller-analytics">справочном центре</a>
    </div>

    <div class="api-block">

    В разделе описаны методы получения:
      1. [Воронки продаж](/openapi/analytics#tag/Voronka-prodazh)
      2. [Поисковых запросов по вашим товарам](/openapi/analytics#tag/Poiskovye-zaprosy-po-vashim-tovaram)
      3. [Истории остатков](/openapi/analytics#tag/Istoriya-ostatkov)
      4. [Оценки товара](/openapi/analytics#tag/Ocenka-tovara)
      5. [Аналитики продавца в формате CSV](/openapi/analytics#tag/Analitika-prodavca-CSV)

    </div>
  x-file-name: analytics
security:
  - HeaderApiKey: []
tags:
  - name: Воронка продаж
    description: ''
  - name: Поисковые запросы по вашим товарам
    description: ''
  - name: История остатков
    description: ''
  - name: Оценка товара
    description: ''
  - name: Аналитика продавца CSV
    description: ''
paths:
  /api/analytics/v3/sales-funnel/products:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Воронка продаж
      summary: Статистика карточек товаров за период
      operationId: postSalesFunnelProducts
      description: |
        Метод формирует отчёт о товарах, сравнивая ключевые показатели за текущий период с аналогичным прошлым.<br><br>

        Данные отчёта обновляются 1 раз в час.<br><br>

        В течение часа после события появляется большая часть данных:
          - о заказах
          - о переходах в карточку товара
          - о добавлениях товаров в корзину

        Малая часть этих данных может появляться в течение нескольких дней.<br><br>

        Выкупы, отмены и возвраты отображаются в отчёте за тот день, когда товар был заказан. Например, если заказ был сделан 1 января, а покупатель вернул товар 10 января, данные об этом возврате появятся в отчёте за 1 января.<br>
        Окончательные итоги продаж вы можете отслеживать с помощью [детализаций к отчётам реализации](/openapi/financial-reports-and-accounting#tag/Finansovye-otchyoty).<br><br>

        Параметры `brandNames`,`subjectIds`, `tagIds`, `nmIds` могут быть пустыми `[]`, тогда в ответе возвращаются все карточки продавца.<br><br>

        Если вы указали несколько параметров, в ответе будут карточки, в которых есть одновременно все эти параметры. Если карточки не подходят по параметрам запроса, вернётся пустой ответ `[]`.<br><br>

        Можно получить отчёт максимум за последние 365 дней.<br><br>

        В данных предыдущего периода:
          * Данные в `pastPeriod` указаны за такой же период, что и в `selectedPeriod`
          * Если дата начала  `pastPeriod` раньше, чем год назад от текущей даты, она будет приведена к виду: `pastPeriod.start = текущая дата — 365 дней`

        Можно использовать пагинацию.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    allOf:
                      - type: object
                        description: Статистика
                      - $ref: '#/components/schemas/ProductsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AuthorizationErrorResponse'
        '429':
          $ref: '#/components/responses/429'
  /api/analytics/v3/sales-funnel/products/history:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Воронка продаж
      summary: Статистика карточек товаров по дням
      operationId: postSalesFunnelProductsHistory
      description: |
        Метод возвращает статистику карточек товаров по дням или неделям.<br>
        Можно получить данные максимум за последнюю неделю.<br><br>

        Данные отчёта обновляются 1 раз в час.<br><br>

        В течение часа после события появляется большая часть данных:
          - о заказах
          - о переходах в карточку товара
          - о добавлениях товаров в корзину

        Малая часть этих данных может появляться в течение нескольких дней.<br><br>

        Выкупы, отмены и возвраты отображаются в отчёте за тот день, когда товар был заказан. Например, если заказ был сделан 1 января, а покупатель вернул товар 10 января, данные об этом возврате появятся в отчёте за 1 января.<br>
        Окончательные итоги продаж вы можете отслеживать с помощью [детализаций к отчётам реализации](/openapi/financial-reports-and-accounting#tag/Finansovye-otchyoty).

        <div class="description_important">
          Чтобы получать отчёты за период до года, используйте методы <a href="/openapi/analytics#tag/Analitika-prodavca-CSV">Аналитика продавца CSV</a> — тип <code>DETAIL_HISTORY_REPORT</code>. Отчёты этого типа доступны только с подпиской <a href='https://seller.wildberries.ru/monetization/jam'>Джем</a>
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductHistoryRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AuthorizationErrorResponse'
        '429':
          $ref: '#/components/responses/429'
  /api/analytics/v3/sales-funnel/grouped/history:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Воронка продаж
      summary: Статистика групп карточек товаров по дням
      operationId: postSalesFunnelGroupedHistory
      description: |
        Метод возвращает статистику карточек товаров по дням или неделям.<br>
        Карточки товаров сгруппированы по предметам, брендам и ярлыкам.<br>
        Можно получить данные максимум за последнюю неделю.<br><br>

        Данные отчёта обновляются 1 раз в час.<br><br>

        В течение часа после события появляется большая часть данных:
          - о заказах
          - о переходах в карточку товара
          - о добавлениях товаров в корзину

        Малая часть этих данных может появляться в течение нескольких дней.<br><br>

        Выкупы, отмены и возвраты отображаются в отчёте за тот день, когда товар был заказан. Например, если заказ был сделан 1 января, а покупатель вернул товар 10 января, данные об этом возврате появятся в отчёте за 1 января.<br>
        Окончательные итоги продаж вы можете отслеживать с помощью [детализаций к отчётам реализации](/openapi/financial-reports-and-accounting#tag/Finansovye-otchyoty).<br><br>

        Параметры `brandNames`, `subjectIds`, `tagIds` могут быть пустыми `[]`, тогда группировка происходит по всем карточкам продавца.<br><br>

        Произведение количества предметов, брендов, ярлыков в запросе может быть не больше 16. Например, 4 бренда и 4 предмета или 2 предмета, 2 ярлыка и 4 бренда.

        <div class="description_important">
          Чтобы получать отчёты за период до года, используйте методы <a href="/openapi/analytics#tag/Analitika-prodavca-CSV">Аналитика продавца CSV</a> — тип <code>GROUPED_HISTORY_REPORT</code>. Отчёты этого типа доступны только с подпиской <a href='https://seller.wildberries.ru/monetization/jam'>Джем</a>
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupedHistoryRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/GroupedHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AuthorizationErrorResponse'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/nm-report/downloads:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Аналитика продавца CSV
      security:
        - HeaderApiKey: []
      summary: Создать отчёт
      description: |
        Метод создаёт задание на генерацию отчёта с расширенной аналитикой продавца. <br><br>

        Вы можете создать CSV-версии отчётов по [воронке продаж](/openapi/analytics#tag/Voronka-prodazh) или [параметрам поиска](/openapi/analytics#tag/Poiskovye-zaprosy-po-vashim-tovaram) с группировкой по:
          * артикулам WB
          * предметам, брендам и ярлыкам

        В отчётах по воронке продаж можно группировать данные по дням, неделям или месяцам.<br><br>

        Также можете создать CSV-версии отчётов по [текстам поисковых запросов](/openapi/analytics#tag/Poiskovye-zaprosy-po-vashim-tovaram/paths/~1api~1v2~1search-report~1product~1search-texts/post) и [остаткам](/openapi/analytics#tag/Istoriya-ostatkov).<br><br>

        Каждый новый отчёт должен иметь уникальный ID.

        <div class="description_important">
          Не используйте одинаковые ID для разных отчётов — это может привести к ошибкам при генерации
        </div>

        Набор параметров запроса в объекте `params` зависит от типа отчёта. Чтобы получить описание параметров, выберите тип отчёта в раскрывающемся списке в описании параметра `reportType`.<br><br>

        Параметры `includeSubstitutedSKUs` и `includeSearchTexts` не могут одновременно иметь значение `false`.<br><br>

        Если не удалось [получить отчёт](/openapi/analytics#tag/Analitika-prodavca-CSV/paths/~1api~1v2~1nm-report~1downloads~1file~1%7BdownloadId%7D/get), можно создать [повторное задание на генерацию](/openapi/analytics#tag/Analitika-prodavca-CSV/paths/~1api~1v2~1nm-report~1downloads~1retry/post). Также можно [получить список и проверить статусы](/openapi/analytics#tag/Analitika-prodavca-CSV/paths/~1api~1v2~1nm-report~1downloads/get) отчётов.

        <div class="description_important">
          Отчёты по <a href="https://seller.wildberries.ru/content-analytics/history-remains">остаткам</a> — типы <code>STOCK_HISTORY_REPORT_CSV</code> и <code>STOCK_HISTORY_DAILY_CSV</code> — можно создать без подписки <a href="https://seller.wildberries.ru/monetization/jam">Джем</a>
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/SalesFunnelProductReq'
                - $ref: '#/components/schemas/SalesFunnelGroupReq'
                - $ref: '#/components/schemas/SearchReportGroupReq'
                - $ref: '#/components/schemas/SearchReportProductReq'
                - $ref: '#/components/schemas/SearchReportTextReq'
                - $ref: '#/components/schemas/InventoryMetricsReportReq'
                - $ref: '#/components/schemas/InventoryHistoryReportReq'
              discriminator:
                propertyName: reportType
                mapping:
                  DETAIL_HISTORY_REPORT: '#/components/schemas/SalesFunnelProductReq'
                  GROUPED_HISTORY_REPORT: '#/components/schemas/SalesFunnelGroupReq'
                  SEARCH_QUERIES_PREMIUM_REPORT_GROUP: '#/components/schemas/SearchReportGroupReq'
                  SEARCH_QUERIES_PREMIUM_REPORT_PRODUCT: '#/components/schemas/SearchReportProductReq'
                  SEARCH_QUERIES_PREMIUM_REPORT_TEXT: '#/components/schemas/SearchReportTextReq'
                  STOCK_HISTORY_REPORT_CSV: '#/components/schemas/InventoryMetricsReportReq'
                  STOCK_HISTORY_DAILY_CSV: '#/components/schemas/InventoryHistoryReportReq'
            examples:
              SalesFunnelProductReq:
                description: Воронка продаж. По артикулам WB
                value:
                  id: 06eae887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: DETAIL_HISTORY_REPORT
                  userReportName: Card report
                  params:
                    nmIDs:
                      - 1234567
                    subjectIds:
                      - 1234567
                    brandNames:
                      - Name
                    tagIds:
                      - 1234567
                    startDate: '2024-06-21'
                    endDate: '2024-06-23'
                    timezone: Europe/Moscow
                    aggregationLevel: day
                    skipDeletedNm: false
              SalesFunnelGroupReq:
                description: Воронка продаж. По предметам, брендам и ярлыкам
                value:
                  id: 06eea887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: GROUPED_HISTORY_REPORT
                  userReportName: Subject report
                  params:
                    subjectIds:
                      - 1234567
                    brandNames:
                      - Name
                    tagIds:
                      - 1234567
                    startDate: '2024-06-21'
                    endDate: '2024-06-23'
                    timezone: Europe/Moscow
                    aggregationLevel: day
                    skipDeletedNm: false
              SearchReportGroupReq:
                description: Отчёт по параметрам поиска. По предметам, брендам и ярлыкам
                value:
                  id: 06eae887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: SEARCH_QUERIES_PREMIUM_REPORT_GROUP
                  userReportName: Subject report
                  params:
                    currentPeriod:
                      start: '2024-02-10'
                      end: '2024-02-10'
                    pastPeriod:
                      start: '2024-02-08'
                      end: '2024-02-08'
                    nmIds:
                      - 162579635
                      - 166699779
                    subjectIds:
                      - 64
                      - 334
                    brandNames:
                      - nikkle
                      - abikas
                    tagIds:
                      - 32
                      - 53
                    orderBy:
                      field: avgPosition
                      mode: asc
                    positionCluster: all
                    includeSubstitutedSKUs: true
                    includeSearchTexts: false
              SearchReportProductReq:
                description: Отчёт по параметрам поиска. По артикулам WB
                value:
                  id: 06eea887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: SEARCH_QUERIES_PREMIUM_REPORT_PRODUCT
                  userReportName: Card report
                  params:
                    currentPeriod:
                      start: '2024-02-10'
                      end: '2024-02-10'
                    pastPeriod:
                      start: '2024-02-08'
                      end: '2024-02-08'
                    subjectId: 123
                    brandName: Abble
                    tagId: 45
                    nmIds:
                      - 162579635
                      - 166699779
                    orderBy:
                      field: buyoutCount
                      mode: asc
                    positionCluster: all
                    includeSubstitutedSKUs: false
                    includeSearchTexts: true
              SearchReportTextReq:
                description: Отчёт по текстам поисковых запросов по вашим товарам
                value:
                  id: 06eae887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: SEARCH_QUERIES_PREMIUM_REPORT_TEXT
                  userReportName: Subject report
                  params:
                    currentPeriod:
                      start: '2024-02-10'
                      end: '2024-02-10'
                    pastPeriod:
                      start: '2024-02-08'
                      end: '2024-02-08'
                    nmIds:
                      - 162579635
                      - 166699779
                    subjectIds:
                      - 64
                      - 334
                    brandNames:
                      - nikkle
                      - abikas
                    tagIds:
                      - 32
                      - 53
                    topOrderBy: openCard
                    orderBy:
                      field: avgPosition
                      mode: asc
                    includeSubstitutedSKUs: true
                    includeSearchTexts: true
                    limit: 50
              InventoryMetricsReportReq:
                description: Отчёт по статистике остатков
                value:
                  id: 06eae887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: STOCK_HISTORY_REPORT_CSV
                  userReportName: Inventory report
                  params:
                    nmIDs:
                      - 111222333
                      - 444555666
                    subjectIDs:
                      - 123
                      - 456
                    brandNames:
                      - ЭгКа
                      - Stock
                    tagIDs:
                      - 3
                      - 4
                      - 5
                    currentPeriod:
                      start: '2024-02-10'
                      end: '2024-02-10'
                    stockType: mp
                    skipDeletedNm: true
                    availabilityFilters:
                      - deficient
                      - balanced
                    orderBy:
                      field: avgOrders
                      mode: asc
              InventoryHistoryReportReq:
                description: Отчёт по истории остатков
                value:
                  id: 06eae887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: STOCK_HISTORY_DAILY_CSV
                  userReportName: Inventory report
                  params:
                    nmIds:
                      - 111222333
                      - 444555666
                    subjectIds:
                      - 123
                      - 456
                    brandNames:
                      - ЭгКа
                      - Stock
                    tagIds:
                      - 3
                      - 4
                      - 5
                    currentPeriod:
                      start: '2025-12-13'
                      end: '2025-12-15'
                    stockType: ''
                    skipDeletedNm: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NmReportCreateReportResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Заголовок ошибки
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
                required:
                  - title
                  - detail
                  - requestId
                  - origin
              examples:
                errorExample:
                  value:
                    title: Invalid request body
                    detail: userReportName can not contain emojis
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Заголовок ошибки
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
              examples:
                errorExample:
                  value:
                    title: Authorization error
                    detail: Authorization error
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '429':
          description: Слишком много запросов
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/response429Download'
                  - $ref: '#/components/schemas/response429DownloadDaily'
    get:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Аналитика продавца CSV
      security:
        - HeaderApiKey: []
      summary: Получить список отчётов
      description: |
        Метод возвращает список отчётов с расширенной аналитикой продавца. Ответ содержит ID [созданных отчётов](/openapi/analytics#tag/Analitika-prodavca-CSV/paths/~1api~1v2~1nm-report~1downloads/post) и статусы генерации.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      parameters:
        - in: query
          name: filter[downloadIds]
          description: ID отчёта
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NmReportGetReportsResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Заголовок ошибки
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
                required:
                  - title
                  - detail
                  - requestId
                  - origin
              examples:
                errorExample:
                  value:
                    title: Invalid request body
                    detail: download id was not found
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Заголовок ошибки
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
              examples:
                errorExample:
                  value:
                    title: Authorization error
                    detail: Authorization error
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '429':
          $ref: '#/components/responses/429'
  /api/v2/nm-report/downloads/retry:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Аналитика продавца CSV
      security:
        - HeaderApiKey: []
      summary: Сгенерировать отчёт повторно
      description: |
        Метод создает повторное [задание на генерацию](/openapi/analytics#tag/Analitika-prodavca-CSV/paths/~1api~1v2~1nm-report~1downloads/post) отчёта с расширенной аналитикой продавца. Необходимо, если при генерации отчёта вы [получили статус](/openapi/analytics#tag/Analitika-prodavca-CSV/paths/~1api~1v2~1nm-report~1downloads/get) `FAILED`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NmReportRetryReportRequest'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NmReportRetryReportResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Заголовок ошибки
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
                required:
                  - title
                  - detail
                  - requestId
                  - origin
              examples:
                errorExample:
                  value:
                    title: Invalid request body
                    detail: invalid download id
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Заголовок ошибки
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
              examples:
                errorExample:
                  value:
                    title: Authorization error
                    detail: Authorization error
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '429':
          $ref: '#/components/responses/429'
  /api/v2/nm-report/downloads/file/{downloadId}:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Аналитика продавца CSV
      security:
        - HeaderApiKey: []
      summary: Получить отчёт
      description: |
        Метод возвращает отчёт с расширенной аналитикой продавца по ID [задания на генерацию](/openapi/analytics#tag/Analitika-prodavca-CSV/paths/~1api~1v2~1nm-report~1downloads/post).
        <br><br>
        Можно получить отчёт, который сгенерирован за последние 48 часов.<br>Отчёт будет загружен внутри архива ZIP в формате CSV.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      parameters:
        - in: path
          name: downloadId
          description: ID отчёта
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Успешно
          content:
            application/zip:
              schema:
                type: string
                format: binary
                description: "Описание полей в файле CSV:\n<br>\n<br>\n**Воронка продаж**\n\n| Имя | Тип | Формат | Описание |\n|-----------------| --- | --- | --- |\n| nmID (только для `DETAIL_HISTORY_REPORT`) | integer | int32 | Артикул WB |\n| dt | string | date | Дата |\n| openCardCount | integer | int32 | Переходы в карточку товара |\n| addToCartCount | integer | int32 | Положили в корзину, шт. |\n| ordersCount | integer | int32 | Заказали товаров, шт. |\n| ordersSumRub | integer | int32 | Заказали на сумму |\n| buyoutsCount | integer | int32 | Выкупили товаров, шт. |\n| buyoutsSumRub | integer | int32 | Выкупили на сумму |\n| cancelCount | integer | int32 | Отменили и вернули товаров, шт. |\n| cancelSumRub | integer | int32 | Отменили и вернули на сумму |\n| addToCartConversion | number | int32 | Конверсия в корзину, % (Какой процент посетителей, открывших карточку товара, добавили товар в корзину) |\n| cartToOrderConversion | integer | int32 | Конверсия в заказ, % (Какой процент посетителей, добавивших товар в корзину, сделали заказ) |\n| buyoutPercent | integer | int32 | Процент выкупа, % (Какой процент посетителей, заказавших товар, его выкупили. Без учёта товаров, которые еще доставляются покупателю) |\n| addToWishlist | integer | int32 | Добавили в **Отложенные**|\n| currency | string | string | Валюта отчёта |\n\n\n**Отчёт по параметрам поиска. По предметам, брендам и ярлыкам**\n\n| Имя | Поле | Формат | Описание |\n|-----------------| --- | --- | --- |\n| SubjectName |\tstring | string | Название предмета |\n| SubjectID | integer | int32 | ID предмета |\n| BrandName | string | string  | Бренд |\n| TagID | integer | int64 | ID ярлыка |\n| AveragePosition | integer | uint64 | Средняя позиция в поиске в текущий период |\n| OpenCard | integer | uint64 | Количество переходов в карточку товара из поиска в текущий период |\n| AddToCart | integer | uint64 | Количество добавлений товара в корзину из поиска в текущий период |\n| OpenToCart | integer | uint64 |\tКонверсия в корзину из поиска в текущий период |\n| Orders | integer | uint64 | Заказали товар из поиска в текущий период |\n| CartToOrder | integer | uint64 | Конверсия в заказ из поиска в текущий период |\n| Visibility | integer | uint64 | Видимость товара в поиске в текущий период. Процент вероятности, что пользователь увидит карточку товара. Зависит от средней позиции |\n| AveragePositionPast | integer | uint64 | Средняя позиция в поиске в предыдущий период (заполняется, если указан прошлый период) |\n| OpenCardPast | integer | uint64 | Количество переходов в карточку товара из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| AddToCartPast | integer | uint64 | Количество добавлений товара в корзину из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| OpenToCartPast | integer | uint64 | Конверсия в корзину из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| OrdersPast | integer | uint64 | Заказали товар из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| CartToOrderPast | integer | uint64 | Конверсия в заказ из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| VisibilityPast | integer | uint64 | Видимость товара в поиске в предыдущий период. Процент вероятности, что пользователь увидит карточку товара. Зависит от средней позиции (заполняется, если указан прошлый период), % |\n\n\n**Отчёт по параметрам поиска. По артикулам WB**\n\n| Имя | Поле | Формат | Описание |\n|-----------------| --- | --- | --- |\n| NmID | integer | int64 | Артикул WB |\n| VendorCode | string | string | Артикул продавца |\n| Name | string\t| string | Название товара |\n| SubjectName | string\t| string | Название предмета |\n| BrandName | string | string  | Бренд |\n| IsAdvertised | boolean | bool\t| Рекламируется ли товар |\n| IsRated | boolean | bool | Есть ли возможность оценить качество карточки товара |\n| Rating | float | float64 | Рейтинг карточки товара |\n| FeedbackRating | float | float64 | Рейтинг по отзывам |\n| MinPrice | integer | uint64 | Минимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба |\n| MaxPrice | integer | uint64 | Максимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба) |\n| AveragePosition | integer | uint64 | Средняя позиция товара в поиске в текущий период |\n| OpenCard | integer | uint64 | Количество переходов в карточку товара из поиска в текущий период |\n| AddToCart | integer | uint64 | Количество добавлений товара в корзину из поиска в текущий период |\n| OpenToCart | integer | uint64 | Конверсия в корзину из поиска в текущий период |\n| Orders | integer | uint64 | Заказали товар из поиска в текущий период |\n| CartToOrder | integer | uint64 | Конверсия в заказ из поиска в текущий период |\n| Visibility | integer | uint64 | Видимость товара в поиске в текущий период. Процент вероятности, что пользователь увидит карточку товара. Зависит от средней позиции |\n| AveragePositionPast | integer | uint64 | Средняя позиция товара в поиске в предыдущий период (заполняется, если указан прошлый период) |\n| OpenCardPast | integer | uint64 | Количество переходов в карточку товара из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| AddToCartPast | integer | uint64 | Количество добавлений товара в корзину из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| OpenToCartPast | integer | uint64 | Конверсия в корзину из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| OrdersPast | integer | uint64 | Заказали товар из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| CartToOrderPast | integer | uint64 | Конверсия в заказ из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| VisibilityPast | integer | uint64 | Видимость товара в поиске в предыдущий период. Процент вероятности, что пользователь увидит карточку товара. Зависит от средней позиции (заполняется, если указан прошлый период), % |\n| IsSubstitutedSKU | boolean | bool | Искали ли товар по подменному артикулу. Будет в ответе при наличии в запросе `includeSubstitutedSKUs` и/или `includeSearchTexts` |\n| Currency | string | string | Валюта отчёта |\n\n\n**Отчёт по текстам поисковых запросов по вашим товарам**\n\n| Имя | Поле | Формат | Описание |\n|-----------------| --- | --- | --- |\n| Text | string\t| string | Текст поискового запроса |\n| NmID | integer | int64 | Артикул WB |\n| SubjectName | string\t| string | Название предмета |\n| BrandName | string | string  | Бренд |\n| VendorCode | string | string | Артикул продавца |\n| Name | string\t| string | Название товара |\n| Rating | float | float64 | Рейтинг карточки товара. Если рейтинг отсутствует, то значение будет `no rating` |\n| FeedbackRating | float | float64 | Рейтинг по отзывам |\n| MinPrice | integer | uint64 | Минимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба) |\n| MaxPrice | integer | uint64 | Максимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба) |\n| Frequency | integer | uint64 | Количество обращений с поисковым запросом в текущий период |\n| MedianPosition | float | float64 | Медианная позиция товара в поиске в текущий период. Учитываются только те позиции, из которых пользователи добавляли товар в корзину или переходили в его карточку. Серединное значение позиции в поисковой выдаче, которое исключает сильные отклонения данных от среднего значения |\n| AveragePosition | integer | uint64 | Средняя позиция товара в поиске в текущий период. Учитываются только те позиции, из которых пользователи добавляли товар в корзину или переходили в его карточку |\n| OpenCard | integer | uint64 | Количество открытий карточки товара из поисковой выдачи в текущий период |\n| OpenCardPercentile | float | float64 | Процент, на который показатель количества открытий карточки товара выше, чем у карточек других продавцов по поисковому запросу |\n| AddToCart | integer | uint64 | Количество добавлений товара в корзину из поисковой выдачи в текущий период |\n| AddToCartPercentile | float | float64 | Процент, на который показатель добавлений в корзину выше, чем у карточек других продавцов по поисковому запросу |\n| OpenToCart | integer | uint64 | Конверсия в корзину из поиска в текущий период, % |\n| OpenToCartPercentile\t| float\t| float64\t| Процент, на который показатель конверсии в корзину выше, чем у карточек других продавцов по поисковому запросу |\n| Orders | integer | uint64 | Заказали товар из поиска в текущий период |\n| OrdersPercentile | float | float64 | Процент, на который показатель заказов выше, чем у карточек других продавцов по поисковому запросу |\n| CartToOrder | integer | uint64 | Конверсия в заказ из поиска в текущий период, % |\n| CartToOrderPercentile | float | float64 | Процент, на который показатель конверсии в заказ выше, чем у карточек других продавцов по поисковому запросу |\n| Visibility | integer | uint64 | Видимость товара в поиске в текущий период. Процент вероятности, что пользователь увидит карточку товара. Зависит от средней позиции |\n| FrequencyPast | integer | uint64 | Количество обращений с поисковым запросом за предыдущий период (заполняется, если указан прошлый период) |\n| MedianPositionPast | float | float64 | Медианная позиция товара в поиске за предыдущий период (заполняется, если указан прошлый период) |\n| AveragePositionPast | integer | uint64 | Средняя позиция товара в поиске в предыдущий период (заполняется, если указан прошлый период) |\n| OpenCardPast | integer | uint64 | Количество открытий карточки товара из поисковой выдачи в предыдущий период (заполняется, если указан прошлый период) |\n| AddToCartPast | integer | uint64 | Количество добавлений товара в корзину в предыдущий период (заполняется, если указан прошлый период) |\n| OpenToCartPast | integer | uint64 | Конверсия в корзину из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| OrdersPast | integer | uint64 | Заказали товар из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| CartToOrderPast | integer | uint64 | Конверсия в заказ из поиска в предыдущий период (заполняется, если указан прошлый период), % |\n| VisibilityPast | integer | uint64 | Видимость товара в поиске в предыдущий период. Процент вероятности, что пользователь увидит карточку товара. Зависит от средней позиции (заполняется, если указан прошлый период), % |\n| Currency | string | string | Валюта отчёта |\n\n\n**Отчёт по статистике остатков**\n\n| Имя | Поле | Формат | Описание |\n|-----------------| --- | --- | --- |\n| VendorCode | string | string | Артикул продавца |\n| Name | string\t| string | Название товара |\n| NmID | integer | int64 | Артикул WB |\n| SubjectName | string\t| string | Название предмета |\n| BrandName | string | string  | Бренд |\n| SizeName | string\t| string | Название размера |\n| ChrtID | integer | int64 | ID размера |\n| RegionName | string\t| string | Регион отгрузки. Для складов продавца значение в строках будет `Маркетплейс`, так как данные по складам продавца приходят в агрегированном виде — по всем сразу, без детализации по конкретным складам |\n| OfficeName | string\t| string | Название склада. Для складов продавца значение в строках будет `Маркетплейс`, так как данные по складам продавца приходят в агрегированном виде — по всем сразу, без детализации по конкретным складам |\n| Availability | string\t| enum | Доступность товара |\n| OrdersCount | integer\t| uint64 | Заказы, шт. |\n| OrdersSum | integer\t| uint64 | Заказы, сумма |\n| BuyoutCount | integer\t| uint64 | Выкупы, шт. |\n| BuyoutSum | integer\t| uint64 | Выкупы, сумма |\n| BuyoutPercent | integer\t| uint32 | Процент выкупа |\n| AvgOrders | number\t| float64 | Среднее количество заказов в день |\n| StockCount | integer\t| uint64 | Остатки на текущий день, шт. |\n| StockSum | integer\t| uint64 | Стоимость остатков на текущий день |\n| SaleRate | integer\t| int32 | Оборачиваемость текущих остатков в часах |\n| AvgStockTurnover | integer\t| int32 | Оборачиваемость средних остатков в часах |\n| ToClientCount | integer\t| uint64 | В пути к клиенту, шт. |\n| FromClientCount | integer\t| uint64 | В пути от клиента, шт. |\n| Price | integer\t| uint64 | Текущая цена продавца со скидкой продавца (без учёта скидки WB Клуба) |\n| OfficeMissingTime | integer\t| int32 | Время отсутствия товара на складе в часах |\n| LostOrdersCount | number\t| float64 | Упущенные заказы, шт. |\n| LostOrdersSum | number\t| float64 | Упущенные заказы, сумма |\n| LostBuyoutsCount | number\t| float64 | Упущенные выкупы, шт. |\n| LostBuyoutsSum | number\t| float64 | Упущенные выкупы, сумма |\n| AvgOrdersByMonth_MM.YYYY | number\t| float64 | Среднее количество заказов по месяцам. Столбцы формируются динамически в зависимости от переданного текущего периода. Каждому месяцу текущего периода соответствует один столбец. В случае, если товар не существовал на момент конкретного месяца, то значение будет пропущено |\n| Currency | string | string | Валюта отчёта |\n\n\n**Отчёт по истории остатков**\n\n| Имя | Поле | Формат | Описание |\n|-----------------| --- | --- | --- |\n| VendorCode | string | string | Артикул продавца |\n| Name | string\t| string | Название товара |\n| NmID | integer | int64 | Артикул WB |\n| SubjectName | string\t| string | Название предмета |\n| BrandName | string | string  | Бренд |\n| SizeName | string\t| string | Название размера |\n| ChrtID | integer | int64 | ID размера |\n| OfficeName | string\t| string | Название склада. Для складов продавца значение в строках будет `Маркетплейс`, так как данные по складам продавца приходят в агрегированном виде — по всем сразу, без детализации по конкретным складам |\n| DD.MM.YYYY | integer| uint64 | Остаток по состоянию на 23:59 дня в заголовке. Столбцы формируются динамически в зависимости от переданного в запросе периода. Каждому дню периода соответствует один столбец. Если товара не было в конкретный день, значение будет пропущено |\n"
              examples:
                SalesFunnelProductRes:
                  $ref: '#/components/examples/SalesFunnelProductRes'
                SalesFunnelGroupRes:
                  $ref: '#/components/examples/SalesFunnelGroupRes'
                SearchReportGroupRes:
                  $ref: '#/components/examples/SearchReportGroupRes'
                SearchReportProductRes:
                  $ref: '#/components/examples/SearchReportProductRes'
                SearchReportTextRes:
                  $ref: '#/components/examples/SearchReportTextRes'
                InventoryMetricsReportRes:
                  $ref: '#/components/examples/InventoryMetricsReportRes'
                InventoryHistoryReportRes:
                  $ref: '#/components/examples/InventoryHistoryReportRes'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Заголовок ошибки
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
                required:
                  - title
                  - detail
                  - requestId
                  - origin
              examples:
                errorExample:
                  value:
                    title: Invalid request body
                    detail: check correctness of download id
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Заголовок ошибки
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
              examples:
                errorExample:
                  value:
                    title: Authorization error
                    detail: Authorization error
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '429':
          $ref: '#/components/responses/429'
  /api/v2/search-report/report:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Поисковые запросы по вашим товарам
      summary: Основная страница
      description: |
        Метод формирует набор данных для основной страницы отчёта по поисковым запросам с:
         - общей информацией
         - позициями товаров
         - данными по видимости и переходам в карточку
         - данными для таблицы по группам

        Для получения дополнительных данных в таблице используйте отдельный запрос для:
         - [пагинации по группам](/openapi/analytics#tag/Poiskovye-zaprosy-po-vashim-tovaram/paths/~1api~1v2~1search-report~1table~1groups/post)
         - [получения по товарам в группе](/openapi/analytics#tag/Poiskovye-zaprosy-po-vashim-tovaram/paths/~1api~1v2~1search-report~1table~1details/post)

        Дополнительный параметр выбора списка товаров в таблице:
         - `positionCluster` — средняя позиция в поиске

        Параметры `includeSubstitutedSKUs` и `includeSearchTexts` не могут одновременно иметь значение `false`.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MainRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponseProperties'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/MainResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/search-report/table/groups:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Поисковые запросы по вашим товарам
      summary: Пагинация по группам
      description: |
        Метод формирует дополнительные данные к [основному отчёту](/openapi/analytics#tag/Poiskovye-zaprosy-po-vashim-tovaram/paths/~1api~1v2~1search-report~1report/post) с пагинацией по группам. Пагинация возможна только при наличии фильтра по бренду, предмету или ярлыку.<br><br>

        Дополнительный параметр выбора списка товаров в таблице:
         - `positionCluster` — средняя позиция в поиске

        Параметры `includeSubstitutedSKUs` и `includeSearchTexts` не могут одновременно иметь значение `false`.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableGroupRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponseProperties'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/TableGroupResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/search-report/table/details:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Поисковые запросы по вашим товарам
      summary: Пагинация по товарам в группе
      description: |
        Метод формирует дополнительные данные к [основному отчёту](/openapi/analytics#tag/Poiskovye-zaprosy-po-vashim-tovaram/paths/~1api~1v2~1search-report~1report/post) с пагинацией по товарам в группе. Пагинация возможна вне зависимости от наличия фильтров.<br><br>

        Фильтры для пагинации по товарам в группе или без фильтров:
         - кортеж `subjectId`,`brandName`,`tagId` — фильтр для группы
         - `nmIds` — фильтр по карточке товара

        Дополнительный параметр выбора списка товаров:
         - `positionCluster` — средняя позиция в поиске

        Параметры `includeSubstitutedSKUs` и `includeSearchTexts` не могут одновременно иметь значение `false`.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableDetailsRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponseProperties'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/TableDetailsResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/search-report/product/search-texts:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Поисковые запросы по вашим товарам
      summary: Поисковые запросы по товару
      description: |
        Метод формирует топ поисковых запросов по товару.

        Параметры выбора поисковых запросов:
         - `limit` — количество запросов, максимум 30. Для тарифов [Джема](https://seller.wildberries.ru/monetization/tariffs) **Продвинутый** и **Премиальный** максимум — 100.
         - `topOrderBy` — способ выбора топа запросов

        Параметры `includeSubstitutedSKUs` и `includeSearchTexts` не могут одновременно иметь значение `false`.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductSearchTextsRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponseProperties'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/ProductSearchTextsResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/search-report/product/orders:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Поисковые запросы по вашим товарам
      summary: Заказы и позиции по поисковым запросам товара
      description: |
        Метод формирует данные для таблицы:
          - о заказах по каждому поисковому запросу для конкретного товара
          - о позициях товара в результатах поиска по каждому запросу

        Данные указаны в рамках периода для [запрошенного товара](/openapi/analytics#tag/Poiskovye-zaprosy-po-vashim-tovaram/paths/~1api~1v2~1search-report~1product~1search-texts/post) и сгруппированы по дням. Максимальный период — 7 дней.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_important">
          Можно получить отчёт максимум за последние 365 дней с момента выполнения запроса
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductOrdersRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponseProperties'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/ProductOrdersResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/analytics/v1/stocks-report/wb-warehouses:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      x-token-types:
        - personal
        - service
      tags:
        - История остатков
      summary: Остатки на складах WB
      operationId: postV1StocksReportWbWarehouses
      description: |
        <div class="description_token">Метод доступен по <a href="/openapi/api-information#tag/Avtorizaciya/Pravila-ispolzovaniya-tokenov-dostupa-k-API">токенам</a>:<strong> Персональный</strong>,<strong> Сервисный</strong> 
            </div>

        Метод возвращает текущие остатки товаров на складах WB.
        <br><br>
        Данные обновляются 1 раз в 30 минут.
        <br><br>
        1 строка ответа — данные об 1 размере товара на 1 складе WB.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 3 запроса | 20 сек | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/InventoryWbResponse'
                required:
                  - data
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/stocks-report/products/groups:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - История остатков
      summary: Данные по группам
      description: |
        Метод формирует набор данных об остатках по группам товаров.
        <br><br>
        Группа товаров описывается кортежем `subjectID, brandName, tagID`.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableGroupRequestSt'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TableGroupResponseSt'
                required:
                  - data
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/stocks-report/products/products:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - История остатков
      summary: Данные по товарам
      description: |
        Метод формирует набор данных об остатках по товарам.
        <br><br>
        Можно получить данные как по отдельным товарам, так и в рамках всего отчёта — если в запросе отсутствуют фильтры: `nmIDs`, `subjectID`, `brandName`, `tagID`.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableProductRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                nullable: true
                properties:
                  data:
                    $ref: '#/components/schemas/TableProductResponse'
                required:
                  - data
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/stocks-report/products/sizes:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - История остатков
      summary: Данные по размерам
      description: |
        Метод формирует набор данных об остатках по размерам товара.
        <br><br>
        Возможны случаи:
        1. Товар имеет размеры и `"includeOffice":true`, тогда в ответе будут данные об остатках по каждому из размеров с вложенной детализацией по складам.
        2. Товар имеет размеры и `"includeOffice":false`, тогда в ответе будут данные об остатках по каждому из размеров без вложенной детализации по складам.
        3. Товар не имеет размера и `"includeOffice":true`, тогда в ответе будет детализация по складам. Без данных об остатках по каждому из размеров.
        4. Товар не имеет размера и `"includeOffice":false`, тогда тело ответа будет пустым.<br></br>
        Товар не имеет размера, если у него единственный размер с `"techSize":"0"`. В ответах метода получения данных по [товарам](/openapi/analytics#tag/Istoriya-ostatkov/paths/~1api~1v2~1stocks-report~1products~1products/post) у таких товаров `"hasSizes":false`.<br></br>
        Данные по складам продавца приходят в агрегированном виде — по всем сразу, без детализации по конкретным складам — эти записи будут с `"regionName":"Маркетплейс"` и `"officeName":""`.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableSizeRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TableSizeResponse'
                required:
                  - data
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/stocks-report/offices:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - История остатков
      summary: Данные по складам
      description: |
        Метод формирует набор данных об остатках по складам.
        <br><br>
        Данные по складам продавца приходят в агрегированном виде — по всем сразу, без детализации по конкретным складам — эти записи будут с `"regionName":"Маркетплейс"` и `"offices":[]`.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableShippingOfficeRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TableShippingOfficeResponse'
                required:
                  - data
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/analytics/v1/item-rating:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      x-token-types:
        - personal
        - service
      tags:
        - Оценка товара
      summary: Получить отчёт
      operationId: postV1ItemRating
      description: |
        <div class="description_token">Метод доступен по <a href="/openapi/api-information#tag/Avtorizaciya/Pravila-ispolzovaniya-tokenov-dostupa-k-API">токенам</a>:<strong> Персональный</strong>,<strong> Сервисный</strong> 
            </div>

        Метод формирует набор данных об оценках товаров.
        <br><br>
        Данные отчёта обновляются 1 раз в час.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 3 запроса | 20 сек | 3 запроса |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemRatingRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ItemRatingResponse'
                required:
                  - data
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    MainRequest:
      type: object
      description: |
        Параметры запроса для формирования главной страницы:
          - `currentPeriod` — текущий период
          - `pastPeriod` — предыдущий период для сравнения
      properties:
        currentPeriod:
          $ref: '#/components/schemas/Period'
        pastPeriod:
          $ref: '#/components/schemas/pastPeriod'
        nmIds:
          type: array
          example:
            - 162579635
            - 166699779
          description: Список артикулов WB для фильтрации
          items:
            type: integer
            format: int32
        subjectIds:
          type: array
          example:
            - 32
            - 64
          description: Список ID предметов для фильтрации
          items:
            type: integer
            format: int32
        brandNames:
          example:
            - Adidas
            - Nike
          type: array
          description: Список брендов для фильтрации
          items:
            type: string
        tagIds:
          example:
            - 3
            - 5
            - 6
          description: Список ID ярлыков для фильтрации
          type: array
          items:
            type: integer
            format: int64
        positionCluster:
          $ref: '#/components/schemas/PositionCluster'
        orderBy:
          $ref: '#/components/schemas/OrderByMainAndDetails'
        includeSubstitutedSKUs:
          type: boolean
          default: true
          example: true
          description: Показать данные по прямым запросам с [подменным артикулом](https://seller.wildberries.ru/help-center/article/A-524)
        includeSearchTexts:
          type: boolean
          default: true
          example: false
          description: Показать данные по поисковым запросам без учёта подменного артикула
        limit:
          example: 130
          type: integer
          description: Количество групп товаров в ответе
          format: uint32
          maximum: 1000
        offset:
          example: 50
          type: integer
          description: После какого элемента выдавать данные
          format: uint32
      required:
        - currentPeriod
        - orderBy
        - positionCluster
        - limit
        - offset
    MainResponse:
      type: object
      properties:
        commonInfo:
          $ref: '#/components/schemas/CommonInfo'
        positionInfo:
          $ref: '#/components/schemas/PositionInfo'
        visibilityInfo:
          $ref: '#/components/schemas/VisibilityInfo'
        groups:
          description: |
            Список элементов таблицы
          type: array
          items:
            $ref: '#/components/schemas/TableGroupItem'
        currency:
          $ref: '#/components/schemas/Currency'
      required:
        - commonInfo
        - positionInfo
        - visibilityInfo
        - currency
    CommonInfo:
      type: object
      description: Общая информация
      properties:
        supplierRating:
          description: Рейтинг продавца
          type: object
          properties:
            current:
              type: number
              format: float64
              example: 5.3
              description: Текущий рейтинг продавца
            dynamics:
              type: number
              format: float64
              example: 5.4
              description: Динамика по сравнению с предыдущим периодом, %
          required:
            - current
        advertisedProducts:
          description: Количество товаров в рекламе
          type: object
          properties:
            current:
              example: 5
              description: Текущее количество товаров в рекламе
              type: integer
            dynamics:
              example: 50
              description: Динамика по сравнению с предыдущим периодом, %
              type: integer
          required:
            - current
        totalProducts:
          example: 150
          description: Общее количество товаров
          type: integer
          format: uint64
      required:
        - supplierRating
        - advertisedProducts
        - totalProducts
    PositionInfo:
      type: object
      description: Информация о позиции товара
      properties:
        average:
          description: Средняя позиция товара в результатах поиска
          type: object
          properties:
            current:
              example: 5
              description: Текущая средняя позиция товара
              type: integer
            dynamics:
              example: 50
              description: Динамика по сравнению с предыдущим периодом, %
              type: integer
          required:
            - current
        median:
          description: Медианная позиция товара в результатах поиска
          type: object
          properties:
            current:
              example: 5
              description: Текущая медианная позиция товара
              type: integer
            dynamics:
              example: 50
              description: Динамика по сравнению с предыдущим периодом, %
              type: integer
          required:
            - current
        chartItems:
          type: array
          description: Данные для чарта по средней и медианной позиции товара в результатах поиска
          items:
            $ref: '#/components/schemas/SearchReportPositionChartItem'
        clusters:
          $ref: '#/components/schemas/SearchReportPositionClusters'
      required:
        - average
        - median
        - chartItems
        - clusters
    SearchReportPositionChartItem:
      type: object
      properties:
        dt:
          example: '2024-10-19'
          type: string
          description: Дата
        average:
          example: 1
          type: integer
          description: Средняя позиция товара в результатах поиска
          format: uint64
        median:
          example: 1
          type: integer
          description: Медианная позиция товара в результатах поиска
          format: uint64
      required:
        - dt
        - average
        - median
    SearchReportPositionClusters:
      type: object
      description: |
        Количество товаров со средней позицией в поиске:
          - `firstHundred` — от 1 до 100
          - `secondHundred` — от 101 до 200
          - `below` — от 201 и ниже
      properties:
        firstHundred:
          description: от 1 до 100
          type: object
          properties:
            current:
              example: 5
              description: Текущее количество товаров
              type: integer
            dynamics:
              example: 50
              description: Динамика по сравнению с предыдущим периодом, %
              type: integer
          required:
            - current
        secondHundred:
          description: от 101 до 200
          type: object
          properties:
            current:
              example: 5
              description: Текущее количество товаров
              type: integer
            dynamics:
              example: 50
              description: Динамика по сравнению с предыдущим периодом, %
              type: integer
          required:
            - current
        below:
          description: от 201 и ниже
          type: object
          properties:
            current:
              example: 5
              description: Текущее количество товаров
              type: integer
            dynamics:
              example: 50
              description: Динамика по сравнению с предыдущим периодом, %
              type: integer
          required:
            - current
      required:
        - firstHundred
        - secondHundred
        - below
    VisibilityInfo:
      type: object
      description: Видимость карточек и переходы в карточки. По дням, неделям, месяцам
      properties:
        visibility:
          description: Видимость — процент вероятности, что пользователь увидит карточку товара. Зависит от средней позиции
          type: object
          properties:
            current:
              example: 5
              description: Видимость в текущий период
              type: integer
            dynamics:
              example: 50
              description: Динамика по сравнению с предыдущим периодом, %
              type: integer
          required:
            - current
        openCard:
          description: Количество переходов в карточку товара из поиска
          type: object
          properties:
            current:
              example: 5
              description: Текущее количество переходов
              type: integer
            dynamics:
              example: 50
              description: Динамика по сравнению с предыдущим периодом, %
              type: integer
          required:
            - current
        byDay:
          type: array
          description: Данные для отрисовки графика в личном кабинете по видимости и переходам в карточки по дням
          items:
            type: object
            properties:
              dt:
                $ref: '#/components/schemas/Date'
              visibility:
                example: 100
                description: Видимость карточки в результатах поиска, %
                type: integer
                format: uint64
              open:
                example: 124
                description: Количество переходов в карточку
                type: integer
                format: uint64
            required:
              - dt
              - visibility
              - open
        byWeek:
          type: array
          description: Данные для отрисовки графика в личном кабинете по видимости и переходам в карточки по неделям
          items:
            type: object
            properties:
              dt:
                $ref: '#/components/schemas/Date'
              visibility:
                example: 100
                description: Видимость карточки в результатах поиска, %
                type: integer
                format: uint64
              open:
                example: 124
                description: Количество переходов в карточку
                type: integer
                format: uint64
            required:
              - dt
              - visibility
              - open
        byMonth:
          type: array
          description: Данные для отрисовки графика в личном кабинете по видимости и переходам в карточки по месяцам
          items:
            type: object
            properties:
              dt:
                $ref: '#/components/schemas/Date'
              visibility:
                example: 100
                description: Видимость карточки в результатах поиска, %
                type: integer
                format: uint64
              open:
                example: 124
                description: Количество переходов в карточку
                type: integer
                format: uint64
            required:
              - dt
              - visibility
              - open
      required:
        - visibility
        - openCard
    TableGroupItem:
      type: object
      description: |
        К группе товаров относятся все карточки, подходящие хотя бы по одному из параметров:
          - `subjectName` — название предмета
          - `brandName` — бренд
          - `tagName` — название ярлыка
      properties:
        subjectName:
          example: Phones
          description: Название предмета
          type: string
        subjectId:
          example: 50
          description: ID предмета
          type: integer
          format: uint64
        brandName:
          example: Apple
          description: Бренд
          type: string
        tagName:
          example: phones
          description: Название ярлыка
          type: string
        tagId:
          example: 65
          description: ID ярлыка
          type: integer
          format: int64
        metrics:
          type: object
          description: Метрики товара в таблице
          properties:
            avgPosition:
              description: Средняя позиция товара в результатах поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущая средняя позиция
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            openCard:
              description: Количество переходов в карточку товара из поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущее количество переходов
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            addToCart:
              description: Сколько раз товар из поиска добавили в корзину
              type: object
              properties:
                current:
                  example: 5
                  description: Текущее количество
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            openToCart:
              description: Конверсия в корзину из поиска — доля добавлений товара в корзину по отношению ко всем переходам в карточку товара из поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущая конверсия
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            orders:
              description: Сколько раз товары из поиска заказали
              type: object
              properties:
                current:
                  example: 5
                  description: Текущее количество
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            cartToOrder:
              description: Конверсия в заказ из поиска — доля заказов товара по отношению ко всем добавлениям товара из поиска в корзину
              type: object
              properties:
                current:
                  example: 5
                  description: Текущая конверсия
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            visibility:
              description: Процент видимости товара в результатах поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущий процент видимости
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
          required:
            - avgPosition
            - openCard
            - addToCart
            - openToCart
            - orders
            - cartToOrder
            - visibility
        items:
          type: array
          description: Массив товаров группы
          items:
            $ref: '#/components/schemas/TableProductItem'
      required:
        - metrics
        - items
    TableProductItem:
      type: object
      allOf:
        - type: object
          properties:
            nmId:
              example: 268913787
              description: Артикул WB
              type: integer
              format: int64
            name:
              example: iPhone 13 256 ГБ Серебристый
              description: Название товара
              type: string
            vendorCode:
              example: wb3ha2668w
              description: Артикул продавца
              type: string
            subjectName:
              example: Смартфоны
              description: Название предмета
              type: string
            brandName:
              example: Apple
              description: Бренд
              type: string
            mainPhoto:
              example: https://basket-12.wbbasket.ru/vol1788/part178840/178840836/images/c246x328/1.webp
              description: URL главного фото карточки товара
              type: string
            isAdvertised:
              example: false
              description: Находится ли товар в продвижении в Поисковой выдаче
              type: boolean
            isSubstitutedSKU:
              type: boolean
              example: true
              description: |
                Искали ли товар по подменному артикулу.<br>
                Поле будет в ответе при наличии в запросе `includeSubstitutedSKUs` и/или `includeSearchTexts`
            isCardRated:
              example: true
              description: Есть ли рейтинг у карточки товара
              type: boolean
            rating:
              example: 6
              description: Рейтинг карточки товара
              type: number
              format: float64
            feedbackRating:
              example: 1
              description: Рейтинг по отзывам
              type: number
              format: float64
            price:
              description: Цена
              type: object
              properties:
                minPrice:
                  example: 150
                  description: Минимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба)
                  type: integer
                  format: uint64
                maxPrice:
                  example: 300
                  description: Максимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба)
                  type: integer
                  format: uint64
              required:
                - minPrice
                - maxPrice
            avgPosition:
              description: Средняя позиция товара в результатах поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущая средняя позиция
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            openCard:
              description: Количество переходов в карточку товара из поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущее количество переходов
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            addToCart:
              description: Сколько раз товар из поиска добавили в корзину
              type: object
              properties:
                current:
                  example: 5
                  description: Текущее количество
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            openToCart:
              description: Конверсия в корзину из поиска — доля добавлений товара в корзину по отношению ко всем переходам в карточку товара из поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущая конверсия
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            orders:
              description: Сколько раз товары из поиска заказали
              type: object
              properties:
                current:
                  example: 5
                  description: Текущее количество
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            cartToOrder:
              description: Конверсия в заказ из поиска — доля заказов товара по отношению ко всем добавлениям товара из поиска в корзину
              type: object
              properties:
                current:
                  example: 5
                  description: Текущая конверсия
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            visibility:
              description: Процент видимости товара в результатах поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущий процент видимости
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
      required:
        - nmId
        - vendorCode
        - isAdvertised
        - isCardRated
        - rating
        - feedbackRating
        - price
        - avgPosition
        - openCard
        - addToCart
[...]
