openapi: 3.0.1
info:
  title: Отчёты
  version: reports
  description: |
    <div class="description_important">
      Узнать больше об отчётах можно в <a href="https://seller.wildberries.ru/instructions/subcategory/5f2162c5-069b-416d-a4e1-48da2a76e6b0">справочном центре</a>
    </div>

    <div class="api-block">

    С помощью этих методов вы можете получать [основные отчёты](/openapi/reports#tag/Osnovnye-otchyoty) и отчёты о:
      1. [Остатках на складах](/openapi/reports#tag/Otchyot-ob-ostatkah-na-skladah)
      2. [Товарах с обязательной маркировкой](/openapi/reports#tag/Otchyot-o-tovarah-c-obyazatelnoj-markirovkoj)
      3. [Удержаниях](/openapi/reports#tag/Otchyoty-ob-uderzhaniyah)
      4. [Операциях при приёмке](/openapi/reports#tag/Operacii-pri-priyomke)
      5. [Платном хранении](/openapi/reports#tag/Platnoe-hranenie)
      6. [Продажах по регионам](/openapi/reports#tag/Prodazhi-po-regionam)
      7. [Доле бренда в продажах](/openapi/reports#tag/Dolya-brenda-v-prodazhah)
      8. [Скрытых товарах](/openapi/reports#tag/Skrytye-tovary)
      9. [Возвратах и перемещении товаров](/openapi/reports#tag/Otchyot-o-vozvratah-i-peremeshenii-tovarov)

    </div>
  x-file-name: reports
security:
  - HeaderApiKey: []
tags:
  - name: Основные отчёты
    description: ''
  - name: Отчёт об остатках на складах
    description: ''
  - name: Отчёт о товарах c обязательной маркировкой
    description: ''
  - name: Отчёты об удержаниях
    description: ''
  - name: Операции при приёмке
    description: ''
  - name: Платное хранение
    description: ''
  - name: Продажи по регионам
    description: ''
  - name: Доля бренда в продажах
    description: ''
  - name: Скрытые товары
    description: ''
  - name: Отчёт о возвратах и перемещении товаров
    description: ''
paths:
  /api/v1/supplier/stocks:
    servers:
      - url: https://statistics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: statistics
      security:
        - HeaderApiKey: []
      summary: Склады
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [23 июня](https://dev.wildberries.ru/release-notes?id=494)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Базовый | 3 ч | 1 запрос | 3 ч | 1 запрос |
        </div>
      tags:
        - Основные отчёты
      parameters:
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
          required: true
          description: |
            Дата и время последнего изменения по товару. <br>
            Для получения полного остатка следует указывать максимально раннее значение. <br>
            Например, `2019-06-20` <br>
            Дата в формате RFC3339. Можно передать дату или дату со временем.
            Время можно указывать с точностью до [секунд](./api-information#tag/Vvedenie/Limity-zaprosov) или миллисекунд. <br>
            Время передаётся в часовом поясе Москва (UTC+3).
            <br>Примеры:
              - `2019-06-20`
              - `2019-06-20T23:59:59`
              - `2019-06-20T00:00:00.12345`
              - `2017-03-25T00:00:00`
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StocksItem'
              example:
                - lastChangeDate: '2023-07-05T11:13:35'
                  warehouseName: Краснодар
                  supplierArticle: '443284'
                  nmId: 1439871458
                  barcode: '2037401340280'
                  quantity: 33
                  inWayToClient: 1
                  inWayFromClient: 0
                  quantityFull: 34
                  category: Посуда и инвентарь
                  subject: Формы для запекания
                  brand: X
                  techSize: '0'
                  Price: 185
                  Discount: 0
                  isSupply: true
                  isRealization: false
                  SCCode: Tech
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/responseErrorStatistics'
                  - $ref: '#/components/schemas/responseErrorStatistics2'
              examples:
                DateFromFieldRequired:
                  $ref: '#/components/examples/DateFromFieldRequired'
                DateFromValueNotValidated:
                  $ref: '#/components/examples/DateFromValueNotValidated'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/supplier/orders:
    servers:
      - url: https://statistics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: statistics
      security:
        - HeaderApiKey: []
      summary: Заказы
      description: |
        Метод возвращает информацию о заказах.<br>Данные обновляются раз в 30 минут.<br><br>

        1 строка = 1 заказ = 1 сборочное задание = 1 единица товара.<br>Для определения заказа рекомендуем использовать поле `srid`.<br><br>

        Информация о заказе хранится 90 дней с момента оформления.<br><br>

        В ответах могут отсутствовать заказы, по которым не подтверждена оплата. Например, заказы с отложенными платежами или оплатой в рассрочку. При этом, если по таким заказам есть продажи, вы можете получить их с помощью [детализаций к отчётам реализации](/openapi/financial-reports-and-accounting#tag/Finansovye-otchyoty).<br>
        Чтобы получить все оформленные заказы, используйте [Ленту заказов](https://seller.wildberries.ru/content-analytics/order-feed) в личном кабинете.

        <div class="description_important">
          Данные этого отчёта являются предварительными и служат для оперативного мониторинга
        </div>

        Для одного ответа на запрос с `flag=0` или без `flag` в системе установлено условное ограничение 80000 строк. Поэтому, чтобы получить все заказы, может потребоваться более, чем один запрос. Во втором и далее запросе в параметре `dateFrom` используйте полное значение поля `lastChangeDate` из последней строки ответа на предыдущий запрос.<br> Если в ответе отдаётся пустой массив `[]`, все заказы уже выгружены.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Базовый | 3 ч | 1 запрос | 3 ч | 1 запрос |
        </div>
      tags:
        - Основные отчёты
      parameters:
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
          required: true
          description: |
            Дата и время последнего изменения по заказу. <br>
            Дата в формате RFC3339. Можно передать дату или дату со временем.
            Время можно указывать с точностью до [секунд](./api-information#tag/Vvedenie/Limity-zaprosov) или миллисекунд. <br>
            Время передаётся в часовом поясе Москва (UTC+3).
            <br>Примеры:
              - `2019-06-20`
              - `2019-06-20T23:59:59`
              - `2019-06-20T00:00:00.12345`
              - `2017-03-25T00:00:00`
        - $ref: '#/components/parameters/flag'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrdersItem'
              example:
                - date: '2022-03-04T18:08:31'
                  lastChangeDate: '2022-03-06T10:11:07'
                  warehouseName: Подольск
                  warehouseType: Склад продавца
                  countryName: Россия
                  oblastOkrugName: Центральный федеральный округ
                  regionName: Московская
                  supplierArticle: '12345'
                  nmId: 1234567
                  barcode: '123453559000'
                  category: Бытовая техника
                  subject: Мультистайлеры
                  brand: Тест
                  techSize: '0'
                  incomeID: 56735459
                  isSupply: false
                  isRealization: true
                  totalPrice: 1887
                  discountPercent: 18
                  spp: 26
                  finishedPrice: 1145
                  priceWithDisc: 1547
                  isCancel: true
                  cancelDate: '2022-03-09T00:00:00'
                  sticker: '926912515'
                  gNumber: '34343462218572569531'
                  srid: 11.rf9ef11fce1684117b0nhj96222982382.3.0
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/responseErrorStatistics'
                  - $ref: '#/components/schemas/responseErrorStatistics2'
              examples:
                DateFromFieldRequired:
                  $ref: '#/components/examples/DateFromFieldRequired'
                DateFromValueNotValidated:
                  $ref: '#/components/examples/DateFromValueNotValidated'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/supplier/sales:
    servers:
      - url: https://statistics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: statistics
      security:
        - HeaderApiKey: []
      summary: Продажи
      description: |
        Метод возвращает информацию о продажах и возвратах.<br>Данные обновляются раз в 30 минут.<br><br>

        1 строка = 1 заказ = 1 сборочное задание = 1 единица товара.<br>Для определения заказа рекомендуем использовать поле `srid`.<br><br>

        Информация о заказе хранится 90 дней с момента оформления.

        <div class="description_important">
          Данные этого отчёта являются предварительными и служат для оперативного мониторинга
        </div>

          - В ответах могут отсутствовать заказы, по которым не подтверждена оплата, даже если эти заказы есть в детализациях к отчётам реализации. Например, заказы с отложенными платежами или оплатой в рассрочку
          - Значения полей `priceWithDisc` и `forPay` рассчитываются по упрощённой логике и могут отличаться от `retail_price_withdisc_rub` и `ppvz_for_pay` соответственно в детализациях к отчётам реализации
          - Поля `finishedPrice`, `priceWithDisc`, `forPay` могут временно иметь значение `0`: данные заполняются асинхронно, актуализируются в течение 24 часов
          - Для заказов, которые оплачены в валюте, отличной от валюты продавца, возможны округления цен из-за конвертации валют

        Для точных финансовых расчётов, сверки и отчётности используйте [детализации к отчётам реализации](/openapi/financial-reports-and-accounting#tag/Finansovye-otchyoty).<br><br>

        Для одного ответа на запрос с `flag=0` или без `flag` в системе установлено условное ограничение 80000 строк. Поэтому, чтобы получить все продажи и возвраты, может потребоваться более, чем один запрос. Во втором и далее запросе в параметре `dateFrom `используйте полное значение поля `lastChangeDate` из последней строки ответа на предыдущий запрос.<br> Если в ответе отдаётся пустой массив `[]`, все продажи и возвраты уже выгружены.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый | 2 ч | 1 запрос | 2 ч | 1 запрос |
        </div>
      tags:
        - Основные отчёты
      parameters:
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
          required: true
          description: |
            Дата и время последнего изменения по продаже/возврату. <br>
            Дата в формате RFC3339. Можно передать дату или дату со временем.
            Время можно указывать с точностью до [секунд](./api-information#tag/Vvedenie/Limity-zaprosov) или миллисекунд. <br>
            Время передаётся в часовом поясе Москва (UTC+3).
            <br>Примеры:
              - `2019-06-20`
              - `2019-06-20T23:59:59`
              - `2019-06-20T00:00:00.12345`
              - `2017-03-25T00:00:00`
        - $ref: '#/components/parameters/flag'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesItem'
              example:
                - date: '2022-03-04T18:08:31'
                  lastChangeDate: '2022-03-06T10:11:07'
                  warehouseName: Подольск
                  warehouseType: Склад продавца
                  countryName: Россия
                  oblastOkrugName: Центральный федеральный округ
                  regionName: Московская
                  supplierArticle: '12345'
                  nmId: 1234567
                  barcode: '123453559000'
                  category: Бытовая техника
                  subject: Мультистайлеры
                  brand: Тест
                  techSize: '0'
                  incomeID: 56735459
                  isSupply: false
                  isRealization: true
                  totalPrice: 1887
                  discountPercent: 18
                  spp: 20
                  paymentSaleAmount: 93
                  forPay: 1284.01
                  finishedPrice: 1145
                  priceWithDisc: 1547
                  saleID: S9993700024
                  sticker: '926912515'
                  gNumber: '34343462218572569531'
                  srid: 11.rf9ef11fce1684117b0nhj96222982382.3.0
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/responseErrorStatistics'
                  - $ref: '#/components/schemas/responseErrorStatistics2'
              examples:
                DateFromFieldRequired:
                  $ref: '#/components/examples/DateFromFieldRequired'
                DateFromValueNotValidated:
                  $ref: '#/components/examples/DateFromValueNotValidated'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/excise-report:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Отчёт о товарах c обязательной маркировкой
      summary: Получить отчёт
      description: |
        Метод возвращает отчёт с [операциями по товарам с обязательной маркировкой](https://seller.wildberries.ru/analytics-reports/excise-report).<br><br>

        Данный отчёт можно сохранить в [формате таблиц](https://dev.wildberries.ru/cases/1).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 5 ч | 10 запросов | 30 мин | 10 запросов |
        | Сервисный | 5 ч | 10 запросов | 30 мин | 10 запросов |
        | Базовый с секретом | 5 ч | 10 запросов | 30 мин | 10 запросов |
        | Базовый | 24 ч | 2 запроса | 12 ч | 1 запрос |
        </div>
      parameters:
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExciseReportRequest'
        required: false
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExciseReportResponse'
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: 'request body has an error: doesn''t match schema #/components/schemas/ExciseReportRequest: Error at "/countries/0": value is not one of the allowed values ["AM","BY","KG","KZ","RU","UZ"]'
                origin: tariffs
                requestId: 8bbd7db59522d09926dd059892dbeff0
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/warehouse_remains:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Отчёт об остатках на складах
      summary: Создать отчёт
      description: |
        Метод создаёт [задание на генерацию](/openapi/reports#tag/Otchyot-ob-ostatkah-na-skladah/paths/~1api~1v1~1warehouse_remains~1tasks~1%7Btask_id%7D~1status/get) отчёта об [остатках на складах WB](/openapi/reports#tag/Otchyot-ob-ostatkah-na-skladah/paths/~1api~1v1~1warehouse_remains~1tasks~1%7Btask_id%7D~1download/get).<br><br>

        Параметры `groupBy` и `filter` (группировки и фильтры) можно задать в любой комбинации — аналогично [версии](https://seller.wildberries.ru/analytics-reports/warehouse-remains) в личном кабинете.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 5 запросов |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 5 запросов |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 5 запросов |
        | Базовый | 1 ч | 4 запроса | 15 мин | 1 запрос |
        </div>
      parameters:
        - in: query
          name: locale
          schema:
            type: string
            example: ru
            default: ru
          description: |
            Язык полей ответа `subjectName` и `warehouseName`:
              - `ru` — русский
              - `en` — английский
              - `zh` — китайский. Значения `warehouseName` на английском
        - name: groupByBrand
          in: query
          schema:
            type: boolean
            example: true
            default: false
          description: Разбивка по брендам
        - name: groupBySubject
          in: query
          schema:
            type: boolean
            example: true
            default: false
          description: Разбивка по предметам
        - name: groupBySa
          in: query
          schema:
            type: boolean
            example: true
            default: false
          description: Разбивка по артикулам продавца
        - name: groupByNm
          in: query
          schema:
            type: boolean
            example: true
            default: false
          description: Разбивка по артикулам WB. Если `groupByNm=true`, в ответе будет поле `volume`
        - name: groupByBarcode
          in: query
          schema:
            type: boolean
            example: true
            default: false
          description: Разбивка по баркодам
        - name: groupBySize
          in: query
          schema:
            type: boolean
            example: true
            default: false
          description: Разбивка по размерам
        - name: filterPics
          in: query
          schema:
            type: integer
            example: 1
            default: 0
          description: |
            Фильтр по фото:
              - `-1` — без фото
              - `0` — не применять фильтр
              - `1` — с фото
        - name: filterVolume
          in: query
          schema:
            type: integer
            example: 3
            default: 0
          description: |
            Фильтр по объёму:
              - `-1` — без габаритов
              - `0` — не применять фильтр
              - `3` — свыше трёх литров
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTaskResponse'
              examples:
                CreateResponseData:
                  $ref: '#/components/examples/CreateResponseData'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: 'parameter "groupByNm" in query has an error: empty value is not allowed'
                origin: api-statistics
                requestId: 6a6c2fba81f08e58670a7dab835ff0d7
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/warehouse_remains/tasks/{task_id}/status:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Отчёт об остатках на складах
      summary: Проверить статус
      description: |
        Метод возвращает статус [задания на генерацию](/openapi/reports#tag/Otchyot-ob-ostatkah-na-skladah/paths/~1api~1v1~1warehouse_remains/get) отчёта об [остатках на складах WB](/openapi/reports#tag/Otchyot-ob-ostatkah-na-skladah/paths/~1api~1v1~1warehouse_remains~1tasks~1%7Btask_id%7D~1download/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 5 сек | 1 запрос | 5 сек | 5 запросов |
        | Сервисный | 5 сек | 1 запрос | 5 сек | 5 запросов |
        | Базовый с секретом | 5 сек | 1 запрос | 5 сек | 5 запросов |
        | Базовый | 1 ч | 4 запроса | 15 мин | 1 запрос |
        </div>
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            example: 06e06887-9d9f-491f-b16a-bb1766fcb8d2
          description: |
            ID задания на генерацию
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTasksResponse'
              examples:
                GetTasksResponseData:
                  $ref: '#/components/examples/GetTasksResponseData'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: 'Invalid format for parameter task_id: error unmarshaling ''2f071556-ae39-492f-fd8cf1eb0d25'' text as *uuid.UUID: invalid UUID length: 31'
                origin: api-statistics
                requestId: 52dd27a91a1a643feae7201b206462df
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Не найдено
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: not found
                origin: api-statistics
                requestId: c777731fc180f215a49c9896c2f1200d
                title: Not Found
        '429':
          $ref: '#/components/responses/429'
  /api/v1/warehouse_remains/tasks/{task_id}/download:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Отчёт об остатках на складах
      summary: Получить отчёт
      description: |
        Метод возвращает отчёт об [остатках на складах WB](https://seller.wildberries.ru/analytics-reports/warehouse-remains) по ID [задания на генерацию](/openapi/reports#tag/Otchyot-ob-ostatkah-na-skladah/paths/~1api~1v1~1warehouse_remains/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый | 1 ч | 4 запроса | 15 мин | 1 запрос |
        </div>
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            example: 06e06887-9d9f-491f-b16a-bb1766fcb8d2
          description: |
            ID задания на генерацию
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    brand:
                      type: string
                      example: Wonderful
                      description: Бренд
                    subjectName:
                      type: string
                      example: Фотоальбомы
                      description: Название предмета
                    vendorCode:
                      type: string
                      example: 41058/прозрачный
                      description: Артикул продавца
                    nmId:
                      type: integer
                      example: 183804172
                      description: Артикул WB
                    barcode:
                      type: string
                      example: '2037031652319'
                      description: Баркод
                    techSize:
                      type: string
                      example: '0'
                      description: Размер
                    volume:
                      type: number
                      example: 1.33
                      description: Объём, л
                    warehouses:
                      type: array
                      description: Остатки на складах и товары в пути. Будут в ответе только при ненулевом `quantity`
                      items:
                        type: object
                        properties:
                          warehouseName:
                            type: string
                            example: Невинномысск
                            description: Название склада
                          quantity:
                            type: integer
                            example: 134
                            description: |
                              Количество, шт.
              example:
                - brand: Wonderful
                  subjectName: Фотоальбомы
                  vendorCode: 41058/прозрачный
                  nmId: 183804172
                  barcode: '2037031652319'
                  techSize: '0'
                  volume: 1.33
                  warehouses:
                    - warehouseName: В пути до получателей
                      quantity: 14
                    - warehouseName: В пути возвраты на склад WB
                      quantity: 4
                    - warehouseName: Всего находится на складах
                      quantity: 267
                    - warehouseName: Невинномысск
                      quantity: 134
                    - warehouseName: Коледино
                      quantity: 133
        '204':
          description: Нет данных
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: 'Invalid format for parameter task_id: error unmarshaling ''7b8875---9f03-46f1-af21-b9b4b22fe821'' text as *uuid.UUID: invalid UUID format'
                origin: api-statistics
                requestId: 44bac63ab29c46cb2d49392e6604c1a0
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          description: Не найдено
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: not found
                origin: api-statistics
                requestId: c777731fc180f215a49c9896c2f1200d
                title: Not Found
        '429':
          $ref: '#/components/responses/429'
  /api/analytics/v1/measurement-penalties:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Отчёты об удержаниях
      summary: Удержания за занижение габаритов упаковки
      operationId: getMeasurementPenalties
      description: |
        Метод возвращает отчёт об [удержаниях за занижение габаритов упаковки](https://seller.wildberries.ru/analytics-reports/dimensions-penalties)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый | 6 ч | 1 запрос | 6 ч | 1 запрос |
        </div>
      parameters:
        - in: query
          name: dateFrom
          description: Начало отчётного периода. По умолчанию используется дата, когда были впервые получены данные для отчёта
          schema:
            type: string
            format: date-time
          example: '2025-02-01T15:00:00Z'
        - in: query
          name: dateTo
          required: true
          description: Конец отчётного периода
          schema:
            type: string
            format: date-time
          example: '2025-10-11T18:00:00Z'
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            example: 330
            maximum: 1000
          description: Количество удержаний в ответе
        - name: offset
          in: query
          schema:
            type: integer
            example: 220
            default: 0
          description: Сколько элементов пропустить. Например, для значения `10` ответ начнётся с 11 элемента
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeasurementPenalties'
              examples:
                MeasurementPenalties:
                  $ref: '#/components/examples/MeasurementPenalties'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response400Retentions'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response403Retentions'
        '429':
          $ref: '#/components/responses/429'
  /api/analytics/v1/warehouse-measurements:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Отчёты об удержаниях
      summary: Замеры склада
      operationId: getWarehouseMeasurements
      description: |
        Метод возвращает отчёт о [замерах склада](https://seller.wildberries.ru/analytics-reports/dimensions-penalties/warehouse-measurements)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый | 6 ч | 1 запрос | 6 ч | 1 запрос |
        </div>
      parameters:
        - in: query
          name: dateFrom
          description: Начало отчётного периода. По умолчанию используется дата, когда были впервые получены данные для отчёта
          schema:
            type: string
            format: date-time
          example: '2025-02-01T15:00:00Z'
        - in: query
          name: dateTo
          required: true
          description: Конец отчётного периода
          schema:
            type: string
            format: date-time
          example: '2025-10-11T18:00:00Z'
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            example: 330
            maximum: 1000
          description: Количество замеров в ответе
        - name: offset
          in: query
          schema:
            type: integer
            example: 220
            default: 0
          description: Сколько элементов пропустить. Например, для значения `10` ответ начнётся с 11 элемента
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WHM'
              examples:
                Measurements:
                  $ref: '#/components/examples/WHM'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response400Retentions'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response403Retentions'
        '429':
          $ref: '#/components/responses/429'
  /api/analytics/v1/deductions:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Отчёты об удержаниях
      summary: Подмены и неверные вложения
      operationId: getDeductions
      description: |
        Метод возвращает отчёт об удержаниях за [подмены и неверные вложения](https://seller.wildberries.ru/analytics-reports/dimensions-penalties/retentions)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый | 1 ч | 4 запроса | 15 мин | 1 запрос |
        </div>
      parameters:
        - name: dateFrom
          in: query
          description: Начало отчётного периода. По умолчанию используются дата и время, когда были впервые получены данные для отчёта
          schema:
            type: string
            format: date-time
          example: '2025-02-01T15:00:00Z'
        - name: dateTo
          in: query
          required: true
          description: Конец отчётного периода
          schema:
            type: string
            format: date-time
          example: '2025-10-11T18:00:00Z'
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - nmId
              - dtBonus
              - bonusSumm
            default: dtBonus
            example: nmId
          description: |
            Сортировка:
            - `nmId` — по артикулу WB
            - `dtBonus` — по дате и времени удержания
            - `bonusSumm` — по сумме удержания
        - name: order
          in: query
          schema:
            type: string
            enum:
              - desc
              - asc
            default: desc
            example: asc
          description: |
            Порядок выдачи:
            - `desc` — по убыванию
            - `asc` — по возрастанию
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            example: 330
            maximum: 1000
          description: Количество удержаний в ответе
        - name: offset
          in: query
          schema:
            type: integer
            example: 220
            default: 0
          description: Сколько элементов пропустить. Например, для значения `10` ответ начнётся с 11 элемента
      responses:
        '200':
          $ref: '#/components/responses/SuccessSubstIncorAttachResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response400Retentions'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response403Retentions'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/antifraud-details:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Отчёты об удержаниях
      summary: Самовыкупы
      description: |
        Метод возвращает отчёт об удержаниях за самовыкупы. Отчёт формируется каждую неделю по средам, до 7:00 по московскому времени, и содержит данные за одну неделю.<br><br>

        Удержание за самовыкуп — 30% от стоимости товаров.<br>Минимальная сумма всех удержаний — 100 000 ₽, если за неделю в ПВЗ привезли ваших товаров больше, чем на сумму 100 000 ₽.<br><br>

        Данные доступны с августа 2023.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 10 мин | 1 запрос | 10 мин | 10 запросов |
        | Сервисный | 10 мин | 1 запрос | 10 мин | 10 запросов |
        | Базовый с секретом | 10 мин | 1 запрос | 10 мин | 10 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      parameters:
        - $ref: '#/components/parameters/Date'
      responses:
        '200':
          $ref: '#/components/responses/SuccessTaskResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              examples:
                IncorrectDate:
                  $ref: '#/components/examples/IncorrectDate'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/goods-labeling:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Отчёты об удержаниях
      summary: Маркировка товара
      description: |
        Метод возвращает отчёт о штрафах за отсутствие обязательной маркировки товаров.<br>

        В отчёте представлены фотографии товаров, на которых маркировка отсутствует либо не считывается.<br><br>

        Можно получить данные максимум за 31 день. Данные доступны с марта 2024.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      parameters:
        - $ref: '#/components/parameters/DateFromGoodsLabeling'
        - $ref: '#/components/parameters/DateToGoodsLabeling'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGoodsLabelingResponse'
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              examples:
                MissingDateTimeFrom:
                  $ref: '#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '#/components/examples/DateRangeExceeded'
                DateRanges:
                  $ref: '#/components/examples/DateRanges'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/acceptance_report:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Операции при приёмке
      summary: Создать отчёт
      description: |
        Метод создаёт [задание на генерацию](/openapi/reports#tag/Operacii-pri-priyomke/paths/~1api~1v1~1acceptance_report~1tasks~1%7Btask_id%7D~1status/get) отчёта об [операциях при приёмке](/openapi/reports#tag/Operacii-pri-priyomke/paths/~1api~1v1~1acceptance_report~1tasks~1%7Btask_id%7D~1download/get).<br><br>

        Можно получить отчёт максимум за 31 день.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый | 3 ч | 1 запрос | 3 ч | 1 запрос |
        </div>
      parameters:
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTaskResponse'
              examples:
                CreateResponseData:
                  $ref: '#/components/examples/CreateResponseData'
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              examples:
                MissingDateTimeFrom:
                  $ref: '#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '#/components/examples/DateRangeExceeded'
                DateRanges:
                  $ref: '#/components/examples/DateRanges'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/acceptance_report/tasks/{task_id}/status:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Операции при приёмке
      summary: Проверить статус
      description: |
        Метод возвращает статус [задания на генерацию](/openapi/reports#tag/Operacii-pri-priyomke/paths/~1api~1v1~1acceptance_report/get) отчёта об [операциях при приёмке](/openapi/reports#tag/Operacii-pri-priyomke/paths/~1api~1v1~1acceptance_report~1tasks~1%7Btask_id%7D~1download/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 5 сек | 1 запрос | 5 сек | 1 запрос |
        | Сервисный | 5 сек | 1 запрос | 5 сек | 1 запрос |
        | Базовый с секретом | 5 сек | 1 запрос | 5 сек | 1 запрос |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            example: 06e06887-9d9f-491f-b16a-bb1766fcb8d2
          description: |
            ID задания на генерацию
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTasksResponse'
              examples:
                GetTasksResponseData:
                  $ref: '#/components/examples/GetTasksResponseData'
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: 'Invalid format for parameter task_id: error unmarshaling ''7b8875---9f03-46f1-af21-b9b4b22fe821'' text as *uuid.UUID: invalid UUID format'
                origin: api-statistics
                requestId: 44bac63ab29c46cb2d49392e6604c1a0
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Не найдено
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: not found
                origin: api-statistics
                requestId: c777731fc180f215a49c9896c2f1200d
                title: Not Found
        '429':
          $ref: '#/components/responses/429'
  /api/v1/acceptance_report/tasks/{task_id}/download:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Операции при приёмке
      summary: Получить отчёт
      description: |
        Метод возвращает отчёт об [операциях при приёмке](https://seller.wildberries.ru/analytics-reports/acceptance-report) по ID [задания на генерацию](/openapi/reports#tag/Operacii-pri-priyomke/paths/~1api~1v1~1acceptance_report/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            example: 06e06887-9d9f-491f-b16a-bb1766fcb8d2
          description: |
            ID задания на генерацию
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    count:
                      type: integer
                      description: Количество товаров, шт.
                      example: 40
                    giCreateDate:
                      type: string
                      format: date
                      description: Дата создания поставки
                      example: '2025-03-04'
                    incomeId:
                      type: integer
                      description: Номер поставки
                      example: 11834106
                    nmID:
                      type: integer
                      description: Артикул WB
                      example: 123456789
                    shkCreateDate:
                      type: string
                      format: date
                      description: Дата приёмки
                      example: '2025-03-14'
                    subjectName:
                      type: string
                      description: Предмет
                      example: Добавки пищевые
                    total:
                      type: number
                      description: Суммарная стоимость приёмки, ₽ с копейками
                      example: 873.04
        '204':
          description: Нет данных
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: 'Invalid format for parameter task_id: error unmarshaling ''2f071556-ae39-492f-fd8cf1eb0d25'' text as *uuid.UUID: invalid UUID length: 31'
                origin: api-statistics
                requestId: 52dd27a91a1a643feae7201b206462df
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          description: Не найдено
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: not found
                origin: api-statistics
                requestId: c777731fc180f215a49c9896c2f1200d
                title: Not Found
        '429':
          $ref: '#/components/responses/429'
  /api/v1/paid_storage:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Платное хранение
      summary: Создать отчёт
      description: |
        Метод создаёт [задание на генерацию](/openapi/reports#tag/Platnoe-hranenie/paths/~1api~1v1~1paid_storage~1tasks~1%7Btask_id%7D~1status/get) отчёта о [платном хранении](/openapi/reports#tag/Platnoe-hranenie/paths/~1api~1v1~1paid_storage~1tasks~1%7Btask_id%7D~1download/get).<br><br>

        Можно получить отчёт максимум за 8 дней.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 5 запросов |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 5 запросов |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 5 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      parameters:
        - name: dateFrom
          in: query
          required: true
          schema:
            type: string
            example: '2022-01-01'
          description: |
            Начало отчётного периода в формате RFC3339. Можно передать дату или дату со временем. Примеры:

              * `2019-06-20`
              * `2019-06-20T23:59:59`
              * `2019-06-20T00:00:00.12345`
              * `2017-03-25T00:00:00`
        - name: dateTo
          in: query
          required: true
          schema:
            type: string
            example: '2022-01-09'
          description: |
            Конец отчётного периода в формате RFC3339. Можно передать дату или дату со временем. Примеры:

              * `2019-06-20`
              * `2019-06-20T23:59:59`
              * `2019-06-20T00:00:00.12345`
              * `2017-03-25T00:00:00`
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTaskResponse'
              examples:
                CreateResponseData:
                  $ref: '#/components/examples/CreateResponseData'
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              examples:
                MissingDateTimeFrom:
                  $ref: '#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '#/components/examples/DateRangeExceeded8'
                DateRanges:
                  $ref: '#/components/examples/DateRanges'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/paid_storage/tasks/{task_id}/status:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Платное хранение
      summary: Проверить статус
      description: |
        Метод возвращает статус [задания на генерацию](/openapi/reports#tag/Platnoe-hranenie/paths/~1api~1v1~1paid_storage/get) отчёта о [платном хранении](/openapi/reports#tag/Platnoe-hranenie/paths/~1api~1v1~1paid_storage~1tasks~1%7Btask_id%7D~1download/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 5 сек | 1 запрос | 5 сек | 5 запросов |
        | Сервисный | 5 сек | 1 запрос | 5 сек | 5 запросов |
        | Базовый с секретом | 5 сек | 1 запрос | 5 сек | 5 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 2 запроса |
        </div>
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            example: 06e06887-9d9f-491f-b16a-bb1766fcb8d2
          description: |
            ID задания на генерацию
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTasksResponse'
              examples:
                GetTasksResponseData:
                  $ref: '#/components/examples/GetTasksResponseData'
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: 'Invalid format for parameter task_id: error unmarshaling ''2f071556-ae39-492f-fd8cf1eb0d25'' text as *uuid.UUID: invalid UUID length: 31'
                origin: api-statistics
                requestId: 52dd27a91a1a643feae7201b206462df
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Не найдено
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: not found
                origin: api-statistics
                requestId: c777731fc180f215a49c9896c2f1200d
                title: Not Found
        '429':
          $ref: '#/components/responses/429'
  /api/v1/paid_storage/tasks/{task_id}/download:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Платное хранение
      summary: Получить отчёт
      description: |
        Метод возвращает отчёт о [платном хранении](https://seller.wildberries.ru/analytics-reports/paid-storage/storage) по ID [задания на генерацию](/openapi/reports#tag/Platnoe-hranenie/paths/~1api~1v1~1paid_storage/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            example: 06e06887-9d9f-491f-b16a-bb1766fcb8d2
          description: |
            ID задания на генерацию
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePaidStorage'
              example:
                - date: '2023-10-01'
                  logWarehouseCoef: 1
                  officeId: 507
                  warehouse: Коледино
                  warehouseCoef: 1.7
                  giId: 123456
                  chrtId: 1234567
                  size: '0'
                  barcode: ''
                  subject: Маски одноразовые
                  brand: 1000 Каталог
                  vendorCode: '567383'
                  nmId: 1234567
                  volume: 12
                  calcType: 'короба: без габаритов'
                  warehousePrice: 7.65
                  barcodesCount: 1
                  palletPlaceCode: 0
                  palletCount: 0
                  originalDate: '2023-03-01'
                  loyaltyDiscount: 10
                  tariffFixDate: '2023-10-01'
                  tariffLowerDate: '2023-11-01'
        '204':
          description: Нет данных
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: 'Invalid format for parameter task_id: error unmarshaling ''7b8875---9f03-46f1-af21-b9b4b22fe821'' text as *uuid.UUID: invalid UUID format'
                origin: api-statistics
                requestId: 44bac63ab29c46cb2d49392e6604c1a0
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          description: Не найдено
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: not found
                origin: api-statistics
                requestId: c777731fc180f215a49c9896c2f1200d
                title: Not Found
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/region-sale:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Продажи по регионам
      summary: Получить отчёт
      description: |
        Метод возвращает отчёт с [данными продаж, сгруппированных по регионам стран](https://seller.wildberries.ru/analytics-reports/region-sale).<br><br>

        Можно получить отчёт максимум за 31 день.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 10 сек | 1 запрос | 10 сек | 5 запросов |
        | Сервисный | 10 сек | 1 запрос | 10 сек | 5 запросов |
        | Базовый с секретом | 10 сек | 1 запрос | 10 сек | 5 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      parameters:
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          $ref: '#/components/responses/SuccessRegionSaleResponse'
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              examples:
                MissingDateTimeFrom:
                  $ref: '#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '#/components/examples/DateRangeExceeded'
                DateRanges:
                  $ref: '#/components/examples/DateRanges'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/brand-share/brands:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Доля бренда в продажах
      summary: Бренды продавца
      description: |
        Метод возвращает список брендов продавца для отчёта о [доле бренда в продажах](https://seller.wildberries.ru/analytics-reports/brand-share). <br><br>

        Можно получить только бренды, которые:
        - Продавались за последние 90 дней.
        - Есть на складе WB.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      responses:
        '200':
          $ref: '#/components/responses/SuccessBrandsResponse'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/brand-share/parent-subjects:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Доля бренда в продажах
      summary: Родительские категории бренда
      description: |
        Метод возвращает родительские категории бренда продавца для отчёта о [доле бренда в продажах](https://seller.wildberries.ru/analytics-reports/brand-share).<br><br>

        Можно получить отчёт максимум за 365 дней. Данные доступны с 1 ноября 2022.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 5 сек | 1 запрос | 5 сек | 20 запросов |
        | Сервисный | 5 сек | 1 запрос | 5 сек | 20 запросов |
        | Базовый с секретом | 5 сек | 1 запрос | 5 сек | 20 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      parameters:
        - in: query
          name: locale
          schema:
            type: string
            example: ru
            default: ru
          description: |
            Язык поля ответа `parentName`:
              - `ru` — русский
              - `en` — английский
              - `zh` — китайский
        - in: query
          name: brand
          schema:
            type: string
            example: H%26M
          required: true
          description: Бренд
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          $ref: '#/components/responses/SuccessParentsResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              examples:
                IncorrectDateFrom:
                  $ref: '#/components/examples/IncorrectDateFromBS'
                MissingDateTimeFrom:
                  $ref: '#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '#/components/examples/DateRangeExceeded365'
                DateRanges:
                  $ref: '#/components/examples/DateRanges'
                LocaleError:
                  $ref: '#/components/examples/LocaleError'
                MissingBrand:
                  $ref: '#/components/examples/MissingBrand'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/brand-share:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Доля бренда в продажах
      summary: Получить отчёт
      description: |
        Метод возвращает отчёт о [доле бренда продавца в продажах](https://seller.wildberries.ru/analytics-reports/brand-share). <br><br>

        Можно получить отчёт максимум за 365 дней. Данные доступны с 1 ноября 2022.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 5 сек | 1 запрос | 5 сек | 20 запросов |
        | Сервисный | 5 сек | 1 запрос | 5 сек | 20 запросов |
        | Базовый с секретом | 5 сек | 1 запрос | 5 сек | 20 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      parameters:
        - in: query
          name: parentId
          schema:
            type: integer
            example: 1
          required: true
          description: ID родительской категории
        - in: query
          name: brand
          schema:
            type: string
            example: H%26M
          required: true
          description: Бренд
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          $ref: '#/components/responses/SuccessBrandShareResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              examples:
                IncorrectDateFrom:
                  $ref: '#/components/examples/IncorrectDateFromBS'
                MissingDateTimeFrom:
                  $ref: '#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '#/components/examples/DateRangeExceeded365'
                DateRanges:
                  $ref: '#/components/examples/DateRanges'
                MissingParentId:
                  $ref: '#/components/examples/MissingParentId'
                MissingBrand:
                  $ref: '#/components/examples/MissingBrand'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/banned-products/blocked:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Скрытые товары
      summary: Заблокированные карточки
      description: |
        Метод возвращает список [заблокированных карточек товаров продавца](https://seller.wildberries.ru/analytics-reports/banned-products) с причинами блокировки.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 10 сек | 1 запрос | 10 сек | 6 запросов |
        | Сервисный | 10 сек | 1 запрос | 10 сек | 6 запросов |
        | Базовый с секретом | 10 сек | 1 запрос | 10 сек | 6 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      parameters:
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - brand
              - nmId
              - title
              - vendorCode
              - reason
            example: nmId
          description: |
            Сортировка
            - `brand` — по бренду
            - `nmId` — по артикулу WB
            - `title` — по наименованию товара
            - `vendorCode` — по артикулу продавца
            - `reason` — по причине блокировки
          required: true
        - in: query
          name: order
          schema:
            type: string
            enum:
              - desc
              - asc
            example: asc
          description: |
            Порядок выдачи
            - `desc` — от наибольшего числового значения к наименьшему, от последнего по алфавиту значения к первому
            - `asc` — от наименьшего числового значения к наибольшему, от первого по алфавиту значения к последнему
          required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  report:
                    description: Отчёт
                    type: array
                    items:
                      type: object
                      properties:
                        brand:
                          type: string
                          example: Тест22
                          description: Бренд
                        nmId:
                          type: integer
                          example: 82722944
                          description: Артикул WB
                        title:
                          type: string
                          example: Гуминовые кислоты - биоактивный противовирусный комплекс на
                          description: Наименование товара
                        vendorCode:
                          type: string
                          example: пкdeир76
                          description: Артикул продавца
                        reason:
                          type: string
                          example: Контактные данные Продавца и ссылки на иные сайты/группы/сообщества на фотографиях Товара
                          description: Причина блокировки
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Заголовок ошибки
                  status:
                    type: number
                    description: HTTP статус-код
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
              example:
                title: bad request
                status: 400
                detail: missing sort
                requestId: 94b52fca-8403-49fb-85dd-95dfb73160ad
                origin: banreportsvc-api
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/banned-products/shadowed:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Скрытые товары
      summary: Скрытые из каталога
      description: |
        Метод возвращает список [товаров продавца, скрытых из каталога](https://seller.wildberries.ru/analytics-reports/banned-products/shadowed).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 10 сек | 1 запрос | 10 сек | 6 запросов |
        | Сервисный | 10 сек | 1 запрос | 10 сек | 6 запросов |
        | Базовый с секретом | 10 сек | 1 запрос | 10 сек | 6 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      parameters:
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - brand
              - nmId
              - title
              - vendorCode
              - nmRating
            example: title
          description: |
            Сортировка
            - `brand` — по бренду
            - `nmId` — по артикулу WB
            - `title` — по наименованию товара
            - `vendorCode` — по артикулу продавца
            - `nmRating` — по рейтингу товара
          required: true
        - in: query
          name: order
          schema:
            type: string
            enum:
              - desc
              - asc
            example: desc
          description: |
            Порядок выдачи
            - `desc` — от наибольшего числового значения к наименьшему, от последнего по алфавиту значения к первому
            - `asc` — от наименьшего числового значения к наибольшему, от первого по алфавиту значения к последнему
          required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  report:
                    description: Отчёт
                    type: array
                    items:
                      type: object
                      properties:
                        brand:
                          type: string
                          example: Трикотаж
                          description: Бренд
                        nmId:
                          type: integer
                          example: 166658151
                          description: Артикул WB
                        title:
                          type: string
                          example: ВАЗ
                          description: Наименование товара
                        vendorCode:
                          type: string
                          example: DP02/черный
                          description: Артикул продавца
                        nmRating:
                          type: number
                          example: 3.1
                          description: Рейтинг товара
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Заголовок ошибки
                  status:
                    type: number
                    description: HTTP статус-код
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
              example:
                title: bad request
                status: 400
                detail: missing order
                requestId: 064f6c9e-924e-4e13-b551-0b89e3077938
                origin: banreportsvc-api
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/goods-return:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Отчёт о возвратах и перемещении товаров
      summary: Получить отчёт
      description: |
        Метод возвращает отчёт о [возвратах товаров продавцу](https://seller.wildberries.ru/analytics-reports/goods-return). <br><br>

        Можно получить отчёт максимум за 31 день.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      parameters:
        - name: dateFrom
          in: query
          required: true
          schema:
            type: string
            format: date
            example: '2024-08-13'
          description: Дата начала отчётного периода
        - name: dateTo
          in: query
          required: true
          schema:
            type: string
            format: date
            example: '2024-08-27'
          description: Дата окончания отчётного периода
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  report:
                    description: Отчёт
                    type: array
                    items:
                      type: object
                      properties:
                        barcode:
                          type: string
                          example: '1680063403480'
                          description: Баркод
                        brand:
                          type: string
                          example: dub
                          description: Бренд
                        completedDt:
                          type: string
                          nullable: true
                          example: '2025-03-31T11:33:53'
                          description: Дата и время выдачи возврата продавцу
                        dstOfficeAddress:
                          type: string
                          example: Жуковский Улица Маяковского 19
                          description: Адрес ПВЗ выдачи возврата
                        dstOfficeId:
                          type: integer
                          example: 310105
                          description: ID ПВЗ выдачи возврата
                        expiredDt:
                          type: string
                          nullable: true
                          example: '2025-03-31T11:33:53'
                          description: Дата и время истечения срока хранения возврата
                        isStatusActive:
                          type: integer
                          example: 0
                          description: |
                            Тип статуса возврата:

                              * `0` — архивный
                              * `1` — активный
                          enum:
                            - 0
                            - 1
                        nmId:
                          type: integer
                          example: 12862181
                          description: Артикул WB
                        orderDt:
                          type: string
                          format: date
                          example: '2024-08-26'
                          description: Дата заказа на возврат
                        orderId:
                          type: integer
                          example: 2034240826
                          description: Номер сборочного задания
                        readyToReturnDt:
                          type: string
                          nullable: true
                          example: '2025-01-31T08:33:50'
                          description: Дата и время готовности возврата к выдаче
                        reason:
                          type: string
                          example: Цвет
                          description: Причина возврата
                        returnType:
                          type: string
                          example: Возврат заблокированного товара
                          description: Тип возврата
                        shkId:
                          type: integer
                          example: 23411783472
                          description: Штрихкод
                        srid:
                          type: string
                          example: ad3817664d3046c5a8d55054d8be96d6
                          description: Уникальный ID заказа на возврат
                        status:
                          type: string
                          example: В пути в пвз
                          description: Статус возврата
                        stickerId:
                          type: string
                          example: '33811984302'
                          description: Стикер заказа на возврат
                        subjectName:
                          type: string
                          example: Багажные бирки
                          description: Предмет
                        techSize:
                          type: string
                          example: '0'
                          description: Размер
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              examples:
                MissingDateTimeFrom:
                  $ref: '#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '#/components/examples/DateRangeExceeded'
                DateRanges:
                  $ref: '#/components/examples/DateRanges'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    StocksItem:
      type: object
      properties:
        lastChangeDate:
          type: string
          description: Дата и время обновления информации в сервисе. Это поле соответствует параметру `dateFrom` в запросе. Если часовой пояс не указан, то берётся Московское время (UTC+3)
        warehouseName:
          type: string
          maxLength: 50
          description: Название склада
        supplierArticle:
          type: string
          maxLength: 75
          description: Артикул продавца
        nmId:
          type: integer
          description: Артикул WB
        barcode:
          type: string
          maxLength: 30
          description: Баркод
        quantity:
          type: integer
          description: Количество, доступное для продажи (сколько можно добавить в корзину)
        inWayToClient:
          type: integer
          description: В пути к клиенту
        inWayFromClient:
          type: integer
          description: В пути от клиента
        quantityFull:
          type: integer
          description: Полное (непроданное) количество, которое числится за складом (= `quantity` + в пути)
        category:
          type: string
          maxLength: 50
          description: Категория
        subject:
          type: string
          maxLength: 50
          description: Предмет
        brand:
          type: string
          maxLength: 50
          description: Бренд
        techSize:
          type: string
          maxLength: 30
          description: Размер
        Price:
          type: number
          description: Цена
        Discount:
          type: number
          description: Скидка
        isSupply:
          type: boolean
          description: Договор поставки (внутренние технологические данные)
        isRealization:
          type: boolean
          description: Договор реализации (внутренние технологические данные)
        SCCode:
          type: string
          maxLength: 50
          description: Код контракта (внутренние технологические данные)
    OrdersItem:
      type: object
      properties:
        date:
          type: string
          description: Дата и время заказа. Это поле соответствует параметру `dateFrom` в запросе, если параметр `flag`=1. Если часовой пояс не указан, то берётся Московское время (UTC+3).
        lastChangeDate:
          type: string
          description: Дата и время обновления информации в сервисе. Это поле соответствует параметру `dateFrom` в запросе, если параметр `flag`=0 или не указан. Если часовой пояс не указан, то берётся Московское время (UTC+3).
        warehouseName:
          type: string
          maxLength: 50
          description: Склад отгрузки
        warehouseType:
          type: string
          description: Тип склада хранения товаров
          enum:
            - Склад WB
            - Склад продавца
        countryName:
          type: string
          maxLength: 200
          description: Страна
        oblastOkrugName:
          type: string
          maxLength: 200
          description: Округ
        regionName:
          type: string
          maxLength: 200
          description: Регион
        supplierArticle:
          type: string
          maxLength: 75
          description: Артикул продавца
        nmId:
          type: integer
          description: Артикул WB
        barcode:
          type: string
          maxLength: 30
          description: Баркод
        category:
          type: string
          maxLength: 50
          description: Категория
        subject:
          type: string
          maxLength: 50
          description: Предмет
        brand:
          type: string
          maxLength: 50
          description: Бренд
        techSize:
          type: string
          maxLength: 30
          description: Размер товара
        incomeID:
          type: integer
          description: Номер поставки
        isSupply:
          type: boolean
          description: Договор поставки
        isRealization:
          type: boolean
          description: Договор реализации
        totalPrice:
          type: number
          description: Цена без скидок
        discountPercent:
          type: integer
          description: "Скидка продавца,\_%"
        spp:
          type: number
          description: "Скидка WB,\_%"
        finishedPrice:
          type: number
          description: Цена с учетом всех скидок, кроме суммы по WB Кошельку
        priceWithDisc:
          type: number
          description: Цена со скидкой продавца, в том числе со скидкой WB Клуба
        isCancel:
          type: boolean
          description: |
            Отмена заказа:
              - `true` — заказ отменен
        cancelDate:
          type: string
          description: Дата и время отмены заказа. Если заказ не был отменен, то "0001-01-01T00:00:00".Если часовой пояс не указан, то берётся Московское время UTC+3.
        sticker:
          type: string
          description: ID стикера
        gNumber:
          type: string
          maxLength: 50
          description: ID корзины покупателя. Заказы одной транзакции будут иметь одинаковый `gNumber`
        srid:
          type: string
          description: |
            Уникальный ID заказа.<br>
            Примечание для использующих API Маркетплейс: `srid` равен `rid` в ответах методов сборочных заданий.
    SalesItem:
      type: object
      properties:
        date:
          type: string
          description: Дата и время продажи. Это поле соответствует параметру `dateFrom` в запросе, если параметр `flag`=1. Если часовой пояс не указан, то берётся Московское время (UTC+3).
        lastChangeDate:
          type: string
          description: Дата и время обновления информации в сервисе. Это поле соответствует параметру `dateFrom` в запросе, если параметр `flag`=0 или не указан. Если часовой пояс не указан, то берётся Московское время (UTC+3).
        warehouseName:
          type: string
          maxLength: 50
          description: Склад отгрузки
        warehouseType:
          type: string
          description: Тип склада хранения товаров
          enum:
            - Склад WB
            - Склад продавца
        countryName:
          type: string
          maxLength: 200
          description: Страна
        oblastOkrugName:
          type: string
          maxLength: 200
          description: Округ
        regionName:
          type: string
          maxLength: 200
          description: Регион
        supplierArticle:
          type: string
          maxLength: 75
          description: Артикул продавца
        nmId:
          type: integer
          description: Артикул WB
        barcode:
          type: string
          maxLength: 30
          description: Баркод
        category:
          type: string
          maxLength: 50
          description: Категория
        subject:
          type: string
          maxLength: 50
          description: Предмет
        brand:
          type: string
          maxLength: 50
          description: Бренд
        techSize:
          type: string
          maxLength: 30
          description: Размер товара
        incomeID:
          type: integer
          description: Номер поставки
        isSupply:
          type: boolean
          description: Договор поставки
        isRealization:
          type: boolean
          description: Договор реализации
        totalPrice:
          type: number
          description: Цена без скидок
        discountPercent:
          type: integer
          description: "Скидка продавца,\_%"
        spp:
          type: number
          description: "Скидка WB,\_%"
        paymentSaleAmount:
          type: integer
          description: Скидка за оплату WB Кошельком, ₽
        forPay:
          type: number
          description: К перечислению продавцу.<br>Синхронизация данных занимает до 24 часов, в течение этого времени в поле может отображаться значение `0`
        finishedPrice:
          type: number
          description: Фактическая цена с учётом всех скидок (к взиманию с покупателя).<br>Синхронизация данных занимает до 24 часов, в течение этого времени в поле может отображаться значение `0`
        priceWithDisc:
          type: number
          description: Цена со скидкой продавца, в том числе со скидкой WB Клуба, от которой рассчитывается сумма к перечислению продавцу `forPay`.<br>Синхронизация данных занимает до 24 часов, в течение этого времени в поле может отображаться значение `0`
        saleID:
          type: string
          maxLength: 15
          description: |
            Уникальный ID продажи/возврата
            - `S**********` — продажа
            - `R**********` — возврат (на склад WB)
        sticker:
          type: string
          description: ID стикера
        gNumber:
          type: string
          maxLength: 50
          description: ID корзины покупателя. Заказы одной транзакции будут иметь одинаковый `gNumber`
        srid:
          type: string
          description: |
            Уникальный ID заказа.<br>
            Примечание для использующих API Маркетплейс: `srid` равен `rid` в ответах методов сборочных заданий.
    responseErrorStatistics:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
    responseErrorStatistics2:
      type: object
      properties:
        errors:
          type: string
    ExciseReportRequest:
      type: object
      properties:
        countries:
          type: array
          description: |
            Код стран по стандарту ISO 3166-2. Чтобы получить данные по всем странам, оставьте параметр пустым
          items:
            type: string
            enum:
              - AM
              - BY
              - KG
              - KZ
              - RU
              - UZ
      example:
        countries:
          - AM
          - RU
    ExciseReportResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/models.ExciseReportResponse'
    models.ExciseReportResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/models.ExciseReportResponseData'
    models.ExciseReportResponseData:
      type: array
      items:
        type: object
        properties:
          name:
            type: string
            description: Страна покупателя
            example: Россия
          price:
            type: number
            description: Цена товара, с НДС
            example: 100
          currency_name_short:
            type: string
            description: Валюта
            example: руб
          excise_short:
            type: string
            description: Код маркировки
            example: 0102900254680370215_Re/=lSbNiGD
          barcode:
            type: string
            description: Баркод
            example: '2038893425820'
          nm_id:
            type: integer
            description: Артикул WB
            example: 169085355
          operation_type_id:
            type: integer
            description: |
              Тип операции, если есть:

                * `1` — вывод из оборота
                * `2` — возврат в оборот
            example: 1
          fiscal_doc_number:
            type: integer
            description: Номер фискального документа (чека полного расчёта), если есть
            example: 12345678
          fiscal_dt:
            type: string
            description: Дата фискализации (дата в чеке), если есть, `ГГГГ-ММ-ДД`
[...]
