openapi: 3.0.3
info:
  title: API Яндекс Маркета для продавцов
  description: |
    API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.

    В числе возможностей интеграции:

    * управление каталогом товаров и витриной,

    * обработка заказов,

    * изменение настроек магазина,

    * получение отчетов.
  version: LATEST
  license:
    name: BSD 3-Clause
    url: https://opensource.org/license/bsd-3-clause/
servers:
  - url: https://api.partner.market.yandex.ru
security:
  - ApiKey: []
  - OAuth:
      - market:partner-api
externalDocs:
  description: Документация API
  url: https://yandex.ru/dev/market/partner-api/doc/
paths:
  /v2/businesses/{businessId}/settings:
    post:
      tags:
        - businesses
        - dbs
        - fbs
        - fby
        - express
        - laas
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - settings-management
        - finance-and-accounting
        - offers-and-cards-management
        - offers-and-cards-management:read-only
        - pricing
        - pricing:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
        - promotion
        - promotion:read-only
        - communication
        - supplies-management:read-only
      x-resource-limit-config:
        path: resp
        amount: 1000
        period: hours
      operationId: getBusinessSettings
      summary: Настройки кабинета
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/getBusinessSettings.md) %}

        Возвращает информацию о настройках кабинета, идентификатор которого указан в запросе.

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/getBusinessSettings.md) %}
      parameters:
        - $ref: '#/components/parameters/BusinessId'
      responses:
        '200':
          description: Настройки кабинета.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessSettingsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns:
    get:
      tags:
        - campaigns
        - dbs
        - express
        - fbs
        - fby
        - laas
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - settings-management
        - finance-and-accounting
        - offers-and-cards-management
        - offers-and-cards-management:read-only
        - pricing
        - pricing:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
        - promotion
        - promotion:read-only
        - communication
        - supplies-management:read-only
      x-resource-limit-config:
        path: resp
        amount: 5000
        period: hours
      operationId: getCampaigns
      summary: Список магазинов пользователя
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/getCampaigns.md) %}

        **Для Api-Key-токена:** возвращает список магазинов в кабинете, для которого выдан токен. Нельзя получить список только подагентских магазинов.

        **Для OAuth-токена:** возвращает список магазинов, к которым имеет доступ пользователь — владелец токена авторизации, использованного в запросе. Для агентских пользователей список состоит из подагентских магазинов.

        {% note warning "Ограничение для параметра `pageSize`" %}

        Не передавайте значение больше 100.

        {% endnote %}

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/getCampaigns.md) %}
      parameters:
        - $ref: '#/components/parameters/PageNum'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Магазины пользователя.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}:
    get:
      tags:
        - campaigns
        - dbs
        - express
        - fbs
        - fby
        - laas
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - settings-management
        - finance-and-accounting
        - offers-and-cards-management
        - offers-and-cards-management:read-only
        - pricing
        - pricing:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
        - promotion
        - promotion:read-only
        - communication
        - supplies-management:read-only
      x-resource-limit-config:
        path: resp
        amount: 5000
        period: hours
      operationId: getCampaign
      summary: Информация о магазине
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/getCampaign.md) %}

        Возвращает информацию о магазине.

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/getCampaign.md) %}
      parameters:
        - $ref: '#/components/parameters/CampaignId'
      responses:
        '200':
          description: Информация о магазине.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/settings:
    get:
      tags:
        - campaigns
        - dbs
        - fbs
        - express
        - fby
        - laas
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - settings-management
        - finance-and-accounting
        - offers-and-cards-management
        - offers-and-cards-management:read-only
        - pricing
        - pricing:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
        - promotion
        - promotion:read-only
        - communication
        - supplies-management:read-only
      x-resource-limit-config:
        path: resp
        amount: 5000
        period: hours
      operationId: getCampaignSettings
      summary: Настройки магазина
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/getCampaignSettings.md) %}

        Возвращает информацию о настройках магазина, идентификатор которого указан в запросе.

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/getCampaignSettings.md) %}
      parameters:
        - $ref: '#/components/parameters/CampaignId'
      responses:
        '200':
          description: Настройки магазина.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignSettingsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}:
    get:
      tags:
        - orders
        - fby
        - fbs
        - dbs
        - express
        - laas
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
        - communication
        - finance-and-accounting
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
        parallel-limit-value: 6
      operationId: getOrder
      summary: Информация об одном заказе в магазине
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/getOrder.md) %}\n\n{% note warning \"Какой метод использовать вместо устаревшего\" %}\n\n[POST\_v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md)\n\n{% endnote %}\n\nВозвращает информацию о заказе в магазине.\n\n{% note tip \"Вы также можете настроить API-уведомления\" %}\n\nМаркет отправит вам [запрос](../../push-notifications/reference/sendNotification.md), когда появится новый заказ или изменится его статус. А полную информацию можно получить с помощью метода [POST\_v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md).\n\n[{#T}](../../push-notifications/index.md)\n\n{% endnote %}\n\nПолучить более подробную информацию о покупателе и его номере телефона можно с помощью запроса [GET\_v2/campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/orders/getOrderBuyerInfo.md).\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/getOrder.md) %}\n"
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Информация о заказе.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders:
    get:
      tags:
        - orders
        - fbs
        - dbs
        - fby
        - express
        - laas
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
        - communication
        - finance-and-accounting
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
        parallel-limit-value: 6
      operationId: getOrders
      summary: Информация о заказах в магазине
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/getOrders.md) %}\n\n{% note warning \"Какой метод использовать вместо устаревшего\" %}\n\n[POST\_v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md)\n\n{% endnote %}\n\nВозвращает информацию о заказах в магазине. Запрос можно использовать для отслеживания заказов и их статусов.\n\nПо умолчанию данные о тестовых заказах не приходят. Чтобы их получить, передайте значение `true` в параметре `fake`.\n\n{% note tip \"Вы также можете настроить API-уведомления\" %}\n\nМаркет отправит вам [запрос](../../push-notifications/reference/sendNotification.md), когда появится новый заказ или изменится его статус. А полную информацию можно получить с помощью метода [POST\_v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md).\n\n[{#T}](../../push-notifications/index.md)\n\n{% endnote %}\n\nДоступна фильтрация по параметрам:\n\n* дата оформления заказа;\n\n* дата и время обновления заказа;\n\n* дата отгрузки;\n\n* статусы заказов (`statuses`);\n\n* этапы обработки или причины отмены (`substatuses`);\n\n* идентификаторы заказов;\n\n* тип заказа (настоящий или тестовый).\n\nНе возвращается информация о заказах, которые доставили или отменили больше 30 дней назад. Как ее получить:\n\n* [POST\_v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md);\n* [POST\_v2/campaigns/{campaignId}/stats/orders](../../reference/stats/getOrdersStats.md).\n\nМаксимальный диапазон дат за один запрос — 30 дней (передается в параметрах `fromDate` и `toDate`). Если их не передать, возвращается информация за последние 30 дней.\n\nРезультаты возвращаются постранично. Для навигации используйте параметры `page_token` и `limit`.\n\nПолучить более подробную информацию о покупателе и его номере телефона можно с помощью запроса [GET\_v2/campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/orders/getOrderBuyerInfo.md).\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/getOrders.md) %}\n"
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/GetOrdersOrderIds'
        - $ref: '#/components/parameters/GetOrdersStatus'
        - $ref: '#/components/parameters/GetOrdersSubstatus'
        - $ref: '#/components/parameters/GetOrdersFromDate'
        - $ref: '#/components/parameters/GetOrdersToDate'
        - $ref: '#/components/parameters/GetOrdersSupplierShipmentDateFrom'
        - $ref: '#/components/parameters/GetOrdersSupplierShipmentDateTo'
        - $ref: '#/components/parameters/GetOrdersUpdatedAtFrom'
        - $ref: '#/components/parameters/GetOrdersUpdatedAtTo'
        - $ref: '#/components/parameters/GetOrdersDispatchType'
        - $ref: '#/components/parameters/GetOrdersFake'
        - $ref: '#/components/parameters/GetOrdersHasCis'
        - $ref: '#/components/parameters/GetOrdersOnlyWaitingForCancellationApprove'
        - $ref: '#/components/parameters/GetOrdersOnlyEstimatedDelivery'
        - $ref: '#/components/parameters/GetOrdersBuyerType'
        - $ref: '#/components/parameters/PageNum'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/AliasedPageToken'
        - $ref: '#/components/parameters/PageLimit50TruncateWithoutDefault'
      responses:
        '200':
          description: Информация о заказах.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
        '400':
          description: |
            Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v1/businesses/{businessId}/orders:
    post:
      tags:
        - orders
        - fbs
        - dbs
        - fby
        - express
        - laas
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
        - finance-and-accounting
      x-resource-limit-config:
        path: resp
        amount: 10000
        period: hours
      operationId: getBusinessOrders
      summary: Информация о заказах в кабинете
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/getBusinessOrders.md) %}\n\nВозвращает информацию о заказах в кабинете. Запрос можно использовать для отслеживания заказов и их статусов.\n\n{% note tip \"Вы также можете настроить API-уведомления\" %}\n\nМаркет отправит вам [запрос](../../push-notifications/reference/sendNotification.md), когда появится новый заказ или изменится его статус. А полную информацию можно получить с помощью этого метода.\n\n[{#T}](../../push-notifications/index.md)\n\n{% endnote %}\n\nДоступна фильтрация по параметрам:\n\n* дата оформления заказа;\n\n* дата и время обновления заказа;\n\n* дата отгрузки;\n\n* статусы заказов (`statuses`);\n\n* этапы обработки или причины отмены (`substatuses`);\n\n* идентификаторы кампаний;\n\n* идентификаторы заказов;\n\n* внешние идентификаторы заказов;\n\n* тип заказа (настоящий или тестовый);\n\n* модели размещения;\n\n* наличие запросов от покупателей на отмену заказа.\n\nМаксимальный диапазон дат за один запрос — 30 дней (передается в параметрах `fromDate` и `toDate`). Если их не передать, возвращается информация за последние 30 дней.\n\nРезультаты возвращаются постранично. Для навигации используйте параметры `page_token` и `limit`.\n\nПолучить более подробную информацию о покупателе и его номере телефона можно с помощью запроса [GET\_v2/campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/orders/getOrderBuyerInfo.md).\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/getBusinessOrders.md) %}\n"
      parameters:
        - $ref: '#/components/parameters/BusinessId'
        - $ref: '#/components/parameters/AliasedPageToken'
        - $ref: '#/components/parameters/PageLimit50Truncate'
      requestBody:
        description: Параметры фильтрации заказов.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBusinessOrdersRequest'
      responses:
        '200':
          description: Список заказов в кабинете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessOrdersResponse'
        '400':
          description: |
            Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/identifiers:
    put:
      tags:
        - orders
        - fbs
        - dbs
        - express
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
      operationId: provideOrderItemIdentifiers
      summary: Передача кодов маркировки единиц товара
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/provideOrderItemIdentifiers.md) %}\n\n{% note warning \"Если вы работаете по модели FBS\" %}\n\nИспользуйте метод [PUT\_v2/campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md).\n\n{% endnote %}\n\nПередает Маркету коды маркировки для единиц товара в указанном заказе. Подробнее о работе с маркируемыми товарами читайте в [Справке продавца на Маркете](https://yandex.ru/support/marketplace/orders/cz.html).\n\nМаркировка товаров в системе [:no-translate[«Честный ЗНАК»]](https://честныйзнак.рф/) **необязательна** для заказов от физических лиц, но **обязательна** для заказов от бизнеса.\n\nДля модели DBS коды маркировки в системе [:no-translate[«Честный ЗНАК»]](https://честныйзнак.рф/) не проверяются в ГИС МТ — проверка выполняется только для моделей FBS и Экспресс.\n\nПринимаются коды следующих типов:\n\n* Коды в системе [:no-translate[«Честный ЗНАК»]](https://честныйзнак.рф/) или [:no-translate[«ASL BELGISI»]](https://aslbelgisi.uz) (для продавцов :no-translate[Market Yandex Go]).\n* УИН для ювелирных изделий.\n* РНПТ и ГТД для импортных прослеживаемых товаров.\n\nДля каждой позиции в заказе, требующей маркировки, нужно передать список кодов — по одному для каждой единицы товара. Например, если в заказе две пары тапочек и одна пара туфель, получится список из двух кодов для первой позиции и список из одного кода для второй.\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/provideOrderItemIdentifiers.md) %}\n"
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvideOrderItemIdentifiersRequest'
      responses:
        '200':
          description: Ответ `200` обозначает, что коды успешно записались. Ответ содержит краткие сведения о промаркированных товарах.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvideOrderItemIdentifiersResponse'
        '400':
          description: |
            Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/items:
    put:
      tags:
        - orders
        - fbs
        - dbs
        - express
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
        parallel-limit-value: 6
      operationId: updateOrderItems
      summary: Удаление товаров из заказа или уменьшение их числа
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/updateOrderItems.md) %}\n\n{% note warning \"Если вы работаете по модели FBS\" %}\n\nИспользуйте метод [PUT\_v2/campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md).\n\n{% endnote %}\n\nУдаляет один или несколько товаров из заказа, если магазин не может поставить их все.\n\nЗаказ должен находится в статусе `\"status\": \"PROCESSING\"` этапа обработки `\"substatus\": \"STARTED\"`. Изменить состав нельзя после передачи статуса `\"substatus\": \"READY_TO_SHIP\"`.\n\n{% cut \"Уменьшить количество одинаковых товаров\" %}\n\nПередайте обновленное значение в параметре `count`.\n\n{% endcut %}\n\n{% cut \"Удалить товар из заказа\" %}\n\nПередайте значение `0` в параметре `count` или не передавайте `item`.\n\n{% endcut %}\n\nНельзя удалить или уменьшить количество товара, если он:\n\n* добавлен по акции;\n* составляет 99% стоимости заказа;\n* единственный товар в заказе.\n\nВ таком случае отмените заказ — в методе [PUT\_v2/campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md) передайте статус заказа `CANCELLED` с причиной отмены `SHOP_FAILED`.\n\n### Как вернутся деньги {#money}\n\n  Если покупатель оплатил товар при оформлении, Маркет вернет ему деньги за удаленные из заказа товары в течение двух дней:\n\n  * при оплате банковской картой — с момента, когда магазин переведет заказ в статус `SHIPPED`;\n\n  * при оплате через :no-translate[Apple Pay] или :no-translate[Google Pay] — с момента, когда магазин удалит товар из заказа.\n\n{% endcut %}\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/updateOrderItems.md) %}\n"
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderItemRequest'
      responses:
        '200':
          description: Маркет успешно обработал ваш запрос. Выходные данные не ожидаются.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/status:
    put:
      tags:
        - orders
        - fbs
        - dbs
        - laas
        - express
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
      operationId: updateOrderStatus
      summary: Изменение статуса одного заказа
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/updateOrderStatus.md) %}

        Изменяет статус заказа. Возможные изменения статусов:

        * Если магазин подтвердил и подготовил заказ к отправке, то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "PROCESSING"` и этап обработки `"substatus": "READY_TO_SHIP"`.
        * Если магазин подтвердил заказ, но не может его выполнить (например, товар числится в базе, но отсутствует на складе или нет нужного цвета), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.
        * Если магазин подготовил заказ к отгрузке, но не может его выполнить (например, последний товар был поврежден или оказался с браком), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "READY_TO_SHIP"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/updateOrderStatus.md) %}
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStatusRequest'
      responses:
        '200':
          description: В случае успешного изменения статуса заказа возвращается обновленная информация о заказе.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderStatusResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/status-update:
    post:
      tags:
        - orders
        - fbs
        - dbs
        - laas
        - express
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp.result.orders
        amount: 100000
        period: hours
      operationId: updateOrderStatuses
      summary: Изменение статусов нескольких заказов
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/updateOrderStatuses.md) %}

        Изменяет статусы нескольких заказов.

        Возможные изменения статусов:

        * Если магазин подтвердил и подготовил заказ к отправке, то заказ из статуса `"status": "PROCESSING"`и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "PROCESSING"` и этап обработки `"substatus": "READY_TO_SHIP"`.
        * Если магазин подтвердил заказ, но не может его выполнить (например, товар числится в базе, но отсутствует на складе или нет нужного цвета), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.
        * Если магазин подготовил заказ к отгрузке, но не может его выполнить (например, последний товар был поврежден или оказался с браком), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "READY_TO_SHIP"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/updateOrderStatuses.md) %}
      parameters:
        - $ref: '#/components/parameters/CampaignId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStatusesRequest'
      responses:
        '200':
          description: Возвращается информация об обновленных статусах заказов.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderStatusesResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes:
    put:
      tags:
        - orders
        - fbs
        - dbs
        - express
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
      operationId: setOrderShipmentBoxes
      summary: Передача количества грузовых мест в заказе
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/setOrderShipmentBoxes.md) %}\n\n{% note warning \"Какой метод использовать вместо устаревшего\" %}\n\n[PUT\_v2/campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md)\n\n{% endnote %}\n\nОтгружаемый Маркету заказ может не влезть в одну коробку или упаковку — в этом случае получается, что он занимает несколько грузовых мест.\n\nКоличество грузовых мест нужно обязательно передавать Маркету, если оно не равно 1. Это делается перед переводом его в статус **Готов к отгрузке**. Подробно о том, что в какой момент нужно передавать, рассказано в [пошаговой инструкции](../../step-by-step/fbs.md).\n\nМетод устроен немного нестандартно: количество задается длиной массива пустых объектов.\n\nРаньше метод требовал передачи большего количества данных. Запросы, оформленные по старому образцу, работают, но лучше делать по-новому.\n\n{% cut \"Как было раньше\" %}\n\nСтруктура тела PUT-запроса:\n\n```text translate=no\n{\n  \"boxes\":\n  [\n    {\n      \"fulfilmentId\": \"{string}\",\n      \"weight\": {int64},\n      \"width\": {int64},\n      \"height\": {int64},\n      \"depth\": {int64},\n      \"items\":\n      [\n        {\n          \"id\": {int64},\n          \"count\": {int32}\n        },\n        ...\n      ]\n    },\n    ...\n  ]\n}\n```\n| **Параметр**  | **Тип**  | **Значение**  |\n| ----------- | ----------- | ----------- |\n| `boxes`       |           | Список грузовых мест.       |\n\n**Параметры, вложенные в `boxes`**\n| **Параметр**  | **Тип**  | **Значение**  |\n| ----------- | ----------- | ----------- |\n| `fulfilmentId`       |  :no-translate[String]   | Идентификатор грузового места в системе магазина. Сформируйте идентификатор по шаблону: `номер заказа на Маркете-номер грузового места`. Например, `7206821‑1, 7206821‑2` и т. д. |\n| `weight`       | :no-translate[Int64]        | Масса брутто грузового места (суммарная масса упаковки и содержимого) в граммах. |\n| `width`       | :no-translate[Int64]   | Ширина грузового места в сантиметрах.       |\n| `height`       | :no-translate[Int64]   | Высота грузового места в сантиметрах.       |\n| `depth`       | :no-translate[Int64]   | Глубина грузового места в сантиметрах.        |\n| `items`       | :no-translate[Int64]   | Список товаров в грузовом месте.       |\n\n**Параметры, вложенные в `items`**\n| **Параметр**  | **Тип**  | **Значение**  |\n| ----------- | ----------- | ----------- |\n| `id`       | :no-translate[Int64]     | Идентификатор товара в рамках заказа.   |\n| `count`    | :no-translate[Int32]     | Количество единиц товара в грузовом месте.       |\n\n{% endcut %}\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/setOrderShipmentBoxes.md) %}\n"
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/ShipmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderShipmentBoxesRequest'
      responses:
        '200':
          description: Имеет значение только тип ответа. Если ответ `ОК`, количество грузомест записано.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetOrderShipmentBoxesResponse'
        '400':
          description: Для указанного заказа сейчас нельзя задать количество грузомест, так как у заказа неподходящий статус.
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/cancellation/accept:
    put:
      tags:
        - orders
        - dbs
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 500
        period: hours
      operationId: acceptOrderCancellation
      summary: Отмена заказа покупателем
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/acceptOrderCancellation.md) %}\n\nПодтверждает или отклоняет заявку покупателя на отмену заказа, который передан службе доставки.\n\nПокупатель может отменить заказ в течение его обработки или доставки. Если заказ еще обрабатывается (статус `PROCESSING`), вам не нужно подтверждать отмену заказа — он будет отменен автоматически.\n\nЕсли заказ уже передан службе доставки (статус `DELIVERY` или `PICKUP`) и пользователь отменил его, вы можете предупредить службу об отмене в течение 48 часов.\n\n  * Служба доставки узнала об отмене до передачи заказа покупателю — подтвердите отмену с помощью запроса [PUT\_v2/campaigns/{campaignId}/orders/{orderId}/cancellation/accept](../../reference/orders/acceptOrderCancellation.md).\n  * Заказ уже доставлен — отклоните отмену с помощью этого же запроса. Тогда у покупателя останется заказ, и деньги за него возвращаться не будут.\n\n**Как узнать об отмененных заказах:**\n\n  * Передайте параметр `onlyWaitingForCancellationApprove` в запросе [POST\_v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md).\n  * В кабинете или через почту — на нее придет уведомление об отмене.\n  * Подключите API-уведомления. Маркет отправит вам запрос [POST\_notification](../../push-notifications/reference/sendNotification.md), когда появится новая заявка на отмену заказа. [{#T}](../../push-notifications/index.md)\n\nЕсли в течение 48 часов вы не подтвердите или отклоните отмену, заказ будет отменен автоматически.\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/acceptOrderCancellation.md) %}\n"
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptOrderCancellationRequest'
      responses:
        '200':
          description: Ответ на отмену заказа был успешно передан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/deliverDigitalGoods:
    post:
      tags:
        - orders
        - dbs
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
        parallel-limit-value: 6
      x-restrictions:
        - market-yandex-go
      operationId: provideOrderDigitalCodes
      summary: Передача ключей цифровых товаров
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/provideOrderDigitalCodes.md) %}\n\nПередает ключи цифровых товаров, которые покупатель заказал и оплатил. После выполнения запроса Маркет отправит ему письмо с ключами и инструкциями по активации. Если письмо будет доставлено, Маркет переведет заказ в финальный статус `DELIVERED`.\n\n{% note tip \"После передачи кода покупателю статус заказа изменится не сразу\" %}\n\nПодключите API-уведомления — Маркет отправит вам запрос [POST\_notification](../../push-notifications/reference/sendNotification.md), когда заказ перейдет в статус `DELIVERED`.\n\n[{#T}](../../push-notifications/index.md)\n\n{% endnote %}\n\nКлюч нужно передать в течение 30 минут после перехода заказа в статус `PROCESSING`.\n\nЕсли в один заказ входят несколько ключей, передавайте их все в одном запросе.\n\nКаждый товар с уникальным `id` передавайте в виде отдельного элемента в массиве `items`, а ключи товара — в массиве `codes`.\n\n{% cut \"Пример\" %}\n\n```json translate=no\n{\n  \"items\": [\n    {\n      \"id\": 1,\n      \"codes\": [\n        \"code1\", \"code2\", \"code3\"\n      ],\n      \"slip\": \"slip\",\n      \"activate_till\": \"2025-02-18\"\n    },\n    {\n      \"id\": 2,\n      \"codes\": [\n        \"code4\", \"code5\", \"code6\"\n      ],\n      \"slip\": \"slip\",\n      \"activate_till\": \"2025-02-18\"\n    }\n  ]\n}\n```\n{% endcut %}\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/provideOrderDigitalCodes.md) %}\n"
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvideOrderDigitalCodesRequest'
      responses:
        '200':
          description: "Пустой ответ.\n\n{% note warning \"Ответ `200` сам по себе не значит, что ключи переданы покупателю\" %}\n\nЕсли письмо с ключами удалось доставить, Маркет переведет заказ в финальный статус `DELIVERED`.\n\nСтатус заказа можно узнать с помощью метода [POST\_v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md).\n\n{% endnote %}\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
        '400':
          description: |
            Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/boxes:
    put:
      tags:
        - orders
        - fbs
        - express
        - dbs
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
      operationId: setOrderBoxLayout
      summary: Подготовка заказа
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/setOrderBoxLayout.md) %}\n\n{% note tip \"Подходит и для DBS\" %}\n\nЗапрос предназначен для работы с FBS-заказами, но вы можете использовать его для обработки DBS-заказов, если это удобно.\n\n{% endnote %}\n\nПозволяет выполнить три операции:\n\n* передать Маркету информацию о распределении товаров по коробкам;\n* передать Маркету коды маркировки для товаров;\n* удалить товар из заказа, если его не оказалось на складе.\n\nЕсли нужно что-то поправить в переданных данных, просто повторите запрос — это можно делать сколько угодно раз до перевода заказа в статус **Готов к отгрузке**. ⚠️ Если вы меняете раскладку уже после печати и расклейки ярлыков, не забудьте перепечатать их и наклеить заново.\n\n{% cut \"Как передать информацию о распределении товаров\" %}\n\nВ этом запросе вам нужно передать Маркету список коробок и указать, какие именно товары лежат в каждой из них. Коробки могут быть двух типов:\n\n* **Содержащие товары целиком.** Такая коробка может содержать сколько угодно единиц любых товаров.\n\n* **Содержащие часть товара.** Такие коробки содержат по одной части одного товара. Например, одна содержит внешний блок кондиционера, а другая — внутренний блок.\n\n⚠️ Одна коробка не может содержать и товары целиком, и части товаров.\n\n{% endcut %}\n\n{% cut \"Как передавать коды маркировки и получать статус их проверки\" %}\n\n{% note info \"Маркировка товаров в системе [:no-translate[«Честный ЗНАК»]](https://честныйзнак.рф/) необязательна для заказов от физических лиц\" %}\n\nДля заказов от бизнеса все еще нужно передавать коды маркировки.\n\n{% endnote %}\n\nЕсли в заказе есть товары, подлежащие маркировке, в запросе нужно передать соответствующие уникальные коды. [Что такое маркировка](https://yandex.ru/support/marketplace/orders/cz.html)\n\nПринимаются коды следующих типов:\n\n* Коды в системе [:no-translate[«Честный ЗНАК»]](https://честныйзнак.рф/) или [:no-translate[«ASL BELGISI»]](https://aslbelgisi.uz) (для продавцов :no-translate[Market Yandex Go]).\n* УИН для ювелирных изделий.\n* РНПТ и ГТД для импортных прослеживаемых товаров.\n\nДля каждой позиции в заказе, требующей маркировки, нужно передать список кодов — по одному для каждой единицы товара. Например, если в заказе две пары тапочек и одна пара туфель, получится список из двух кодов для первой позиции и список из одного кода для второй.\n\nЕсли товар едет в нескольких коробках, код маркировки нужно передать для каждой из них.\n\n{% note warning \"Если вы работаете по модели FBS, EXPRESS\" %}\n\nДля заказов, в которых есть ювелирные изделия или товары с маркировкой в системе :no-translate[«Честный ЗНАК»], перевод в статус `READY_TO_SHIP` становится доступен, только когда:\n\n1. Вы передадите Маркету :no-translate[УИНы] по каждому ювелирному изделию в заказе и коды в системе :no-translate[«Честный ЗНАК»] по всем товарам в заказе, для которых обязательна эта маркировка.\n2. Все коды маркировки успешно пройдут проверку. [Как получить статусы проверки](../../reference/orders/getOrderIdentifiersStatus.md)\n\n{% endnote %}\n\n{% endcut %}\n\n{% cut \"Как удалить товар из заказа\" %}\n\nЧтобы удалить товар из заказа:\n\n1. Добавьте в запрос `allowRemove: true`.\n2. Передайте распределение по коробкам без товара, который нужно удалить.\n\n{% note warning \"Удаление нельзя отменить\" %}\n\nЭта операция необратима: покупатель сразу получит уведомление, а состав заказа изменится.\n\n{% endnote %}\n\nЧтобы удалить позицию целиком, не передавайте соответствующий `OrderBoxLayoutItemDTO`. Чтобы уменьшить количество товара, передайте уменьшенное значение в поле `fullCount`.\n\nНельзя удалить или уменьшить количество товара, если он:\n\n* добавлен по акции;\n* составляет 99% стоимости заказа;\n* единственный товар в заказе.\n\nЕсли вы не можете отгрузить такой товар, отмените заказ. Для этого отправьте запрос методом [PUT\_v2/campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md) и передайте статус заказа `CANCELLED` с причиной отмены `SHOP_FAILED`.\n\n{% endcut %}\n\n{% note info \"Увеличить заказ нельзя\" %}\n\nС помощью запроса нельзя увеличить количество одинаковых товаров, добавить новые товары в заказ или заменить один товар другим.\n\n{% endnote %}\n\n## Примеры\n\n{% cut \"Товар умещается в коробку\" %}\n\nВот как будет выглядеть запрос, если в одной коробке едут:\n\n  * три единицы одного товара, требующего маркировки;\n  * одна единица другого товара, не требущего маркировки.\n\n  ```json translate=no\n  {\n      \"boxes\": [\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n                      \"fullCount\": 3,\n                      \"instances\": [\n                          {\n                              \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          },\n                          {\n                              \"cis\": \"010304109478gftJ14545762!\\u001dhGt264\"\n                          },\n                          {\n                              \"cis\": \"010304109478fRs28323ks23!\\u001dhet201\"\n                          }\n                      ]\n                  },\n                  {\n                      \"id\": 654321,\n                      \"fullCount\": 1\n                  }\n              ]\n          }\n      ]\n  }\n  ```\n\n{% endcut %}\n\n{% cut \"Товар едет в разных коробках\" %}\n\nВот как будет выглядеть запрос, если товар едет в двух коробках:\n\n  ```json translate=no\n  {\n      \"boxes\": [\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n                      \"partialCount\": {\n                          \"current\": 1,\n                          \"total\": 2\n                      },\n                      \"instances\": [\n                          {\n                              \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          }\n                      ]\n                  }\n              ]\n          },\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n                      \"partialCount\": {\n                          \"current\": 2,\n                          \"total\": 2\n                      },\n                      \"instances\": [\n                          {\n                              \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          }\n                      ]\n                  }\n              ]\n          }\n      ]\n  }\n  ```\n\n{% endcut %}\n\n{% cut \"Одинаковые товары, где каждый едет в нескольких коробках\" %}\n\nВот как будет выглядеть запрос, если каждый из двух одинаковых товаров едет в двух коробках:\n\n  ```json translate=no\n  {\n      \"boxes\": [\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n                      \"partialCount\": {\n                          \"current\": 1,\n                          \"total\": 2\n                      },\n                      \"instances\": [\n                          {\n                              \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          }\n                      ]\n                  }\n              ]\n          },\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n                      \"partialCount\": {\n                          \"current\": 2,\n                          \"total\": 2\n                      },\n                      \"instances\": [\n                          {\n                              \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          }\n                      ]\n                  }\n              ]\n          },\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n                      \"partialCount\": {\n                          \"current\": 1,\n                          \"total\": 2\n                      },\n                      \"instances\": [\n                          {\n                              \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          }\n                      ]\n                  }\n              ]\n          },\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n                      \"partialCount\": {\n                          \"current\": 2,\n                          \"total\": 2\n                      },\n                      \"instances\": [\n                          {\n                              \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          }\n                      ]\n                  }\n              ]\n          }\n      ]\n  }\n  ```\n\n{% endcut %}\n\n{% cut \"Разные товары в разных коробках\" %}\n\nВот как будет выглядеть запрос, если два разных товара разложены по разным коробкам:\n\n  ```json translate=no\n  {\n      \"boxes\": [\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n                      \"fullCount\": 1\n                  }\n              ]\n          },\n          {\n              \"items\": [\n                  {\n                      \"id\": 654321,\n                      \"fullCount\": 1\n                  }\n              ]\n          }\n      ]\n  }\n  ```\n\n{% endcut %}\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/setOrderBoxLayout.md) %}\n"
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderBoxLayoutRequest'
      responses:
        '200':
          description: |
            В ответ придет переданная раскладка с идентификаторами коробок — они понадобятся для запроса ярлыков.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetOrderBoxLayoutResponse'
        '400':
          description: |
            Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/external-id:
    post:
      tags:
        - orders
        - fbs
        - dbs
        - express
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 1000
        period: hours
      operationId: updateExternalOrderId
      summary: Передача внешнего идентификатора заказа
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/updateExternalOrderId.md) %}

        Передает Маркету идентификатор заказа в системе магазина.

        Его нельзя передавать:

        * больше одного раза;
        * после перехода заказа в статус `PROCESSING` с подстатусом `READY_TO_SHIP`.

        Этот идентификатор отражается в документах отгрузки: акте приема-передачи, листе сборки и ярлыках.

        {% note alert "В штрихкодах могут быть только символы ASCII" %}

        Если во внешнем идентификаторе вы используете другие символы, на ярлыке в штрихкоде будет отображаться идентификатор заказа Маркета.

        {% endnote %}

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/updateExternalOrderId.md) %}
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExternalOrderIdRequest'
      responses:
        '200':
          description: Внешний идентификатор заказа успешно передан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
        '400':
          description: |
            Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/identifiers/status:
    post:
      tags:
        - orders
        - fbs
        - express
        - laas
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
      operationId: getOrderIdentifiersStatus
      summary: Статусы проверки кодов маркировки
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/getOrderIdentifiersStatus.md) %}\n\nВозвращает статусы проверки кодов маркировки в заказе.\n\nЗаказ, в котором есть ювелирные изделия или товары с обязательной маркировкой в системе [:no-translate[«Честный ЗНАК»]](https://честныйзнак.рф/), можно перевести в статус `READY_TO_SHIP`, только когда:\n\n1. В методе [PUT\_v2/campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md) вы передадите Маркету:\n\n    * [УИНы](:no-translate[*uin]) по каждому ювелирному изделию в заказе;\n\n    * коды маркировки в системе :no-translate[«Честный ЗНАК»] по всем товарам в заказе, для которых она обязательна.\n2. Все коды маркировки успешно пройдут проверку.\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/getOrderIdentifiersStatus.md) %}\n"
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Информация по проверке кодов маркировки.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderIdentifiersStatusResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/delivery/date:
    put:
      tags:
        - order-delivery
        - dbs
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
      operationId: setOrderDeliveryDate
      summary: Изменение даты доставки заказа
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/setOrderDeliveryDate.md) %}

        Метод изменяет дату доставки заказа в статусе `PROCESSING` или `DELIVERY`. Для заказов с другими статусами дату доставки изменить нельзя.

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/setOrderDeliveryDate.md) %}
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderDeliveryDateRequest'
      responses:
        '200':
          description: Успешное изменение даты доставки.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
        '400':
          description: |
            Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/delivery/track:
    post:
      tags:
        - order-delivery
        - dbs
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
      operationId: setOrderDeliveryTrackCode
      summary: Передача трек‑номера посылки
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/setOrderDeliveryTrackCode.md) %}

        Передает Маркету трек‑номер, по которому покупатель может отследить посылку со своим заказом через службу доставки. Если покупатели смогут узнать, на каком этапе доставки находятся их заказы, доверие покупателей к вашему магазину может возрасти.

        Передать трек‑номер можно, только если заказ находится в статусе `PROCESSING`, `DELIVERY` или `PICKUP`.

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/setOrderDeliveryTrackCode.md) %}
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderDeliveryTrackCodeRequest'
      responses:
        '200':
          description: Трек‑номер посылки и идентификатор службы доставки были успешно переданы.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
        '400':
          description: |
            Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/buyer:
    get:
      tags:
        - order-delivery
        - dbs
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
      x-resource-limit-config:
        path: resp
        amount: 3000
        period: hours
      operationId: getOrderBuyerInfo
      summary: Информация о покупателе — физическом лице
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/getOrderBuyerInfo.md) %}\n\nВозвращает информацию о покупателе по идентификатору заказа.\n\n{% note info \"Как получить информацию о покупателе, который является юридическим лицом\" %}\n\nВоспользуйтесь запросом [POST\_v2/campaigns/{campaignId}/orders/{orderId}/business-buyer](../../reference/order-business-information/getOrderBusinessBuyerInfo.md).\n\n{% endnote %}\n\nПолучить данные можно, только если заказ находится в статусе `PROCESSING`, `DELIVERY` или `PICKUP`.\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/getOrderBuyerInfo.md) %}\n"
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Информация о покупателе.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderBuyerInfoResponse'
        '400':
          description: |
            Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/verifyEac:
    put:
      tags:
        - order-delivery
        - express
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
      operationId: verifyOrderEac
      summary: Передача кода подтверждения
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/verifyOrderEac.md) %}\n\nОтправляет Маркету код подтверждения для его проверки.\n\n**Если у магазина настроена работа с кодами подтверждения:**\n\n  В параметре `delivery`, вложенном в `order`, возвращается параметр `eacType` с типом `Enum` (тип кода подтверждения для передачи заказа) в методах:\n\n  * [POST\_v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md);\n  * [PUT\_v2/campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md).\n\n  Возможные значения:\n\n  * `MERCHANT_TO_COURIER` (временно не возвращается) — продавец передает код курьеру для получения невыкупа;\n  * `COURIER_TO_MERCHANT` — курьер передает код продавцу для получения заказа.\n\n  Параметр `eacType` возвращается при статусах заказа `COURIER_FOUND`, `COURIER_ARRIVED_TO_SENDER` и `DELIVERY_SERVICE_UNDELIVERED`. Если заказ в других статусах, параметр может отсутствовать.\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/verifyOrderEac.md) %}\n"
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyOrderEacRequest'
      responses:
        '200':
          description: Проверка кода выполнена успешно.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyOrderEacResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/delivery/storage-limit:
    put:
      tags:
        - order-delivery
        - dbs
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
      operationId: updateOrderStorageLimit
      summary: Продление срока хранения заказа
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/updateOrderStorageLimit.md) %}\n\nПродлевает срок хранения заказа в пункте выдачи продавца.\n\nЗаказ должен быть в статусе `PICKUP`. Продлить срок можно только один раз, не больше чем на 30 дней.\n\nНовый срок хранения можно получить в параметре `outletStorageLimitDate` в ответе метода [POST\_v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md).\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/updateOrderStorageLimit.md) %}\n"
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStorageLimitRequest'
      responses:
        '200':
          description: Пустой ответ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes/{boxId}/label:
    get:
      tags:
        - order-labels
        - fbs
        - dbs
        - express
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
      operationId: generateOrderLabel
      summary: Готовый ярлык‑наклейка для коробки в заказе
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/generateOrderLabel.md) %}\n\nФормирует ярлык‑наклейку для коробки в заказе и возвращает ярлык в PDF‑файле.\n\nЧтобы на ярлыке отображался внешний идентификатор заказа, передайте его в методе [POST\_v2/campaigns/{campaignId}/orders/{orderId}/external-id](../../reference/orders/updateExternalOrderId.md).\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/generateOrderLabel.md) %}\n"
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/generateOrderLabel_ShipmentId'
        - $ref: '#/components/parameters/BoxId'
        - $ref: '#/components/parameters/PageFormat'
      responses:
        '200':
          description: PDF‑файл с ярлыками для коробки. Файл содержит одну страницу с ярлыком.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/delivery/labels:
    get:
      tags:
        - order-labels
        - fbs
        - dbs
        - express
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
      operationId: generateOrderLabels
      summary: Готовые ярлыки‑наклейки на все коробки в одном заказе
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/generateOrderLabels.md) %}\n\nВозвращает PDF-файл с ярлыками, которые нужно наклеить на коробки перед отгрузкой. Подробно о том, зачем они нужны и как выглядят, рассказано [в Справке Маркета для продавцов](https://yandex.ru/support/marketplace/orders/fbs/packaging/marking.html).\n\nНа вход нужно передать идентификатор заказа и один необязательный параметр, который управляет версткой PDF-файла.\n\nЧтобы на ярлыке отображался внешний идентификатор заказа, передайте его в методе [POST\_v2/campaigns/{campaignId}/orders/{orderId}/external-id](../../reference/orders/updateExternalOrderId.md).\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/generateOrderLabels.md) %}\n"
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/PageFormat'
      responses:
        '200':
          description: PDF‑файл с ярлыками на все коробки.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/delivery/labels/data:
    get:
      tags:
        - order-labels
        - fbs
        - dbs
        - express
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
      x-restrictions:
        - market-yandex-go
      operationId: getOrderLabelsData
      summary: Данные для самостоятельного изготовления ярлыков
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/getOrderLabelsData.md) %}

        Возвращает информацию на ярлыках, которые клеятся на коробки в заказе.

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/getOrderLabelsData.md) %}
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Информация для печати ярлыков.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderLabelsDataResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/business-buyer:
    post:
      tags:
        - order-business-information
        - fbs
        - fby
        - dbs
        - express
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
      x-resource-limit-config:
        path: resp
        amount: 3000
        period: hours
      operationId: getOrderBusinessBuyerInfo
      summary: Информация о покупателе — юридическом лице
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/getOrderBusinessBuyerInfo.md) %}\n\nВозвращает информацию о покупателе по идентификатору заказа.\n\n{% note info \"Как получить информацию о покупателе, который является физическим лицом\" %}\n\nВоспользуйтесь запросом [GET\_v2/campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/orders/getOrderBuyerInfo.md).\n\n{% endnote %}\n\nПолучить данные можно, только если заказ находится в статусе `PROCESSING`, `DELIVERY`, `PICKUP` или `DELIVERED`.\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/getOrderBusinessBuyerInfo.md) %}\n"
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Информация о покупателе.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessBuyerInfoResponse'
        '400':
          description: |
            Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/documents:
    post:
      tags:
        - order-business-information
        - fbs
        - fby
        - dbs
        - express
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
      x-resource-limit-config:
        path: resp
        amount: 3000
        period: hours
      operationId: getOrderBusinessDocumentsInfo
      summary: Информация о документах
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/getOrderBusinessDocumentsInfo.md) %}

        Возвращает информацию о документах по идентификатору заказа.

        Получить данные можно после того, как заказ перейдет в статус `DELIVERED`.

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/getOrderBusinessDocumentsInfo.md) %}
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Информация о документах.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessDocumentsInfoResponse'
        '400':
          description: |
            Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/returns:
    get:
      tags:
        - returns
        - fbs
        - dbs
        - express
        - fby
        - laas
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
      x-resource-limit-config:
        path: resp
        amount: 10000
        period: hours
      operationId: getReturns
      summary: Список невыкупов и возвратов
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/getReturns.md) %}\n\nПолучает список невыкупов и возвратов.\n\nЧтобы получить информацию по одному невыкупу или возврату, выполните запрос [GET\_v2/campaigns/{campaignId}/orders/{orderId}/returns/{returnId}](../../reference/orders/getReturn.md).\n\n{% note tip \"Подключите API-уведомления\" %}\n\nМаркет отправит вам запрос [POST\_notification](../../push-notifications/reference/sendNotification.md), когда появится новый невыкуп или возврат.\n\n[{#T}](../../push-notifications/index.md)\n\n{% endnote %}\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/getReturns.md) %}\n"
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/AliasedPageToken'
        - $ref: '#/components/parameters/PageLimit100Truncate'
        - description: |
            Идентификаторы заказов — для фильтрации результатов.

            Несколько идентификаторов перечисляются через запятую без пробела.
          in: query
          name: orderIds
          required: false
          schema:
            type: array
            maxItems: 50
            uniqueItems: true
            items:
              type: integer
              format: int64
              example: 123543
        - description: |
            Фильтр по статусам возврата денег за возвраты.

            Несколько статусов перечисляются через запятую.
          in: query
          name: statuses
          required: false
          example:
            - STARTED_BY_USER
            - WAITING_FOR_DECISION
          schema:
            type: array
            uniqueItems: true
            items:
              $ref: '#/components/schemas/RefundStatusType'
        - description: |
            Фильтр по логистическим статусам невыкупов и возвратов.

            Несколько статусов перечисляются через запятую.
          in: query
          name: shipmentStatuses
          required: false
          example:
            - READY_FOR_PICKUP
            - IN_TRANSIT
          schema:
            type: array
            uniqueItems: true
            items:
              $ref: '#/components/schemas/ReturnShipmentStatusType'
        - description: |
            Тип заказа для фильтрации:

            * `UNREDEEMED` — невыкуп.

            * `RETURN` — возврат.

            Если не указать, в ответе будут и невыкупы, и возвраты.
          in: query
          name: type
          required: false
          schema:
            $ref: '#/components/schemas/ReturnType'
        - description: |
            Начальная дата для фильтрации невыкупов или возвратов по дате обновления.

            Формат: `ГГГГ-ММ-ДД`.
          in: query
          name: fromDate
          required: false
          example: '2022-10-31'
          schema:
            type: string
            format: date
        - description: |
            Конечная дата для фильтрации невыкупов или возвратов по дате обновления.

            Формат: `ГГГГ-ММ-ДД`.
          in: query
          name: toDate
          required: false
          example: '2022-11-30'
          schema:
            type: string
            format: date
        - description: "{% note warning \"Вместо него используйте `fromDate`.\" %}\n\n\_\n\n{% endnote %}\n\nНачальная дата для фильтрации невыкупов или возвратов по дате обновления.\n"
          deprecated: true
          in: query
          name: from_date
          required: false
          example: '2022-10-31'
          schema:
            type: string
            format: date
        - description: "{% note warning \"Вместо него используйте `toDate`.\" %}\n\n\_\n\n{% endnote %}\n\nКонечная дата для фильтрации невыкупов или возвратов по дате обновления.\n"
          deprecated: true
          in: query
          name: to_date
          required: false
          example: '2022-11-30'
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Постраничные невыкупы или возвраты магазина.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReturnsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/returns/{returnId}:
    get:
      tags:
        - returns
        - fbs
        - dbs
        - express
        - fby
        - laas
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
      x-resource-limit-config:
        path: resp
        amount: 10000
        period: hours
      operationId: getReturn
      summary: Информация о невыкупе или возврате
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/getReturn.md) %}\n\nПолучает информацию по одному невыкупу или возврату.\n\n{% note tip \"Подключите API-уведомления\" %}\n\nМаркет отправит вам запрос [POST\_notification](../../push-notifications/reference/sendNotification.md), когда появится новый невыкуп или возврат.\n\n[{#T}](../../push-notifications/index.md)\n\n{% endnote %}\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/getReturn.md) %}\n"
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/ReturnId'
      responses:
        '200':
          description: Детали невыкупа или возврата.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReturnResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/returns/{returnId}/decision:
    post:
      tags:
        - returns
        - dbs
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 10000
        period: hours
      operationId: setReturnDecision
      summary: Принятие или изменение решения по возврату
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/setReturnDecision.md) %}\n\n{% note warning \"Какой метод использовать вместо устаревшего\" %}\n\n[POST\_v2/campaigns/{campaignId}/orders/{orderId}/returns/{returnId}/decision/submit](../../reference/orders/submitReturnDecision.md)\n\n{% endnote %}\n\n\nВыбирает решение по возврату от покупателя. После этого для подтверждения решения нужно выполнить запрос [POST\_v2/campaigns/{campaignId}/orders/{orderId}/returns/{returnId}/decision/submit](../../reference/orders/submitReturnDecision.md).\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/setReturnDecision.md) %}\n"
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/ReturnId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetReturnDecisionRequest'
      responses:
        '200':
          description: Детали возврата.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/returns/{returnId}/decision/submit:
    post:
      tags:
        - returns
        - dbs
        - fbs
        - express
        - fby
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 10000
        period: hours
      operationId: submitReturnDecision
      summary: Передача и подтверждение решения по возврату
      description: "{% include notitle [:no-translate[access]](../../_auto/method_scopes/submitReturnDecision.md) %}\n\nПозволяет выполнить одну из операций:\n\n* **Для всех моделей:** передать список решений по возврату и подтвердить их.\n\n* **Для модели DBS:** подтвердить решение, переданное в [POST\_v2/campaigns/{campaignId}/orders/{orderId}/returns/{returnId}/decision](../../reference/orders/setReturnDecision.md). Для этого используйте запрос без тела.\n\n{% include notitle [:no-translate[limit]](../../_auto/method_limits/submitReturnDecision.md) %}\n"
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/ReturnId'
      requestBody:
        required: false
        description: description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitReturnDecisionRequest'
      responses:
        '200':
          description: Статус выполнения операции.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/returns/{returnId}/application:
    get:
      tags:
        - returns
        - fbs
        - fby
        - dbs
        - express
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
      x-resource-limit-config:
        path: resp
        amount: 10000
        period: hours
      operationId: getReturnApplication
      summary: Получение заявления на возврат
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/getReturnApplication.md) %}

        Загружает заявление покупателя на возврат товара.

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/getReturnApplication.md) %}
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/ReturnId'
      responses:
        '200':
          description: Заявление на возврат.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/returns/{returnId}/decision/{itemId}/image/{imageHash}:
    get:
      tags:
        - returns
        - fbs
        - dbs
        - express
        - fby
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
      x-resource-limit-config:
        path: resp
        amount: 10000
        period: hours
      operationId: getReturnPhoto
      summary: Получение фотографий товаров в возврате
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/getReturnPhoto.md) %}

        Получает фотографии товаров, которые покупатель приложил к заявлению на возврат.

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/getReturnPhoto.md) %}
      parameters:
        - $ref: '#/components/parameters/CampaignId'
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/ReturnId'
        - $ref: '#/components/parameters/ItemId'
        - $ref: '#/components/parameters/ImageHash'
      responses:
        '200':
          description: Фотография товаров.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/regions:
    get:
      tags:
        - regions
        - fby
        - fbs
        - dbs
        - express
        - laas
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - settings-management
        - finance-and-accounting
        - offers-and-cards-management
        - offers-and-cards-management:read-only
        - pricing
        - pricing:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
        - promotion
        - promotion:read-only
        - communication
        - supplies-management:read-only
      x-resource-limit-config:
        path: resp.regions
        amount: 50000
        period: hours
      operationId: searchRegionsByName
      summary: Поиск регионов по их имени
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/searchRegionsByName.md) %}

        Возвращает информацию о регионе, удовлетворяющем заданным в запросе условиям поиска.

        Если найдено несколько регионов, удовлетворяющих условиям поиска, возвращается информация по каждому найденному региону (но не более десяти регионов) для возможности определения нужного региона по родительским регионам.

        Для методов `GET v2/regions`, `GET v2/regions/{regionId}` и `GET v2/regions/{regionId}/children` действует групповое ресурсное ограничение. Ограничение вводится на суммарное количество регионов, информация о которых запрошена при помощи этих методов (не более 100 000 регионов).

        Объем запросов к ресурсу, который возможно выполнить в течение суток, зависит от суммарного количества регионов.

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/searchRegionsByName.md) %}
      parameters:
        - $ref: '#/components/parameters/RegionName'
        - $ref: '#/components/parameters/PageToken'
        - $ref: '#/components/parameters/PageLimit'
      responses:
        '200':
          description: Список найденных регионов.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRegionsResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/regions/{regionId}:
    get:
      tags:
        - regions
        - fby
        - fbs
        - dbs
        - express
        - laas
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - settings-management
        - finance-and-accounting
        - offers-and-cards-management
        - offers-and-cards-management:read-only
        - pricing
        - pricing:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
        - promotion
        - promotion:read-only
        - communication
        - supplies-management:read-only
      x-resource-limit-config:
        path: resp
        amount: 50000
        period: hours
      operationId: searchRegionsById
      summary: Информация о регионе
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/searchRegionsById.md) %}

        Возвращает информацию о регионе.

        Для методов `GET v2/regions`, `GET v2/regions/{regionId}` и `GET v2/regions/{regionId}/children` действует групповое ресурсное ограничение. Ограничение вводится на суммарное количество регионов, информация о которых запрошена при помощи этих методов (не более 100 000 регионов).

        Объем запросов к ресурсу, который возможно выполнить в течение суток, зависит от суммарного количества регионов.

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/searchRegionsById.md) %}
      parameters:
        - $ref: '#/components/parameters/RegionId'
      responses:
        '200':
          description: Найденный регион.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRegionsResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/regions/{regionId}/children:
    get:
      tags:
        - regions
        - fby
        - fbs
        - dbs
        - express
        - laas
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - settings-management
        - finance-and-accounting
        - offers-and-cards-management
        - offers-and-cards-management:read-only
        - pricing
        - pricing:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
        - promotion
        - promotion:read-only
        - communication
        - supplies-management:read-only
      x-resource-limit-config:
        path: resp.regions.children
        amount: 50000
        period: hours
      operationId: searchRegionChildren
      summary: Информация о дочерних регионах
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/searchRegionChildren.md) %}

        Возвращает информацию о регионах, являющихся дочерними по отношению к региону, идентификатор которого указан в запросе.

        Для методов `GET v2/regions`, `GET v2/regions/{regionId}` и `GET v2/regions/{regionId}/children` действует групповое ресурсное ограничение. Ограничение вводится на суммарное количество регионов, информация о которых запрошена при помощи этих методов (не более 100 000 регионов).

        Объем запросов к ресурсу, который возможно выполнить в течение суток, зависит от суммарного количества регионов.

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/searchRegionChildren.md) %}
      parameters:
        - $ref: '#/components/parameters/RegionId'
        - $ref: '#/components/parameters/PageNum'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Регионы, являющиеся дочерними к указанному в запросе.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRegionWithChildrenResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/regions/countries:
    post:
      tags:
        - regions
        - fby
        - fbs
        - dbs
        - express
        - laas
      x-auth-scopes:
        - all-methods
        - all-methods:read-only
        - settings-management
        - finance-and-accounting
        - offers-and-cards-management
        - offers-and-cards-management:read-only
        - pricing
        - pricing:read-only
        - inventory-and-order-processing
        - inventory-and-order-processing:read-only
        - promotion
        - promotion:read-only
        - communication
        - supplies-management:read-only
      x-resource-limit-config:
        path: resp
        amount: 100
        period: hours
      operationId: getRegionsCodes
      summary: Список допустимых кодов стран
      description: |
        {% include notitle [:no-translate[access]](../../_auto/method_scopes/getRegionsCodes.md) %}

        Возвращает список стран с их кодами в формате :no-translate[ISO 3166-1 alpha-2].

        Страна производства `countryCode` понадобится при продаже товаров из-за рубежа для бизнеса. [Инструкция](../../step-by-step/business-info.md)

        {% include notitle [:no-translate[limit]](../../_auto/method_limits/getRegionsCodes.md) %}
      responses:
        '200':
          description: Список стран с их кодами в формате :no-translate[ISO 3166-1 alpha-2].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRegionsCodesResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/shipments/reception-transfer-act:
    get:
      tags:
        - shipments
        - fbs
      x-auth-scopes:
        - all-methods
        - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 200
        period: hours
      operationId: downloadShipmentReceptionTransferAct
      summary: Подтверждение ближайшей отгрузки и получение акта приема-передачи для нее
[...]
