{
  "openapi": "3.0.0",
  "info": {
    "title": "Документация Ozon Seller API",
    "version": 2.1,
    "x-logo": {
      "url": "https://cdn2.ozone.ru/s3/redoc/ozon-seller-logo.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "description": "По вопросам работы с Seller API обращайтесь в поддержку через личный кабинет.\n\n> [Инструкции по работе с маркетплейсом](https://seller-edu.ozon.ru)\n\n> [Информационная платформа и сообщество разработчиков Ozon for dev](https://dev.ozon.ru/)\n"
  },
  "servers": [
    {
      "url": "//api-seller.ozon.ru"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Общее описание",
      "tags": [
        "Introduction",
        "Getting started",
        "Auth",
        "OAuth-token",
        "Environment",
        "Process"
      ]
    },
    {
      "name": "Базовые методы",
      "tags": [
        "APIkey",
        "SellerInfo",
        "CategoryAPI",
        "ProductAPI",
        "BarcodeAPI",
        "Prices&StocksAPI",
        "Promos",
        "PricingStrategyAPI",
        "BrandAPI",
        "CertificationAPI",
        "WarehouseAPI",
        "FBSWarehouseSetup",
        "rFBSWarehouseSetup",
        "FBS",
        "PolygonAPI",
        "FBO",
        "FboSupplyRequest",
        "FBOWarehouse",
        "FBS&rFBSMarks",
        "DeliveryFBS",
        "DeliveryrFBS",
        "Pass",
        "ReturnsAPI",
        "RFBSReturnsAPI",
        "ReturnAPI",
        "CancellationAPI",
        "ChatAPI",
        "SupplierAPI",
        "ReportAPI",
        "AnalyticsAPI",
        "FinanceAPI",
        "Receipt",
        "SellerRating",
        "InvoiceAPI",
        "Digital"
      ]
    },
    {
      "name": "Бета-методы",
      "tags": [
        "BetaIntro",
        "BetaMethod",
        "Quants",
        "ReviewAPI",
        "Questions&Answers",
        "SellerActions",
        "PromosBeta",
        "Notification",
        "DeliveryFBPDraft",
        "DraftDirectFBP",
        "DraftDropOffFBP",
        "DraftPickupFBP",
        "OrderDirectFBP",
        "OrderDropOffFBP",
        "OrderPickupFBP",
        "DeliveryFBP",
        "CarriageAPI"
      ]
    },
    {
      "name": "Premium-методы",
      "tags": [
        "Premium"
      ]
    },
    {
      "name": "Ozon Доставка",
      "tags": [
        "OzonLogistics",
        "CancelReasonAPI",
        "DeliveryAPI",
        "OrderAPI",
        "FboPostingAPI"
      ]
    },
    {
      "name": "Приложения",
      "tags": [
        "Errors"
      ]
    },
    {
      "name": "Пуш-уведомления",
      "tags": [
        "push_intro",
        "push_start",
        "push_resending",
        "push_types",
        "service_response"
      ]
    },
    {
      "name": "Обновления",
      "dataSelector": "tab-news",
      "tags": [
        "News"
      ]
    }
  ],
  "tags": [
    {
      "name": "Introduction",
      "x-displayName": "Введение",
      "description": "## Что такое Ozon Seller API\n\nOzon Seller API — программный интерфейс для работы с маркетплейсом Ozon. Он даёт возможность обмениваться информацией между системой продавца и Ozon.\n\nМетоды Seller API позволяют изменять данные магазина, например, остатки товаров или их стоимость, и получать данные, \nтакие как информация о возвратах или список складов.\n\nРабота с API состоит из отправки запроса и получения ответа. Для этого можно использовать вкладку **Консоль**, которая находится сверху описания методов, [Postman](https://www.postman.com) или настроить интеграцию с системами учёта, например, 1С, ERP или МойСклад.\n\n## Когда пригодится Seller API\n\nПри интеграции системы учёта продавца с Seller API обновлять и получать данные можно в автоматическом режиме. Это \nпоможет поддерживать актуальной информацию о ценах и остатках товаров, обрабатывать больше заказов за меньшее время \nи исключить ошибки из-за обновления данных вручную.\n\nНапример, вам нужно обновить информацию об остатках или ценах 100 товаров. Чтобы сделать это через личный кабинет, \nнеобходимо вручную изменить данные на карточке каждого товара.\n\nМетод [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2) позволяет одним запросом обновить информацию об \nостатках сразу 100 товаров, а метод [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices) — их стоимость.\n\n## Возможности Seller API\n\n- Загружать и обновлять товары.\n- Управлять ценами и остатками по товарам.\n- Получать информацию о возвратах товаров.\n- Управлять заказами FBO, FBS и rFBS.\n- Управлять чатами.\n- Работать с накладными.\n- Получать финансовую и аналитическую информацию.\n- Получать выгрузку атрибутов и характеристик Ozon.\n\n\n"
    },
    {
      "name": "Getting started",
      "x-displayName": "Начало работы",
      "description": "<aside class=\"warning\">\nС 16.05.2025 в Seller API можно обращаться только back-to-back, прямые запросы из браузера будут запрещены. \nТакие запросы будут падать с ошибкой политики CORS.\n</aside>\n\n<br>\n\n<aside class=\"warning\">\nЕсли оферта неактуальна, доступ к Seller API будет ограничен. Вы получите ошибку <code>403 Offer not signed</code>.\nЧтобы возобновить доступ, примите оферту.\n\n[Подробнее о принятии оферты](https://seller-edu.ozon.ru/how-to-start/step-1-register#как-принять-оферту)\n</aside>\n\nПеред началом работы с Ozon Seller API:\n\n1. Изучите процессы работы с Ozon в [Базе знаний продавца](https://seller-edu.ozon.ru) и [личном кабинете продавца](https://seller.ozon.ru/app/signin).\n2. Определите процессы, которые планируете автоматизировать, и сравните их с процессами вашей компании.\n3. Изучите документацию Seller API и разработайте схему интеграции.\n\nДля работы с Seller API необходим API-ключ. Подробнее в разделе [Авторизация](#tag/Auth).\n\nSeller API работает по UTC. Учитывайте это, когда отправляете запросы и получаете ответы с датами и временем.\n\nПроцесс работы с Seller API можно разделить на блоки:\n- работа с атрибутным деревом,\n- загрузка и обновление товаров,\n- управление ценами,\n- управление остатками товара,\n- управление заказами FBO,\n- управление заказами FBS и rFBS,\n- работа с накладными,\n- получение финансовой информации,\n- получение аналитической информации,\n- управление возвратами,\n- управление чатами.\n"
    },
    {
      "name": "Auth",
      "x-displayName": "Авторизация через API-ключ",
      "description": "<br> <aside class=\"warning\">API-ключи хранятся в личном кабинете в скрытом виде. Вы увидите API-ключ только при создании. Сохраните его в надёжном месте или сразу укажите в своих системах. \n\nВы не сможете восстановить доступ к несохранённым API-ключам. Чтобы продолжить работу с API, создайте новый ключ.\n\nOzon может отозвать ключ, если обнаружит подозрительную активность или слишком большую нагрузку на свои системы.\n</aside>\n\n## Как получить доступ к Seller API \n\n1. Зарегистрируйтесь в [Ozon Seller](https://seller.ozon.ru/app/signup). Подробнее о регистрации \n   в [Базе знаний продавца](https://seller-edu.ozon.ru/docs/how-to-start/step-1-register.html).\n2. Примите оферту.\n3. Получите API-ключ.\n\n## Как получить API-ключ\n\n<aside class=\"warning\">\n<b>Не передавайте API-ключ посторонним людям</b>  \n\nЗапросы к API изменяют данные в вашем магазине на Ozon. Если доступ к ключу будет у посторонних, они смогут управлять \nвашим магазином.\n</aside>\n\nЧтобы получить API-ключ:\n1. В личном кабинете перейдите в [**Настройки → Seller API**](https://seller.ozon.ru/app/settings/api-keys).\n2. Нажмите **Сгенерировать ключ**.\n3. Придумайте название для ключа и выберите его уровень доступа.\n4. Выберите цель использования ключа: \n   - для личного пользования;\n   - для внешнего сервиса, приложения — введите название сервиса, для которого выпускается ключ.\n5. Нажмите **Сгенерировать**.\n\n<aside class=\"warning\">\nСрок действия ключа — 6 месяцев. После истечения срока действия сгенерируйте новый ключ в личном кабинете.\n</aside>\n\nПолучите дату истечения срока действия ключа в параметре `expires_at` метода [/v1/roles](#operation/AccessAPI_RolesByToken).\n\nВы можете создать несколько API-ключей. Например, если у вас несколько пользователей с разными уровнями доступа.\n\n### Отредактировать ключ\n\nЕсли вы хотите изменить разрешённые сети для ключа, в [списке API-ключей](https://seller.ozon.ru/app/settings/api-keys) выберите нужный и нажмите <img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/seller-api/edit-key_1682516858.png\" width=\"20\">.\nВнесите изменения и нажмите **Обновить**.\n\n## API-ключ попал в посторонние руки\n\n1. В личном кабинете перейдите в [**Настройки → Seller API**](https://seller.ozon.ru/app/settings/api-keys).\n2. Удалите текущий API-ключ и создайте новый."
    },
    {
      "name": "OAuth-token",
      "x-displayName": "Авторизация через OAuth-токен",
      "description": "Чтобы получить OAuth-токен для доступа к Seller API, создайте [частное](https://docs.ozon.ru/api/applications/#section/Rabota-s-chastnym-prilozheniem)\nили [публичное](https://docs.ozon.ru/api/applications/#section/Rabota-s-publichnym-prilozheniem) приложение и выдайте ему\nдоступ к вашему личному кабинету. После этого вы получите OAuth-токен, который позволит работать с методами Seller API.\n\nИспользуйте OAuth-токен с методами Seller API согласно уровням доступа, которые вы назначили приложению.\n\nПример запроса:\n\n```json\nPOST https://api-seller.ozon.ru/{эндпоинт метода Seller API}\nAuthorization: Bearer ACCESS_TOKEN\n```"
    },
    {
      "name": "Environment",
      "x-displayName": "Рабочая среда",
      "description": "## Что такое рабочая среда\n\nРабочая среда — это ваш магазин. Все отправленные запросы, кроме информационных, могут изменять данные в личном \nкабинете и на сайте Ozon.\n\n**Рабочая среда**: api-seller.ozon.ru\n\nСозданные товары можно посмотреть по ссылке вида: https://www.ozon.ru/context/detail/id/SKU, где вместо «SKU» нужно \nуказать значение для созданного товара.\n\n## Формат запроса\n\n```http\nGET / HTTP/1.1\nHost: api-seller.ozon.ru\nClient-Id: <Client-Id>\nApi-Key: <Api-Key>\nContent-Type: application/json\n```\n\nДля проверки корректности формата запроса используйте вкладку **Консоль** над описанием метода или \n[Postman](https://www.postman.com). "
    },
    {
      "name": "Process",
      "x-displayName": "Порядок работы с методами",
      "description": "<br><aside class=\"warning\">Если от вашего имени поступает много одинаковых или ошибочных запросов, мы можем ограничить\nдоступ к Seller API без предупреждения. <br><br> Вы можете отправить не больше 50 запросов в секунду на все методы с одного Client ID.</aside>\n\n# Выгрузите атрибуты и характеристики Ozon\n\n<br><aside class=\"warning\">Чтобы методы для работы с товарами работали корректно, сопоставьте ваши категории и\nхарактеристики со значениями в системе Ozon.\n\nЕсли в методе [/v3/product/import](#operation/ProductAPI_ImportProductsV3) вы передадите значения не из справочника\nOzon, товар не будет создан или обновлён.</aside>\n\n1. [/v1/description-category/tree](#operation/DescriptionCategoryAPI_GetTree) — получите список категорий и типов в виде дерева и используйте\n   значение последнего уровня выбранной категории.\n\n2. [/v1/description-category/attribute](#operation/DescriptionCategoryAPI_GetAttributes) — получите характеристики для выбранных\n   категории и типа.\n\n3. [/v1/description-category/attribute/values](#operation/DescriptionCategoryAPI_GetAttributeValues) — получите список значений для выбранной\n   характеристики.\n\n# Загрузите и обновите товары\n\nПосле сравнения своих атрибутов и характеристик с атрибутной моделью Ozon можете приступить к загрузке товаров:\n\n1. [/v3/product/import](#operation/ProductAPI_ImportProductsV3) — загрузите товары и услуги. Этот метод также позволяет\n   обновить уже загруженные товары. В запросе устанавливается первичная цена и загружаются изображения товара. \n\n   В одном запросе можно передать до 100 товаров. Изображения загружаются прямой ссылкой на облачное хранилище, где они\n   хранятся.\n\n   В результате работы метода вы получите `task_id` — номер задания на загрузку товаров.\n\n2. [/v1/product/import/info](#operation/ProductAPI_GetImportProductsInfo) — проверьте `task_id`, который вы получили при\n   загрузке товаров. Метод вернёт информацию, успешно ли загрузились товары или при импорте была ошибка.\n\n   Если ответ содержит статус, что товар на модерации, подождите её результатов и проверьте статус товара повторно.\n   Обычно модерация занимает меньше одного дня.\n\n3. [/v3/product/list](#operation/ProductAPI_GetProductList) — получите список созданных товаров после загрузки товаров.\n\n   Метод позволяет использовать фильтры, чтобы разбить товары на группы по статусу видимости или отслеживать изменение\n   их статуса с помощью идентификатора товара.\n\n   Метод возвращает пару значений `offer_id` и `product_id` — они нужны практически во всех запросах для идентификации\n   товара, с которым будет производиться действие. Если вы загружали товары через шаблон, используйте этот метод для\n   получения `offer_id` и `product_id`, чтобы в дальнейшем работать по API с товарами.\n\n## Загрузите и обновите изображения товара\n\nЧтобы добавить изображения товара или заменить существующие, используйте:\n\n1. [/v1/product/pictures/import](#operation/ProductAPI_ProductImportPictures) — загрузите или обновите изображения\n   товара. Передайте прямые ссылки на изображения, загруженные в облачное хранилище.\n2. [/v2/product/pictures/info](#operation/ProductAPI_ProductInfoPicturesV2) — проверьте статус загрузки.\n\n## Обновите товар\n\nЧтобы обновить информацию о товаре и его характеристики, используйте [/v3/product/import](#operation/ProductAPI_ImportProductsV3).\n\nЕсли нужно обновить только характеристики товара, используйте [/v1/product/attributes/update](#operation/ProductAPI_ProductUpdateAttributes). Метод позволяет добавить дополнительную информацию к товару, чтобы карточка товара была более полной.\n\n## Получите информацию о товаре\n\n- [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList) — получите информацию о товаре, например штрихкод, цену\n  главного предложения, идентификатор категории, комиссию или ошибки модерации.\n  С помощью фильтров [/v3/product/list](#operation/ProductAPI_GetProductList) получите список пакетно по всем товарам сразу или по категориям.\n\n- [/v4/product/info/attributes](#operation/ProductAPI_GetProductAttributesV4) — получите описание характеристик товара.\n\n- [/v1/product/info/description](#operation/ProductAPI_GetProductInfoDescription) — получите название и описание товара.\n\n- [/v1/product/info/discounted](#operation/ProductAPI_GetProductInfoDiscounted) — получите информацию об уценке и\n  основном товаре по SKU уценённого товара.\n\n## Удалите или архивируйте товар\n\n1. [/v2/products/delete](#operation/ProductAPI_DeleteProducts) — удалите товар, если он загрузился с ошибкой и попал в\n   архив без SKU. Товары, которые успешно прошли модерацию и получили SKU, удалить из архива нельзя.\n\n2. [/v1/product/archive](#operation/ProductAPI_ProductArchive) — перенесите товар в архив. Перед архивированием товара\n   обнулите его остатки.\n\n3. [/v1/product/unarchive](#operation/ProductAPI_ProductUnarchive) — верните товар из архива.\n\nТовар попадёт в продажу, только когда вы установите его остаток.\n\n# Загрузите сертификаты качества\n\n## Информация о сертификатах\n\n- Получите список типов сертификатов: [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes).\n- Получите список сертифицируемых категорий: [/v2/product/certification/list](#operation/ProductAPI_ProductCertificationList).\n- Получите список статусов сертификата: [/v1/product/certificate/status/list](#operation/CertificateStatusList).\n- Получите список типов соответствия требованиям: [/v2/product/certificate/accordance-types/list](#operation/CertificateAccordanceTypes).\n- Получите список причин отклонения сертификата: [v1/product/certificate/rejection_reasons/list](#operation/RejectionReasonsList).\n- Получите список сертификатов: [v1/product/certificate/list](#operation/CertificateList), используя фильтры:\n   - тип сертификата `type` — значение `value` из ответа [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes);\n   - статус сертификата `status` — значение `code` из ответа [v1/product/certificate/status/list](#operation/CertificateStatusList).\n\n## Работа с товарами сертификата\n\nЧтобы привязать сертификат к товару:\n1. Получите список брендов, для которых требуется предоставить сертификат: [/v1/brand/company-certification/list](#operation/BrandAPI_BrandCompanyCertificationList).\n   В ответе вернутся бренды, товары которых есть в вашем личном кабинете.\n   Список брендов может изменяться, если Ozon получит требование от бренда предоставлять сертификат.\n2. Добавьте сертификаты для товаров: [/v1/product/certificate/create](#operation/ProductAPI_ProductCertificateCreate).\n3. Привяжите сертификат к товару: [/v1/product/certificate/bind](#operation/ProductAPI_ProductCertificateBind).\n\nЧтобы посмотреть список товаров, привязанных к сертификату, воспользуйтесь методом [v1/product/certificate/products/list](#operation/CertificateProductsList).\nЕсли нужно получить список товаров с определённым статусом, в параметре `status` передайте значение `code` из ответа [v1/product/certificate/product_status/list](#operation/ProductStatusList).\n\nЧтобы отвязать товар от сертификата, используйте [/v1/product/certificate/products/unbind](#operation/CertificateUnbind).\n\n## Управление состоянием сертификата\n\nЧтобы получить атрибуты для управления сертификатом:\n1. Получите список типов сертификатов: [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes).\n2. Получите список типов соответствия требованиям: [/v2/product/certificate/accordance-types/list](#operation/CertificateAccordanceTypes).\n\nДля создания сертификата используйте [/v1/product/certificate/create](#operation/ProductAPI_ProductCertificateCreate), передав в запросе:\n- тип сертификата `type_code` — значение `value` из ответа [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes);\n- тип соответствия требованиям `accordance_type_code` — значение `code` из ответа [/v2/product/certificate/accordance-types/list](#operation/CertificateAccordanceTypes).\n\nЧтобы удалить сертификат, используйте [/v1/product/certificate/delete](#operation/CertificateDelete).\n\n# Обновите цены и остатки товаров\n\nПосле загрузки товаров для схем FBS и rFBS можно перейти к обновлению остатков. Для схемы FBO остатки обновляются\nавтоматически по факту продажи.\n\nДля обновления остатков используйте метод [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2). \nВ этом методе дополнительно указывается идентификатор склада, на котором необходимо изменить остатки.\n\nДля получения информации о количестве остатков для FBO, FBS, rFBS и FBP\nиспользуйте [/v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks).\n\nДля получения информации о количестве остатков для FBS и rFBS\nиспользуйте [/v2/product/info/stocks-by-warehouse/fbs](#operation/ProductAPI_GetProductInfoStocksByWarehouseFbsV2).\n\nЧтобы обновить цены по товарам и не менять карточку товара,\nиспользуйте [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices).\n\nМетод позволяет обновить цену:\n\n- до скидок,\n- для клиентов с подпиской Ozon Premium,\n- на карточке товара с учётом скидок,\n- минимальную цену товара после применения акций.\n\n<aside class=\"warning\">\nЦена товара может упасть ниже минимальной, если вы примените разные типы акций к одному товару.\n</aside>\n\nДля получения информации о ценах, комиссиях и скидках на товары\nиспользуйте [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices).\n\n## Резерв товаров\n\nЕсли товары заказывают юридические лица, оплата может поступать не сразу — система зарезервирует товары.\nЧтобы проверить остатки, используйте методы [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3), [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) или [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\nЕсли в ответе `is_legal = true`, значит среди остатков есть зарезервированные товары.\nВы можете обновить остатки так, чтобы новое количество товаров было больше свободного остатка и зарезервированного товара в сумме. \nСистема спишет старый остаток и рассчитает новый.\n\nЧтобы проверить резервирование товара, используйте методы [/v2/product/info/stocks-by-warehouse/fbs](#operation/ProductAPI_GetProductInfoStocksByWarehouseFbsV2) или [/v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks).\n\n[Подробнее об изменении остатков](https://seller-edu.ozon.ru/fbs/logistics-settings/upravlenie-ostatkami/#как-меняются-остатки-в-разных-ситуациях)\n\n# Участвуйте в акциях Ozon\n\nДля продвижения товаров участвуйте в акциях, которые Ozon проводит для покупателей.\n\n- Получите список доступных акций: [/v1/actions](#operation/Promos).\n\n- Получите список товаров, которые могут участвовать в акции: [/v1/actions/candidates](#operation/PromosCandidates).\n\n- Добавьте товары в акцию: [/v1/actions/products/activate](#operation/PromosProductsActivate).\n\n- Получите список товаров, которые участвуют в акции: [/v1/actions/products](#operation/PromosProducts).\n\n- Удалите товары из акции: [/v1/actions/products/deactivate](#operation/PromosProductsDeactivate).\n\nПокупатели могут попросить у вас скидку на товар.\nЧтобы получить список товаров, которые покупатели хотят купить со скидкой, воспользуйтесь методом\n[/v1/actions/discounts-task/list](#operation/promos_task_list).\nЗаявки в статусах `NEW` (новые) или `SEEN` (просмотренные) вы можете:\n- одобрить — используйте метод [/v1/actions/discounts-task/approve](#operation/promos_task_approve),\n- отклонить — используйте метод [/v1/actions/discounts-task/decline](#operation/promos_task_decline).\n\n[Подробнее об акциях Ozon в Базе знаний продавца](https://seller-edu.ozon.ru/docs/how-to-sell-effectively/promo/promo.html)\n\n# Работа с акциями продавца\n\n- Создайте акцию:\n  - [/v1/seller-actions/create/discount](#operation/SellerActionsCreateDiscount) — с механикой «Скидка»;\n  - [/v1/seller-actions/create/discount-with-condition](#operation/SellerActionsCreateDiscountWithCondition) — с механикой «Скидка от суммы заказа»;\n  - [/v1/seller-actions/create/installment](#operation/SellerActionsCreateInstallment) — с механикой «Беспроцентная рассрочка»;\n  - [/v1/seller-actions/create/multi-level-discount](#operation/SellerActionsCreateMultiLevelDiscount) — с механикой «Многоуровневая скидка от суммы»;\n  - [/v1/seller-actions/create/voucher](#operation/SellerActionsCreateVoucher) — с механикой «Скидка по промокоду».\n- Отредактируйте акцию:\n   - [/v1/seller-actions/update/discount](#operation/SellerActionsUpdateDiscount) — с механикой «Скидка»;\n   - [/v1/seller-actions/update/discount-with-condition](#operation/SellerActionsUpdateDiscountWithCondition) — с механикой «Скидка от суммы заказа»;\n   - [/v1/seller-actions/update/installment](#operation/SellerActionsUpdateInstallment) — с механикой «Беспроцентная рассрочка»;\n   - [/v1/seller-actions/update/multi-level-discount](#operation/SellerActionsUpdateMultiLevelDiscount) — с механикой «Многоуровневая скидка от суммы»;\n   - [/v1/seller-actions/update/voucher](#operation/SellerActionsUpdateVoucher) — с механикой «Скидка по промокоду».\n- [/v1/seller-actions/list](#operation/SellerActionsList) — получите список созданных акций.\n- [/v1/seller-actions/products/candidates](#operation/SellerActionsProductsCandidates) — получите список товаров, которые могут участвовать в акции.\n- [/v1/seller-actions/products/add](#operation/SellerActionsProductsAdd) — добавьте товары в акцию.\n- [/v1/seller-actions/products/list](#operation/SellerActionsProductsList) — получите список товаров, которые участвуют в акции.\n- [/v1/seller-actions/products/delete](#operation/SellerActionsProductsDelete) — удалите товары из акции.\n- [/v1/seller-actions/voucher/get](#operation/SellerActionsVoucherGet) — получите список промокодов для акции с механикой «Скидка по промокоду».\n- [/v1/seller-actions/change-activity](#operation/SellerActionsChangeActivity) — включите или выключите акцию.\n- [/v1/seller-actions/archive](#operation/SellerActionsArchive) — поместите акцию в архив.\n\n[Подробнее об акциях продавца в Базе знаний продавца](https://seller-edu.ozon.ru/libra/ceny-i-akcii/akcii-skidki-i-kupony/akcii-prodavca)\n\n# Настройте стратегии ценообразования\n\nСтратегии ценообразования — инструмент для автоматического изменения стоимости товаров в соответствии с ценами на аналогичные товары в других интернет-магазинах и маркетплейсах.\n\n[Подробнее о стратегиях в Базе знаний для продавцов из России](https://seller-edu.ozon.ru/work-with-goods/rabota-s-tsenami/rival-strategies)\n\n[Подробнее о стратегиях в Справке для продавцов Ozon Global](https://global-help.ozon.com/prices/pricing-strategies/)\n\nЧтобы настроить стратегии ценообразования:\n\n1. Получите список конкурентов: [/v1/pricing-strategy/competitors/list](#operation/pricing_competitors).\n\n2. Получите список стратегий ценообразования: [/v1/pricing-strategy/list](#operation/pricing_list).\n\n3. Создайте свою стратегию: [/v1/pricing-strategy/create](#operation/pricing_create) и установите коэффициенты, чтобы изменять стоимость товара по сравнению с другими площадками в большую и меньшую сторону.\n   Чтобы получить информацию о стратегии, используйте метод [/v1/pricing-strategy/info](#operation/pricing_info).\n\n4. Добавьте товары в стратегию: [/v1/pricing-strategy/products/add](#operation/pricing_items-add).\n      \n   Вы можете добавить товары:\n   - На которые установлена минимальная цена с помощью метода [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices). \n     Чтобы проверить цену, используйте метод [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices).\n   - Которые не привязаны к другой стратегии.\n     Чтобы проверить привязку товара к стратегии, используйте метод [/v1/pricing-strategy/strategy-ids-by-product-ids](#operation/pricing_ids).\n\n   Чтобы получить список товаров, которые привязаны к стратегии, используйте метод [/v1/pricing-strategy/products/list](#operation/pricing_items-list), а для удаления товаров из стратегии — [/v1/pricing-strategy/products/delete](#operation/pricing_items-delete).\n\n5. Включите или отключите стратегию: [/v1/pricing-strategy/status](#operation/pricing_status).\n\nЧтобы изменить список выбранных конкурентов и название стратегии, используйте метод [/v1/pricing-strategy/update](#operation/pricing_update).\n\nДля удаления стратегии используйте метод [/v1/pricing-strategy/delete](#operation/pricing_delete).\n\n# Получите информацию о складах\n\n- [/v2/delivery-method/list](#operation/WarehouseAPI_DeliveryMethodListV2) — получите список методов rFBS-склада.\n\n- [/v2/warehouse/list](#operation/WarehouseListV2) — получите список складов.\n\n# Работа с FBS-складами\n\n## Создайте новый склад\n\n1. [/v1/warehouse/fbs/create/drop-off/list](#operation/WarehouseAPI_ListDropOffPointsForCreateFBSWarehouse) — получите список drop-off точек и выберите одну, чтобы создать склад.\n2. [/v1/warehouse/fbs/return-mile/check](#operation/WarehouseFbsReturnMileCheck) — проверьте необходимость установки возвратной мили. \n3. [/v1/warehouse/fbs/create/return-point/list](#operation/WarehouseFBSCreateReturnPointList) — получите список возвратных пунктов для создания склада.\n4. [/v1/warehouse/fbs/create](#operation/WarehouseAPI_CreateWarehouseFBS) — отправьте запрос на создание нового склада.\n5. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus) — получите статус операции на создание нового склада.\n6. [/v2/warehouse/list](#operation/WarehouseListV2) — получите подробную информацию о складе по `warehouse_id`.\n\n## Обновите настройки склада\n\n1. [/v1/warehouse/fbs/update](#operation/UpdateWarehouseFBS) — отправьте запрос на обновление настроек склада.\n2. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus) — получите статус обновления информации о складе.\n\n## Обновите первую милю склада\n\n1. [/v1/warehouse/fbs/return-mile/info](#operation/WarehouseFBSReturnMileInfo) — проверьте необходимость передачи возвратной мили.\n2. [/v1/warehouse/fbs/update/return-point/list](#operation/WarehouseFBSUpdateReturnPointList) — получите список пунктов возвратов для обновления склада.\n3. [/v1/warehouse/fbs/update/drop-off/list](#operation/WarehouseAPI_ListDropOffPointsForUpdateFBSWarehouse) — получите список drop-off точек и выберите одну, чтобы обновить информацию о складе.\n4. [/v1/warehouse/fbs/first-mile/update](#operation/UpdateWarehouseFBSFirstMile) — отправьте запрос на обновление первой мили.\n5. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus) — получите статус обновления первой мили.\n\n## Архивируйте склад\n\n1. [/v1/warehouse/fbs/return-mile/info](#operation/WarehouseFBSReturnMileInfo) или [/v1/warehouse/fbs/return-mile/check](#operation/WarehouseFbsReturnMileCheck) — проверьте необходимость установки возвратной мили.\n2. [/v1/warehouse/fbs/update/return-point/list](#operation/WarehouseFBSUpdateReturnPointList) — получите список пунктов возвратов для обновления склада.\n3. [/v1/warehouse/archive](#operation/WarehouseAPI_ArchiveWarehouseFBS) — перенесите склад в архив.\n4. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus) — получите статус архивации склада.\n\n## Уберите склад из архива\n\n1. [/v1/warehouse/fbs/return-mile/info](#operation/WarehouseFBSReturnMileInfo) или [/v1/warehouse/fbs/return-mile/check](#operation/WarehouseFbsReturnMileCheck) — проверьте необходимость установки возвратной мили. \n2. [/v1/warehouse/fbs/update/return-point/list](#operation/WarehouseFBSUpdateReturnPointList) — получите список пунктов возвратов для обновления склада.\n3. [/v1/warehouse/unarchive](#operation/WarehouseAPI_UnarchiveWarehouseFBS) — уберите склад из архива.\n4. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus) — получите статус разархивации склада.\n\n# Работа со складами rFBS Express\n\n## Доставка «Партнёры Ozon»\n\n### Создайте новый склад\n\n1. [/v1/warehouse/erfbs/aggregator/create](#operation/WarehouseERFBSAggregatorCreate) — создайте новый склад.\n2. [/v1/warehouse/operation/status](#operation/GetWarehouseFBSOperationStatus) — получите статус создания склада по идентификатору операции `operation_id`.\n3. [/v1/delivery-method/return/settings/get](#operation/GetDeliveryMethodReturnSettingsV1) — получите информацию по возвратным настройкам.\n\n### Обновите информацию о складе\n\n- [/v1/warehouse/erfbs/update](#operation/WarehouseERFBSUpdate) — обновите информацию о складе.\n- [/v1/warehouse/erfbs/aggregator/delivery-method/update](#operation/WarehouseERFBSAggregatorDeliveryMethodUpdate) — обновите информацию о методе доставки.\n- [/v1/warehouse/operation/status](#operation/GetWarehouseFBSOperationStatus) — получите статус изменения информации по идентификатору операции `operation_id`.\n\n## Доставка «Вы или сторонняя служба»\n\n### Создайте новый склад\n\n1. [/v1/warehouse/erfbs/non-integrated/create](#operation/WarehouseERFBSNonIntegratedCreate) — создайте новый склад.\n2. [/v1/warehouse/operation/status](#operation/GetWarehouseFBSOperationStatus) — получите статус создания склада по идентификатору операции `operation_id`.\n3. [/v1/delivery-method/return/settings/get](#operation/GetDeliveryMethodReturnSettingsV1) — получите информацию по возвратным настройкам.\n\n### Привяжите полигоны доставки к складу\n\n1. [/v1/polygon/create](#operation/PolygonAPI_CreatePolygon) — создайте полигон доставки.\n2. [/v2/polygon/bind](#operation/PolygonBind) — привяжите полигон к методу доставки на складе.\n\n### Обновите информацию о складе\n\n- [/v1/warehouse/erfbs/update](#operation/WarehouseERFBSUpdate) — обновите информацию о складе.\n- [/v1/warehouse/erfbs/non-integrated/delivery-method/update](#operation/WarehouseERFBSNonIntegratedDeliveryMethodUpdate) — обновите информацию о методе доставки.\n- [/v1/warehouse/operation/status](#operation/GetWarehouseFBSOperationStatus) — получите статус изменения информации по идентификатору операции `operation_id`.\n\n### Обновите информацию о полигонах доставки\n\n- [/v1/polygon/list](#operation/PolygonList) — получите список полигонов доставки, которые привязаны к складу.\n- [/v1/polygon/delete](#operation/PolygonDelete) — удалите полигон из области доставки.\n- [/v1/polygon/time/coordinates/update](#operation/PolygonTimeCoordinatesUpdate) — обновите координаты полигона доставки.\n- [/v1/polygon/time/set](#operation/PolygonTimeSet) — обновите время доставки в полигоне.\n\n# Управляйте заказами FBO, FBS, rFBS и FBP\n\nОбработайте заказы в зависимости от схемы работы:\n\n- [cхема FBO](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-FBO);\n- [стандартная схема FBS](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-FBS-Standart);\n- [схема FBS PickUp с подключённой доверительной приёмкой](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-FBS-PickUp-s-doveritelnoj-priyomkoj);\n- [Ozon Доставка](#section/Upravlyajte-zakazami-FBO-FBS-rFBS-i-FBP/Ozon-Dostavka);\n- [стандартная схема rFBS](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Standart);\n- [схема rFBS Express с доставкой в пункт выдачи](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Express-s-dostavkoj-v-punkt-vydachi);\n- [схема rFBS с доставкой через интегрированную службу](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-s-integrirovannoj-sluzhboj-dostavki);\n- [схема rFBS Агрегатор](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Agregator).\n\nЕсли вы продаёте товары из-за рубежа, обрабатывайте заказы по одной из схем:\n\n- [rFBS Crossborder](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Crossborder);\n- [rFBS Crossborder с интегрированной службой доставки](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Crossborder-s-integrirovannoj-sluzhboj-dostavki);\n- [rFBS Агрегатор](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Agregator);\n- [схема FBP](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-FBP).\n\n[Подробнее о заказах с весовыми товарами при работе по схеме rFBS](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Kak-rabotat-s-zakazami-s-vesovymi-tovarami-(rFBS))\n\n## Схема FBO\n\nПеред созданием заявки на поставку проверьте загруженность складов Ozon: [/v1/supplier/available_warehouses](#operation/SupplierAPI_SupplierAvailableWarehouses).\n\nДля получения списка отправлений, финансовой и аналитической информации\nиспользуйте [/v2/posting/fbo/list](#operation/PostingAPI_GetFboPostingList). Также метод возвращает информацию о\nпроданных кодах активации с привязкой к номеру отправления.\n\nЧтобы получить информацию по отправлению, используйте [/v2/posting/fbo/get](#operation/PostingAPI_GetFboPosting).\n\n### Создать заявку на поставку\n\n1. [/v1/cluster/list](#operation/SupplyDraftAPI_DraftClusterList) или [/v2/cluster/list](#operation/DraftClusterList) — получите информацию по кластерам и их складам.\n2. Создайте черновик заявки на поставку:\n   - [/v1/draft/direct/create](#operation/DraftDirectCreate) — прямую;\n   - [/v1/draft/crossdock/create](#operation/DraftCrossdockCreate) — кросс-докингом;\n   - [/v1/draft/multi-cluster/create](#operation/DraftMultiClusterCreate) — для нескольких кластеров.\n\n   Если вы выбрали поставку кросс-докингом или в несколько кластеров, укажите схему доставки:\n   - Drop-off — заполните параметры `delivery_info.drop_off_warehouse.warehouse_id` и `delivery_info.drop_off_warehouse.warehouse_type`. Получите значения параметров методом [/v1/warehouse/fbo/list](#operation/SupplyDraftAPI_DraftGetWarehouseFboList).\n   - Pick-up — заполните параметр `delivery_info.seller_warehouse_id`. Получите значение параметра методом [/v1/warehouse/fbo/seller/list](#operation/WarehouseFboSellerList).\n3. [/v2/draft/create/info](#operation/DraftCreateInfo) — получите статус создания черновика и информацию по нему.\n4. [/v2/draft/timeslot/info](#operation/DraftTimeslotInfo) — получите доступные таймслоты для конечных складов отгрузки. Максимальный период — 28 дней, начиная с текущей даты.\n5. [/v2/draft/supply/create](#operation/DraftSupplyCreate) — создайте заявку на поставку по черновику.\n6. [/v2/draft/supply/create/status](#operation/DraftSupplyCreateStatus) — получите статус создания заявки на поставку. Когда заявка будет создана, метод вернёт идентификаторы заявок на поставку.\n\n### Получите информацию о заявках на поставку\n\nДля поставки на фулфилмент Ozon нужна заявка. В ней указано, какие товары и в каком количестве вы привезёте. \n\n1. [/v3/supply-order/list](#operation/SupplyOrderList) — получите список заявок на поставку.\n2. [/v1/supply-order/status/counter](#operation/SupplyOrderAPI_SupplyOrderStatusCounter) — получите статус заявки и количество поставок в этом статусе.\n3. [/v3/supply-order/get](#operation/SupplyOrderGet) — получите информацию по заявке.\n4. [/v1/supply-order/bundle](#operation/SupplyOrderBundle) — получите состав поставки или заявки на поставку.\n\nДля проезда на фулфилмент выберите интервал поставки и оформите пропуск для водителя и автомобиля. Для этого:\n\n1. [/v1/supply-order/timeslot/get](#operation/SupplyOrderAPI_GetSupplyOrderTimeslots) — получите список доступных интервалов.\n2. [/v1/supply-order/timeslot/update](#operation/SupplyOrderAPI_UpdateSupplyOrderTimeslot) — измените выбранный интервал.\n3. [/v1/supply-order/timeslot/status](#operation/SupplyOrderAPI_GetSupplyOrderTimeslotStatus) — получите статус закрепления интервала.\n4. [/v1/supply-order/pass/create](#operation/SupplyOrderAPI_SupplyOrderPassCreate) — добавьте данные водителя и автомобиля.\n5. [/v1/supply-order/pass/status](#operation/SupplyOrderAPI_SupplyOrderPassStatus) — получите статус ввода данных о водителе и автомобиле.\n\n### Управляйте грузоместами в заявке на поставку\n\n1. [/v1/cargoes/create](#operation/CargoesAPI_CargoesCreate) — передайте количество грузомест и установите в каждое грузоместо товарный состав.\n2. [/v2/cargoes/create/info](#operation/CargoesCreateInfoV2) — получите информацию по установке грузомест и товарного состава.\n3. [/v1/cargoes-label/create](#operation/CargoesAPI_CargoesLabelCreate) — создайте задание на формирование этикеток грузомест.\n4. [/v1/cargoes-label/get](#operation/CargoesAPI_CargoesLabelGet) — получите статус создания этикеток и идентификатор файла с ними.\n5. [/v1/cargoes-label/file/{file_guid}](#operation/CargoesAPI_CargoesLabelFile) — получите  PDF с этикетками грузовых мест.\n\n## Схема FBS Стандарт\n\n1. Перед началом работы с отправлениями получите список необработанных\n   отправлений: [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана. Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\n\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5).\n\n   Получите идентификаторы экземпляров `exemplar_id` методом [/v6/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGetV6).\n\n   С помощью метода [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n   \n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n   \n   Получите статусы передачи маркировок:\n\n- [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5) — получить статус добавления экземпляров.\n- [/v6/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGetV6) — получить данные созданных экземпляров.\n\n4. Перед сборкой убедитесь, что отправление соответствует установленным в пункте приёма ограничениям. Получите\n   ограничения пункта приёма по номеру\n   отправления: [/v1/posting/fbs/restrictions](#operation/PostingAPI_GetRestrictions).\n\n5. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\n   - заказ не в статусе `awaiting_packaging`;\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n6. Для каждого отправления распечатайте наклейку для идентификации в системе\n    Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\n7. Подтвердите отгрузку и запустите формирование транспортной накладной методом [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate) или создайте отгрузку с помощью метода [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate) и подтвердите её методом [/v1/carriage/approve](#operation/CarriageAPI_CarriageApprove). \n   В ответе методов [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate) и [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate) вы получите идентификатор созданной перевозки.\n\n8. Запросите информацию о созданной поставке с помощью метода [/v1/carriage/get](#operation/CarriageGet). \n   Массив `available_actions` содержит информацию о доступных действиях с поставкой и необходимости создать пропуск для проезда на склад Ozon.\n\n   Чтобы создать пропуск, используйте метод [/v1/carriage/pass/create](#operation/carriagePassCreate). \n   Чтобы после поставки товаров вы могли забрать возвраты на этой же машине, передайте значение `with_returns = true`.\n   Для каждой поставки нужен новый пропуск.\n\n   Для редактирования или удаления пропуска используйте методы [/v1/carriage/pass/update](#operation/carriagePassUpdate) и [/v1/carriage/pass/delete](#operation/carriagePassDelete).\n\n   Список всех пропусков можно получить с помощью метода [/v1/pass/list](#operation/PassList).\n\n   [Подробнее об оформлении пропусков](https://seller-edu.ozon.ru/fbs/ozon-logistika/oformlenie-propuska)\n\n9. Получите список перевозок, по которым нужно распечатать штрихкод для отгрузки и транспортную накладную: [/v1/posting/carriage-available/list](#operation/PostingAPI_GetCarriageAvailableList) или [/v2/carriage/delivery/list](#operation/CarriageAPI_CarriageDeliveryListV2).\n\n10. Проверьте, что отгрузка создана: [/v2/posting/fbs/act/check-status](#operation/PostingAPI_PostingFBSActCheckStatus).\n\n11. Получите штрихкод для отгрузки: [/v2/posting/fbs/act/get-barcode](#operation/PostingAPI_PostingFBSGetBarcode).\n\n12. Получите PDF-документы: [/v2/posting/fbs/act/get-pdf](#operation/PostingAPI_PostingFBSGetAct) и [/v1/carriage/act-discrepancy/pdf](#operation/CarriageActDiscrepancyPDF).\n\nПосле этого можете отвезти отправления и документы в пункт приёма.\n\nЕсли отправление передано в доставку, но не просканировано в сортировочном центре, вы можете открыть\nспор: [/v2/posting/fbs/arbitration](#operation/PostingAPI_MoveFbsPostingToArbitration). Открытый спор переведёт\nотправление в статус `arbitration`.\n\nЕсли спор по отправлению откроет покупатель, статус отправления изменится на `client_arbitration`.\n\nЧтобы отследить изменение статуса, когда отправление найдено,\nиспользуйте [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) с нужными фильтрами.\n\nДля передачи спорных заказов к отгрузке\nиспользуйте [/v2/posting/fbs/awaiting-delivery](#operation/PostingAPI_MoveFbsPostingToAwaitingDelivery). Статус\nотправления изменится на `awaiting_deliver`.\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении,\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n### Работа с эконом-товарами\n\n1. Создайте эконом-товары в [личном кабинете](https://seller.ozon.ru/app/econom/products).\n2. Получите идентификаторы квантов с созданными товарами: [/v1/product/quant/list](#operation/QuantProductList).\n\n[Подробнее об эконом-товарах в Справке](https://seller-edu.ozon.ru/tarif-ekonom)\n\n## Схема FBS с электронными ТТН\n\n### Работа с отправлениями\n\n1. Получите список необработанных отправлений: [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) или [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList). \n   В ответе проверьте:\n   - `is_blr_traceable` — признак прослеживаемости товара;\n   - `require_blr_traceable_attrs = true` — если нужно заполнить атрибуты прослеживаемости;\n   - `split_before_ship = true` — если нужно разделить заказ.\n   \n2. Отфильтруйте прослеживаемые отправления, используя фильтр `is_blr_traceable = true`: [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n\n3. Если заказ с прослеживаемостью, разделите его: [/v1/posting/fbs/traceable/split](#operation/PostingFbsTraceableSplit).\n\n4. Проверьте, нужно ли заполнять атрибуты прослеживаемости: [/v1/posting/fbs/product/traceable/attribute](#operation/PostingFbsProductTraceableAttribute).\n\n5. Если атрибуты нужны, укажите их для карточки товара в личном кабинете или через API:\n   - количество товара в УЕИ;\n   - штрихкод GTIN.\n\n6. Передайте экземпляры товара и соберите отправление: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4).\n\n### Работа с перевозками\n\n1. Получите список нулевых отгрузок: [/v2/carriage/delivery/list](#operation/CarriageAPI_CarriageDeliveryListV2). Прослеживаемые отгрузки будут иметь признак `all_blr_traceable`.\n\n2. Создайте перевозку с прослеживаемыми товарами: [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate). В запросе укажите `is_blr_traceable = true`.\n   \n   Если точка отгрузки не поддерживает электронную ТТН, вернётся ошибка `BLR_TRACEABLE_PICKUP_NOT_ALLOWED`.\n\n3. Получите информацию о созданной перевозке: [/v1/carriage/get](#operation/CarriageGet). В ответе получите признак `all_blr_traceable`.\n\n4. Создайте и загрузите на проверку электронную ТТН через систему электронного документооборота — ЭДО.\n\n5. Получите статус электронной ТТН: [/v1/carriage/ettn/status](#operation/CarriageEttnStatus).\n\n6. Подтвердите перевозку: [/v1/carriage/approve](#operation/CarriageAPI_CarriageApprove). Если электронная ТТН не прошла проверку, вернётся ошибка `INCORRECT_E_WAYBILL_STATUS`.\n\n7. Обновите товарный состав перевозки, если нужно: [/v1/carriage/set-postings](#operation/CarriageAPI_SetPostings). Если электронная ТТН не прошла проверку, вернётся ошибка `INCORRECT_E_WAYBILL_STATUS`.\n\n## Схема FBS PickUp с доверительной приёмкой\n\n1. Перед началом работы с отправлениями получите список необработанных\n   отправлений: [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана. Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\n\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) и\n      [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5).\n\n   С помощью метода [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Получите статусы передачи маркировок:\n\n- [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5) — получить статус добавления экземпляров.\n- [/v6/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGetV6) — получить данные созданных экземпляров.\n\n4. Перед сборкой убедитесь, что отправление соответствует установленным в пункте приёма ограничениям. Получите\n   ограничения пункта приёма по номеру\n   отправления: [/v1/posting/fbs/restrictions](#operation/PostingAPI_GetRestrictions).\n\n5. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\n   - заказ не в статусе `awaiting_packaging`;\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n6. Подтвердите отгрузку и запустите формирование транспортной накладной методом [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate) или создайте перевозку с помощью метода [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate) и подтвердите её методом [/v1/carriage/approve](#operation/CarriageAPI_CarriageApprove).\n   В ответе методов [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate) и [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate) вы получите идентификатор созданной перевозки.\n\n7. Получите список перевозок, по которым нужно распечатать штрихкод для отгрузки и транспортную накладную: [/v1/posting/carriage-available/list](#operation/PostingAPI_GetCarriageAvailableList) или [/v2/carriage/delivery/list](#operation/CarriageAPI_CarriageDeliveryListV2).\n\n8. Получите PDF-документы: [/v2/posting/fbs/act/get-pdf](#operation/PostingAPI_PostingFBSGetAct) и [/v1/carriage/act-discrepancy/pdf](#operation/CarriageActDiscrepancyPDF).\n\n9. Для каждого отправления распечатайте наклейку для идентификации в системе\n    Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\n10. После того как вы упаковали все отправления по требованиям из\n    раздела [Доверительная приёмка грузового места](https://seller-edu.ozon.ru/docs/fbs/ozon-logistika/doveritel-naya-priemka-gruzovogo-mesta.html#какие-требования-к-грузовому-месту)\n    в Базе знаний продавца, получите этикетки на каждое грузовое\n    место: [/v2/posting/fbs/act/get-container-labels](#operation/PostingAPI_PostingFBSActGetContainerLabels).\n\nПосле этого можете передать грузовое место в пункт приёма или курьеру Ozon.\n\nЕсли отправление передано в доставку, но не просканировано в сортировочном центре, вы можете открыть\nспор: [/v2/posting/fbs/arbitration](#operation/PostingAPI_MoveFbsPostingToArbitration). Открытый спор переведёт\nотправление в статус `arbitration`.\n\nЕсли спор по отправлению откроет покупатель, статус отправления изменится на `client_arbitration`.\n\nЧтобы отследить изменение статуса, когда отправление найдено,\nиспользуйте [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) с нужными фильтрами.\n\nДля передачи спорных заказов к отгрузке\nиспользуйте [/v2/posting/fbs/awaiting-delivery](#operation/PostingAPI_MoveFbsPostingToAwaitingDelivery). Статус\nотправления изменится на `awaiting_deliver`.\n\n## Ozon Доставка\n\n### Доставка\n\n1. [v1/delivery/check](#operation/DeliveryCheck) — проверьте, может ли покупатель получить заказ через Ozon. Способы доставки для Ozon Доставки:\n   - Самовывоз или pickup — покупатель сам забирает товар из точки выдачи заказов.\n   - Курьерская или courier — курьер Ozon доставляет товар по выбранному адресу.\n\n   Если способ доставки — самовывоз, передайте идентификатор точки самовывоза в параметр `pickup`.\n   При курьерской доставке передайте адрес получения и координаты в параметр `courier`.\n\n2. [v1/delivery/map](#operation/DeliveryMap) — укажите точки на карте, из которых покупатель может забрать заказ.\n3. [v1/delivery/point/list](#operation/DeliveryAPI_DeliveryPointList) — получите список точек самовывоза.\n4. [/v1/delivery/point/info](#operation/DeliveryPointInfo) — получите информацию о точке самовывоза.\n5. [/v2/delivery/checkout](#operation/DeliveryCheckout) — проверьте доступность товара и сроки доставки.\n\nПредоставьте выбор способа доставки и точки доставки на этапе оформления заказа или в корзине. \nЕсли это невозможно, кешируйте данные на своей стороне, чтобы снизить нагрузку и оптимизировать количество запросов к API.\n\n### Обработка заказа\n\nСоздавайте заказ в системе Ozon только после того, как покупатель оплатил его.\n\n1. [v2/order/create](#operation/OrderAPI_OrderCreate) — создайте заказ и начните сборку. После вызова метода изменить заказ не получится.\n2. [v2/posting/fbo/list](#operation/PostingAPI_GetFboPostingList) и [v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) — отследите все отправления или конкретное.\n3. [v1/posting/marks](#operation/PostingAPI_PostingMarks) — получите маркировки экземпляров из отправления. Передавайте в этот метод только отправления, которые вы создали через методы Ozon Доставки.\n\n### Отслеживание отправлений\n\nДля схемы FBO:\n- [v2/posting/fbo/list](#operation/PostingAPI_GetFboPostingList) — получите список всех отправлений.\n- [v2/posting/fbo/get](#operation/PostingAPI_GetFboPosting) — получите информацию о конкретном отправлении.\n\nДля схемы FBS:\n- [v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) — получите список необработанных отправлений.\n- [v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) — получите список отправлений.\n- [v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3) — получите информацию об отправлении.\n\nЕсли покупатель при получении отправления отказался от одного из товаров, отправление останется в статусе «Доставлено». Используйте [v1/returns/list](#operation/returnsList), чтобы получить информацию по возврату с невыкупленным товаром. Тип такого возврата — `type: PartialReturn`.\n\n### Отмена заказа или отправления\n\nМожно отменить заказы, которые создали с помощью методов Ozon Доставки, если:\n- Ozon отменил заказ до поступления в пункт выдачи или перед доставкой покупателю.\n- Покупатель не забрал заказ при получении — полностью или частично.\n- Покупатель запросил отмену заказа через сайт или приложение продавца. Покупатель не может отменить заказ через личный кабинет Ozon.\n\n<aside class=\"warning\">\nВозвращайте деньги покупателю только после подтверждения отмены.\n</aside>\n\nДля отмены заказа или его части:\n- [/v1/cancel-reason/list-by-order](#operation/CancelReasonListByOrder) — получите возможные причины отмены заказа.\n- [/v1/cancel-reason/list-by-posting](#operation/CancelReasonAPI_CancelReasonListByPosting) — получите список доступных причин отмены отправления. Используйте метод, только если покупатель запросил отмену заказа.\n- [v1/order/cancel/check](#operation/OrderAPI_OrderCancelCheck) — проверьте, можно ли отменить заказ.\n- [v1/order/cancel](#operation/OrderAPI_OrderCancel) — отмените заказ.\n- [v1/posting/cancel](#operation/PostingAPI_PostingCancel) — отмените отправление из заказа.\n- [v1/order/cancel/status](#operation/OrderAPI_OrderCancelStatus) — проверьте статус отмены заказа.\n- [v1/posting/cancel/status](#operation/PostingAPI_PostingCancelStatus) — проверьте статус отмены отправления.\n\nДля отмены FBS-отправлений:\n- [v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct) — отмените отправку некоторых товаров в отправлении.\n- [v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting) — отмените отправление.\n\n### Возврат товара\n\n[v1/returns/list](#operation/returnsList) — отследите статус возврата товара.\nИспользуйте, если покупатель отменил заказ во время перевозки или не забрал его при получении. Возвраты от покупателей продавец забирает своими силами.\nЕсли покупатель забрал товар и после этого решил его вернуть, он должен связаться с продавцом.\n\nЕсли покупатель отказался от одного из товаров при получении отправления, оно останется в статусе «Доставлено». Система создаст новое отправление в статусе «Отменено» с типом отмены `PartialRefund`. Получите информацию о нём методом [v1/returns/list](#operation/returnsList).\n\n### Остатки\n\n- [v1/analytics/stocks](#operation/AnalyticsAPI_AnalyticsStocks) — получите отчёт по остаткам на складах Ozon, чтобы планировать поставки товаров.\n- [v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks) — покажите покупателю количество товаров на складах Ozon.\n\nЕсли на складах Ozon недостаточно товаров, создать заказ через методы Ozon Доставки не получится.\n\n## Схема rFBS Стандарт\n\n<aside class=\"warning\">\nС 11 марта 2024 года максимальный срок доставки до покупателя — 30 дней.\nОбновите срок в настройках вашего метода. \nЕсли срок будет больше максимального, он поменяется автоматически.\n</aside>\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана.    \n   Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\n\n   Если в параметре `available_actions` указано `set_cutoff`, уточните дату отгрузки отправления с помощью метода\n   [/v1/posting/cutoff/set](#operation/PostingAPI_SetPostingCutoff). Сделайте это не позднее даты, которая указана в\n   параметре `shipment_date` в методах: [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList),\n   [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) или [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n   После даты `shipment_date` уточнить дату отгрузки и собрать отправление не получится.\n\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если вы продаёте весовые товары, и в параметре `result.products.is_weight_needed` для товара указано `true`, передайте информацию о весе товара методом [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5).\n\n   С помощью метода [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Получите статусы передачи маркировок: \n\n- [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5) — получить статус добавления экземпляров.\n- [/v6/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGetV6) — получить данные созданных экземпляров.\n\n4. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\n   - заказ не в статусе `awaiting_packaging`;\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\nКогда сборка заказа завершена, свяжитесь с покупателем для согласования даты доставки.\nЕсли покупателю не подходит дата, вы можете перенести её: [/v1/posting/fbs/timeslot/set](#operation/PostingAPI_SetPostingTimeslot).\nПосмотрите доступные даты для переноса доставки и количество доступных переносов: [/v1/posting/fbs/timeslot/change-restrictions](#operation/PostingAPI_PostingTimeslotChangeRestrictions).\n\nПередайте отправление курьеру:\n\n1. Когда курьер забрал отправление, измените статус отправления на\n   «Доставляется»: [/v2/fbs/posting/delivering](#operation/PostingAPI_FbsPostingDelivering).\n\n   <aside class=\"notice\">\n   Если вы не составляете маршрутный лист и курьер сразу направляется к покупателю, можете сразу перевести отправление из\n   статуса «Доставляется» в «Последняя миля»: <a href=\"#operation/PostingAPI_FbsPostingLastMile\">/v2/fbs/posting/last-mile</a>.\n   </aside>\n\n   Одновременно с этим, если у отправления есть трек-номер, передайте\n   его: [/v2/fbs/posting/tracking-number/set](#operation/PostingAPI_FbsPostingTrackingNumberSet).\n\n2. Когда курьер едет к покупателю, поменяйте статус отправления на «Последняя\n   миля»: [/v2/fbs/posting/last-mile](#operation/PostingAPI_FbsPostingLastMile).\n\n3. Когда курьер передал отправление покупателю, поменяйте статус на\n   «Доставлено»: [/v2/fbs/posting/delivered](#operation/PostingAPI_FbsPostingDelivered).\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении,\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n## Схема rFBS Express с доставкой в пункт выдачи\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать страну-производителя для всех товаров в заказе, у которых она не указана.\n   Получите список доступных для выбора стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). \n   Затем передайте информацию о стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. \n   Можно также получить данные аналитики, если поле `with` отправить со значением `analytics_data`.\n\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\n\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n   - какие товары подлежат обязательной маркировке;\n   - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n     также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5).\n\n   С помощью метода [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». \n   При необходимости передайте номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Получите статусы передачи маркировок:\n\n- [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5) — получить статус добавления экземпляров.\n- [/v6/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGetV6) — получить данные созданных экземпляров.\n\n4. До окончания времени на сборку подтвердите, что вы собрали заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). \n   Вы не сможете собрать заказ, если:\n   - заказ не в статусе `awaiting_packaging`;\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. \n   Например, если в заказе несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n5. Распечатайте этикетку для идентификации в системе Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel). \n\n6. Передайте отправление курьеру.\n\nДальше подстатусы будут изменяться автоматически: \n1. `on_way_to_city` — курьер забрал заказ. \n2. `on_way_to_pickup_point` — курьер везёт заказ в пункт выдачи.\n3. `in_pickup_point` — отправление приняли в пункте выдачи.\n4. `delivered` — покупатель забрал заказ из пункта выдачи.\n\nЧтобы проверить статус отправления, используйте метод [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении, используйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n## Схема rFBS с интегрированной службой доставки\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана. Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\n\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5).\n\n   С помощью метода [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Получите статусы передачи маркировок:\n\n- [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5) — получить статус добавления экземпляров.\n- [/v6/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGetV6) — получить данные созданных экземпляров.\n\n4. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\n   - заказ не в статусе `awaiting_packaging`;\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\nПередайте отправление в службу доставки. Все статусы от «Доставляется» до «Доставлено» будет передавать служба доставки.\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении,\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n## Схема rFBS Агрегатор\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана. Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\n\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n   - какие товары подлежат обязательной маркировке;\n   - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n     также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n     и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5).\n\n   С помощью метода [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Получите статусы передачи маркировок:\n\n- [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5) — получить статус добавления экземпляров.\n- [/v6/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGetV6) — получить данные созданных экземпляров.\n\n4. Если товар в отправлении упакован в несколько коробок, передайте их количество: [/v3/posting/multiboxqty/set](#operation/PostingAPI_PostingMultiBoxQtySetV3). Если не сделать этого до сборки, вам придётся объединить все коробки в одну.\n\n5. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\n   - заказ не в статусе `awaiting_packaging`;\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_registration`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n6. Когда перевозчик обработает отправление, его статус изменится с `awaiting_registration` на `awaiting_delivery`. После\n   этого отправлению будет присвоен трек-номер.\n\n   Для каждого отправления распечатайте этикетку для идентификации в системе\n   Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\n   Передайте отправление в службу доставки. Все статусы от «Доставляется» до «Доставлено» будет передавать служба доставки.\n\nЕсли вы продаёте из Турции и вам нужны декларации Elektronik Ticaret Gümrük Beyannamesi (ETGB) для возврата налоговой пошлины, \nполучите декларации: [/v1/posting/global/etgb](#operation/PostingAPI_GetEtgb).\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении,\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n## Схема rFBS Crossborder\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана.    \n   Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\n\n   Если в параметре `available_actions` указано `set_cutoff`, уточните дату отгрузки отправления с помощью метода\n   [/v1/posting/cutoff/set](#operation/PostingAPI_SetPostingCutoff). Сделайте это не позднее даты, которая указана в\n   параметре `shipment_date` в методах: [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList),\n   [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) или [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n   После даты `shipment_date` уточнить дату отгрузки и собрать отправление не получится.\n\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5).\n\n   С помощью метода [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Получите статусы передачи маркировок:\n\n- [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5) — получить статус добавления экземпляров.\n- [/v6/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGetV6) — получить данные созданных экземпляров.\n\n4. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\n   - заказ не в статусе `awaiting_packaging`;\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n5. После передачи отправления в службу доставки измените статус отправления на `delivering` —\n   «Доставляется»: [/v2/fbs/posting/delivering](#operation/PostingAPI_FbsPostingDelivering).\n\n6. Одновременно с этим, если у отправления есть трек-номер, передайте\n   его: [/v2/fbs/posting/tracking-number/set](#operation/PostingAPI_FbsPostingTrackingNumberSet).\n\n7. Когда курьер едет к покупателю, поменяйте статус отправления на «Последняя\n   миля»: [/v2/fbs/posting/last-mile](#operation/PostingAPI_FbsPostingLastMile).\n\n8. Когда курьер передал отправление покупателю, поменяйте статус на\n   «Доставлено»: [/v2/fbs/posting/delivered](#operation/PostingAPI_FbsPostingDelivered).\n\n## Схема rFBS Crossborder с интегрированной службой доставки\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана.    \n   Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\n\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5).\n\n   С помощью метода [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Получите статусы передачи маркировок:\n\n- [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5) — получить статус добавления экземпляров.\n- [/v6/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGetV6) — получить данные созданных экземпляров.\n\n4. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\n   - заказ не в статусе `awaiting_packaging`;\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n5. Для каждого отправления распечатайте этикетку для идентификации в системе\n   Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\nПередайте отправление в службу доставки. Все статусы от «Доставляется» до «Доставлено» будет передавать служба доставки.\n\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении,\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n## Как работать с заказами с весовыми товарами (rFBS)\n\nПеред тем, как перевести заказ с весовыми товарами в статус «Ожидает отгрузки» — `awaiting_delivery`, передайте\nуточнённые данные о весе товаров. Для этого после взвешивания перед сборкой передайте информацию о весе\nкаждого экземпляра весовых товаров через метод [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6).\n\nМетод [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6)\nвернёт ошибки:\n- `WEIGHT_IS_OUT_OF_RANGE` — если вы передали вес, который выходит за границы допустимого;\n- `WEIGHT_IS_REQUIRED` — если вы не передали вес для весовых товаров.\n\nЕсли в методе [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)\nв параметре `result.products.is_weight_needed` для товара указано значение `true`, взвесьте товар.\n\nПосле передачи корректного веса для всех экземпляров всех весовых товаров вы сможете перевести отправление в статус\n«Ожидает отгрузки» — `awaiting_delivery`.\n\nЕсли в заказе с весовыми товарами есть невзвешенные товары, при вызове метода [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4) \nвернётся ошибка `WEIGHT_IS_REQUIRED`.\n\n## Схема FBP\n\n### Прямая поставка\n\n1. [/v1/fbp/warehouse/list](#operation/FbpWarehouseList) — получите список партнёрских складов.\n2. [/v1/fbp/draft/direct/product/validate](#operation/FbpDraftDirectProductValidate) — передайте список товаров, чтобы проверить, может ли склад партнёра их принять.\n3. [/v1/fbp/draft/direct/timeslot/get](#operation/FbpDraftDirectGetTimeslot) — получите список таймслотов для прямой поставки.\n4. Выберите способ доставки:\n   <details>\n   <summary>Доставка силами продавца</summary>\n\n   • [/v1/fbp/draft/direct/seller-dlv/create](#operation/FbpDraftDirectSellerDlvCreate) — создайте черновик заявки на поставку.<br>  \n   • [/v1/fbp/draft/direct/timeslot/edit](#operation/FbpDraftDirectTimeslotEdit) — измените таймслот для поставки в черновике заявки.<br>  \n   • [/v1/fbp/draft/direct/seller-dlv/edit](#operation/FbpDraftDirectSellerDlvEdit) — обновите информацию о доставке силами продавца в черновике заявки.  \n\n   </details>\n   <details>\n   <summary>Доставка силами сторонней транспортной компании</summary>\n\n   • [/v1/fbp/draft/direct/tpl-dlv/create](#operation/FbpAPI_FbpDraftDirectTplDlvCreate) — создайте черновик заявки на поставку.<br>  \n   • [/v1/fbp/draft/direct/timeslot/edit](#operation/FbpDraftDirectTimeslotEdit) — измените таймслот для поставки в черновике заявки.<br>  \n   • [/v1/fbp/draft/direct/tpl-dlv/edit](#operation/FbpAPI_FbpDraftDirectTplDlvEdit) — обновите информацию о доставке силами сторонней траспортной компании в черновике заявки.\n\n   </details>\n<style>\ndetails {\n  margin-bottom: 10px;\n  border: 1px solid #ddd;\n  padding: 10px;\n  border-radius: 5px;\n}\nsummary {\n  cursor: pointer;\n  font-weight: bold;\n}\n</style>\n\n5. [/v1/fbp/draft/list](#operation/FbpAPI_FbpDraftList) — получите список черновиков.\n6. [/v1/fbp/draft/get](#operation/FbpAPI_FbpDraftGet) — получите информацию о черновике на поставку. Если в черновике есть ошибка, используйте [/v1/fbp/draft/direct/delete](#operation/FbpDraftDirectDelete), чтобы удалить его.\n7. [/v1/supply-order/bundle](#operation/SupplyOrderBundle) — получите информацию по товарному составу с помощью `bundle_id`.\n8. [/v1/fbp/draft/direct/registrate](#operation/FbpDraftDirectRegistrate) — переведите черновик заявки на поставку в активную заявку.\n9. [/v1/fbp/order/direct/timeslot/list](#operation/FbpAPI_FbpAvailableTimeslotList) — получите актуальные таймслоты склада для поставки.\n10. [/v1/fbp/order/direct/timeslot/edit](#operation/FbpAPI_FbpEditTimeslot) — измените актуальный таймслот поставки.\n11. [/v1/fbp/order/direct/seller-dlv/edit](#operation/FbpDraftDirectSellerDlvEdit) или [/v1/fbp/order/direct/tpl-dlv/edit](#operation/bpAPI_FbpDraftDirectTplDlvEdit) — передайте актуальную информацию о доставке, если доставляете самостоятельно или через перевозчика.\n12. [/v1/fbp/order/list](#operation/FbpAPI_FbpOrderList) — получите список поставок.\n13. [/v1/fbp/order/get](#operation/FbpAPI_FbpOrderGet) — получите информацию о конкретной поставке. Если в заявке на поставку есть ошибка, используйте [/v1/fbp/order/direct/cancel](#operation/FbpAPI_FbpOrderDirectCancel), чтобы отменить поставку.\n14. [/v1/fbp/label/create](#operation/FbpAPI_FbpCreateLabel) — создайте задание на генерацию этикеток.\n15. [/v1/fbp/label/get](#operation/FbpAPI_FbpGetLabel) — получите этикетки и статус задания на их генерацию.\n16. [/v1/fbp/act-to/create](#operation/FbpAPI_FbpCreateConsignmentNote) — создайте задание на генерацию транспортной накладной.\n17. [/v1/fbp/act-to/get](#operation/FbpAPI_FbpCheckConsignmentNoteState) — получите транспортную накладную и статус задания на её генерацию.\n18. [/v1/fbp/act-from/create](#operation/FbpAPI_FbpCreateAct) — создайте задание на генерацию акта приёмки.\n19. [/v1/fbp/act-from/get](#operation/FbpAPI_FbpCheckActState) — получите акт приёмки и статус задания на его генерацию.\n20. [/v1/fbp/archive/list](#operation/FbpAPI_FbpArchiveList) — получите список завершённых поставок.\n21. [/v1/fbp/archive/get](#operation/FbpAPI_FbpArchiveGet) — получите информацию о конкретной завершённой поставке.\n\n### Поставка на партнёрский пункт приёма заказов\n\n1. [/v1/fbp/warehouse/list](#operation/FbpWarehouseList) — получите список партнёрских складов.\n2. [/v1/fbp/draft/drop-off/product/validate](#operation/FbpDraftDropOffProductValidate) — проверьте, может ли склад партнёра принять товары.\n3. [/v1/fbp/draft/drop-off/province/list](#operation/FbpDraftDropOffProvinceList) — получите список провинций.\n4. [/v1/fbp/draft/drop-off/point/list](#operation/FbpDraftDropOffPointList) — получите список пунктов в провинции.\n5. [/v1/fbp/draft/drop-off/point/timetable](#operation/FbpDraftDropOffPointTimetable) — получите расписание пункта.\n6. [/v1/fbp/draft/drop-off/create](#operation/FbpDraftDropOffCreate) — создайте черновик для drop-off доставки.\n7. [/v1/fbp/draft/drop-off/dlv/edit](#operation/FbpDraftDropOffDlvEdit) — измените детали drop-off доставки для черновика.\n8. [/v1/fbp/draft/list](#operation/FbpAPI_FbpDraftList) — получите список черновиков.\n9. [/v1/fbp/draft/get](#operation/FbpAPI_FbpDraftGet) — получите информацию о конкретном черновике поставки. Если в черновике есть ошибка, используйте [/v1/fbp/draft/drop-off/delete](#operation/FbpDraftDropOffDelete), чтобы удалить его.\n10. [/v1/supply-order/bundle](#operation/SupplyOrderBundle) — получите информацию по товарному составу с помощью `bundle_id`.\n11. [/v1/fbp/draft/drop-off/registrate](#operation/FbpDraftDropOffRegistrate) — переведите черновик заявки на поставку в активную заявку.\n12. [/v1/fbp/order/drop-off/timetable](#operation/FbpAPI_FbpOrderDropOffTimetable) — получите график работы drop-off пункта.\n13. [/v1/fbp/order/drop-off/dlv/edit](#operation/FbpAPI_FbpOrderDropOffDlvEdit) — отредактируйте и передайте информацию о доставке на drop-off пункт.\n14. [/v1/fbp/order/list](#operation/FbpAPI_FbpOrderList) — получите список поставок.\n15. [/v1/fbp/order/get](#operation/FbpAPI_FbpOrderGet) — получите информацию о конкретной поставке. Если в заявке на поставку есть ошибка, используйте [/v1/fbp/order/drop-off/cancel](#operation/FbpAPI_FbpOrderDropOffCancel), чтобы отменить поставку.\n16. [/v1/fbp/label/create](#operation/FbpAPI_FbpCreateLabel) — создайте задание на генерацию этикеток.\n17. [/v1/fbp/label/get](#operation/FbpAPI_FbpGetLabel) — получите этикетки и статус задания на их генерацию.\n18. [/v1/fbp/act-to/create](#operation/FbpAPI_FbpCreateConsignmentNote) — создайте задание на генерацию транспортной накладной.\n19. [/v1/fbp/act-to/get](#operation/FbpAPI_FbpCheckConsignmentNoteState) — получите транспортную накладную и статус задания на её генерацию.\n20. [/v1/fbp/act-from/create](#operation/FbpAPI_FbpCreateAct) — создайте задание на генерацию акта приёмки.\n21. [/v1/fbp/act-from/get](#operation/FbpAPI_FbpCheckActState) — получите акт приёмки и статус задания на его генерацию.\n22. [/v1/fbp/archive/list](#operation/FbpAPI_FbpArchiveList) — получите список завершённых поставок.\n23. [/v1/fbp/archive/get](#operation/FbpAPI_FbpArchiveGet) — получите информацию о конкретной завершённой пос
[...]
